@mixin shop-ui-list-switches($name: '.list-switches') {
    #{$name} {
        @include helper-breakpoint-media-min($md-min) {
            display: flex;
            justify-content: space-between;
        }

        &--two-colums {
            @include helper-breakpoint-media-min($md-min) {
                flex-wrap: wrap;
            }
        }

        &--register-type {
            margin: 0 auto rem(30);
            padding: 0 0 rem(20);
            max-width: rem(570);
        }

        &__item {
            display: block;
            position: relative;
            margin-bottom: rem(8);

            @include helper-breakpoint-media-min($md-min) {
                flex-grow: 1;
                min-width: rem(100);
                margin: 0 rem(30) 0 0;

                &:last-child {
                    margin-right: 0;
                }
            }

            @include helper-breakpoint-media-min($lg-min) {
                min-width: rem(170);
            }

            &--half-width {
                @include helper-breakpoint-media-min($md-min) {
                    min-width: calc(50% - #{rem(15)});
                    flex-grow: 0;
                    margin: 0 0 rem(30);
                }
            }
        }

        &__img-wrap {
            position: absolute;
            right: rem(20);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
        }

        &__img {
            width: rem(40);
            margin-left: rem(5);
            display: block;
            flex-shrink: 0;
        }

        @content;
    }
}

@include shop-ui-list-switches();
