@mixin shop-ui-product-item-summary($name: '.product-item-summary') {
    $image-width-with-spacing: rem(144);

    #{$name} {
        width: 100%;
        margin: 0;

        @include helper-breakpoint-media-min($lg-min) {
            width: calc(100% - #{$image-width-with-spacing});
            padding-top: rem(20);
            margin-bottom: rem(20);
        }

        &__item {
            padding-top: rem(20);
            font: fw(medium) rem(17)/rem(24) $setting-font-family-additional;
            border-bottom: rem(1) dotted $setting-color-gray-3;

            &:first-of-type {
                border-top: rem(1) dotted $setting-color-gray-3;
            }

            &::before {
                display: none;
            }
        }
    }
}

@include shop-ui-product-item-summary();
