{% extends template('page-layout-main') %}

{% define data = {
    form: _view.form,
    
    title: 'customer.password.restore' | trans
} %}

{% block breadcrumbs %}
    {% include molecule('breadcrumb') with {
        data: {
            steps: [{
                label: 'customer.login' | trans,
                url: url('login')
            }]
        }
    } only %}
{% endblock %}

{% block content %}
    <div class="box">
        <div class="col col--sm-12 col--lg-6">
            {% include molecule('form') with {
                data: {
                    form: data.form,
                    submit: {
                        enable: true
                    },
                    cancel: {
                        enable: true,
                        url: url('login'),
                        text: 'general.back.button' | trans
                    }
                }
            } only %}
        </div>
    </div>
{% endblock %}
