@mixin shop-ui-customer-account($name: '.customer-account') {
    #{$name} {
        margin-bottom: 75px;

        &__info {
            li, li>a {
            letter-spacing: .2px;
            font-weight: 300;
            }
        }

        &__title {
            text-transform: capitalize;
            text-align: center;
            font: 500 50px $setting-font-family-additional;
            color: $setting-color-text;
            line-height: 75px;
            border-bottom: 1px dotted $setting-color-lightest;
            border-top: 1px dotted $setting-color-lightest;
            padding: 25px 0;
            margin: 25px 0;
            @include helper-breakpoint-media-min($sm-max) {
              font-size: 32px;
            }
        }

        &__box {
            border-bottom: 1px dotted $setting-color-lightest;
            padding: 15px 0;
            margin: 15px 0;
        }

        &__subtitle {
            font: 700 13px $setting-font-family-additional;
            letter-spacing: 2.6px;
            text-transform: uppercase;
        }

        &__form-width {
            @include helper-breakpoint-media-min($md-min) {
                padding-left: 0;
                padding-right: 0;
            }

            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 570px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;

            .form__container {
                margin-left: -1rem;
                margin-right: -1rem;

                & > .list {
                    margin: 0 1rem;
                }
            }
        }

        &--login-wrap {
            margin-top: 40px;

            .form__title {
                @include helper-breakpoint-media-min($md-min) {
                    font-size: 47px;
                    margin-bottom: 3.6rem;
                }
                font: 700 32px $setting-font-family-additional;
                letter-spacing: -0.5px;
                padding-bottom: 10px;
                margin-bottom: 2rem;
                border-bottom: dotted 1px $setting-color-lightest;
            }

            .form__actions {
                padding-top: 29px;
                padding-bottom: 0;
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
            }

            .form__action {
                margin: 0;
            }

            .forgot-password-link {
                @include helper-breakpoint-media-min($md-min) {
                    margin-top: 16px;
                }
                margin-top: 20px;
            }

            .checkbox__box {
                 @include helper-breakpoint-media-min($md-min) {
                     margin-top: 4px;
                 }
             }

            .checkbox__check {
                @include helper-breakpoint-media-min($md-min) {
                    top: 7px !important;
                }
            }
            .form {
                .label {
                    color: $setting-color-dark;
                }
                .forgot-password-link {
                    font: normal 14px $setting-font-family-additional;
                    line-height: 1.71;
                }
            }
        }

        .customer-navigation {
            margin-top: 30px;
        }

        thead {
            background: $setting-color-light;
            color: $setting-color-white;
        }

        .table {
            thead {
                td, th {
                    padding: .5rem .5rem;
                }
            }
            tbody {
                td, th {
                    padding: .5rem .5rem;
                }
                tr:nth-child(even) {
                    background: #f1f1f1;
                }
                .checkbox {
                    margin: 0;
                    margin-top: 4px;
                }
            }
        }

        .order-summary {
            li {
                font: 300 16px $setting-font-family-additional;
                margin: 10px 0;
            }
        }
        .order-table {
          th {
            white-space: nowrap;
          }
          th, td {
            @include helper-breakpoint-media-max($sm-max) {
              font-size: 14px;
            }
          }
          .menu {
            &__item {
              white-space: nowrap;
            }
          }
        }
        .order-detail-table {
          @include helper-breakpoint-media-max($sm-max) {
            .table {
              thead, tbody {

                th, td {
                  font-size: 11px;
                  padding: .25rem;
                }
                .checkbox {
                  margin-top: 0;
                }
              }
            }
          }


        }


    }
}

@include shop-ui-customer-account();