
@mixin shop-ui-header($name: '.header') {
    #{$name} {
        position: relative;
        background-color: white;
        margin-bottom: 1rem;
        z-index: $setting-zi-header;
        padding-top: 10px;

        &__row {
            padding: 0 1rem;
            //@media screen and (max-width: 549px){
            //
            //}
        }

        &__navigation-top {
            z-index: $setting-zi-header + 3;
        }

        &__search-form {
            z-index: $setting-zi-header + 2;
        }

        &__navigation-main {
            z-index: $setting-zi-header + 1;
            position: relative;
        }

        @content;
    }
}

@include shop-ui-header();

