@mixin shop-ui-header($name: '.header') {
    #{$name} {
        position: relative;
        background-color: white;
        padding-bottom: 0;
        z-index: $setting-zi-header;
        padding-top: 18px;

        &__row {
            padding: 0 1rem;
        }

        &__navigation-top {
            position: relative;
            z-index: $setting-zi-header + 3;
        }

        &__search-form {
            position: relative;
            z-index: $setting-zi-header + 2;
        }

        &__navigation-main {
            z-index: $setting-zi-header + 1;
            position: relative;
        }

        &__overlay-shadow {
            background: $setting-color-black;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0;
            transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out 400ms;
            visibility: hidden;
        }

        &__search-overlay {
            position: absolute;
            top: 0;
            z-index: $setting-zi-search-suggestions;
            visibility: hidden;

            &.active {
                visibility: visible;

                #{$name}__overlay-shadow {
                    visibility: visible;
                    opacity: 0.4;
                    transition: opacity 400ms ease-in-out, visibility 0ms ease-in-out;
                }
                #{$name}__search-overlay-container {
                    transform: scaleY(1);
                    opacity: 1;
                    visibility: visible;
                    transition: all 300ms ease-in-out;
                }
            }
        }
        &__search-overlay-container {
            padding: 34px 30px;
            background: $setting-color-white;
            min-width: 480px;
            transition: all 300ms ease-in-out;
            transform-origin: top center;
            transform: scaleY(0);
            opacity: 0;
            @include helper-breakpoint-media-max($md-max) {
                min-width: 300px;
                width: 100vw;
            }
        }
        &__search-open {
            cursor: pointer;
            float: left;
            .icon {
                margin-left: 10px;
                vertical-align: bottom;
            }
            &::before {
                content: '';
                display: block;
                width: 85px;
                height: 25px;
                float: left;
                border-bottom: 1px solid $setting-color-gray;
            }
        }
        &__search-close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 34px 30px;
            z-index: $setting-zi-search-suggestions;
            cursor: pointer;
            @include helper-breakpoint-media-max($sm-max) {
                position: static;
                padding: 0;
                margin-bottom: 25px;
                width: 24px;
                .icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__currency-lang {
            display: flex;
            order: 1;

            .custom-select {
                margin-right: 16px;
                font-size: 16px;

                &__caret {
                    pointer-events: none;
                }

                .select2-selection__rendered {
                    line-height: 24px;
                }
            }
        }

        @content;
    }
}

@include shop-ui-header();
