@mixin shop-ui-header($name: '.header') {
    #{$name} {
        position: relative;
        background-color: $setting-color-white;
        padding-bottom: 0;
        z-index: $setting-zi-header;
        padding-top: rem(18);

        &__row {
            padding: 0 rem(16);
        }

        &__navigation-top {
            position: relative;
            z-index: $setting-zi-header + 3;
        }

        &__search-form {
            position: relative;
            z-index: $setting-zi-header + 2;
        }

        &__navigation-main {
            z-index: $setting-zi-header + 1;
            position: relative;
        }

        &__overlay-shadow {
            background: $setting-color-black;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: -1;
            opacity: 0;
            transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out 400ms;
            visibility: hidden;
        }

        &__search-overlay {
            position: absolute;
            top: 0;
            z-index: $setting-zi-search-suggestions;
            visibility: hidden;

            &.active {
                visibility: visible;

                #{$name}__overlay-shadow {
                    visibility: visible;
                    opacity: 0.4;
                    transition: opacity 400ms ease-in-out, visibility 0ms ease-in-out;
                }

                #{$name}__search-overlay-container {
                    @include helper-effect-transition(all);
                    transform: scaleY(1);
                    opacity: 1;
                    visibility: visible;
                    transition: all 300ms ease-in-out;
                }
            }
        }

        &__search-overlay-container {
            @include helper-effect-transition(all);
            padding: rem(34) rem(30);
            background: $setting-color-white;
            min-width: rem(480);
            transition: all 300ms ease-in-out;
            transform-origin: top center;
            transform: scaleY(0);
            opacity: 0;

            @include helper-breakpoint-media-max($md-max) {
                min-width: rem(300);
                width: 100vw;
            }
        }

        &__search-open {
            cursor: pointer;
            float: left;

            .icon {
                margin-left: rem(10);
                vertical-align: bottom;
            }

            &::before {
                content: '';
                display: block;
                width: rem(85);
                height: rem(25);
                float: left;
                border-bottom: rem(1) solid $setting-color-gray;
            }
        }

        &__search-close {
            position: absolute;
            right: 0;
            top: 0;
            padding: rem(34) rem(30);
            z-index: $setting-zi-search-suggestions;
            cursor: pointer;

            @include helper-breakpoint-media-max($sm-max) {
                position: static;
                padding: 0;
                margin-bottom: rem(25);
                width: rem(24);
                .icon {
                    width: rem(20);
                    height: rem(20);
                }
            }
        }

        &__currency-lang {
            display: flex;
            order: 1;

            .custom-select {
                margin-right: rem(16);
                font-size: rem(16);

                &__caret {
                    pointer-events: none;
                }

                .select2-selection__rendered {
                    line-height: rem(24);
                }
            }
        }

        @content;
    }
}

@include shop-ui-header();
