@mixin catalog-page-active-filter-section($name: '.active-filter-section') {
    #{$name} {
        margin: 0 rem(-16) rem(50) rem(-24);
        font: 0/0 $setting-font-family;
        padding: 0 rem(16) rem(10);

        .active-filter__item,
        &__item {
            display: inline-block;
            font: 500 rem(11) $setting-font-family;
            letter-spacing: rem(1.2);
            text-transform: uppercase;
            padding: rem(9) rem(33) rem(10) rem(11);
            margin: 0 0 0 rem(8);
            border: solid rem(1) $setting-color-input-border;
            border-radius: rem(2);
            color: $setting-color-silver-chalice;
            position: relative;

            &:hover {
                color: $setting-color-silver-chalice;
                text-decoration: none;
                background-color: rgba(17, 17, 17, 0.03);
            }

            &--all {
                color: $setting-color-main;
                border-color: $setting-color-main;
            }

            &--all:hover {
                color: $setting-color-main;
                border-color: $setting-color-main;
                background-color: rgba(0, 175, 180, 0.04);
            }

            .ico {
                font-weight: bold;
                font-size: rem(20);
                position: absolute;
                right: rem(11);
                top: rem(5);
            }
        }

        @include helper-breakpoint-media-max($lg-max) {
            white-space: nowrap;
            overflow-x: auto;
            margin-bottom: rem(38);
        }

        @content;
    }
}

@include catalog-page-active-filter-section();
