{% extends model('component') %}

{% define config = {
    name: 'select',
    tag: 'label'
} %}

{% define data = {
    options: []
} %}

{% block attributes %}{% endblock %}

{% block body %}
    <select class="{{ component.renderClass(config.name ~ '__select', modifiers) }} {% block selectClass %}{% endblock %}" {% block selectAttributes %}{{ component.renderAttributes(attributes) }}{% endblock %}>
        {% block options %}
            {% for option in data.options %}
                {% set isSelected = option.selected | default(false) %}
                {% set isDisabled = option.disabled | default(false) %}

                <option value="{{ option.value }}" {% if isSelected %}selected{% endif %} {% if isDisabled %}disabled{% endif %}>
                    {{ option.label }}
                </option>
            {% endfor %}
        {% endblock %}
    </select>
    {% include atom('icon') with {
        class: config.name ~ '__caret',
        data: {
            name: 'arrow-down'
        }
    } only %}
{% endblock %}
