@mixin shop-ui-select($name: '.select') {
    #{$name} {
        @include helper-effect-transition(border-color);
        display: inline-block;
        position: relative;
        max-width: 100%;
        background-color: $setting-color-white;
        border: rem(1) solid $setting-color-input-border;
        border-radius: rem(2);

        &__select {
            display: block;
            max-width: 100%;
            background-color: $setting-color-transparent;
            border: rem(4) solid $setting-color-transparent;
            border-right-width: rem(24);
            padding: rem(4) rem(5);
            z-index: 2;
            font: normal rem(16) $setting-font-family;
            color: $setting-color-dark;
            appearance: none;
            border-radius: rem(2);

            &::-ms-expand {
                display: none;
            }

            &:-moz-focusring {
                color: transparent;
                text-shadow: 0 0 0 #000;
            }
        }

        &__caret {
            position: absolute;
            top: 0;
            bottom: 0;
            right: rem(4);
            margin: auto;
            color: $setting-color-darker;
            z-index: 1;
            width: rem(8);
            height: rem(5);
            pointer-events: none;
        }

        &--expand,
        &--expand &__select {
            display: block;
            width: 100%;
        }

        &--naked {
            background-color: $setting-color-transparent;
            border: none;
        }

        &--error {
            border-color: map-get($setting-color-actions, alert);
        }

        &--error &__caret {
            color: map-get($setting-color-actions, alert);
        }

        @content;
    }
}

@include shop-ui-select();
