@mixin cart-page-cart-item-quantity($name: '.cart-item-quantity') {
    #{$name} {
        &__label {
            font: map-get($setting-font-weight, light) 13px $setting-font-family-additional;
            margin-right: 10px;
        }

        &__button {
            opacity: 0.6;
            padding: 5px;

            &:hover {
                color: $setting-color-main;
            }
        }
    }
}

@include cart-page-cart-item-quantity();
