@mixin shop-ui-cart-item-quantity($name: '.cart-item-quantity') {
    #{$name} {
        &__label {
            font: 300 13px $setting-font-family-additional;
            margin-right: 10px;
        }
        &__button {
            opacity: .6;
            padding: 5px;
            &:hover {
                color: $setting-color-main;
            }
        }
    }
}

