@include shop-ui-box {
    border: none;

    &--darker {
        background-color: $setting-color-gray-3;
    }

    &--wide {
        margin: 0 rem(-20);
        padding: rem(20);
        border-radius: rem(4);
    }

    hr,
    &__separator {
        border-bottom: none;
    }
}
