{% extends template('product-set', 'ProductSetWidget') %}

{% define data = {
    products: _widget.productViews,
    description: _widget.productSet.description,
    images: _widget.productSet.imageSets.0.images | default([]),
    sliderConfig: '{
        "slidesToShow": 1,
        "dots": false,
        "infinite": false,
        "mobileFirst": true,
        "responsive": [{
            "breakpoint": 550,
            "settings": {
                "slidesToShow": 2,
                "slidesToScroll": 2
            }
        },
        {
            "breakpoint": 700,
            "settings": {
                "slidesToShow": 3,
                "slidesToScroll": 3
            }
        },
        {
            "breakpoint": 1000,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 4
            }
        }]
    }',
    addAllSetButton: true
} %}

{% block carousel %}
    <div class="box">
        {{parent()}}
    </div>
{% endblock %}

{% block header %}
    <div class="box">
        {{parent()}}
    </div>
{% endblock %}

{% block description %}
    <hr />
    {{parent()}}
{% endblock %}

{% block productSet %}
    <div class="box product-set-slider-wrap">
        {{parent()}}
    </div>
{% endblock %}

