{% extends view('product-set-page', '@SprykerShop:ProductSetWidget') %}

{% define data = {
    sliderConfig: '{
        "slidesToShow": 1,
        "dots": false,
        "infinite": false,
        "mobileFirst": true,
        "responsive": [{
            "breakpoint": 550,
            "settings": {
                "slidesToShow": 2,
                "slidesToScroll": 2
            }
        },
        {
            "breakpoint": 700,
            "settings": {
                "slidesToShow": 3,
                "slidesToScroll": 3
            }
        },
        {
            "breakpoint": 1000,
            "settings": {
                "slidesToShow": 4,
                "slidesToScroll": 4
            }
        }]
    }',
    addAllSetButton: true,
} %}

{% block productSet %}
    <div class="box product-set-slider product-set-slider--hide-prev-btn">
        {{parent()}}
    </div>
{% endblock %}

