{% extends template('product-set', 'ProductSetWidget') %}

{% define data = {
    products: _widget.productViews,
    description: _widget.productSet.description,
    images: _widget.productSet.imageSets.0.images | default([]),
} %}

{% block carousel %}
    <div class="box">
        {{parent()}}
    </div>
{% endblock %}

{% block header %}
    <div class="box">
        {{parent()}}
    </div>
{% endblock %}

{% block description %}
    <hr />
    {{parent()}}
{% endblock %}

{% block productSet %}
    <div class="box product-set-slider-wrap">
        {{parent()}}
    </div>
{% endblock %}
