{% extends template('widget') %}

{% define data = {
    images: _widget.product.images | default([]),
    amountSlides: 5
} %}

{% block body %}

    {% set sliderLength = data.images | length %}
    {% set amountThumb = (sliderLength > data.amountSlides) ? data.amountSlides : sliderLength %}

    {% include molecule('pdp-carousel', 'ProductImageWidget') with {
        class: 'pdp-slider',
        data: {
            slides: data.images,
            containerClass: sliderLength > 1 ? 'js-product-slider' : '',
            thumbnailClass: sliderLength > 1 ? 'js-product-slider-thumbnails' : ''
        },
        attributes: {
            'data-thumbnail-config': '{
                "slidesToShow": ' ~ amountThumb ~ ',
                "slidesToScroll": 1,
                "infinite": false,
                "vertical": true,
                "prevArrow": "<dev class=\'thumb-prev\'><svg class=\'icon\'><use href=\'#:arrow-down\'></use></svg></div>",
                "nextArrow": "<dev class=\'thumb-next\'><svg class=\'icon\'><use href=\'#:arrow-down\'></use></svg></div>",
                "responsive": [
                    {
                        "breakpoint": 769,
                        "settings": {
                            "slidesToShow": 1,
                            "vertical": false,
                            "infinite": true,
                            "arrows": false,
                            "dots": true
                        }
                    }]
            }'
        }
    } only %}

{% endblock %}
