{% extends template('widget') %}

{% define data = {
    idProductAbstract: _widget.product.idProductAbstract | default,
    images: _widget.product.images | default([]),
    amountSlides: 5
} %}

{% block body %}

    {% include molecule('image-gallery', 'ProductImageWidget') with {
        data: {
            idProductAbstract: data.idProductAbstract,
            images: data.images
        },
        attributes: {
            'active-class': 'image-gallery__item--active',
            'slider-config': '{
                "slidesToShow":5,
                "slidesToScroll":1,
                "infinite":false,
                "vertical":true,
                "prevArrow":"<div class=\'image-gallery-thumbnail__prev\'><svg class=\'icon icon--thumbnail-arrow icon--reverse\'><use href=\'#:arrow-down\'></use></svg></div>",
                "nextArrow":"<div class=\'image-gallery-thumbnail__next\'><svg class=\'icon icon--thumbnail-arrow\'><use href=\'#:arrow-down\'></use></svg></div>",
                "responsive": [
                    {
                        "breakpoint": 769,
                        "settings": {
                        "slidesToShow": 1,
                        "vertical": false,
                        "infinite": true,
                        "arrows": false,
                        "dots": true
                    }
                }]
            }'
        }
    } only %}

{% endblock %}
