{% extends template('widget') %}

{% define data = {
    images: _widget.product.images | default([])
} %}

{% block body %}
    {% embed molecule('simple-carousel') with {
        data: {
            slides: data.images
        }
    } only %}
        {% block slide %}
            <div class="text-center product-image">
                {% include atom('thumbnail') with {
                    modifiers: ['bigger'],
                    attributes: {
                        itemprop: 'image',
                        src: slide.externalUrlLarge
                    }
                } only %}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
