@mixin shop-ui-image-banner($name: '.image-banner') {
    #{$name}{
        margin: 180px 0;
        height: 750px;
        @include helper-breakpoint-media-max($md-max) {
            height: 550px;
        }
        &__text {
            width: 570px;
            position: relative;

        }
        &__image {
            position: absolute;
            right: -40%;
            top:0;
            @include helper-breakpoint-media-max($lg-max) {
                right: -25%;
                top: 40%;
            }
            @include helper-breakpoint-media-max($md-max) {
                right: -10%;
                top: 60%;
            }
            img {
                max-width: 320px;
                max-height: 750px;
                @include helper-breakpoint-media-max($lg-max) {
                    max-width: 240px;
                    max-height: (750/4*3)px;
                }
                @include helper-breakpoint-media-max($md-max) {
                    max-width: 160px;
                    max-height: 375px;
                }
            }
        }
        &__title {
            h1 {
                font: normal 53px $setting-font-family-additional;
                line-height: 1.06;
                letter-spacing: -1.5px;
                color: $setting-color-white;
            }
        }
        &__description {
            p {
                padding: 20px 0;
                font: normal 16px $setting-font-family;
                line-height: 1.69;
                opacity: 0.64;
                letter-spacing: 0.2px;
                color: $setting-color-white * .6;
                max-width: 420px;
            }
        }
    }
}

@include shop-ui-image-banner();
