@mixin shop-ui-image-banner($name: '.image-banner') {
    #{$name}{
        margin: 180px 0;
        height: 750px;
        padding: 0 80px;
        position: relative;
        @include helper-breakpoint-media-max($md-max) {
            padding: 0 55px;
            margin-bottom: 400px;
        }
        &__text {
            width: 570px;
            position: relative;
            @include helper-breakpoint-media-max($md-max) {
                position: static;
            }
        }
        &__image {
            position: absolute;
            right: -40%;
            top:0;
            width: 320px;
            height: 750px;
            @include helper-breakpoint-media-max($lg-max) {
                right: -25%;
                top: 40%;
                width: 240px;
                height: 562px;
            }
            @include helper-breakpoint-media-max($md-max) {
                right: 0%;
                top: 60%;
            }
            @include helper-breakpoint-media-max($sm-max) {
                bottom: 0;
                left: 50%;
                top: unset;
                right: unset;
                transform: translate(-50%, 50%);
                width: 260px;
                height: 500px;
            }
        }
        &__title {
            h1 {
                font: normal 53px $setting-font-family-additional;
                line-height: 1.06;
                letter-spacing: -1.5px;
                color: $setting-color-white;
                text-indent: -30px;
                @include helper-breakpoint-media-max($md-max) {
                    font-size: 39px;
                }
            }
        }
        &__description {
            p {
                padding: 20px 0;
                font: normal 16px $setting-font-family;
                line-height: 1.69;
                opacity: 0.64;
                letter-spacing: 0.2px;
                color: $setting-color-white * .6;
                max-width: 420px;
            }
        }
        &__link {
            color: $setting-color-white;
            font-size: 11px;
            text-transform: uppercase;
            letter-spacing: 2.7px;
            position: relative;
            &:hover {
                color: $setting-color-white;
                text-decoration: none;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                background: $setting-color-white;
                bottom: -9px;
            }
        }
    }
}

@include shop-ui-image-banner();
