@mixin shop-ui-image-banner($name: '.image-banner') {
    #{$name} {
        margin: 180px 0;
        height: 750px;
        padding: 0 80px;
        position: relative;
        @include helper-breakpoint-media-max($md-max) {
            height: 400px;
            margin: 80px 0 132px;
            padding: 0;
        }
        video {
            width: auto;
            height: auto;
            min-width: 100%;
            display: none;
            .no-touch & {
                display: block;
            }
        }
        &__bg-wrapper {
            position: absolute;
            height: 100%;
            width: 100%;
            overflow: hidden;
            &::after {
                content: '';
                display: block;
                position: absolute;
                bottom: 40px;
                right: 40px;
                width: 130px;
                height: 53px;
                background: url('/assets/images/spryker-logo@2x.png') center no-repeat;
                background-size: contain;
                @include helper-breakpoint-media-max($md-max) {
                    width: 78px;
                    height: 32px;
                    bottom: 20px;
                    right: 24px;
                }
            }
            .touch & {
                background-image: url('/assets/images/brand-image@3x.jpg');
                background-size: cover;
            }
        }

        &__text {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @include helper-breakpoint-media-max($md-max) {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }
        }

        &__title {
            margin-bottom: 10px;
            & > * {
                font: bold 68px $setting-font-family-additional;
                line-height: normal;
                letter-spacing: -0.9px;
                color: $setting-color-white;
                text-align: center;
                @include helper-breakpoint-media-max($md-max) {
                    font-size: 38px;
                }
            }
        }
        &__link {
            color: $setting-color-white;
            font: normal 22px $setting-font-family-additional;
            letter-spacing: -0.4px;
            position: relative;
            text-decoration: none;
            @include helper-breakpoint-media-max($md-max) {
                font-size: 14px;
            }
            &:hover {
                color: $setting-color-white;
                text-decoration: none;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 15px;
                width: 10px;
                background: url('/assets/images/arrow-white-bold.svg') center no-repeat;
                right: -20px;
                bottom: 4px;
                @include helper-breakpoint-media-max($md-max) {
                    width: 6px;
                    height: 9px;
                    right: -12px;
                    bottom: 3px;
                }
            }
        }
    }
}

@include shop-ui-image-banner();

