@include shop-ui-icon {
    &--thumbnail-arrow {
        display: block;
        width: 100%;
        height: 6px;
        color: $setting-color-dark;
    }

    &--reverse {
        transform: rotate(180deg);
    }
}
