@mixin shop-ui-action-bar($name: '.action-bar') {
    #{$name} {
        @include helper-breakpoint-media-min($lg-min) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__actions {
            @include helper-breakpoint-media-min($md-min) {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                margin-right: rem(-8);
            }
        }
    }
}

@include shop-ui-action-bar();
