@mixin shop-ui-slick-carousel($name: '.slick-carousel') {
    #{$name} {
        &--align-left {
            .slick-track {
                margin-left: 0;
            }
        }

        &__container {
            position: relative;

            @include helper-breakpoint-media-max($sm-max) {
                padding: 0 rem(11);
            }

            .slick-arrow {
                position: absolute;
                top: rem(165);
                font-size: 0;
                width: rem(30);
                height: rem(30);
                background: url('../images/right-chevron.svg') no-repeat center / rem(15);
                border-radius: 50%;
                z-index: $setting-zi-element + 1;
                opacity: 0.7;

                @include helper-breakpoint-media-max($sm-max) {
                    top: rem(125);
                }

                &:hover {
                    background-color: $setting-color-white;
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .slick-prev {
                left: rem(20);
                transform: rotate(180deg);

                @include helper-breakpoint-media-max($sm-max) {
                    left: rem(15);
                }
            }

            .slick-next {
                right: rem(20);

                @include helper-breakpoint-media-max($sm-max) {
                    right: rem(15);
                }
            }
        }

        &--product-set {
            #{$name}__container {
                padding: 0;
            }

            .slick-dots {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: rem(12);

                li {
                    display: block;
                    margin: rem(4.8) rem(8);
                    width: rem(6);
                    height: rem(6);
                    background: $setting-color-gray-3;
                    border-radius: 50%;

                    &:hover {
                        cursor: pointer;
                    }

                    &.slick-active {
                        width: rem(12);
                        height: rem(12);
                        background: $setting-color-transparent;
                        border: rem(1) solid map-get($setting-color-actions, alert);
                    }
                }

                button {
                    font-size: 0;
                }
            }

            .slick-arrow {
                @include helper-breakpoint-media-max($md-max) {
                    top: rem(85);
                }
            }

            .slick-prev {
                @include helper-breakpoint-media-max($md-max) {
                    left: 0;
                }
            }

            .slick-next {
                @include helper-breakpoint-media-max($md-max) {
                    right: 0;
                }
            }

            .slick-disabled {
                display: none !important;
            }
        }

        &--product-set-secondary {
            margin-top: rem(24);

            @include helper-breakpoint-media-min($lg-min) {
                margin-top: 0;
            }

            .slick-slide {
                width: rem(230);

                @include helper-breakpoint-media-min($sm-max) {
                    padding-right: rem(30);

                    &:last-of-type {
                        padding-right: 0;
                    }
                }

                @include helper-breakpoint-media-min($lg-min) {
                    width: rem(309);
                }
            }
        }
    }
}

@include shop-ui-slick-carousel();
