@mixin shop-ui-slick-carousel($name: '.slick-carousel') {
    #{$name} {
        &__container {
            position: relative;
            @include helper-breakpoint-media-max($sm-max) {
                padding: 0 11px;
            }

            .slick-arrow {
                position: absolute;
                top: 165px;
                font-size: 0;
                width: 30px;
                height: 30px;
                background: url("/assets/images/right-chevron.svg")no-repeat center / 15px;
                border-radius: 50%;
                z-index: 100;
                opacity: 0.7;
                @include helper-breakpoint-media-max($sm-max) {
                    top: 125px;
                }

                &:hover {
                    background-color: $setting-color-white;
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .slick-prev {
                left: 20px;
                transform: rotate(180deg);
                @include helper-breakpoint-media-max($sm-max) {
                    left: 15px;
                }
            }

            .slick-next {
                right: 20px;
                @include helper-breakpoint-media-max($sm-max) {
                    right: 15px;
                }
            }
        }
    }
}

@include shop-ui-slick-carousel();
