@mixin shop-ui-slick-carousel($name: '.slick-carousel') {
    #{$name} {
        &--align-left {
            .slick-track {
                margin-left: 0;
            }
        }

        &__container {
            position: relative;

            @include helper-breakpoint-media-max($sm-max) {
                padding: 0 rem(11);
            }

            .slick-arrow {
                position: absolute;
                top: rem(165);
                font-size: 0;
                width: rem(30);
                height: rem(30);
                background: url('/assets/images/right-chevron.svg')no-repeat center / rem(15);
                border-radius: 50%;
                z-index: 100;
                opacity: 0.7;

                @include helper-breakpoint-media-max($sm-max) {
                    top: rem(125);
                }

                &:hover {
                    background-color: $setting-color-white;
                    opacity: 1;
                    cursor: pointer;
                }
            }

            .slick-prev {
                left: rem(20);
                transform: rotate(180deg);

                @include helper-breakpoint-media-max($sm-max) {
                    left: rem(15);
                }
            }

            .slick-next {
                right: rem(20);

                @include helper-breakpoint-media-max($sm-max) {
                    right: rem(15);
                }
            }
        }
    }
}

@include shop-ui-slick-carousel();
