@mixin shop-ui-navigation-top-mobile ($name: '.navigation-top-mobile') {
    #{$name} {
        @media screen and (max-width: rem(549)) {
            border-bottom: rem(1) solid $setting-color-lightest;
        }

        &__item {
            width: 20%;
            padding: rem(12.8);
        }
        @media screen and (max-width: rem(549)) {
            .icon--bigger {
                width: rem(24);
                height: rem(24);
            }
        }
    }
}

@include shop-ui-navigation-top-mobile();
