@mixin popup($name: '.popup') {
    #{$name} {

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1000;
            background: rgba(0, 0, 0, 0.4);
        }

        &__inner {
            display: block;
            position: fixed;
            z-index: 1001;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            border-radius: 3px;
            width: 700px;
            min-width: 0;
            max-width: calc(100vw - 28px);
            max-height: calc(100vh - 28px);
            overflow-y: auto;
            padding: 28px 38px 38px;
        }

        &__top {
            padding-bottom: 10px;
            margin-bottom: 20px;
            border-bottom: dotted 1px $setting-color-lightest;
            display: flex;
            justify-content: space-between;
        }

        &__title {
            font: 700 36px $setting-font-family-additional;
            color: $setting-color-darkest;
        }

        &__close {
            width: 28px;
            height: 28px;
            cursor: pointer;
        }

        @include helper-breakpoint-media-max($md-max) {
            &__inner {
                width: 450px;
                min-width: 0;
                padding: 0 24px 7px;
            }
            &__top {
                background: #f7f7f7;
                margin: 0 -24px 14px;
                padding: 27px 24px;
                border-bottom: none;
                min-height: 80px;
                justify-content: center;
            }
            &__title {
                font-size: 20px;
            }
            &__close {
                width: 19px;
                height: 19px;
                position: absolute;
                top: 31px;
                left: 24px;
            }
        }

        @content;
    }
}

@include popup();
