@mixin popup($name: '.popup') {
    #{$name} {

        &__overlay {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 1000;
            background: $setting-color-overlay;
        }

        &__inner {
            display: block;
            position: fixed;
            z-index: 1001;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: $setting-color-white;
            border-radius: rem(3);
            width: rem(700);
            min-width: 0;
            max-width: calc(100vw - #{rem(28)});
            max-height: calc(100vh - #{rem(28)});
            overflow-y: auto;
            padding: rem(28) rem(38) rem(38);
        }

        &__top {
            padding-bottom: rem(10);
            margin-bottom: rem(20);
            border-bottom: dotted rem(1) $setting-color-lightest;
            display: flex;
            justify-content: space-between;
        }

        &__title {
            font: 700 rem(36) $setting-font-family-additional;
            color: $setting-color-darkest;
        }

        &__close {
            width: rem(28);
            height: rem(28);
            cursor: pointer;
        }

        &--bottom-indent {
            margin-bottom: rem(43);
        }

        @include helper-breakpoint-media-max($md-max) {
            &__inner {
                width: rem(450);
                min-width: 0;
                padding: 0 rem(24) rem(7);
            }
            &__top {
                background: $setting-color-wild-sand;
                margin: 0 rem(-24) rem(14);
                padding: rem(27) rem(24);
                border-bottom: none;
                min-height: rem(80);
                justify-content: center;
            }
            &__title {
                font-size: rem(20);
            }
            &__close {
                width: rem(19);
                height: rem(19);
                position: absolute;
                top: rem(31);
                left: rem(24);
            }
            &--bottom-indent {
                margin-bottom: rem(34);
            }
        }

        @content;
    }
}

@include popup();
