@mixin configurable-bundle-widget-configured-bundle-product($name: '.configured-bundle-product') {
    #{$name} {
        padding: 0 rem(15) rem(21) 0;

        &__title {
            display: block;
            font: fw(medium) map-get($setting-font-size, default) $setting-font-family-additional;
        }

        &__text {
            font: fw(medium) $setting-font-size-base $setting-font-family-additional;

            &--secondary {
                color: $setting-color-gray-3;
            }
        }

        @content;
    }
}

@include configurable-bundle-widget-configured-bundle-product;
