{% extends template('page-layout-main') %}

{% block container %}
    {% include organism('jumbotron-slider') only %}

    <div class="container container--home-page">
        <main>
            {% block content %}{% endblock %}
        </main>
    </div>
{% endblock %}
