{% extends template('page-blank') %}

{%- block class -%}js-page-layout-main__side-drawer-container{%- endblock -%}

{% block body %}
    {% block notifications %}
        {% include organism('notification-area') only %}
    {% endblock %}

    {% block sidebar %}
        {% include organism('side-drawer') with {
            class: 'is-hidden-lg-xl',
            attributes: {
                'container-selector': 'js-page-layout-main__side-drawer-container',
                'trigger-selector': 'js-page-layout-main__side-drawer-trigger'
            }
        } only %}
    {% endblock %}

    {% block outside %}{% endblock %}

    {% block header %}
        {% embed organism('header') only %}
            {% block mobile %}
                <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                    {% include atom('icon') with {
                        modifiers: ['big'],
                        data: {
                            name: 'bars'
                        }
                    } only %}
                </a>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {% include organism('jumbotron-slider') with {
        data: {
            slides: [{
                imageUrl: '/assets/images/section-slider-item-image-10@2x.png',
                link: 'jumbotron.smart_watches.link',
                cmsBlockName: 'Jumbotron slide-1'
            },
                {
                    imageUrl: '/assets/images/section-slider-item-image-6@2x.png',
                    link: 'jumbotron.smartphones.link',
                    cmsBlockName: 'Jumbotron slide-2'
                },
                {
                    imageUrl: '/assets/images/section-slider-item-image-7@2x.png',
                    link: 'jumbotron.tablets.link',
                    cmsBlockName: 'Jumbotron slide-3'
                }
            ]
        },
        attributes: {
            'data-json': '{
                            "slidesToShow": 1,
                            "dots": true,
                            "autoplay": true,
                            "nextArrow": false,
                            "prevArrow": false,
                            "autoplaySpeed": 4000,
                            "centerMode": true,
                            "centerPadding": "120px",
                            "responsive": [{
                                "breakpoint": 1240,
                                "settings": {
                                    "centerPadding": "40px"
                                }
                            },
                            {
                                "breakpoint": 770,
                                "settings": {
                                    "centerPadding": "12px"
                                }
                            }
            ]}'
        }
    } %}

    <div class="container">
        {% block pageInfo %}
            <div class="box">
                {% block breadcrumbs %}
                    {% include molecule('breadcrumb') only %}
                {% endblock %}

                <hr />

                {% block title %}
                    <h3>{{data.title}}</h3>
                {% endblock %}
            </div>
        {% endblock %}
    </div>


        <main>
            {% block content %}{% endblock %}
        </main>



    {#{% include molecule('quote-teaser') with {#}
        {#data: {#}
            {#imageUrl: '/assets/images/section-brand-a-bg@3x.png',#}
            {#quoteText: "Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.",#}
            {#quoteAuth: 'ANTOINE DE SAINT-EXUPERY'#}
        {#}#}
    {#} only %}#}

    {% block footer %}
        {% include organism('footer') only %}
    {% endblock %}

    {% block icons %}
        {% include atom('icon-sprite') only %}
    {% endblock %}
{% endblock %}
