{% extends template('page-blank') %}

{%- block class -%}js-page-layout-main__side-drawer-container{%- endblock -%}

{% block body %}
    {% block notifications %}
        {% include organism('notification-area') only %}
    {% endblock %}

    {% block sidebar %}
        {% include organism('side-drawer') with {
            class: 'is-hidden-lg-xl',
            attributes: {
                'container-selector': 'js-page-layout-main__side-drawer-container',
                'trigger-selector': 'js-page-layout-main__side-drawer-trigger'
            }
        } only %}
    {% endblock %}

    {% block outside %}{% endblock %}

    {% block header %}
        {% embed organism('header') only %}
            {% block mobile %}
                <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                    {% include atom('icon') with {
                        modifiers: ['big'],
                        data: {
                            name: 'bars'
                        }
                    } only %}
                </a>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    {#{% include molecule('jumbotron') with {#}
        {#class: ''#}
    {#} only %}#}

    {% include molecule('simple-carousel-custom') with {
        class: 'simple-carousel-custom',
        data: {
            slides: [{
                    imageUrl: '/assets/images/section-slider-item-10@2x.png',
                    },
                {
                    imageUrl: '/assets/images/section-slider-item-4@2x.png',
                    },
                {
                    imageUrl: '/assets/images/section-slider-item-6@2x.png',
                    },
                {
                    imageUrl: '/assets/images/section-slider-item-7@2x.png',
                    },
                {
                    imageUrl: '/assets/images/section-slider-item-1@2x.png',
                }]
        }
    } %}

    <div class="container">
        {% block pageInfo %}
            <div class="box">
                {% block breadcrumbs %}
                    {% include molecule('breadcrumb') only %}
                {% endblock %}

                <hr />

                {% block title %}
                    <h3>{{data.title}}</h3>
                {% endblock %}
            </div>
        {% endblock %}



        <main>
            {% block content %}{% endblock %}
        </main>
    </div>


    {% include molecule('quote-teaser') with {
        data: {
            imageUrl: '/assets/images/section-brand-a-bg@3x.png',
            quoteText: "Perfection is achieved, not when there is nothing more to add, but when there is nothing left to take away.",
            quoteAuth: 'ANTOINE DE SAINT-EXUPERY'
        }
    } only %}

    {% block footer %}
        {% include organism('footer') only %}
    {% endblock %}

    {% block icons %}
        {% include atom('icon-sprite') only %}
    {% endblock %}
{% endblock %}
