{% extends template('page-layout-main') %}

{% define data = {
    product: _view.product,
    productUrl: _view.productUrl,

    cart: _view.cart,
    isBundle: _view.product.attributes.bundled_product | default(null),
    bundleItems: _view.product.bundledProducts,

    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default,
    metaKeywords: _view.product.metaKeywords | default,
} %}

{% block headStyles %}
    {{ parent() }}
    <link itemprop="url" href="{{ data.productUrl }}">
{% endblock %}

{% block pageInfo %}
    <div class="container__inner">
        {% block breadcrumbs %}
            {% widget 'ProductBreadcrumbsWithCategoriesWidget' args [data.product] only %}{% endwidget %}
        {% endblock %}
    </div>
{% endblock %}
{% block contentClass %} page-layout-main {% endblock %}
{% block content %}
    <div class="container__inner">
        <div class="grid">
            {% include molecule('product-carousel', 'ProductDetailPage') with {
                class: 'col page-layout-main__content-pdp',
                data: {
                    product: data.product,
                },
            } only %}

            <div class="col page-layout-main__sidebar-pdp">
                {% include molecule('product-configurator', 'ProductDetailPage') with {
                    data: {
                        product: data.product,
                        isBundle: data.bundleItems,
                        bundleItems: data.bundleItems
                    }
                } only %}
            </div>
        </div>
    </div>

    {% widget 'ProductAlternativeListWidget' args [data.product] only %}{% endwidget %}

    <div class="container__inner">
        {% include molecule('product-detail', 'ProductDetailPage') with {
            data: {
                description: data.product.description,
                attributes: data.product.attributes,
                sku: data.product.sku,
            },
        } only %}
    </div>
    {% if data.bundleItems %}
        {% include molecule('product-bundle', 'ProductDetailPage') with {
            data: {
                bundleItems: data.bundleItems,
            },
        } only %}
    {% endif %}

    {% widget 'ProductReplacementForListWidget' args [data.product.sku] only %}{% endwidget %}

    <div class="container__inner">
        {% widget 'ProductDetailPageReviewWidget' args [data.product.idProductAbstract] only %}{% endwidget %}

        {% if data.product.productSetIds is not empty %}
            {% widget 'ProductSetIdsWidget' args [data.product.productSetIds] only %}{% endwidget %}
        {% endif %}
    </div>

    {% widget 'SimilarProductsWidget' args [data.product] only %}{% endwidget %}

    <div class="container__inner">
        {% embed molecule('product-cms-block', 'CmsBlockWidget') ignore missing with {
            data: {
                idProductAbstract: data.product.idProductAbstract,
            }
        } only %}
            {% block body %}
                {% cms_slot 'slt-7' required ['idProductAbstract'] with {
                    idProductAbstract: data.idProductAbstract,
                } %}
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
