{% extends template('page-layout-main') %}

{% define data = {
    product: _view.product,
    productUrl: _view.productUrl,

    cart: _view.cart,
    isBundle: _view.product.attributes.bundled_product | default(null),
    bundleItems: _view.bundledProducts,

    title: product.metaTitle | default(_view.product.name),
    metaTitle: product.metaTitle | default(_view.product.name),
    metaDescription: _view.product.metaDescription | default,
    metaKeywords: _view.product.metaKeywords | default
} %}

{% block headStyles %}
    {{ parent() }}
    <link itemprop="url" href="{{ data.productUrl }}">
{% endblock %}

{% block pageInfo %}{% endblock %}
{% block contentClass %} page-layout-main {% endblock %}
{% block content %}
    <div class="container__inner">
        <div class="grid">
            {% include molecule('product-carousel', 'ProductDetailPage') with {
                class: 'col page-layout-main__content-pdp',
                data: {
                    product: data.product
                }
            } only %}

            <div class="col page-layout-main__sidebar-pdp">
                {% include molecule('product-configurator', 'ProductDetailPage') with {
                    data: {
                        product: data.product,
                        isBundle: data.isBundle,
                        bundleItems: data.bundleItems
                    }
                } only %}

                {% include molecule('product-detail', 'ProductDetailPage') with {
                    data: {
                        description: data.product.description,
                        attributes: data.product.attributes,
                        sku: data.product.sku
                    }
                } only %}
            </div>
        </div>
    </div>

    {% if data.isBundle != null %}
        {% include molecule('product-bundle', 'ProductDetailPage') with {
            data: {
                bundleItems: data.bundleItems
            }
        } only %}
    {% endif %}

    <div class="container__inner">
        {% widget 'ProductDetailPageReviewWidget' args [data.product.idProductAbstract] only %}{% endwidget %}
    </div>

    {% if data.product.productSetIds is not empty %}
        {{ widget('ProductSetIdsWidgetPlugin', data.product.productSetIds) }}
    {% endif %}

    {{ widget('UpSellingProductsWidgetPlugin', data.cart) }}
    {% widget 'SimilarProductsWidget' args [data.product] only %}{% endwidget %}

    <div class="container__inner">
        {% include molecule('product-cms-block', 'CmsBlockWidget') ignore missing with {
            class: 'box',
            data: {
                idProductAbstract: data.product.idProductAbstract
            }
        } only %}
        {% block breadcrumbs %}
            {% widget 'ProductBreadcrumbsWithCategoriesWidget' args [data.product] only %}{% endwidget %}
        {% endblock %}
    </div>
{% endblock %}
