@mixin product-detail-page-layout($name: '.pdp') {
    #{$name} {

        &-left {
            position: relative;
            width: 55.57%;
        }

        &-right {
            width: 44.43%;
            padding: 40px 0 0 90px
        }

        &-cms-block {
            font-size: 14px;
            line-height: 21px;
            color: $setting-color-dark;
            padding: 50px 0;
            border-top: dotted 1px $setting-color-lightest;
            h1 {
                font: 500 15px/1.33 $setting-font-family-additional;
                margin: 0 0 11px;
            }
            p {
                margin: 0 0 11px;
            }
        }

        @content;
    }

    .product-slider-container {
        margin: 0 -1rem;
    }
}

@include product-detail-page-layout;
