@mixin shop-ui-logo ($name: '.logo') {
    #{$name} {
        padding: rem(12.8);
        @media screen and (max-width: rem(549)) {
            border-bottom: rem(1) solid $setting-color-lightest;
            a {
                width: rem(120);
            }
        }
    }
}

@include shop-ui-logo();
