{% extends model('component') %}

{% define config = {
    name: 'logo',
    renderAttributes: false
} %}

{% define data = {
    url: '/' ~ app.locale | slice(0, 2)
} %}

{% define attributes = {
    src: null,
    alt: 'Logo'
} %}

{% block body %}
    <a href="{{ url(data.url) }}" class="{{ config.name }}__link">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                <svg xmlns="http://www.w3.org/2000/svg" width="179" height="64" viewBox="0 0 80 80"
                     class="is-hidden-sm-md">
                    <g id="g851" style="fill:#000000">
                        <path d="M 40 37 A 2 2 0 0 0 38 39 L 38 55 C 38 56.127968 37.127968 57 36 57 L 27.5 57 C 24.486124 57 22 59.486124 22 62.5 C 22 65.513876 24.486124 68 27.5 68 L 45 68 A 2 2 0 0 0 47 66 A 2 2 0 0 0 45 64 L 27.5 64 C 26.647876 64 26 63.352124 26 62.5 C 26 61.647876 26.647876 61 27.5 61 L 36 61 C 39.290032 61 42 58.290032 42 55 L 42 39 A 2 2 0 0 0 40 37 z " id="path833"/>
                        <path d="M 40 29 C 36.709981 29 34 31.709981 34 35 C 34 38.290019 36.709981 41 40 41 C 43.290019 41 46 38.290019 46 35 C 46 31.709981 43.290019 29 40 29 z M 40 33 C 41.128259 33 42 33.871741 42 35 C 42 36.128259 41.128259 37 40 37 C 38.871741 37 38 36.128259 38 35 C 38 33.871741 38.871741 33 40 33 z " id="circle835"/>
                        <path d="M 37.912109 7.0117188 C 35.906722 6.8693867 33.592979 8.3399104 33.244141 10.779297 A 2.0002 2.0002 0 0 0 33.238281 10.818359 L 32.183594 19.388672 C 32.020083 20.716261 32.3036 22.063291 32.992188 23.210938 L 38.285156 32.029297 A 2.0002 2.0002 0 0 0 42 31 L 42 11.400391 C 42 8.9361682 39.917497 7.1540508 37.912109 7.0117188 z M 37.339844 10.974609 C 37.402259 10.950317 37.49035 10.992119 37.628906 11.001953 C 37.906018 11.021621 38 10.883613 38 11.400391 L 38 23.779297 L 36.423828 21.152344 C 36.194416 20.76999 36.097855 20.321318 36.152344 19.878906 L 37.203125 11.345703 C 37.203526 11.342895 37.204677 11.344565 37.205078 11.341797 C 37.241268 11.09237 37.278114 10.998635 37.339844 10.974609 z " id="path837"/>
                        <path d="M 36.527344 35 A 2.0002 2.0002 0 0 0 35.535156 35.267578 L 18.5625 45.068359 C 16.428386 46.300374 15.925582 48.994891 16.804688 50.802734 C 17.683793 52.610578 20.113429 53.880652 22.400391 52.962891 A 2.0002 2.0002 0 0 0 22.4375 52.947266 L 30.388672 49.576172 C 31.620246 49.054141 32.64325 48.133284 33.292969 46.962891 L 38.285156 37.970703 A 2.0002 2.0002 0 0 0 36.527344 35 z M 31.283203 42.341797 L 29.794922 45.021484 C 29.57864 45.411091 29.238551 45.718609 28.828125 45.892578 L 20.912109 49.25 C 20.433071 49.442239 20.523988 49.302891 20.402344 49.052734 C 20.280699 48.802578 20.115614 48.789235 20.5625 48.53125 L 31.283203 42.341797 z " id="path839"/>
                        <path d="M 53.714844 34.828125 L 43.429688 35 A 2.0002 2.0002 0 0 0 42.464844 38.732422 L 59.4375 48.53125 C 61.571518 49.763209 64.157196 48.850728 65.283203 47.185547 C 66.40921 45.520366 66.293681 42.783182 64.355469 41.261719 A 2.0002 2.0002 0 0 0 64.324219 41.236328 L 57.427734 36.037109 C 56.359624 35.231526 55.053087 34.805621 53.714844 34.828125 z M 53.78125 38.826172 C 54.227006 38.818676 54.663642 38.962052 55.019531 39.230469 L 61.888672 44.412109 C 62.280822 44.722059 62.123109 44.717041 61.96875 44.945312 C 61.813007 45.175631 61.884482 45.3264 61.4375 45.068359 L 50.716797 38.878906 L 53.78125 38.826172 z " id="path841"/>
                        <g id="g849" style="fill:#000000">
                            <path d="M 48 59 C 45.262332 59 43 61.262332 43 64 L 43 68 C 43 70.737668 45.262332 73 48 73 L 49 73 C 51.737668 73 54 70.737668 54 68 L 54 64 C 54 61.262332 51.737668 59 49 59 L 48 59 z M 48 63 L 49 63 C 49.576332 63 50 63.423668 50 64 L 50 68 C 50 68.576332 49.576332 69 49 69 L 48 69 C 47.423668 69 47 68.576332 47 68 L 47 64 C 47 63.423668 47.423668 63 48 63 z " id="path843"/>
                            <path d="M 51.828125 61 A 2 2 0 0 0 49.828125 63 A 2 2 0 0 0 51.828125 65 L 55 65 A 2 2 0 0 0 57 63 A 2 2 0 0 0 55 61 L 51.828125 61 z " id="line845"/>
                            <path d="M 51.828125 67 A 2 2 0 0 0 49.828125 69 A 2 2 0 0 0 51.828125 71 L 55 71 A 2 2 0 0 0 57 69 A 2 2 0 0 0 55 67 L 51.828125 67 z " id="line847"/>
                        </g>
                    </g>
                </svg>

            {% else %}
                <img {{ block('attributes') }}>
            {% endif %}
        </span>
    </a>
{% endblock %}
