{% extends model('component') %}

{% define config = {
    name: 'logo',
    renderAttributes: false
} %}

{% define data = {
    url: '/' ~ app.locale | slice(0, 2)
} %}

{% define attributes = {
    src: null,
    alt: 'Logo'
} %}

{% block body %}
    <a href="{{ url(data.url) }}" class="{{ config.name }}__link">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                <svg xmlns="http://www.w3.org/2000/svg" width="179" height="64" viewBox="0 0 512 512" class="is-hidden-sm-md">
                    <path d="M256.0012,140.9994a115,115,0,1,0,115,115A114.9994,114.9994,0,0,0,256.0012,140.9994Zm43.2312,120.3668-32.5,65a11.9992,11.9992,0,1,1-21.4648-10.7324l23.8183-47.6318H223.5a11.9993,11.9993,0,0,1-10.7324-17.3682l32.5-65a11.9992,11.9992,0,0,1,21.4648,10.7324L242.9141,243.998H288.5a11.9993,11.9993,0,0,1,10.7324,17.3682Z"/>
                    <path d="M256,116a10,10,0,0,0,10-10V66a10,10,0,0,0-20,0v40A10,10,0,0,0,256,116Z"/>
                    <path d="M142.8652,157.0059a9.999,9.999,0,0,0,14.1407-14.1407L138.72,124.5791A9.9989,9.9989,0,1,0,124.5791,138.72Z"/>
                    <path d="M142.8652,354.9941,124.5791,373.28A9.9989,9.9989,0,1,0,138.72,387.4209l18.2862-18.2861a9.999,9.999,0,1,0-14.1407-14.1407Z"/>
                    <path d="M369.1348,354.9941a9.999,9.999,0,1,0-14.1407,14.1407L373.28,387.4209A9.9989,9.9989,0,0,0,387.4209,373.28Z"/>
                    <path d="M373.28,124.5791l-18.2862,18.2861a9.999,9.999,0,1,0,14.1407,14.1407L387.4209,138.72A9.9989,9.9989,0,0,0,373.28,124.5791Z"/>
                    <path d="M256,396a10,10,0,0,0-10,10v40a10,10,0,0,0,20,0V406A10,10,0,0,0,256,396Z"/>
                    <path d="M446,246H406a10,10,0,0,0,0,20h40a10,10,0,0,0,0-20Z"/>
                    <path d="M106,246H66a10,10,0,0,0,0,20h40a10,10,0,0,0,0-20Z"/>
                </svg>
            {% else %}
                <img {{block('attributes')}}>
            {% endif %}
        </span>
    </a>
{% endblock %}
