{% extends model('component') %}

{% define config = {
    name: 'logo',
    renderAttributes: false
} %}

{% define data = {
    url: '/' ~ app.locale | slice(0, 2)
} %}

{% define attributes = {
    src: null,
    alt: 'Logo'
} %}

{% block body %}
    <a href="{{ url(data.url) }}" class="{{ config.name }}__link">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                <svg xmlns="http://www.w3.org/2000/svg" width="179" height="64" viewBox="0 0 24 24">
                    <path d="M12,8a4,4,0,1,0,4,4A4,4,0,0,0,12,8Zm0,6a2,2,0,1,1,2-2A2,2,0,0,1,12,14Z"/>
                    <path d="M3.29,20.71A4.48,4.48,0,0,0,6.57,21.9,11.8,11.8,0,0,0,12,20.26a11.8,11.8,0,0,0,5.43,1.63,4.48,4.48,0,0,0,3.27-1.19c1.24-1.24,1.52-3.42.74-6A14.62,14.62,0,0,0,20.28,12a14.62,14.62,0,0,0,1.17-2.74c.77-2.55.5-4.72-.74-6C18.92,1.51,15.51,1.8,12,3.72,8.49,1.8,5.08,1.51,3.29,3.29,2,4.54,1.78,6.71,2.55,9.26A14.62,14.62,0,0,0,3.72,12a14.62,14.62,0,0,0-1.17,2.74C1.78,17.29,2,19.46,3.29,20.71Zm16.24-5.39c.54,1.79.45,3.28-.24,4S16.43,20.13,14,19a22,22,0,0,0,2.74-2.32A22.22,22.22,0,0,0,19,14,11.71,11.71,0,0,1,19.54,15.32ZM12,18a19.73,19.73,0,0,1-3.29-2.68A19.69,19.69,0,0,1,6,12a20.25,20.25,0,0,1,6-6,19.59,19.59,0,0,1,3.29,2.66A19.69,19.69,0,0,1,18,12a19.69,19.69,0,0,1-2.67,3.29A19.72,19.72,0,0,1,12,18ZM17.41,4.11a2.62,2.62,0,0,1,1.88.6c.7.7.79,2.18.24,4A11.71,11.71,0,0,1,19,10a22.22,22.22,0,0,0-2.32-2.72A22.07,22.07,0,0,0,14,5,8.82,8.82,0,0,1,17.41,4.11ZM4.46,8.68c-.54-1.79-.45-3.28.24-4a2.62,2.62,0,0,1,1.88-.6A8.82,8.82,0,0,1,10,5,22.45,22.45,0,0,0,5,10,11.71,11.71,0,0,1,4.46,8.68Zm2.83,8A22,22,0,0,0,10,19c-2.47,1.1-4.5,1.09-5.33.26s-.79-2.18-.24-4A11.71,11.71,0,0,1,5,14,22.22,22.22,0,0,0,7.29,16.71Z"/>
                </svg>
            {% else %}
                <img {{block('attributes')}}>
            {% endif %}
        </span>
    </a>
{% endblock %}
