@mixin shop-ui-logo ($name: '.logo') {
    #{$name} {
        padding: 0.8rem;

        @include helper-breakpoint-media-max($sm-max) {
            border-bottom: 1px solid $setting-color-lightest;
        }

        &__link {
            @include helper-breakpoint-media-max($sm-max) {
                width: rem(120);
            }
        }
    }
}

@include shop-ui-logo();
