@mixin shop-ui-logo ($name: '.logo') {
    #{$name} {
        padding: 0.8rem;
        @media screen and (max-width: 549px) {
            border-bottom: 1px solid $setting-color-lightest;
            a {
                width: 120px;
            }
        }
    }
}

@include shop-ui-logo();
