@mixin range-slider($name: '.range-slider') {
    $width-handle: rem(24);
    $width-slider-line: calc(100% + #{rem(24)});

    #{$name} {
        display: flex;
        flex-direction: column-reverse;
        border: none;
        background: none;
        height: auto;
        box-shadow: none;
        margin: 0 calc(#{$width-handle}/2);

        &__values {
            position: relative;
            z-index: $setting-zi-element;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: rem(11);
            padding-top: rem(10);
            margin: 0 calc(-#{$width-handle}/2);
        }

        &.noUi-horizontal {
            .noUi-handle {
                top: 0;

                html:not([dir='rtl']) & {
                    right: 0;
                    margin-right: calc(-#{$width-handle}/2);
                }
            }
        }

        .noUi-base {
            position: relative;
            z-index: $setting-zi-element + 1;
            padding: rem(11) 0 rem(12);
            box-sizing: border-box;
            cursor: pointer;
        }

        .noUi-connects {
            background-color: $setting-color-gallery;
            height: rem(1);
            margin: 0 calc(-#{$width-handle}/2);
            width: $width-slider-line;
        }

        .noUi-connect {
            background-color: $setting-color-tundora;
        }

        .noUi-handle {
            @include helper-effect-transition(transform);
            width: $width-handle;
            height: rem(24);
            border-radius: rem(12);
            box-shadow: none;
            border-color: $setting-color-tundora;

            &::before,
            &::after {
                display: none;
            }

            &:hover {
                border-color: $setting-color-main;
                background-color: $setting-color-aqua-spring;
                cursor: pointer;
                transform: scale(1.25);
            }
        }
    }
}

@include range-slider();
