@mixin range-slider($name: '.range-slider') {
    $width-handle: rem(24);
    $width-slider-line: calc(100% + #{rem(24)});

    #{$name} {
        padding: 0 calc(#{$width-handle} / 2);

        &__slider-content {
            display: flex;
            flex-direction: column-reverse;
            border: none;
            background: none;
            height: auto;
            box-shadow: none;
            padding: 0 calc(#{$width-handle} / 2);

            &--horizontal {
                .noUi-handle {
                    top: 0;

                    html:not([dir='rtl']) & {
                        right: 0;
                        margin-right: calc(-#{$width-handle} / 2);
                    }
                }
            }
        }

        &__values {
            position: relative;
            z-index: $setting-zi-element;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: rem(11);
            padding-top: rem(10);
            margin: 0 calc(-#{$width-handle} / 2);
        }

        .noUi-handle {
            @include helper-effect-transition(transform border-color);
            width: $width-handle;
            height: rem(24);
            border-radius: rem(12);
            box-shadow: none;
            border-color: $setting-color-gray-5;

            &::before {
                display: none;
            }

            &::after {
                @include helper-effect-transition(opacity);
                height: 100%;
                width: 100%;
                background-color: $setting-color-alpha-2;
                top: 0;
                left: 0;
                border-radius: 50%;
                opacity: 0;
            }

            &:hover {
                border-color: $setting-color-main;
                cursor: pointer;
                transform: scale(1.25);

                &::after {
                    opacity: 1;
                }
            }
        }

        .noUi-base {
            position: relative;
            z-index: $setting-zi-element + 1;
            padding: rem(11) 0 rem(12);
            box-sizing: border-box;
            cursor: pointer;
        }

        .noUi-connects {
            background-color: $setting-color-gray-2;
            height: rem(1);
            margin: 0 calc(-#{$width-handle} / 2);
            width: $width-slider-line;
        }

        .noUi-connect {
            background-color: $setting-color-gray-5;
        }
    }
}

@include range-slider();
