{% block form_label %}
    {% apply spaceless %}
        {% if label is empty and name != 'locales' %}
            {% set label = name %}
        {% endif %}

        {% if label is not empty %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ label|trans({}, translation_domain) }}
            {% if attr.note is defined %} <span style="font: 11px normal; font-family: arial;">({{ attr.note }})</span>{% endif %}
            </label>
        {% endif %}
    {% endapply %}
{% endblock form_label %}
