includes:
    - vendor/spryker-sdk/phpstan-spryker/extension.neon

parameters:
    excludePaths:
        - src/Generated/*
        - src/Orm/*

    bootstrapFiles:
        - phpstan-bootstrap.php

    ignoreErrors:
        - '#Call to an undefined method .+Criteria::.+\(\).#'

    reportUnmatchedIgnoredErrors: false

    dynamicConstantNames:
        - APPLICATION
        - APPLICATION_ENV
        - APPLICATION_STORE
        - APPLICATION_CODE_BUCKET

    parallel:
       maximumNumberOfProcesses: 1
