@mixin discount-promotion-widget-promotion-header ($name: '.promotion-header') {
    #{$name} {
        border-bottom: rem(1) dotted $setting-color-lightest;
        padding: rem(18) 0;
        margin-bottom: rem(36);

        &__title {
            font: 500 rem(23)/1.57 $setting-font-family-additional;
            letter-spacing: rem(-0.3);
        }
    }
}

@include discount-promotion-widget-promotion-header();
