{% extends template('page-layout-wishlist', 'WishlistPage') %}

{% define data = {
    wishlists: _view.wishlistCollection.wishlists,
    wishlistForm: _view.wishlistForm
} %}

{% block customerContent %}
    <div class="box">
        <div class="page-layout-customer__box grid grid--justify grid--middle">
            <h5 class="customer-account__subtitle col">{{ 'customer.account.wishlist.overview.title' | trans }}</h5>
        </div>

        {% if data.wishlists is empty %}
            <div class="text-center">
                <h6>{{ 'customer.account.wishlist.overview.empty' | trans }}</h6>
            </div>
        {% else %}
            {% include molecule('wishlist-overview-table', 'WishlistPage') with {
                data: {
                    wishlists: data.wishlists,
                    wishlistForm: data.wishlistForm
                }
            } only %}
        {% endif %}
    </div>
{% endblock %}
