{% extends model('component') %}

{% define config = {
    name: 'cart-quantity-input'
} %}

{% define data = {
    cartItem: required,
    readOnly: false
} %}

{% block body %}
    <form method="POST" action="{{ path('cart/change/quantity', {'sku': data.cartItem.sku }) }}">
        {% include molecule('product-quantity-input') with {
            data: {
                maxQuantity: data.cartItem.maxQuantity,
                value: data.cartItem.quantity,
                readOnly: data.readOnly
            }
        } only %}

        <input type="hidden" value="{{ data.cartItem.groupKey }}" name="groupKey" />
    </form>
{% endblock %}
