.my-first-component {
    &__name {
        display: block;
    }

    &__description {
        display: block;
        color: $setting-color-dark;
    }

    &__counter {
        color: $setting-color-alt;
    }

    &--big {
        @include helper-font-size(big);
    }
}
