@include shop-ui-money-price {
    $name: '.money-price';

    &__amount {
        font-size: inherit;

        &--original {
            font-size: rem(14);
        }
    }

    &--product {
        @include helper-breakpoint-media-min($md-min) {
            text-align: right;
        }
    }
}
