{% extends molecule('money-price', '@SprykerShop:ShopUi') %}

{% block defaultPriceInner %}
    {% set defaultPriceJsName = data.parentJsName ? data.parentJsName ~ '__default-price' %}

    <span class="{{ config.name }}__amount {{ defaultPriceJsName }}">
        {{- data.amount | money(true, data.currencyIsoCode) -}}
    </span>
{% endblock %}
