{% extends molecule('money-price', '@SprykerShop:ShopUi') %}

{% block body %}
    {% block defaultPriceInner %}
        {% set defaultPriceJsName = data.parentJsName ? data.parentJsName ~ '__default-price' %}

        <span class="{{ config.name }}__amount">
            <span class="{{ defaultPriceJsName }}">
                {{- data.amount | money(true, data.currencyIsoCode) -}}
            </span>
        </span>
    {% endblock %}

    {% block originalPrice %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
