@include shop-ui-money-price($name: '.money-price') {
    display: flex;
    flex-direction: column-reverse;

    &__amount {
        font-size: inherit;

        &--original {
            font-size: rem(14);
        }
    }

    &--align-right {
        @include helper-breakpoint-media-min($md-min) {
            text-align: right;
        }
    }

    &--bold {
        font-weight: fw(bold);
    }

    &--medium-size {
        font-size: rem(17);
    }
}
