$color-selector-size: 16;
$selector-border-size: 2;

@mixin product-group-widget-color-selector($name: '.color-selector') {
    #{$name} {
        cursor: default;
        position: relative;
        z-index: $setting-zi-color-selector;

        &__item {
            display: inline-block;
            width: rem($color-selector-size);
            height: rem($color-selector-size);
            border-radius: 100%;
            vertical-align: middle;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: rem($color-selector-size - 2);
                height: rem($color-selector-size - 2);
                border: rem($selector-border-size) solid $setting-color-white;
                border-radius: 100%;
                visibility: hidden;
            }

            &::after {
                content: '';
                position: absolute;
                left: rem(-1);
                top: rem(-1);
                width: rem($color-selector-size + 2);
                height: rem($color-selector-size + 2);
                border-radius: 100%;
                border: rem($selector-border-size + 1) solid $setting-color-white;
            }

            &:not(:last-child) {
                margin-right: rem(4);
            }

            &:hover,
            &--active {
                &::after {
                    visibility: hidden;
                }

                &::before {
                    visibility: visible;
                }
            }

            &:hover #{$name}__tooltip {
                transform: scale(1);
            }
        }

        &__tooltip {
            @include helper-effect-transition(all);
            transform: scale(0);
            transform-origin: bottom;
            position: absolute;
            top: rem(-43);
            left: rem(-15);
            background: $setting-color-black;
            color: $setting-color-white;
            font: fw(light) rem(16) $setting-font-family;
            padding: rem(5) rem(11) rem(7) rem(10);
            white-space: nowrap;
            border-radius: rem(2);

            &::before {
                content: '';
                position: absolute;
                left: rem(17);
                bottom: rem(-4);
                border-radius: rem(2);
                background: $setting-color-black;
                width: rem(10);
                height: rem(10);
                transform: rotate(45deg);
            }
        }

        @content;
    }
}

@include product-group-widget-color-selector();
