@mixin shop-ui-toggler-item($name: '.toggler-item') {
    #{$name} {
        &__title {
            @include helper-effect-transition(opacity);
            text-transform: uppercase;
            font: fw(bold) rem(13) $setting-font-family-additional;
            letter-spacing: rem(2.6);
            padding: rem(15) rem(20) rem(15) 0;
            position: relative;
            opacity: 1;

            &:not(&--read-only) {
                .no-touch &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }

                &::before,
                &::after {
                    content: '';
                    background: $setting-color-dark;
                    position: absolute;
                    top: 50%;
                }

                &::before {
                    width: rem(12);
                    height: rem(2);
                    right: 0;
                    margin-top: rem(-1);
                }

                &::after {
                    width: rem(2);
                    height: rem(12);
                    right: rem(5);
                    margin-top: rem(-6);
                }

                &.active {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &__content {
            padding-top: rem(25);
            padding-bottom: rem(15);

            &--option {
                padding-top: rem(5);
                padding-bottom: rem(40);
            }
        }

        &--with-top-border {
            border-top: rem(1) dotted $setting-color-lightest;
        }

        @content;
    }
}

@include shop-ui-toggler-item();
