@mixin shop-ui-toggler-item($name: '.toggler-item') {
    #{$name} {
        &__title {
            @include helper-effect-transition(opacity);
            padding: rem(15) rem(20) rem(15) 0;
            position: relative;
            opacity: 1;
            font-size: rem(13);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(14);
            }

            &:not(&--read-only) {
                .no-touch &:hover {
                    cursor: pointer;
                    opacity: 0.5;
                }

                &::before,
                &::after {
                    content: '';
                    background: $setting-color-black;
                    position: absolute;
                    top: 50%;
                }

                &::before {
                    width: rem(12);
                    height: rem(2);
                    right: 0;
                    margin-top: rem(-1);
                }

                &::after {
                    width: rem(2);
                    height: rem(12);
                    right: rem(5);
                    margin-top: rem(-6);
                }

                &#{$name}__title--active {
                    &::after {
                        display: none;
                    }
                }
            }

            &--bundle {
                padding-left: rem(11);

                &:not(#{$name}__title--read-only) {
                    &::before,
                    &::after {
                        transform: translateX(rem(-11));
                    }
                }
            }

            &--bundle-note {
                padding: 0 rem(20) 0 0;
                font: fw(light) map-get($setting-font-size, small) $setting-font-family;
                color: $setting-color-text;
                letter-spacing: 0;

                @include helper-breakpoint-media-min($xxl-min) {
                    font-size: $setting-font-size-base;
                }
            }

            &--mobile {
                &:hover,
                .no-touch &:not(#{$name}__title--read-only):hover {
                    cursor: default;
                    opacity: 1;
                }

                @include helper-breakpoint-media-min($md-min) {
                    padding-top: 0;
                    padding-right: 0;
                }

                &::before,
                &::after {
                    @include helper-breakpoint-media-min($md-min) {
                        display: none;
                    }
                }
            }

            &--desktop-border-bottom {
                @include helper-breakpoint-media-min($md-min) {
                    border-bottom: rem(1) dotted $setting-color-gray-3;
                    padding-bottom: rem(14);
                    margin-bottom: rem(16);
                }
            }
        }

        &__content {
            padding-top: rem(25);
            padding-bottom: rem(15);

            &--mobile {
                padding-top: 0;
                padding-bottom: rem(5);
            }

            &--option {
                padding-top: rem(5);
                padding-bottom: rem(40);
            }

            &--bundle {
                padding-left: rem(11);
                padding-right: rem(11);
            }

            &--bundle-note {
                padding: rem(15) 0 0;
            }

            &--filter {
                padding-top: 0;
                padding-bottom: rem(14);
            }

            &--flex {
                display: flex;
            }
        }

        &--with-top-border {
            border-top: rem(1) dotted $setting-color-gray-3;
        }

        &--with-bottom-border {
            border-bottom: rem(1) dotted $setting-color-gray-3;
        }

        &--mobile {
            border-top: rem(1) dotted $setting-color-gray-3;

            @include helper-breakpoint-media-min($md-min) {
                border-top: none;
            }
        }

        @content;
    }
}

@include shop-ui-toggler-item();
