@mixin product-detail-page-configurator($name: '.product-configurator') {
    #{$name} {

        .product-name {
            font: bold rem(38)/1.13 $setting-font-family-additional;
            color: $setting-color-darkest-1;
            margin-bottom: rem(7);
            @include helper-breakpoint-media-max($lg-max) {
                font: bold rem(30)/1.27 $setting-font-family-additional;
                margin-bottom: rem(12);
            }
        }

        .product-details__price {
            text-align: right;
            p {
                margin: 0;
            }
            .price {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                &__amount {
                    color: $setting-color-darkest-1;
                    font: 400 rem(22)/rem(28) $setting-font-family-additional;
                    @include helper-breakpoint-media-max($lg-max) {
                        font: 400 rem(20)/rem(25) $setting-font-family-additional;
                    }
                }
                &__amount--original {
                    padding: 0;
                    color: $setting-color-lightest-1;
                    font-size: rem(15);
                    line-height: rem(19);
                }
            }
        }

        .pdp-price-review {
            margin-bottom: rem(29);
        }

        .color-selector,
        .color-selector-pdp {
            &__color {
                width: rem(24);
                height: rem(24);
                &::before {
                    width: rem(26);
                    height: rem(26);
                    border-width: rem(5);
                }
                &:hover,
                &--active {
                    &::before {
                        width: rem(22);
                        height: rem(22);
                        border-width: rem(3);
                    }
                }
            }
        }

        .add-to-cart {
            border-top: dotted rem(1) $setting-color-lightest-1;
            padding: rem(40) 0 rem(15);
            button {
                font: 500 rem(16) $setting-font-family-additional;
                padding: rem(18);
            }
        }

        .wishlist-selector {
            padding: rem(15) 0 rem(70);
            .wishlist-input {
                padding-right: rem(10);
                &:empty {
                    display: none;
                }
            }
            button {
                line-height: rem(16);
            }
        }

        .bundle-list-options__wrap {
            padding-bottom: rem(18);
        }

        .bundle-list-options__item {
            padding-right: rem(8);
            margin-bottom: rem(20);
            line-height: 1.38;
            font-weight: normal;
            &:nth-child(2n) {
                padding-right: 0;
                padding-left: rem(8);
            }
        }

        @content;
    }

    .product-detail {
        border-bottom: dotted rem(1) $setting-color-lightest-1;
    }

    .pdp-option {
        border-top: dotted rem(1) $setting-color-lightest-1;
        &__title {
            font: bold rem(13)/rem(16) $setting-font-family-additional;
            color: $setting-color-darkest-1;
            letter-spacing: rem(2.6);
            text-transform: uppercase;
            padding: rem(17) 0;
            position: relative;
            &.js-toggle-pdp-options {
                cursor: pointer;
                transition: opacity 0.5s;
                &:hover {
                    opacity: 0.5;
                }
                &::before {
                    content: '';
                    width: rem(12);
                    height: rem(2);
                    background: $setting-color-darkest-1;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: rem(-1);
                }
                &::after {
                    content: '';
                    width: rem(2);
                    height: rem(12);
                    background: $setting-color-darkest-1;
                    position: absolute;
                    top: 50%;
                    right: rem(5);
                    margin-top: rem(-6);
                }
                &.active::after {
                    display: none;
                }
            }
            @include helper-breakpoint-media-max($lg-max) {
                font-size: rem(12);
                letter-spacing: rem(2.4);
            }
        }
        &__wrapper {
            padding-bottom: rem(30);
            line-height: rem(22);
            font-weight: 300;
            .text-alert {
                margin: 0;
            }
        }
        &__sku {
            padding-top: rem(22);
        }
        &__detail {
            padding-bottom: rem(20);
            font: 300 rem(16)/rem(22) $setting-font-family;
        }
        &__detail-name {
            font-weight: 700;
        }
        &__reset {
            margin-left: rem(15);
            .icon {
                width: rem(12);
                height: rem(12);
            }
        }
        .quantity-counter__container {
            padding: 0;
        }
    }
}

@include product-detail-page-configurator();
