
@mixin shop-ui-header($name: '.header') {
    #{$name} {
        position: relative;
        //background-color: helper-color-light($color-main);
        background-color: white;
        margin-bottom: 1rem;
        z-index: $setting-zi-header;
        padding-top: 10px;
        border-bottom: 1px solid gray;

        &__row {
            padding: .5rem .5rem;
        }

        &__navigation-top {
            z-index: $setting-zi-header + 3;
        }

        &__search-form {
            z-index: $setting-zi-header + 2;
        }

        &__navigation-main {
            z-index: $setting-zi-header + 1;
        }

        @content;
    }
}

@include shop-ui-header();

