{% extends model('component') %}

{% define config = {
    name: 'product-detail',
    tag: 'section'
} %}

{% define data = {
    description: '',
    attributes: [],
    sku: '',
    index: ''
} %}

{% block body %}
    {% embed molecule('toggler-item') with {
        class: config.name ~ '__col',
        modifiers: modifiers | merge(['mobile', 'filter', 'desktop-border-bottom']),
        data: {
            title: 'product.attribute.description' | trans,
            triggerClass: config.jsName ~ '__trigger-description' ~ (data.index is not empty ? '-' ~ data.index : ''),
            targetClass: config.jsName ~ '__target-description' ~ (data.index is not empty ? '-' ~ data.index : ''),
            hiddenClass: 'is-hidden-sm-only',
        },
        embed: {
            description: data.description,
            sku: data.sku
        }
    } only %}
        {% block contentText %}
            {% if embed.description is not empty %}
                {{ embed.description }}
            {% endif %}
            <div class="spacing-top spacing-top--bigger">{{ 'product.attribute.sku' | trans }}: {{ embed.sku }}</div>
        {% endblock %}
    {% endembed %}

    {% embed molecule('toggler-item') with {
        class: config.name ~ '__col',
        modifiers: modifiers | merge(['mobile', 'filter', 'desktop-border-bottom']),
        data: {
            title: 'page.product.details' | trans,
            triggerClass: config.jsName ~ '__trigger-details' ~ (data.index is not empty ? '-' ~ data.index : ''),
            targetClass: config.jsName ~ '__target-details' ~ (data.index is not empty ? '-' ~ data.index : ''),
            hiddenClass: 'is-hidden-sm-only',
        },
        embed: {
            attributes: data.attributes,
            sku: data.sku
        }
    } only %}
        {% block contentText %}
            {% include molecule('product-detail-option', 'ProductDetailPage') with {
                data: {
                    attributes: embed.attributes
                }
            } only %}
        {% endblock %}
    {% endembed %}
{% endblock %}
