{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    {% if spyCmsBlockPlaceholder('title') %}
        <h5>{{ spyCmsBlockPlaceholder('title') | raw }}</h5>
    {% endif %}
    {{ spyCmsBlockPlaceholder('description') | raw }}

{% endblock %}

