@mixin shop-ui-navigation-multilevel($name: '.navigation-multilevel') {
    #{$name} {
        padding: .8rem 0;
        .menu {
            li, a {
                text-transform: capitalize;
                white-space: nowrap;
                color: $setting-color-black;
                &:hover {
                    text-decoration: unset;
                    color: rgba(0,0,0,.5);
                }

            }
            &--top-level {

                &>li, &>li>a {
                    text-transform: uppercase;
                }
                &>li {
                    margin: 0 .5rem;
                }

            }
        }

        @media only screen and (max-width: 769px) {
            position: relative;

            .menu {
                &__item {
                    &--has-children-dropdown {
                        .menu {
                            display: none;
                        }
                    }
                }
                &--scrollable {
                    margin: 0 15px;
                    overflow-x: auto;
                    overflow-y: hidden;
                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }
            &::after, &::before {
                content: '';
                display: block;
                width: 12%;
                height: 100%;
                position: absolute;
                top: 0;
                z-index: 200;
            }

            &::after {
                right: 0;
                box-shadow: -50px 0 60px -10px white inset;
            }
            &::before {
                left: 0;
                box-shadow: 50px 0 60px -10px white inset;
            }
        }

    }
}

@include shop-ui-navigation-multilevel();
