{% extends template('page-layout-main') %}

{% define data = {
    forms: {
        register: _view.registerForm,
        login: _view.loginForm,
        isLogin: _view.registerForm.vars.value == null
    }
} %}

{% block pageInfo %}{% endblock %}

{% block content %}
    <div class="customer-account customer-account--login-wrap">
        <div class="customer-account__form-width">
            <ul class="list-switches register-type">
                <li class="list-switches__item">
                    {% include molecule('toggler-radio') with {
                        data: {
                            label: 'checkout.customer.auth_as_user' | trans
                        },
                        attributes: {
                            id: 'register',
                            checked: not data.forms.isLogin,
                            name: 'accountLoginSwitcher',
                            'target-selector': '.js-login__register',
                            'class-to-toggle': 'is-hidden'
                        },
                        class: 'toggler-radio--with-bg'
                    } only %}
                </li>
                <li class="list-switches__item">
                    {% include molecule('toggler-radio') with {
                        data: {
                            label: 'checkout.customer.auth_as_login' | trans
                        },
                        attributes: {
                            id: 'login',
                            checked: data.forms.isLogin,
                            name: 'accountLoginSwitcher',
                            'target-selector': '.js-login__login',
                            'class-to-toggle': 'is-hidden'
                        },
                        class: 'toggler-radio--with-bg'
                    } only %}
                </li>
            </ul>
            <div class="js-login__register {{ data.forms.isLogin ? ' is-hidden' : '' }}">
                {% include molecule('form') with {
                    class: '',
                    data: {
                        title: 'checkout.customer.auth_as_user' | trans,
                        form: data.forms.register,
                        layout: {
                            salutation: 'col col--sm-12 col--md-2',
                            first_name: 'col col--sm-12 col--md-5',
                            last_name: 'col col--sm-12 col--md-5',
                            password: 'col col--sm-12 col--md-6'
                        },
                        options: {
                            action: url('register')
                        },
                        submit: {
                            enable: true,
                            text: 'checkout.customer.auth_as_user' | trans,
                            class: 'button button--black button--big button--expand'
                        }
                    },
                    qa: 'register-form'
                } only %}
            </div>

            <div class="js-login__login {{ data.forms.isLogin ? '' : ' is-hidden' }}">
                {% include molecule('form') with {
                    class: '',
                    data: {
                        title: 'checkout.customer.auth_as_login' | trans,
                        form: data.forms.login,
                        layout: {
                            email: 'col col--sm-12 col--md-6',
                            password: 'col col--sm-12 col--md-6'
                        },
                        submit: {
                            enable: true,
                            text: 'forms.submit.login' | trans,
                            class: 'button button--black button--big button--expand'
                        },
                        cancel: {
                            enable: true,
                            url: url('password/forgotten'),
                            text: 'forms.forgot-password' | trans~'?',
                            icon: null,
                            class: 'forgot-password-link',
                            qa: 'customer-forgot-password-link'
                        }
                    }
                } only %}
            </div>
        </div>
    </div>
{% endblock %}
