@mixin shop-ui-navigation-top ($name: '.navigation-top'){
    #{$name} {
        .menu {
            &__item {
                margin: 0;
                padding: .8rem;
            }

        }
    }
}
