@mixin shop-ui-navigation-top ($name: '.navigation-top'){
    #{$name} {
        .menu {
            &__item {
                margin: 0;
                padding: .8rem;
            }
            .user-link {
              position: relative;
              width: 24px;
              height: 24px;
              background: url("/assets/images/menu-profile-default.png") center no-repeat;
              background-size: contain;
              &.is-active {
                background: url("/assets/images/menu-profile-active.png") center no-repeat;
                background-size: contain;

              }
              @include helper-breakpoint-media-max($md-max) {
                background: none;
                width: unset;
                height: unset;
              }
            }

        }
    }
}
