@mixin sales-return-page-return-list-title($name: '.return-list-title') {
    #{$name} {
        border-bottom: rem(1) dotted $setting-color-gray-3;
        padding: rem(15) 0;
        margin: rem(15) 0;

        @content;
    }
}

@include sales-return-page-return-list-title();
