{% extends molecule('selected-product-list', '@SprykerShop:ConfigurableBundlePage') %}

{% block header %}
    <div class="grid grid--baseline spacing-bottom spacing-right spacing-right--big">
        {% block headerInner %}
            {% block title %}
                <h4 class="col spacing-right spacing-right--bigger">{{ data.configurableBundleTemplateStorage.slots[idSlot].name | trans }}</h4>
            {% endblock %}

            {% block form %}
                <span class="col">
                    {% block formInner %}
                        {% embed molecule('configurator-state-form', 'ConfigurableBundlePage') with {
                            data: {
                                form: data.form.createView,
                                submitButtonText: 'configurable_bundle_page.edit' | trans,
                                action: path(
                                    'configurable-bundle/configurator/slots', {
                                        'idConfigurableBundleTemplate': data.configurableBundleTemplateStorage.idConfigurableBundleTemplate,
                                        'idConfigurableBundleTemplateSlot': data.configurableBundleTemplateStorage.slots[idSlot].idConfigurableBundleTemplateSlot,
                                    }
                                ),
                            },
                        } only %}
                            {% block action %}
                                {% set buttonModifiers = buttonModifiers | merge(['link']) %}

                                {{ parent() }}
                            {% endblock %}
                        {% endembed %}
                    {% endblock %}
                </span>
            {% endblock %}
        {% endblock %}
    </div>
{% endblock %}

{% block product %}
    {% set spacingBottomClass = not loop.last ? 'spacing-bottom spacing-bottom--biggest' %}

    <div class="{{ spacingBottomClass }}">{{ parent() }}</div>
{% endblock %}
