@mixin product-detail-page-bundle($name: '.bundle-list') {
    #{$name} {

        & + .pdp-review {

            .product-slider-title {
                margin-top: rem(45);
            }
        }

        &__item {
            @include helper-breakpoint-media-min($md-min) {
                max-width: 25%;
            }

            & + #{$name}__item {
                display: none;
            }

            .slick-slide & {
                max-width: none;
            }
        }

        .product-slider-title {
            padding-right: 0;
            margin-top: rem(128);
        }

        .slick-track {
            margin-left: 0;
        }

        .product-detail {
            margin-top: rem(16);
        }

        .pdp-option {
            padding: 0 rem(11);
        }
    }

    .bundle-quantity {
        color: $setting-color-gray-light;
        padding-left: rem(4);
    }
}

@include product-detail-page-bundle();

