{% extends model('component') %}

{% define config = {
    name: 'product-bundle'
} %}

{% define data = {
    bundleItems: required,
} %}


{% block body %}
    {% include molecule('product-slider-title') with {
        data: {
            title: 'bundle.title' | trans
        }
    } only %}

    {% embed molecule('slick-carousel') with {
        modifiers: ['align-left'],
        data: {
            slides: data.bundleItems
        },
        attributes: {
            'data-json': '{
                "slidesToShow": 4,
                "dots": false,
                "infinite": false,
                "responsive": [{
                        "breakpoint": 820,
                        "settings": {
                            "slidesToShow": 3
                        }
                    },
                    {
                        "breakpoint": 570,
                        "settings": {
                            "slidesToShow": 2
                        }
                    },
                    {
                        "breakpoint": 480,
                        "settings": {
                            "slidesToShow": 1
                        }
                    }
                ]}'
        }
    } only %}
        {% block slides %}
            {% for slide in data.slides %}
                {% embed molecule('product-item') with {
                    modifiers: ['slider'],
                    data: {
                        product: slide,
                    },
                    embed: {
                        index: loop.index,
                    },
                } only %}
                    {% block labels %}{% endblock %}
                    {% block colors %}{% endblock %}
                    {% block name %}
                        <div class="col col--sm-12">
                            {{ data.name }}
                            <span class="{{ config.name }}__quantity"> ·&nbsp; {{ data.product.quantity }}x</span>
                        </div>
                    {% endblock %}
                    {% block price %}{% endblock %}
                    {% block content %}
                        {{ parent() }}

                        {% include molecule('product-detail', 'ProductDetailPage') with {
                            class: 'spacing-top spacing-top--big',
                            modifiers: ['bundle', 'filter', 'with-top-border'],
                            data: {
                                description: data.product.description,
                                attributes: data.product.attributes,
                                sku: data.sku,
                                index: embed.index,
                                isBundle: true,
                                hiddenClass: 'is-hidden',
                            },
                        } only %}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
