{% extends template('widget') %}

{% define data = {
    product: product | default,
    products: products | default([])
} %}


{% block body %}
    <div class="grid grid--justify">
        {% for availableProduct in data.products if availableProduct.available %}
            {{ widget('ProductGroupWidgetPlugin', availableProduct) }}
        {% endfor %}
    </div>

{% endblock %}
