@mixin shop-ui-cms-page($name: '.cms-page') {
    #{$name} {
        &__title {
            border-bottom: rem(1) dotted $setting-color-gray-3;
            padding: rem(25) 0;
            margin: 0 rem(16) rem(25);

            h2 {
                @include helper-reduced-font-size(1);
                @include helper-font-reduced-letter-spacing(1);
                @include helper-font-line-height(1);
                font-weight: fw(medium);
                text-align: center;

                @include helper-breakpoint-media-min($lg-min) {
                    @include helper-font-size(1);
                    @include helper-font-letter-spacing(1);
                }
            }
        }

        &__content {
            @include helper-ui-clearfix;
            margin: 0 rem(16) rem(50);

            h2,
            h3 {
                text-align: center;
                padding: rem(15) 0;
                margin: rem(10) 0;
            }
        }

        &__notification {
            color: $setting-color-alt;
            font-size: rem(15);
        }
    }
}

@include shop-ui-cms-page();
