@mixin shop-ui-cms-page($name: '.cms-page') {
    #{$name} {
        &__title {
            border-top: 1px dotted $setting-color-lightest;
            padding: 25px 0;
            margin: 20px 0;
            h2 {
                text-align: center;
            }
        }
        &__content {
            margin-bottom: 50px;
            h2,
            h3 {
                text-align: center;
                padding: 15px 0;
                margin: 10px 0;
            }
        }
        &__notification {
            color: $setting-color-alt;
            font-size: 15px;
        }
    }
}

@include shop-ui-cms-page();
