@mixin shop-ui-node($name: '.node') {
    #{$name} {
        &__link {
            &--footer {
                color: rgba($setting-color-text, 0.5);

                @include helper-breakpoint-media-min($md-min) {
                    color: $setting-color-text;
                }
            }
        }

        &--footer {
            padding-bottom: rem(10);
            font-size: rem(15);
        }

        @content;
    }
}

@include shop-ui-node();
