{% extends model('component') %}

{% define config = {
    name: 'review-average-display',
    tag: 'section'
} %}

{% define data = {
    summary: required,
    ratingMaxValue: required
} %}

{% block body %}
    <div class="review-average__label">Average Rating</div>

    {% include molecule('rating-selector', 'ProductReviewWidget') with {
        data: {
            value: data.summary.averageRating,
            maxValue: data.ratingMaxValue,
            useHalfSteps: true,
            reviewCount: data.summary.totalReview
        },
        attributes: {
            readonly: true
        }
    } only %}
{% endblock %}
