@mixin shop-ui-product-item-variant-selector($name: '.product-item-variant-selector') {
    #{$name} {
        &__label {
            display: block;
        }

        &__title {
            font: fw(regular) rem(13)/rem(17) $setting-font-family-additional;
        }
    }
}

@include shop-ui-product-item-variant-selector();
