{% extends model('component') %}

{% define config = {
    name: 'image-gallery-thumbnail',
} %}

{% define data = {
    images: [],
} %}

{% block body %}
    {% for i, image in data.images %}
        <div class="{{ config.name }}__item {% if loop.first %}{{config.name}}__item--active{% endif %} {{ config.jsName }}__item"  data-thumbnail-index="{{ i }}">
            {% if image.externalUrlLarge is not empty %}
                {% include molecule('lazy-image') with {
                    class: config.name ~ '__img',
                    modifiers: ['full-height'],
                    data: {
                        imageSrc: image.externalUrlLarge,
                        imageTitle: 'page.product.details.slider_thumbnail' | trans,
                    },
                } only %}
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
