@mixin product-image-widget-image-gallery-thumbnail($name: '.image-gallery-thumbnail'){
    #{$name}{
        position: absolute;
        top: 50%;
        left: rem(30);
        transform: translateY(-50%);
        z-index: $setting-zi-element + 1;
        width: rem(36);
        max-height: rem(315);
        overflow: hidden;

        &__item {
            display: flex !important;
            align-items: center;
            justify-content: center;
            width: rem(36);
            height: rem(36);
            padding: rem(1);
            border: solid 1px $setting-color-gray-light;
            background: $setting-color-white;
            position: relative;
            margin: rem(8) 0;
            cursor: pointer;

            &--active {
                padding: 0;
                border: solid 2px $setting-color-white;
                @include helper-breakpoint-media-max($md-max) {
                    border: none;
                }

                #{$name}__img {
                    opacity: 1;
                }
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: $setting-color-alpha-1;
                z-index: $setting-zi-element-floating;
            }

            @include helper-breakpoint-media-max($md-max) {
                height: rem(280);
                background-color: $setting-color-white;
                margin: 0;
                cursor: default;
                border: none;
            }
        }

        &__img {
            opacity: 0.25;

            @include helper-breakpoint-media-max($md-max) {
                max-height: rem(250);
                opacity: 1;
            }
        }

        &__prev,
        &__next {
            padding: 0 0 rem(10);
            text-align: center;
            cursor: pointer;
            display: block;
        }

        &__prev {
            padding: rem(10) 0 0;
        }

        .slick-slide {
            border: none;
            height: rem(52);
        }

        .slick-disabled {
            cursor: default;
            pointer-events: none;

            .icon {
                color: $setting-color-lighter;
            }
        }

        @include helper-breakpoint-media-max($xl-max) {
            left: rem(10);
        }

        @include helper-breakpoint-media-max($md-max) {
            position: relative;
            top: 0;
            left: 0;
            transform: translateY(0);
            width: 100%;
            max-height: none;
            overflow: visible;

            &:not(.slick-initialized) {
                display: flex !important;
            }

            .slick-slide {
                border: none;
                height: auto;
            }

            .slick-dots {
                position: absolute;
                bottom: rem(-32);
                width: 100%;
                display: flex;
                justify-content: center;

                li {
                    margin: 0 rem(4);
                    font-size: 0;
                    border: solid 1px transparent;
                    padding: rem(1);
                    border-radius: 100%;
                }

                button {
                    width: rem(4);
                    height: rem(4);
                    font: 0/0 $setting-font-family;
                    border-radius: 100%;
                    background: $setting-color-gray-light;
                }

                .slick-active {
                    border-color: $setting-color-alt;

                    button {
                        background: transparent;
                    }
                }
            }
        }
    }
}

@include product-image-widget-image-gallery-thumbnail();
