@mixin shop-ui-customer-form($name: '.form') {
    .customer-account {

        #{$name} {
            &__container {
                margin-left: rem(-8);
                margin-right: rem(-8);
            }
            &__actions {
                padding: rem(8) rem(16);
            }
        }
    }
}

@include shop-ui-customer-form();
