@mixin shop-ui-customer-form($name: '.form') {
  .customer-account{

    #{$name} {
      &__container {
        margin-left: -0.5rem;
        margin-right: -0.5rem;
      }
      &__actions {
        padding: 0.5rem 1rem;
      }
    }

  }
}

@include shop-ui-customer-form();