@mixin checkout-page-success($name: '.success-page') {
    #{$name} {
        padding: 0 rem(16) rem(60);

        @include helper-breakpoint-media-min($md-min) {
            padding: 0 0 rem(60);
        }

        &__title {
            margin-bottom: rem(40);
            padding-bottom: rem(8);
            font: 500 rem(36) $setting-font-family-additional;
            border-bottom: dotted rem(1) $setting-color-lightest;

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(48);
                font-size: rem(47);
                letter-spacing: rem(-0.5);
            }
        }

        &__text {
            font: 300 rem(17)/1.41 $setting-font-family;
            margin-bottom: rem(40);

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(21);
                line-height: 1.3;
            }
        }

        @content;
    }
}

@include checkout-page-success();
