$color-selector-size: rem(16);

@mixin color-group-color-selector($name: '.color-selector') {
    #{$name} {
        cursor: default;

        &__color {
            display: inline-block;
            width: $color-selector-size;
            height: $color-selector-size;
            border-radius: 100%;
            vertical-align: middle;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: rem(18);
                height: rem(18);
                border: solid rem(4) $setting-color-white;
                border-radius: 100%;
            }

            &:not(:last-child) {
                margin-right: rem(4);
            }

            &:hover,
            &--active {
                &::before {
                    width: rem(14);
                    height: rem(14);
                    border-width: rem(2);
                }
            }

            &:hover #{$name}__tooltip {
                transform: scale(1);
            }
        }

        &__tooltip {
            @include helper-effect-transition(all);
            transform: scale(0);
            transform-origin: bottom;
            position: absolute;
            top: rem(-43);
            left: rem(-15);
            background: $setting-color-darkest;
            color: $setting-color-white;
            font: 300 rem(16) $setting-font-family;
            padding: rem(5) rem(11) rem(7) rem(10);
            white-space: nowrap;
            border-radius: rem(2);

            &::before {
                content: '';
                position: absolute;
                left: rem(17);
                bottom: rem(-4);
                border-radius: rem(2);
                background: $setting-color-darkest;
                width: rem(10);
                height: rem(10);
                transform: rotate(45deg);
            }
        }
    }
}

@include color-group-color-selector();
