@mixin product-image-widget-image-gallery($name: '.image-gallery') {
    #{$name} {
        position: relative;

        &__container {
            height: rem(650);
            position: relative;
            z-index: $setting-zi-element;
            background: $setting-color-white;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,0.05);
                z-index: $setting-zi-element + 1;
            }

            @include helper-breakpoint-media-max($md-max) {
                display: none;
                height: rem(280);
            }
        }

        &__item {
            @include helper-effect-transition(opacity);
            position: absolute;
            left: 0;
            top: 0;
            padding: rem(100) rem(70);
            width: 100%;
            height: rem(650);
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0;
            z-index: $setting-zi-element - 1;

            &--active,
            &--color-active {
                opacity: 1;
            }

            @include helper-breakpoint-media-max($xl-max) {
                padding: rem(80) rem(50);
                height: rem(610);
            }

            @include helper-breakpoint-media-max($lg-max) {
                padding: rem(15) rem(30);
                height: rem(480);
            }

            @include helper-breakpoint-media-max($md-max) {
                width: 100%;
                height: rem(280);
                padding: rem(15) rem(16);
            }
        }

        &__image {
            max-width: 100%;
            max-height: 100%;

            @include helper-breakpoint-media-max($md-max) {
                max-height: rem(250);
            }
        }

        @content;

    }
}

@include product-image-widget-image-gallery();
