{% extends view('sales-order-threshold-checkout-expenses', '@SprykerShop:SalesOrderThresholdWidget') %}

{% block body %}
    {% block expenseItems %}
        {% for expense in data.expenses %}
            {{ 'sales-order-threshold.strategy.soft-minimum-threshold-fixed-fee' | trans }}
            <span class="float-right">{{ expense.sumPrice | money }}</span>
        {% endfor %}
    {% endblock %}
{% endblock %}
