{% extends template('widget') %}

{% define data = {
    expenses: _widget.expenses | default,
} %}

{% block body %}
    {% if data.expenses is not empty %}
        {% block expenseItems %}
            {% for expense in data.expenses %}
                {{ 'sales-order-threshold.strategy.soft-minimum-threshold-fixed-fee' | trans }}
                <span class="float-right">{{ expense.sumPrice | money }}</span>
            {% endfor %}
        {% endblock %}
    {% endif %}
{% endblock %}
