@mixin shop-ui-nav-arrow($name: '.nav-arrow') {
    #{$name} {
        display: none;
        @media only screen and (max-width: rem(769)) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &--left {
                left: rem(20);
            }
            &--right {
                right: rem(20);
            }
        }
    }
}

@include shop-ui-nav-arrow();
