@mixin shop-ui-nav-arrow($name: '.nav-arrow') {
    #{$name} {
        display: none;

        @include helper-breakpoint-media-min($lg-min) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
        }

        &--left {
            @include helper-breakpoint-media-min($lg-min) {
                left: rem(20);
            }
        }

        &--right {
            @include helper-breakpoint-media-min($lg-min) {
                right: rem(20);
            }
        }
    }
}

@include shop-ui-nav-arrow();
