@mixin shop-ui-nav-arrow($name: '.nav-arrow') {
    #{$name} {
        display: none;
        @media only screen and (max-width: 769px) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);

            &--left {
                left: 20px;
            }
            &--right {
                right: 20px;
            }
        }
    }
}

@include shop-ui-nav-arrow();
