{% extends molecule('customer-reorder-form', '@SprykerShop:CustomerReorderWidget') %}

{% block formActions %}
    <div class="grid grid--indent">
        <div class="col col--sm-12 col--md-6 spacing-x spacing-x--inner spacing-x--big spacing-bottom">
            <button class="button button--expand button--hollow button--large {{ config.jsName }}__trigger" disabled>
                {{ 'customer.order.reorder_selected' | trans }}
            </button>
        </div>
        <div class="col col--sm-12 col--md-6 spacing-x spacing-x--inner spacing-x--big">
            <a href="{{ path('customer/order/reorder', {'idSalesOrder': data.idSalesOrder}) }}" class="button button--expand button--large">
                {{ 'customer.order.reorder_all' | trans }}
            </a>
        </div>
    </div>
{% endblock %}
