{% extends molecule('configured-bundle-total', '@SprykerShop:ConfigurableBundlePage') %}

{% block title %}
    <h4 class="{{ config.name }}__title col col--sm-8">
        {{- 'configurable_bundle_page.configurator.summary_page_total' | trans -}}
    </h4>
{% endblock %}

{% block price %}
    {% if can('SeePricePermissionPlugin') %}
        {% include molecule('money-price') with {
            class: 'col col--sm-4 text-right',
            modifiers: ['bold', 'medium-size'],
            data: {
                amount: data.total,
            },
        } only %}
    {% else %}
        {{- 'customer.access.cannot_see_price' | trans -}}
    {% endif %}
{% endblock %}
