@include configurable-bundle-page-configured-bundle-total {
    padding: rem(35) rem(20) rem(20);
    margin: rem(38) 0 0;

    &__title {
        font: fw(bold) rem(15)/rem(17) $setting-font-family-additional;
        letter-spacing: rem(0.8);
        margin: 0;
        text-transform: uppercase;
    }
}
