@mixin product-option-widget-product-options($name: '.product-options') {
    #{$name} {
        &__item {
            margin-bottom: rem(9);
            font-size: rem(15);

            @include helper-breakpoint-media-min($lg-min) {
                margin-bottom: rem(18);
                font-size: rem(16);
            }

            &:not(:first-child) {
                border-top: rem(1) dotted $setting-color-gray-3;
                padding-top: rem(9);

                @include helper-breakpoint-media-min($lg-min) {
                    padding-top: rem(18);
                }
            }
        }

        @content;
    }
}

@include product-option-widget-product-options();
