@mixin product-set-widget ($name: '.product-set-widget') {
    #{$name} {
        margin-top: rem(32);
        margin-bottom: rem(48);
        &__title {
            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(34);
                line-height: 1.06;
                letter-spacing: rem(-0.9);
            }
            font: rem(26)/1.38 $setting-font-family-additional;
            letter-spacing: rem(-0.7);
            position: relative;
            margin-bottom: rem(24);
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: rem(1);
                background-color: $setting-color-lighter;
            }
        }
        &__title-text {
            position: relative;
            display: inline-block;
            background-color: $setting-color-bg;
            padding-right: rem(50);
        }
        &__description {
            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(48);
                font-size: rem(18);
                line-height: 1.33;
                letter-spacing: rem(-0.1);
            }
            color: $setting-color-darkest-1;
            font: 300 rem(14)/1.43 $setting-font-family;
            margin-bottom: rem(24);
            letter-spacing: rem(-0.4);
        }
        .product-set-slider--set-images {
            @include helper-breakpoint-media-min($lg-min) {
                margin-top: 0;
            }
            margin-top: rem(24);
        }
    }
}

@include product-set-widget();
