@mixin shop-ui-navigation-footer($name: '.navigation-footer') {
    #{$name} {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        @include helper-breakpoint-media-min($xl-min) {
            max-width: calc(100% - #{rem(202)});
            padding-left: 9%;
        }

        &__col {
            width: 100%;
            margin-top: rem(-1);
            border-top: solid rem(1) $setting-color-lightest-1;
            border-bottom: solid rem(1) $setting-color-lightest-1;

            @include helper-breakpoint-media-min($md-min) {
                width: auto;
                border: none;
            }

            @include helper-breakpoint-media-min($xl-min) {
                padding-right: 10%;
            }

            @include helper-breakpoint-media-min($xl-max) {
                padding-right: 15%;
            }
        }

        &__title {
            font: bold rem(13) $setting-font-family-additional;
            text-transform: uppercase;
            letter-spacing: rem(2.6);
            color: $setting-color-text;
            white-space: nowrap;
            padding: 0 0 rem(16);
            cursor: default;

            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(16) 0;
                cursor: pointer;

                &--nav {
                    position: relative;

                    &::before,
                    &::after {
                        position: absolute;
                        top: 50%;
                        content: '';
                        background: $setting-color-dark;
                    }

                    &::before {
                        width: rem(10);
                        height: rem(2);
                        right: 0;
                    }

                    &::after {
                        width: rem(2);
                        height: rem(10);
                        right: rem(4);
                        margin-top: rem(-5);
                    }

                    &.active {
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        &__main {
            &--hidden {
                @include helper-breakpoint-media-max($sm-max) {
                    display: none;
                }
            }

            li {
                padding-bottom: rem(10);
                font-size: rem(15);

                @include helper-breakpoint-media-max($sm-max) {
                    a {
                        color: rgba($setting-color-text, 0.5);
                    }
                }
            }
        }
        @content;
    }
}

@include shop-ui-navigation-footer();
