@mixin shop-ui-nav-overlay($name: '.nav-overlay') {
    #{$name} {
        position: absolute;
        right: calc(1.8rem - 40px);
        top: -18px;
        z-index: -1;
        height: 0;

        &.is-active {
            .overlay-shadow {
                opacity: 0.4;
                visibility: visible;
                transition: opacity 400ms ease-in-out, visibility 0ms ease-in-out;
            }

            #{$name}__container {
                opacity: 1;
                transform: scaleY(1);
                visibility: visible;
            }
        }

        &__title {
            font: bold 36px $setting-font-family-additional;
            padding-bottom: rem(10);
            border-bottom: 1px dotted $setting-color-lightest;
        }

        &__buttons {
            border-top: 1px dotted $setting-color-lightest;
            padding-top: rem(20);

            .button {
                font: 500 14px $setting-font-family-additional;
                width: calc(50% - 10px);
                padding: 0;
                line-height: 46px;
            }
        }

        &__inner-box {
            padding: rem(20) 0;
        }

        &__link {
            display: block;
            font: normal 14px $setting-font-family-additional;
            margin: rem(30) 0;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: relative;

            &:hover {
                text-decoration: none;
            }

            &::after {
                content: '';
                display: block;
                height: rem(13);
                width: rem(7);
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background: url('/assets/images/right-chevron.svg')no-repeat center / cover;
            }

            &--sm {
                font-size: 12px;
                margin: 0;
                padding-top: rem(25);
                border-top: 1px dotted $setting-color-lightest;

                &::after {
                    width: rem(6);
                    height: rem(11);
                    top: calc(50% + 12px);
                }
            }
        }

        .overlay-shadow {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $setting-color-black;
            z-index: $setting-zi-element;
            visibility: hidden;
            opacity: 0;
            transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out 400ms;
        }

        &__container {
            @include helper-effect-transition(all, 400ms);
            position: relative;
            width: rem(450);
            background: $setting-color-white;
            padding: rem(67) rem(40) rem(40);
            z-index: $setting-zi-element + 1;
            opacity: 0;
            transform: scaleY(0);
            visibility: hidden;
            transform-origin: top center;
        }

        &__item-option {
            font: normal 13px $setting-font-family-additional;
            line-height: 1.3;

            span {
                display: inline-block;
                margin-left: rem(5);
            }
        }

        &__total {
            padding: rem(10) 0;

            strong {
                text-transform: uppercase;
                font: 500 14px $setting-font-family-additional;
            }
        }

        &__empty-text {
            font: normal 15px $setting-font-family-additional;
            line-height: 1.4;
            padding: rem(30) 0;
            border-bottom: 1px dotted $setting-color-lightest;
            color: $setting-color-lighter;
        }

        .cart-item {
            &__title {
                font-size: 15px;
                margin-bottom: rem(5);
            }

            &__price {
                font-size: 15px;
            }

            &__image {
                width: rem(100);

                .thumbnail {
                    height: rem(60);
                }
            }

            &__content {
                margin-left: 0;
                padding-left: rem(20);
                width: calc(100% - 100px);
            }
        }
    }
}

@include shop-ui-nav-overlay();
