@mixin cart-page-cart-summary($name: '.cart-summary') {
    #{$name} {
        margin-top: rem(20);

        @include helper-breakpoint-media-min($lg-min) {
            margin-top: rem(56);
        }

        &__inner {
            border-top: rem(1) dotted $setting-color-gray-3;
            border-bottom: rem(1) dotted $setting-color-gray-3;
            overflow: hidden;
        }

        &__total {
            text-transform: uppercase;
            @include helper-font-weight(bold);
        }

        &__item {
            font: 400 rem(14) $setting-font-family-additional;
        }
    }
}

@include cart-page-cart-summary();
