@mixin cart-page-cart-summary($name: '.cart-summary') {
    #{$name} {

        &__total {
            text-transform: uppercase;
            font-weight: bold;
        }
        li,
        span {
            font: 400 rem(14) $setting-font-family-additional;
        }
        .shopping-cart__box {
            padding: 0;
        }
        .spacing-y {
            margin: rem(24) 0;
        }
        &__button {
            height: rem(56);
            font: 500 rem(16) $setting-font-family-additional;
            line-height: rem(56);
            padding: 0 rem(20);
            margin-top: rem(56);
        }
    }
}

@include cart-page-cart-summary();
