@mixin cart-page-cart-summary($name: '.cart-summary') {
    #{$name} {
        &--bordered {
            border-bottom: 1px dotted $setting-color-lightest;
        }

        &__total {
            text-transform: uppercase;
            @include helper-font-weight(bold);
        }

        &__item {
            font: map-get($setting-font-weight, reguilar) 14px $setting-font-family-additional;
        }

        &__button {
            font: map-get($setting-font-weight, medium) 16px $setting-font-family-additional;
            height: 56px;
            line-height: 56px;
            padding: 0 20px;
            margin-top: 56px;
        }
    }
}

@include cart-page-cart-summary();
