@mixin shop-ui-cart-toggler($name: '.cart-toggler') {
    #{$name} {
        &__title {
            cursor: pointer;
            font: 600 rem(13) $setting-font-family-additional;
            letter-spacing: rem(2.6);
            text-transform: uppercase;
            position: relative;
            &::before {
                content: '';
                width: rem(12);
                height: rem(2);
                background: $setting-color-dark;
                position: absolute;
                top: 50%;
                right: 0;
                margin-top: rem(-1);
            }
            &::after {
                content: '';
                width: rem(2);
                height: rem(12);
                background: $setting-color-dark;
                position: absolute;
                top: 50%;
                right: rem(5);
                margin-top: rem(-6);
            }
            &.active::after {
                display: none;
            }
        }
        &__content {
            padding-top: rem(25);
            padding-bottom: rem(15);
        }
    }
}

@include shop-ui-cart-toggler();
