@mixin shop-ui-card($name: '.card') {
    #{$name} {
        position: relative;

        &__container {
            position: relative;
            padding-bottom: rem(56);
        }

        &__actions-container {
            position: absolute;
            bottom: rem(8);
            left: rem(8);
            right: rem(8);
            margin: auto;
        }

        &--stretch {
            height: 100%;
        }

        @content;
    }
}

@include shop-ui-card();
