@mixin shop-ui-card($name: '.card') {
    #{$name} {
        position: relative;

        &__container {
            position: relative;
            padding-bottom: 3.5rem;
        }

        &__actions-container {
            position: absolute;
            bottom: 0.5rem;
            left: 0.5rem;
            right: 0.5rem;
            margin: auto;
        }

        &--stretch {
            height: 100%;
        }

        @content;
    }
}

@include shop-ui-card();
