@import "../select/select";

@mixin shop-ui-custom-select($name: '.custom-select') {

    @include shop-ui-select($name) {

        .select2-selection--single {
            padding: 4px 5px;
            border: none;
            background: none;
            border-radius: 0;
            height: auto;

            .select2-selection__rendered {
                color: $setting-color-darkest;
                line-height: 16px;
            }

            .select2-selection__arrow {
                display: none;
            }
        }
    }

    .select2-container--open {

        body > & {
            z-index: 1000;

            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.4;
            }
        }

        .select2-dropdown {
            border: none;
            border-radius: 0;
            background: none;
            margin: 12px 0;
            text-align: left;
        }

        .select2-dropdown--below {
            margin-top: 12px;
        }

        .select2-dropdown--above {
            margin-top: -12px;

            .select2-results {
                &::before {
                    bottom: auto;
                    top: 100%;
                    border-bottom-color: transparent;
                    border-top-color: $setting-color-bg;
                }
            }
        }
    }

    .select2-container--default {

        .select2-results {
            padding: 12px 0;
            border-radius: 4px;
            background-color: $setting-color-bg;
            box-shadow: 10px 10px 26px 0 rgba(0, 0, 0, 0.08), 0 0 30px 0 rgba(0, 0, 0, 0.08);
            width: calc(100% + 48px);
            transform: translateX(-48px);
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 100%;
                right: 23px;
                border: 6px solid transparent;
                border-bottom-color: $setting-color-bg;
            }

            & > .select2-results__options {
                max-height: 250px;
            }
        }

        .select2-results__option[aria-selected=true],
        .select2-results__option--highlighted[aria-selected] {
            background: none;
            color: #00afb4;
        }

        .select2-results__option[aria-selected=true] {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 23px;
                width: 12px;
                height: 12px;
                margin-top: -6px;
                background: url('/assets/images/icon-chosen.svg') no-repeat 0 0;
            }
        }
    }

    .select2-results__option {
        color: #222;
        font-size: 17px;
        font-weight: 300;
        line-height: 26px;
        padding: 6px 24px;
        white-space: nowrap;
    }
}

@include shop-ui-custom-select();
