@mixin shop-ui-navigation-multilevel-node($name: '.navigation-multilevel-node') {
    #{$name} {
        align-self: flex-end;
        & > a {
            color: inherit;
            vertical-align: middle;
        }

    }
}

@include shop-ui-navigation-multilevel-node();
