@mixin shop-ui-navigation-multilevel-node($name: '.navigation-multilevel-node') {
    #{$name} {
        align-self: flex-end;
        margin: 0 0.6rem;
        text-transform: uppercase;
        font: 500 rem(13) $setting-font-family-additional;
        letter-spacing: rem(2);
        white-space: nowrap;
        cursor: default;

        &:hover {
            color: $setting-color-alpha-1;
            text-decoration: none;
        }

        &__menu {
            box-shadow: 0 rem(102) rem(100) 0 $setting-color-alpha-1;
        }

        &__link {
            text-transform: uppercase;
            font: 500 rem(13) $setting-font-family-additional;
            letter-spacing: rem(2);
            white-space: nowrap;
            cursor: pointer;

            &:hover {
                color: $setting-color-alpha-3;
                text-decoration: none;
            }
        }

        &__child {
            margin: rem(8) 0;

            &:hover {
                text-decoration: none;
                color: $setting-color-text;
                cursor: default;
            }

            #{$name}__link {
                text-transform: capitalize;
                white-space: nowrap;
                color: $setting-color-text;
                font: normal rem(16)/1.5 $setting-font-family;
                letter-spacing: normal;

                &:hover {
                    text-decoration: underline;
                    color: map-get($setting-color-actions, alert);
                }
            }
        }
    }
}

@include shop-ui-navigation-multilevel-node();
