@mixin shop-ui-quote-teaser($name: '.quote-teaser'){
    #{$name} {
        position: relative;
        overflow: hidden;
        margin: 150px 0;
        height: 32rem;
        .touch & {
            background-image: url("/assets/images/viden-lnfra.jpg");
            background-size: cover;
        }
        @include helper-breakpoint-media-max($md-max) {
            height: 22rem;
        }

        video {
            width: auto;
            height: auto;
            min-width: 100%;
            min-height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            .no-touch & {
                display: block;
            }
        }
        &__container {
            height: 100%;
            padding: 0 25px;
            &:after {
                display: none;
            }
        }
        &__content {
            max-width: 750px;
        }
        &__text {
            margin-top: 35px;
            &>* {
                font-size: 16px;
                letter-spacing: 3px;
                line-height: 1.8;
                text-transform: uppercase;
                color: $setting-color-white;
                text-align: center;
                @include helper-breakpoint-media-max($sm-max) {
                    font-size: 13px;
                }
            }
        }
        &__auth {
            &>* {
                padding: 20px 0;
                font-size: 12px;
                color: $setting-color-white;
                opacity: .4;
                text-align: center;
                letter-spacing: 1.7px;
                text-transform: uppercase;
                @include helper-breakpoint-media-max($sm-max) {
                    font-size: 10px;
                }
            }
        }
    }
}
