@mixin shop-ui-cart-block($name: '.cart-block') {
    #{$name} {
        &__title {
            font: bold rem(36) $setting-font-family-additional;
            padding-bottom: rem(10);
            border-bottom: rem(1) dotted $setting-color-gray-3;
        }

        &__buttons-container {
            border-top: rem(1) dotted $setting-color-gray-3;
            padding-top: rem(20);
        }

        &__button {
            font: 500 rem(14)/rem(46) $setting-font-family-additional;
            width: calc(50% - #{rem(10)});
            padding: 0;
        }

        &__total {
            padding: rem(10) 0;
        }

        &__total-text {
            text-transform: uppercase;
            font: 500 rem(14) $setting-font-family-additional;
        }

        &__empty-text {
            font: normal rem(15)/1.4 $setting-font-family-additional;
            padding: rem(30) 0;
            border-bottom: rem(1) dotted $setting-color-gray-3;
            color: $setting-color-gray-6;
        }
        
        @content;
    }
}

@include shop-ui-cart-block();
