@mixin shop-ui-shopping-cart($name: '.shopping-cart') {
    #{$name} {
        margin-bottom: rem(180);
        @include helper-breakpoint-media-max($sm-max) {
            margin-bottom: rem(100);
        }
        &__block {
            padding-top: rem(79);
            @include helper-breakpoint-media-max($sm-max) {
                padding-top: rem(42);
            }
            &--left {
                padding-right: rem(100);
                padding-bottom: rem(150);
                border-right: rem(1) dotted $setting-color-lightest;
                @include helper-breakpoint-media-max($lg-max) {
                    padding-right: rem(50);
                }
                @include helper-breakpoint-media-max($md-max) {
                    padding-right: 0;
                    border-right: none;
                    padding-bottom: rem(8);
                }
            }
        }
        &__box {
            border-bottom: rem(1) dotted $setting-color-lightest;
            padding: rem(18) 0;
            &--empty {
                height: rem(56);
            }
            &--borderless {
                border-bottom: none;
            }
        }
        &__sidebar {
            padding-left: rem(20);
            @include helper-breakpoint-media-max($md-max) {
                padding-left: 0;
            }
            @include helper-breakpoint-media-max($sm-max) {
                padding-left: 0;
            }
        }
        &__title {
            font: 700 rem(26) $setting-font-family-additional;
            line-height: 1.38;
            letter-spacing: rem(-0.3);
            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(25);
            }
        }
        &__quantity {
            font: 400 rem(16) $setting-font-family;
            color: $setting-color-light;
        }
        &__items-container {
            padding-top: rem(38);
            margin-bottom: rem(80);
            @include helper-breakpoint-media-max($sm-max) {
                padding-top: rem(20);
                margin-bottom: rem(42);
            }
        }
    }
}

@include shop-ui-shopping-cart();
