@mixin cart-page-shopping-cart($name: '.shopping-cart') {
    #{$name} {
        &__empty {
            margin-bottom: 100px;

            @include helper-breakpoint-media-min($lg-min) {
                margin-bottom: 180px;
            }
        }

        &__block {
            padding: 42px 0 50px;

            @include helper-breakpoint-media-min($lg-min) {
                padding: 79px 0 150px;
            }

            &--left {
                @include helper-breakpoint-media-min($lg-min) {
                    padding-right: 100px;
                    border-right: 1px dotted $setting-color-lightest;
                }
            }
        }

        &__box {
            border-bottom: 1px dotted $setting-color-lightest;
            padding: 18px 0;

            &--empty {
                height: 56px;
            }

            &--borderless {
                border-bottom: none;
            }
        }

        &__sidebar {
            @include helper-breakpoint-media-min($lg-min) {
                padding-left: 20px;
            }
        }

        &__title {
            font: map-get($setting-font-weight, bold) 26px $setting-font-family-additional;
            @include helper-font-line-height(default);
            letter-spacing: -0.3px;

            @include helper-breakpoint-media-min($lg-min) {
                font-size: 25px;
            }
        }

        &__quantity {
            font: 16px $setting-font-family;
            color: $setting-color-light;
        }

        &__items-container {
            padding-top: 20px;
            margin-bottom: 42px;

            @include helper-breakpoint-media-min($lg-min) {
                padding-top: 38px;
                margin-bottom: 80px;
            }
        }

        @content;
    }
}

@include cart-page-shopping-cart();
