{% extends model('component') %}

{% define config = {
    name: 'navigation-top-mobile-item',
    tag: 'li'
} %}

{% define data = {
    url: '/',
    iconName: required,
    isButton: false,
    jsClass: ''
} %}

{% block body %}
    <div class="grid grid--middle grid--center">
        {% block button %}
            {% if data.isButton == true %}
                <button type="button" class="button button--skinless spacing spacing--inner spacing--reset {{ data.jsClass }}">
                    {% block icon %}
                        {% include atom('icon') with {
                            modifiers: ['big'],
                            data: {
                                name: data.iconName,
                            }
                        } only %}
                    {% endblock %}
                </button>
            {% else %}
                <a href="{{ data.url }}">
                    {{ block('icon') }}
                </a>
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}
