@mixin jumbotron-category($name: '.jumbotron--category') {
    @include shop-ui-jumbotron($name) {

        .jumbotron__container {
            background-color: #fff;
            background-image: none;
            height: auto;
            @include helper-breakpoint(md) {
                height: auto;
            }
            @include helper-breakpoint(xl) {
                height: auto;
            }
        }

        .grid {
            flex-direction: column;
            margin: 0 1rem;
            padding: 20px 0;
            min-height: 9rem;
            @include helper-breakpoint(md) {
                min-height: 16rem;
            }
            @include helper-breakpoint(xl) {
                min-height: 18.125rem;
            }
        }

        .jumbotron__headline {
            font-size: 3.125rem;
            font-weight: 500;
            @include helper-breakpoint-media-max($lg-max) {
                font-size: 2rem;
            }
            @include helper-breakpoint-media-max($md-max) {
                font-size: 1.5rem;
            }
        }

        .jumbotron__sub-headline {
            font: 500 13px $setting-font-family;
            text-transform: uppercase;
            letter-spacing: 2.6px;
            color: $setting-color-darker;
        }

        &-no-img {
            .grid {
                border-bottom: solid 1px $setting-color-lightest;
                min-height: 7.56rem;
                @include helper-breakpoint(md) {
                    min-height: 11rem;
                }
                @include helper-breakpoint(xl) {
                    min-height: 15rem;
                }
            }
            .jumbotron__headline,
            .jumbotron__sub-headline {
                color: $setting-color-darker;
            }
        }
        @content;

    }
}

@include jumbotron-category();



