@mixin shop-ui-checkbox($name: '.checkbox') {
    #{$name} {
        position: relative;
        display: inline-block;
        margin-bottom: rem(5);

        &__container {
            display: flex;
            align-items: center;
        }

        &__box {
            @include helper-effect-transition;
            display: inline-block;
            width: rem(16);
            height: rem(16);
            border: rem(1) solid $setting-color-input-border;
            border-radius: rem(2);
            background-color: $setting-color-white;
            margin-right: rem(10);
            text-align: center;
            vertical-align: top;
        }

        &__input {
            opacity: 0;
            pointer-events: none;
            position: absolute;
        }

        &__check {
            @include helper-effect-transition;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: rem(4);
            left: rem(4);
            width: rem(9);
            height: rem(10);
            fill: $setting-color-white;
        }

        &__input:checked + #{$name}__box {
            border: rem(1) solid $setting-color-main;
            background-color: $setting-color-main;

            & + #{$name}__check {
                opacity: 1;
                pointer-events: all;
            }
        }

        &__input:focus + #{$name}__box {
            border-color: $setting-color-input-border-focus;
        }

        &__label {
            line-height: rem(18);
        }

        &--expand {
            display: block;
        }

        &--error &__box {
            border-color: map-get($setting-color-actions, alert);
        }

        &[disabled] &__box,
        &--disabled &__box {
            background-color: $setting-color-gray-3;
            cursor: not-allowed;
        }

        &--big {
            #{$name}__box {
                width: rem(20);
                height: rem(20);
            }

            #{$name}__check {
                width: rem(12);
                height: rem(12);
            }
        }

        @content;
    }
}

@include shop-ui-checkbox();
