@mixin catalog-page-filter-section($name: '.filter-section') {
    #{$name} {
        padding-top: rem(79);

        @include helper-breakpoint-media-max($lg-max) {
            padding: rem(120) rem(24) rem(40);
        }

        &__item {
            border-bottom: dotted rem(1) $setting-color-lightest-1;

            &:first-child {
                border-top: dotted rem(1) $setting-color-lightest-1;

                @include helper-breakpoint-media-min($xl-min) {
                    #{$name}__title {
                        &::before,
                        &::after {
                            display: none;
                        }
                    }
                }
            }
        }

        &__title {
            text-transform: uppercase;
            font: bold rem(13) $setting-font-family-additional;
            letter-spacing: rem(2.6);
            padding: rem(15) rem(20) rem(15) 0;
            position: relative;

            &[data-toggle-target] {
                cursor: pointer;

                .no-touch &:hover {
                    opacity: 0.5;
                }

                &::before,
                &::after {
                    content: '';
                    background: $setting-color-darkest-1;
                    position: absolute;
                    top: 50%;
                }

                &::before {
                    width: rem(12);
                    height: rem(2);
                    right: 0;
                    margin-top: rem(-1);
                }

                &::after {
                    width: rem(2);
                    height: rem(12);
                    right: rem(5);
                    margin-top: rem(-6);
                }

                &.active {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &__actions {
            margin-top: rem(15);

            @include helper-breakpoint-media-max($lg-max) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: $setting-color-wild-sand;
                padding: rem(20) rem(24);
                margin: 0;
            }
        }

        &__button {
            font: 400 rem(13)/rem(16) $setting-font-family-additional;
            padding: rem(12) rem(20);
            min-width: rem(92);
            width: 100%;

            @include helper-breakpoint-media-max($lg-max) {
                width: auto;
            }
        }

        &__close-popup {
            @include helper-breakpoint-media-min($xl-min) {
                display: none;
            }
        }

        @content;
    }
}

@include catalog-page-filter-section();
