{% extends model('component') %}

{% define config = {
    name: 'filter-color'
} %}

{% define data = {
    filter: null,
    isMultiSelect: null
} %}

{% set isMultiSelect = data.isMultiSelect is null ? (data.filter.config.isMultiValued | default(false)) : false %}
{% set activeValues = isMultiSelect ? data.filter.activeValue : [data.filter.activeValue] %}
{% set inputComponent = isMultiSelect ? atom('color-checkbox', 'CatalogPage') : atom('radio') %}

{% block body %}
    <ul class="grid spacing-bottom">

        {% for filterValue in data.filter.values %}
            <li class="{{ config.name }}__item spacing-right">

                {% include inputComponent with {
                    class: config.name ~ '__color',
                    attributes: {
                        name: data.filter.config.parameterName ~ (isMultiSelect ? '[]' : ''),
                        value: filterValue.value,
                        checked: (filterValue.value in activeValues)
                    },
                    data: {
                        label: filterValue.value
                    }
                } only %}

            </li>
        {% endfor %}

    </ul>
{% endblock %}
