{% extends molecule('rating-selector', '@SprykerShop:ProductReviewWidget') %}

{% define data = {
    reviewCount: '',
} %}

{% block body %}
    {{ parent() }}

    {% if data.reviewCount %}
        <span class="{{ config.name }}__review-count">{{ data.reviewCount }}</span>
    {% endif %}
{% endblock %}
