$product-review-rating-selector-icon-size: rem(16, number);

@mixin product-review-rating-selector($name: '.rating-selector') {
    #{$name} {
        display: flex;
        margin-top: rem(6);
        align-items: center;

        &--small {
            margin: 0 rem(3) 0 rem(11);

            &__step {
                &--half {
                    width: rem(7);
                    height: rem(14);
                }
            }

            &__star {
                width: rem(14);
                height: rem(14);

                &--half-left {
                    margin-right: rem(-7);
                }
            }
        }

        &__steps {
            display: inline-block;
            direction: rtl;
            vertical-align: middle;
            line-height: 0;
            margin-right: rem(6);
        }

        &__step {
            float: right;
            display: block;
            position: relative;
            cursor: pointer;
            overflow-x: hidden;
            font: 0/0 $setting-font-family;

            &--full {
                &:not(:first-child) {
                    padding-right: rem(2);
                }
            }

            &--half {
                width: $product-review-rating-selector-icon-size / 2;
                &:nth-child(odd) {
                    margin-right: rem(2);
                }
            }
        }

        &__star {
            @include helper-effect-transition(color, 100ms);
            position: relative;
            width: $product-review-rating-selector-icon-size;
            height: $product-review-rating-selector-icon-size;
            color: $setting-color-gray-3;
            &--half-left {
                margin-right: -$product-review-rating-selector-icon-size / 2;
            }
        }

        &__step:hover > &__star,
        &__step:hover ~ &__step > &__star {
            color: $setting-color-yellow;
        }

        &__step--active > &__star {
            color: $setting-color-yellow;
        }

        &--readonly {
            pointer-events: none;
        }

        &--expand {
            display: block;
        }

        &__review-count {
            font-size: rem(15);
            color: $setting-color-gray-3;
            position: relative;
        }

        @content;
    }
}

@include product-review-rating-selector();
