@mixin catalog-page-filter-rating($name: '.filter-rating') {
    #{$name} {
        display: flex;
        align-items: baseline;

        &--sidebar {
            padding-bottom: rem(16);
        }
    }
}

@include catalog-page-filter-rating;
