@mixin configurable-bundle-widget-configured-bundle($name: '.configured-bundle') {
    #{$name} {
        padding-bottom: rem(20);
        margin: 0 rem(20) rem(20) 0;
        border-top: rem(1) dotted $setting-color-gray-3;
        border-bottom: rem(1) dotted $setting-color-gray-3;

        &__title {
            font-size: $setting-font-size-base;
        }

        &__container {
            padding: rem(8) rem(15);
            background: $setting-color-gray-1;
            margin-bottom: rem(13);
            border-bottom: rem(1) dotted $setting-color-gray-3;
        }

        &__quantity {
            display: flex;
            justify-content: center;
        }

        &__total {
            font: fw(regular) $setting-font-size-base $setting-font-family-additional;
            text-align: left;

            @include helper-breakpoint-media-min($xxl-min) {
                text-align: right;
            }
        }

        &__action {
            color: $setting-color-black;
            opacity: 0.4;

            &:hover,
            &:focus {
                text-decoration: none;
                color: inherit;
                opacity: 1;
            }
        }

        @content;
    }
}

@include configurable-bundle-widget-configured-bundle;
