@mixin shop-ui-button($name: '.button') {
    #{$name} {
        @include helper-effect-transition(all);
        display: inline-block;
        padding: rem(9) rem(16) rem(10);
        background-color: $setting-color-main;
        border: none;
        border-radius: rem(2);
        color: $setting-color-white;
        text-align: center;
        font: fw(regular) rem(15) $setting-font-family;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $setting-color-white;
            background-color: helper-color-dark($setting-color-main);
            text-decoration: none;
        }

        &--black {
            background-color: $setting-color-darkest;

            &:hover,
            &:focus {
                background-color: $setting-color-radical-red;
            }
        }

        &--alert {
            background-color: $setting-color-alt;

            &:hover,
            &:focus {
                background-color: map-get($setting-color-actions, alert);
            }
        }

        &--white {
            background-color: $setting-color-white;
            border: rem(1) solid $setting-color-text;
            color: $setting-color-text;

            &:hover,
            &:focus {
                background-color: $setting-color-text;
                border: rem(1) solid $setting-color-text;
                color: $setting-color-white;
            }
        }

        &--skinless {
            border: none;
            background-color: transparent;
            color: $setting-color-black;

            &:visited,
            &:hover,
            &:focus,
            &:active {
                border: none;
                background-color: transparent;
                color: $setting-color-black;
            }
        }

        &--hollow {
            padding: rem(8) rem(16);
            background-color: $setting-color-white;
            border: rem(1) solid $setting-color-darkest;
            color: $setting-color-darkest;

            &:hover,
            &:focus {
                border-color: $setting-color-darkest;
                background-color: $setting-color-darkest;
                color: $setting-color-white;
            }

            &[disabled],
            & #{$name}--disabled,
            &[disabled]:hover,
            & #{$name}--disabled:hover {
                background-color: $setting-color-white !important;
                color: $setting-color-light;
            }
        }

        &--expand {
            width: 100%;
        }

        &--big {
            padding: rem(20);
            font: fw(medium) rem(15) $setting-font-family-additional;

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(16);
            }
        }

        &--agent {
            font-size: rem(14);
            font-weight: fw(medium);
            min-width: rem(79);
            min-height: rem(48);
            padding-top: rem(15);
            padding-bottom: rem(15);
        }

        &--combined {
            border-radius: 0 rem(2) rem(2) 0;
            min-width: rem(113);
            height: rem(48);
            font: fw(regular) rem(13) $setting-font-family-additional;
        }

        &--cart {
            font: fw(medium) rem(16)/rem(56) $setting-font-family-additional;
            height: rem(56);
            padding: 0 rem(20);
            margin-top: rem(56);
        }

        &[disabled],
        &--disabled {
            background-color: $setting-color-light;
            border-color: $setting-color-light;
            cursor: not-allowed;

            &:hover,
            &:focus {
                background-color: $setting-color-light;
            }
        }
    }
}

@include shop-ui-button();
