@mixin shop-ui-button($name: '.button') {
    #{$name} {
        @include helper-effect-transition(all);
        display: inline-block;
        padding: 9px 1rem 10px;
        background-color: $setting-color-main;
        border: none;
        border-radius: 2px;
        color: $setting-color-white;
        text-align: center;
        font: normal 15px $setting-font-family;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $setting-color-white;
            background-color: helper-color-dark($setting-color-main);
            text-decoration: none;
        }

        &--black {
            background: #111;
            &:hover,
            &:focus {
                background: #ff4859;
            }
        }

        &--alert {
            background: $setting-color-alt;
            &:hover {
                background: map-get($setting-color-actions, alert);
            }
        }

        &--white {
            background: $setting-color-white;
            border: 1px solid $setting-color-text;
            color: $setting-color-text;
            &:hover {
                background: $setting-color-text;
                border: 1px solid $setting-color-text;
                color: $setting-color-white;
            }
        }
        &--skinless {
            border: none;
            background-color: transparent;
            color: $setting-color-black;
            &:visited, &:hover, &:focus, &:active{
                border: none;
                background-color: transparent;
                color: $setting-color-black;
            }
        }

        &--hollow {
            padding: .5rem 1rem;
            background-color: $setting-color-white;
            border: 1px solid $setting-color-darkest;
            color: $setting-color-darkest;

            &:hover,
            &:focus {
                border-color: $setting-color-darkest;
                background-color: $setting-color-darkest;
                color: #fff;
            }

            &[disabled],
            & #{name}--disabled,
            &[disabled]:hover,
            & #{name}--disabled:hover {
                background-color: #fff !important;
                border-color: $setting-color-light;
                color: $setting-color-light;
            }
        }

        &--expand {
            width: 100%;
        }

        &--big {
            @include helper-breakpoint-media-min($md-min) {
                font-size: 16px;
            }
            padding: 1.25rem;
            font: 500 15px $setting-font-family-additional;
        }

        &[disabled],
        &--disabled {
            background-color: $setting-color-light;
            border-color: $setting-color-light;
            cursor: not-allowed;

            &:hover,
            &:focus {
                background-color: $setting-color-light;
            }
        }
    }
}

@include shop-ui-button();