@mixin product-label-widget-label-group($name: '.label-group') {
    #{$name} {
        position: absolute;
        bottom: 0;
        right: 0;
        max-height: 100%;
        pointer-events: none;
        z-index: $setting-zi-element-floating;
        padding: 16px;

        @content;
    }
}
