{% extends template('widget') %}

{% define data = {
    form: _widget.voucherForm
} %}

{% block body %}
    <div class="cart-discount-form">
        <h4 class="cart-toggler__title js-cart-toggler__title-trigger" data-toggle-target=".js-cart-toggler__title-target">
            {{ 'cart.voucher-title' | trans }}
        </h4>
        <div class="cart-toggler__content js-cart-toggler__title-target is-hidden">
            {% include molecule('form') with {
                modifiers: ['inline'],
                data: {
                    form: data.form,
                    submit: {
                        enable: true,
                        text: 'cart.voucher.redeem' | trans,
                        icon: null,
                        class: 'button button--black'
                    }
                }
            } only %}
        </div>
    </div>


    {% include molecule('toggler-accordeon') with {
        attributes: {
            trigger: '.js-cart-toggler__title-trigger',
            'class-to-toggle': 'is-hidden'
        }
    } only %}
{% endblock %}
