@mixin pdp-review-rating($name: '.pdp-review') {
    #{$name} {

        .product-slider-title {
            padding: 0;
            margin: 130px 0 70px;
            @include helper-breakpoint-media-max($md-max) {
                margin: 100px 0 34px;
                .product-slider-title__text {
                    font: 400 26px/36px $setting-font-family-additional;
                }
                .product-slider-title__line {
                    margin: 0 0 0 20px;
                }
            }
        }

        &__sub-title {
            font: 400 27px/1.33 $setting-font-family-additional;
            border-bottom: dotted 1px $setting-color-lightest;
            padding-bottom: 10px;
            margin-bottom: 50px;
            @include helper-breakpoint-media-max($md-max) {
                font: 400 21px/1.71 $setting-font-family-additional;
                padding-bottom: 6px;
                margin-bottom: 29px;
            }
        }

        .review-average-display {
            display: flex;
            align-items: center;
            margin-bottom: 27px;
            .rating-selector {
                margin-top: 0;
            }
        }

        .review-average__label {
            font: 400 21px $setting-font-family;
            color: $setting-color-darkest;
            margin-right: 12px;
            @include helper-breakpoint-media-max($md-max) {
                font-size: 18px;
            }
        }

        .review-distribution-display {
            margin-bottom: 80px;
            td {
                padding-bottom: 12px;
                font: 300 14px/20px $setting-font-family;
                color: #555;
                &:first-child {
                    color: #111;
                    font-size: 16px;
                }
            }
            .rating-progress {
                margin: 0 17px 0 21px;
                width: 103px;
                height: 20px;
                border-radius: 10px;
                background-color: #f1f7fa;
                box-shadow: 0.5px 0.5px 0.5px 0 rgba(0, 0, 0, 0.24);
                overflow: hidden;
                &__status {
                    position: relative;
                    border-radius: 10px;
                    width: 100%;
                    height: 20px;
                    background-color: #ffbc00;
                }
            }
            @include helper-breakpoint-media-max($md-max) {
                margin-bottom: 42px;
            }
        }

        .reviews {
            column-count: 2;
            column-gap: 30px;
            margin: -32px 0 70px;
            @include helper-breakpoint-media-max($md-max) {
                column-count: 1;
            }
        }

        .review {
            border-bottom: dotted 1px $setting-color-lightest;
            padding: 32px 0;
            break-inside: avoid;
            &__title-line {
                display: flex;
            }
            h5 {
                font: 500 17px/1.41 $setting-font-family-additional;
                color: $setting-color-darkest;
                margin-right: 5px;
            }
            .rating-selector {
                display: inline-block;
                margin: 0 0 0 12px;
                position: relative;
                top: -1px;
                &__steps {
                    width: 65px;
                    margin: 0;
                }
                &__step {
                    &--half {
                        width: 6px;
                        height: 12px;
                    }
                }
                &__star {
                    width: 12px;
                    height: 12px;
                    &--half-left {
                        margin-right: -6px;
                    }
                }
                &__step--half:nth-child(odd) {
                    margin-right: 1px;
                }
            }
            &__author-date {
                font: 400 14px/1.71 $setting-font-family-additional;
                margin: 0 0 12px;
                color: $setting-color-darkest;
            }
            &__description {
                font: 300 16px/22px $setting-font-family;
            }
            @include helper-breakpoint-media-max($md-max) {
                padding: 20px 0;
                h5 {
                    font: 500 16px/1.38 $setting-font-family-additional;
                    margin-right: 2px;
                }
                &__author-date {
                    font: 400 13px/1.85 $setting-font-family-additional;
                    margin: 0 0 16px;
                }
                &__description {
                    font: 300 15px/22px $setting-font-family;
                }
            }
        }

        .popup--new-review {
            .form__fields {
                padding-top: 23px;
            }
            .review-summary {
                min-width: 0;
                width: calc(100% - 154px);
            }
            .review-rating {
                min-width: 0;
                width: auto;
                margin: 20px 0 0 auto;
                .rating-selector {
                    margin: 0;
                }
            }
            .form__field {
                padding: 0 0 28px !important;
            }
            label {
                color: #333;
                &::after {
                    display: none;
                }
            }
            input[type='text'],
            textarea {
                font: 400 17px/1.29 $setting-font-family;
                color: $setting-color-dark;
                transition: background-color 0.4s;
                padding: 10px 15px;
                &:focus {
                    border-color: #434545;
                }
                &:hover {
                    background: #fafafa;
                }
            }
            input[type='text'] {
                line-height: 22px;
                padding: 12px 15px;
            }
            .button--send-review {
                font: 500 14px/18px $setting-font-family;
                padding: 15px 20px;
                min-width: 177px;
                margin-top: 20px;
            }
            @include helper-breakpoint-media-max($md-max) {
                .popup__title {
                    display: none;
                }
                .form__fields {
                    padding-top: 14px;
                }
                .form__field {
                    padding: 0 0 25px !important;
                }
                label {
                    font-size: 15px;
                }
                .review-summary {
                    width: 100%;
                }
                .review-rating {
                    width: 100%;
                    margin: 0;
                    > label {
                        display: flex;
                        align-items: center;
                    }
                    .label {
                        font-size: 18px;
                        margin: 0 12px 0 0;
                    }
                }
                .button--send-review {
                    font: 500 13px/16px $setting-font-family;
                    padding: 12px 30px;
                    min-width: 0;
                    margin: 0;
                    position: absolute;
                    top: 20px;
                    right: 24px;
                }
            }
        }

        .add-review-mobile {
            padding-bottom: 30px;
            .button {
                width: 100%;
                font: 400 14px Circular, sans-serif;
                padding: 14px;
            }
        }

        @content;
    }
}

@include pdp-review-rating();
