@mixin pdp-review-rating($name: '.pdp-review') {
    #{$name} {

        .product-slider-title {
            padding: 0;
            margin: rem(130) 0 rem(70);
            @include helper-breakpoint-media-max($md-max) {
                margin: rem(100) 0 rem(34);
                .product-slider-title__text {
                    font: 400 rem(26)/rem(36) $setting-font-family-additional;
                }
                .product-slider-title__line {
                    margin: 0 0 0 rem(20);
                }
            }
        }

        &__sub-title {
            font: 400 rem(27)/1.33 $setting-font-family-additional;
            border-bottom: dotted rem(1) $setting-color-lightest-1;
            padding-bottom: rem(10);
            margin-bottom: rem(50);
            @include helper-breakpoint-media-max($md-max) {
                font: 400 rem(21)/1.71 $setting-font-family-additional;
                padding-bottom: rem(6);
                margin-bottom: rem(29);
            }
        }

        .review-average-display {
            display: flex;
            align-items: center;
            margin-bottom: rem(27);
            .rating-selector {
                margin-top: 0;
            }
        }

        .review-average__label {
            font: 400 rem(21) $setting-font-family;
            color: $setting-color-darkest-1;
            margin-right: rem(12);
            @include helper-breakpoint-media-max($md-max) {
                font-size: rem(18);
            }
        }

        .review-distribution-display {
            margin-bottom: rem(80);
            td {
                padding-bottom: rem(12);
                font: 300 rem(14)/rem(20) $setting-font-family;
                color: $setting-color-emperor;
                &:first-child {
                    color: $setting-color-darkest-1;
                    font-size: rem(16);
                }
            }
            .rating-progress {
                margin: 0 rem(17) 0 rem(21);
                width: rem(103);
                height: rem(20);
                border-radius: rem(10);
                background-color: $setting-color-black-squeeze;
                box-shadow: rem(0.5) rem(0.5) rem(0.5) 0 rgba($setting-color-black, 0.24);
                overflow: hidden;
                &__status {
                    position: relative;
                    border-radius: rem(10);
                    width: 100%;
                    height: rem(20);
                    background-color: $setting-color-selective-yellow;
                }
            }
            @include helper-breakpoint-media-max($md-max) {
                margin-bottom: rem(42);
            }
        }

        .reviews {
            column-count: 2;
            column-gap: rem(30);
            margin: rem(-32) 0 rem(70);
            @include helper-breakpoint-media-max($md-max) {
                column-count: 1;
            }
        }

        .review {
            border-bottom: dotted rem(1) $setting-color-lightest-1;
            padding: rem(32) 0;
            break-inside: avoid;
            &__title-line {
                display: flex;
            }
            h5 {
                font: 500 rem(17)/1.41 $setting-font-family-additional;
                color: $setting-color-darkest-1;
                margin-right: rem(5);
            }
            .rating-selector {
                display: inline-block;
                margin: 0 0 0 rem(12);
                position: relative;
                top: rem(-1);
                &__steps {
                    width: rem(65);
                    margin: 0;
                }
                &__step {
                    &--half {
                        width: rem(6);
                        height: rem(12);
                    }
                }
                &__star {
                    width: rem(12);
                    height: rem(12);
                    &--half-left {
                        margin-right: rem(-6);
                    }
                }
                &__step--half:nth-child(odd) {
                    margin-right: rem(1);
                }
            }
            &__author-date {
                font: 400 rem(14)/1.71 $setting-font-family-additional;
                margin: 0 0 rem(12);
                color: $setting-color-darkest-1;
            }
            &__description {
                font: 300 rem(16)/rem(22) $setting-font-family;
            }
            @include helper-breakpoint-media-max($md-max) {
                padding: rem(20) 0;
                h5 {
                    font: 500 rem(16)/1.38 $setting-font-family-additional;
                    margin-right: rem(2);
                }
                &__author-date {
                    font: 400 rem(13)/1.85 $setting-font-family-additional;
                    margin: 0 0 rem(16);
                }
                &__description {
                    font: 300 rem(15)/rem(22) $setting-font-family;
                }
            }
        }

        .popup--new-review {
            .form__fields {
                padding-top: rem(23);
            }
            .review-summary {
                min-width: 0;
                width: calc(100% - #{rem(154)});
            }
            .review-rating {
                min-width: 0;
                width: auto;
                margin: rem(20) 0 0 auto;
                .rating-selector {
                    margin: 0;
                }
            }
            .form__field {
                padding: 0 0 rem(28) !important;
            }
            label {
                color: $setting-color-darkest-1;
                &::after {
                    display: none;
                }
            }
            input[type='text'],
            textarea {
                font: 400 rem(17)/1.29 $setting-font-family;
                color: $setting-color-darkest-1;
                transition: background-color 0.4s;
                padding: rem(10) rem(15);
                &:focus {
                    border-color: $setting-color-tundora;
                }
                &:hover {
                    background: $setting-color-alabaster;
                }
            }
            input[type='text'] {
                line-height: rem(22);
                padding: rem(12) rem(15);
            }
            .button--send-review {
                font: 500 rem(14)/rem(18) $setting-font-family;
                padding: rem(15) rem(20);
                min-width: rem(177);
                margin-top: rem(20);
            }
            @include helper-breakpoint-media-max($md-max) {
                .popup__title {
                    display: none;
                }
                .form__fields {
                    padding-top: rem(14);
                }
                .form__field {
                    padding: 0 0 rem(25) !important;
                }
                label {
                    font-size: rem(15);
                }
                .review-summary {
                    width: 100%;
                }
                .review-rating {
                    width: 100%;
                    margin: 0;
                    > label {
                        display: flex;
                        align-items: center;
                    }
                    .label {
                        font-size: rem(18);
                        margin: 0 rem(12) 0 0;
                    }
                }
                .button--send-review {
                    font: 500 rem(13)/rem(16) $setting-font-family;
                    padding: rem(12) rem(30);
                    min-width: 0;
                    margin: 0;
                    position: absolute;
                    top: rem(20);
                    right: rem(24);
                }
            }
        }

        .add-review-mobile {
            padding-bottom: rem(30);
            .button {
                width: 100%;
                font: 400 rem(14) Circular, sans-serif;
                padding: rem(14);
            }
        }

        @content;
    }
}

@include pdp-review-rating();
