@mixin shop-ui-multi-inspirational-container($name: '.multi-inspire-container') {
    #{$name} {
        margin: 0 0 150px;
        @include helper-breakpoint-media-max($sm-max) {
            margin: 0 0 60px;
        }
        &--left {
            .col:first-of-type {
                @include helper-breakpoint-media-max($md-max) {
                    order: 2;
                }
            }
            .col:last-of-type {
                @include helper-breakpoint-media-max($md-max) {
                    order: 1;
                }
            }
        }
    }
}

@include shop-ui-multi-inspirational-container();
