{% extends template('page-layout-main') %}

{% define data = {
    breadcrumbs: _view.stepBreadcrumbs.breadcrumbs | default([])
} %}

{% block sidebar %}{% endblock %}

{% block header %}
    {% embed organism('header') with {
        data: {
            showSearchForm: false,
            showNavigation: false,
            showLangCurrencySwitches: false
        },
        class: 'header-checkout'
    } only %}
        {% block additionalLink %}
            <a class="header__back-link" href="{{ url('cart') }}">
                {% include atom('icon') with {
                    data: {
                        name: 'arrow-left'
                    }
                } only %}
                {{ 'cart.cart' | trans }}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block container %}
    <div class="container">
        <div class="container__inner">
            {% block pageInfo %}
                {% block breadcrumbs %}
                    {% include view('cart-checkout-breadcrumb', 'CheckoutWidget') with {
                        data: {
                            isCartPage: false,
                            checkoutBreadcrumbs: data.breadcrumbs
                        }
                    } only %}
                {% endblock %}
            {% endblock %}

            <main class="checkout-content-wrap">
                {% block title %}
                    {% if data.title is not empty %}
                        <h1 class="main-title">{{data.title}}</h1>
                    {% endif %}
                {% endblock %}

                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}
    


{% block footer %}
    {% embed organism('footer') only %}
        {% block footerTop %}{% endblock %}
    {% endembed %}
{% endblock %}
