.page-layout-checkout {
    max-width: rem(570);
    margin: 0 auto;
    padding-bottom: rem(60);
    overflow: hidden;

    @include helper-breakpoint-media-min($md-min) {
        padding-top: rem(80);
    }

    &--full-width {
        max-width: 100%;
    }

    &--address-step {
        .toggler-radio__container {
            overflow: hidden;
            cursor: pointer;
        }

        .toggler-radio__box {
            float: left;
            margin-top: rem(1);
        }

        .toggler-radio__label {
            display: block;
            overflow: hidden;
        }
    }
}
