@mixin shop-ui-inspirational-block ($name: '.inspirational-block') {
    #{$name} {
        min-height: rem(300);
        margin: rem(80) 0 rem(100);

        @include helper-breakpoint-media-min($md-min) {
            margin: rem(130) 0 rem(180);
        }

        &--left {
            @include helper-breakpoint-media-max($md-max) {
                flex-direction: column-reverse;
            }
        }

        &__content {
            margin-top: rem(60);
            padding: 0 rem(20);
            text-align: center;

            @include helper-breakpoint-media-min($lg-min) {
                text-align: left;
                margin-top: 0;
            }

            &--right {
                @include helper-breakpoint-media-min($xl-min) {
                    padding-left: rem(120);
                }
            }

            &--left {
                @include helper-breakpoint-media-min($xl-min) {
                    padding-right: rem(120);
                }
            }
        }

        &__pre-title,
        &__title {
            font: fw(bold) rem(17)/1.52 $setting-font-family-additional;
            letter-spacing: rem(3);
            color: $setting-color-gray-6;
            margin-bottom: rem(15);
            text-transform: uppercase;

            @include helper-breakpoint-media-min($md-min) {
                letter-spacing: rem(3.8);
                font-size: rem(21);
            }
        }

        &__pre-title {
            font: fw(regular) rem(9)/normal $setting-font-family-additional;
            margin-bottom: rem(17);

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(10);
                letter-spacing: rem(3.2);
            }
        }

        &__text {
            font: fw(regular) rem(13)/1.62 $setting-font-family;
            letter-spacing: rem(0.8);
            color: $setting-color-gray-4;
            margin-bottom: rem(27);

            @include helper-breakpoint-media-min($md-min) {
                line-height: 1.47;
                letter-spacing: rem(1);
                font-size: rem(17);
            }
        }

        &__images {
            position: relative;
            display: flex;

            &--left {
                justify-content: flex-start;
            }

            &--right {
                justify-content: flex-end;
            }
        }

        &__image {
            border-radius: rem(3);
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__image-1 {
            width: rem(158);
            height: rem(257);

            @include helper-breakpoint-media-min($md-min) {
                width: rem(225);
                height: rem(412);
            }

            @include helper-breakpoint-media-min($xl-min) {
                width: rem(300);
                height: rem(550);
            }
        }

        &__image-2 {
            width: rem(210);
            height: rem(200);
            position: absolute;
            margin-top: 35%;
            box-shadow: 0 rem(70) rem(80) rem(-40) $setting-color-alpha-8;

            @include helper-breakpoint-media-min($md-min) {
                width: rem(315);
                height: rem(300);
            }

            @include helper-breakpoint-media-min($xl-min) {
                width: rem(420);
                height: rem(400);
            }

            &--left {
                left: rem(75);

                @include helper-breakpoint-media-min($md-min) {
                    left: rem(100);
                }

                @include helper-breakpoint-media-min($xl-min) {
                    left: rem(150);
                }
            }

            &--right {
                right: rem(75);

                @include helper-breakpoint-media-min($md-min) {
                    right: rem(100);
                }

                @include helper-breakpoint-media-min($xl-min) {
                    right: rem(150);
                }
            }
        }
    }
}

@include shop-ui-inspirational-block();
