@mixin shop-ui-inspirational-block ($name: '.inspire-block') {
    #{$name} {
        min-height: rem(300);
        margin: rem(130) 0 rem(180);
        @include helper-breakpoint-media-max($sm-max) {
            margin: rem(80) 0 rem(100);
        }
        &--left {
            .col:first-of-type {
                @include helper-breakpoint-media-max($md-max) {
                    order: 2;
                }
            }
            .col:last-of-type {
                @include helper-breakpoint-media-max($md-max) {
                    order: 1;
                }
            }
        }
        &__content {
            &--right {
                padding-left: rem(120);
            }
            &--left {
                padding-right: rem(120);
            }
            @include helper-breakpoint-media-max($lg-max) {
                padding: 0 rem(20);
            }
            @include helper-breakpoint-media-max($md-max) {
                margin-top: rem(60);
            }
        }
        &__title {
            font: bold rem(21) $setting-font-family-additional;
            line-height: 1.52;
            letter-spacing: rem(3.8);
            color: $setting-color-darker;
            margin-bottom: rem(15);
            text-transform: uppercase;
            @include helper-breakpoint-media-max($md-max) {
                text-align: center;
            }
            @include helper-breakpoint-media-max($sm-max) {
                line-height: 1.53;
                letter-spacing: rem(3);
                font-size: rem(17);
            }
        }
        &__pre-title {
            font: normal rem(10) $setting-font-family-additional;
            line-height: normal;
            letter-spacing: rem(3.2);
            color: $setting-color-darker;
            text-transform: uppercase;
            margin-bottom: rem(17);
            @include helper-breakpoint-media-max($md-max) {
                text-align: center;
            }
            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(9);
                line-height: normal;
                letter-spacing: rem(2.9);
            }
        }
        &__text {
            font: normal rem(17) $setting-font-family;
            line-height: 1.47;
            letter-spacing: rem(1);
            color: $setting-color-light-1;
            margin-bottom: rem(27);
            @include helper-breakpoint-media-max($md-max) {
                text-align: center;
            }
            @include helper-breakpoint-media-max($sm-max) {
                line-height: 1.62;
                letter-spacing: rem(0.8);
                font-size: rem(13);
            }
        }

        &__link {
            display: block;
            font: bold rem(11) $setting-font-family-additional;
            letter-spacing: rem(2.5);
            line-height: rem(50);
            color: $setting-color-darker;
            border: rem(1) solid $setting-color-text;
            height: rem(52);
            width: rem(160);
            border-radius: rem(2);
            text-transform: uppercase;
            text-align: center;

            &:hover {
                background: $setting-color-black;
                color: $setting-color-white;
                text-decoration: none;
            }
            @include helper-breakpoint-media-max($md-max) {
                margin: 0 auto;
            }
            @include helper-breakpoint-media-max($sm-max) {
                width: rem(128);
                height: rem(46);
                letter-spacing: rem(2.1);
                line-height: rem(44);
                font-size: rem(10);
            }
        }
        &__images {
            position: relative;
            display: flex;
            &--left {
                justify-content: flex-start;
            }
            &--right {
                justify-content: flex-end;
            }
        }
        &__image {
            border-radius: rem(3);
            overflow: hidden;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__image-1 {
            width: rem(300);
            height: rem(550);
            @include helper-breakpoint-media-max($lg-max) {
                width: rem(225);
                height: rem(412);
            }
            @include helper-breakpoint-media-max($sm-max) {
                width: rem(158);
                height: rem(257);
            }
        }
        &__image-2 {
            width: rem(420);
            height: rem(400);
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            box-shadow: 0 rem(70) rem(80) rem(-40) $setting-color-shadow;

            @include helper-breakpoint-media-max($lg-max) {
                width: rem(315);
                height: rem(300);
            }
            @include helper-breakpoint-media-max($sm-max) {
                width: rem(210);
                height: rem(200);
            }
            &--left {
                left: rem(150);
                @include helper-breakpoint-media-max($lg-max) {
                    left: rem(100);
                }
                @include helper-breakpoint-media-max($sm-max) {
                    left: rem(75);
                }
            }
            &--right {
                right: rem(150);
                @include helper-breakpoint-media-max($lg-max) {
                    right: rem(100);
                }
                @include helper-breakpoint-media-max($sm-max) {
                    right: rem(75);
                }
            }
        }
    }
}

@include shop-ui-inspirational-block();
