@mixin shop-ui-jumbotron-slider-item($name: '.jumbotron-slider-item') {
    #{$name} {
        border-radius: 4px;
        overflow: hidden;
        &__container {
            height: 160px;
            background: $setting-color-main;
            background: linear-gradient(to left top, helper-color-dark($setting-color-main), helper-color-light($setting-color-main));
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            position: relative;

            @include helper-breakpoint(md) {
                height: 240px;
            }

            @include helper-breakpoint(xl) {
                height: 400px;
            }
        }
        &__link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 100;
        }

        &__title,
        &__text {
            &>* {
                color: $setting-color-white;
            }

        }
        &__title {
            &>* {
                font: 700 57px $setting-font-family-additional;
                line-height: 1.5;
                letter-spacing: -0.8px;
                @include helper-breakpoint-media-max($lg-max) {
                    font-size: 34px;
                }
                @include helper-breakpoint-media-max($md-max) {
                    font-size: 23px;
                }
            }
        }

        &__text {
            &>* {
                font: 200 26px $setting-font-family;
                letter-spacing: .2px;
                @include helper-breakpoint-media-max($lg-max) {
                    font-size: 16px;
                }
                @include helper-breakpoint-media-max($md-max) {
                    font-size: 11px;
                }
            }

        }

        @content
    }
}

