@mixin shop-ui-jumbotron-slider-item($name: '.jumbotron-slider-item') {
    #{$name} {
        border-radius: rem(4);
        overflow: hidden;
        &__container {
            height: rem(160);
            background: $setting-color-main;

            /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
            background: linear-gradient(to left top, helper-color-dark($setting-color-main), helper-color-light($setting-color-main));
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            text-align: center;
            position: relative;
            display: none;

            @include helper-breakpoint(md) {
                height: rem(240);
            }

            @include helper-breakpoint(xl) {
                height: rem(400);
            }

            .slick-initialized & {
                display: flex;
            }
        }
        &__link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: $setting-zi-element + 1;
        }

        &__title,
        &__text {
            & > * {
                color: $setting-color-white;
            }
        }
        &__title {
            & > * {
                font: 700 rem(57) $setting-font-family-additional;
                line-height: 1.5;
                letter-spacing: rem(-0.8);
                @include helper-breakpoint-media-max($lg-max) {
                    font-size: rem(34);
                }
                @include helper-breakpoint-media-max($md-max) {
                    font-size: rem(23);
                }
            }
        }

        &__text {
            & > * {
                font: 200 rem(26) $setting-font-family;
                letter-spacing: rem(0.2);
                @include helper-breakpoint-media-max($lg-max) {
                    font-size: rem(16);
                }
                @include helper-breakpoint-media-max($md-max) {
                    font-size: rem(11);
                }
            }
        }

        @content;
    }
}

@include shop-ui-jumbotron-slider-item();
