{% extends template('page-layout-wishlist', 'WishlistPage') %}

{% define data = {
    wishlists: _view.wishlistCollection.wishlists,
    wishlistForm: _view.wishlistForm,
    wishlistDeleteFormClone: _view.wishlistDeleteFormCloner,
} %}

{% block customerContent %}
    <div class="box">
        {% include molecule('title-box', 'CustomerPage') with {
            data: {
                title: 'customer.account.wishlist.overview.title' | trans,
            },
        } only %}

        {% include molecule('add-wishlist', 'WishlistPage') with {
            data: {
                wishlistForm: data.wishlistForm,
            },
        }  only %}
    </div>

    <div class="box">
        {% if data.wishlists is empty %}
            <div class="text-center">
                <h6>{{ 'customer.account.wishlist.overview.empty' | trans }}</h6>
            </div>
        {% else %}
            {% include molecule('wishlist-overview-table', 'WishlistPage') with {
                data: {
                    wishlists: data.wishlists,
                    wishlistDeleteFormClone: data.wishlistDeleteFormClone,
                },
            } only %}
        {% endif %}
    </div>
{% endblock %}
