{% extends model('component') %}

{% define config = {
    name: 'nav-overlay',
    tag: 'nav-overlay',
} %}

{% define attributes = {
    'trigger-open-class-name': required,
    'active-link': required,
} %}

{% block body %}
    <div class="{{ config.name }}__shadow {{ config.jsName }}__shadow"></div>
    <div class="{{ config.name }}__container">
        {% block dropDown %}
            {% include molecule('user-block') with {
                class: config.jsName ~ '__drop-down-block',
            } only %}
            {% include molecule('cart-block') with {
                class: config.jsName ~ '__drop-down-block',
            } only %}
        {% endblock %}
    </div>
{% endblock %}
