@mixin customer-page-title-box($name: '.title-box') {
    #{$name} {
        border-bottom: rem(1) dotted $setting-color-gray-3;
        padding: rem(15) 0;
        margin: rem(15) 0;

        @content;
    }
}

@include customer-page-title-box();
