{% extends model('component') %}

{% define config = {
    name: 'title-box'
} %}

{% define data = {
    title: required,
    titleClass: ''
} %}

{% block class %}title-box grid grid--justify grid--middle{% endblock %}

{% block body %}
    {% block title %}
        <h5 class="title title--account-secondary col">{{data.title}}</h5>
    {% endblock %}
    {% block additionalContent %}{% endblock %}
{% endblock %}
