{% extends model('component') %}

{% define config = {
    name: 'title-box'
} %}

{% define data = {
    title: required
} %}

{% block class %}{{ parent() }} title-box grid grid--justify grid--middle{% endblock %}

{% block body %}
    {% block title %}
        <h6 class="title title--uppercase col">{{ data.title }}</h6>
    {% endblock %}
    {% block additionalContent %}{% endblock %}
{% endblock %}
