{% extends model('component') %}

{% define config = {
    name: 'title-box'
} %}

{% define data = {
    title: required,
    titleClass: '',
    additionalContent: null
} %}

{% block body %}
    {% block title %}
        <h5 {% if data.titleClass is not empty %} class="{{ data.titleClass }}" {% endif %}>{{data.title}}</h5>
    {% endblock %}
    {% block additionalContent %}{% endblock %}
{% endblock %}
