@include shop-ui-input {
    font: fw(regular) rem(16)/rem(18) $setting-font-family;
    color: $setting-color-black;
    padding: rem(14) rem(8);
    border: rem(1) solid $setting-color-input-border;
    border-radius: rem(2);
}
