@mixin shop-ui-input($name: '.input') {
    #{$name} {
        @include helper-effect-transition(border-color);
        display: inline-block;
        font: normal rem(16) $setting-font-family;
        color: $setting-color-black;
        padding: rem(14) rem(8);
        border: rem(1) solid $setting-color-input-border;
        border-radius: rem(2);

        &:focus {
            border-color: $setting-color-input-border-focus;
        }

        &::placeholder {
            color: $setting-color-black;
        }

        &--expand {
            display: block;
            width: 100%;
        }

        &--naked {
            background-color: $setting-color-transparent;
            border: none;
        }

        &--error {
            border-color: map-get($setting-color-actions, alert);
        }

        @content;
    }
}

@include shop-ui-input();
