@mixin shop-ui-search-form($name: '.search-form') {
    #{$name} {
        position: relative;

        &__button-hidden {
            position: absolute;
            width: 0;
            height: 0;
            pointer-events: none;
            opacity: 0;
        }

        @content;
    }
}

@include shop-ui-search-form();
