{% extends model('component') %}

{% define config = {
    name: 'search-form'
} %}

{% define data = {
    searchUrl: path('search'),
    suggestionUrl: path('search/suggestion'),
    searchValue: app.request.get('q')
} %}

{% block body %}
    <form class="grid grid--left grid--stretch" action="{{data.searchUrl}}">
        <div>
            <input name="q" type="text" class="input input--expand"
                   {#placeholder="{{ 'global.search' | trans }}"#}
                   value="{{data.searchValue}}" autocomplete="off">
        </div>
        <div class="grid grid--middle">
            <button type="submit" class="{{config.name}}__submit button button--expand grid grid--middle">

                {% include atom('icon') with {
                    class: 'icon--big',
                    data: {
                        name: 'search'
                    }
                } only %}

            </button>
        </div>
    </form>
{% endblock %}

