@mixin shop-ui-volume-price-table($name: '.volume-price-table') {
    #{$name} {
        @include helper-font-size(big);
        margin-top: rem(24);

        &__table {
            @include helper-font-size(small);
            border-bottom: rem(1) solid $setting-color-gray-3;
        }

        &__title {
            padding: 0.5rem 0.75rem;
            font-weight: fw(bold);
            text-align: left;
            border-bottom: rem(1) solid $setting-color-gray-3;
        }

        &__cell {
            padding: 0.5rem 0.75rem;
        }

        @content;
    }
}

@include shop-ui-volume-price-table();
