@mixin catalog-page-product-list($name: '.product-list') {
    #{$name} {
        margin-right: rem(-15);
        margin-left: rem(-15);
        max-width: none;
        @include helper-breakpoint-media-max($sm-max) {
            margin-right: rem(-5);
            margin-left: rem(-5);
        }

        @content;
    }

    .catalog-left-side {
        display: none;
        @include helper-breakpoint-media-min($xl-min) {
            display: block;
            padding-right: rem(15);
            padding-bottom: rem(50);
        }
    }
    .catalog-right-side {
        @include helper-breakpoint-media-min($xl-min) {
            padding-left: rem(15);
        }
    }

    .spelling-suggestion {
        padding-top: rem(30);
        width: 100%;
    }

    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1000;
        background: rgba(0, 0, 0, 0.6);
    }

    @include helper-breakpoint-media-max($lg-max) {
        .show-filter {
            .overlay {
                display: block;
            }
            .catalog-left-side {
                display: block;
                position: fixed;
                z-index: 1001;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: $setting-color-white;
                border-radius: rem(3);
                width: rem(500);
                min-width: 0;
                max-width: calc(100vw - rem(28));
                max-height: calc(100vh - rem(28));
                overflow-y: auto;
            }
        }
    }
}

@include catalog-page-product-list();

