@mixin shop-ui-wishlist-overview-table() {
  .wishlist-overview-table {
    &__button {
      background: transparent;
      cursor: pointer;
      font: 300 16px $setting-font-family;
      &:hover {
        color: $setting-color-alt;
        text-decoration: underline;
      }
    }
  }
}