@mixin cms-search-page-search-cms-sort($name: '.search-cms-sort') {
    #{$name} {
        padding: rem(30) 0 rem(20) rem(8);

        &__title {
            font: fw(regular) rem(16)/rem(24);
            color: $setting-color-gray-4;
        }

        @content;
    }
}

@include cms-search-page-search-cms-sort();
