$shop-ui-form-field-margin: rem(8);

@mixin shop-ui-form($name: '.form') {
    #{$name} {
        &__field {
            padding: 0 rem(16) rem(27);
        }

        &__actions {
            text-align: right;
        }

        &__action {
            margin-top: $shop-ui-form-field-margin;
            margin-left: $shop-ui-form-field-margin;

            &--checkout {
                margin: 0;

                &:not(:last-child) {
                    margin-top: rem(30);
                }
            }
        }

        &--inline &__container {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
        }

        &--inline &__fields {
            float: left;
            flex-grow: 1;
            flex-basis: auto;
        }

        &--inline &__actions {
            flex-grow: 0;
            flex-basis: auto;
        }

        &--inline &__field {
            padding-bottom: 0;
            padding-right: 0;
        }

        &--checkout-address-step,
        &--checkout-shipment-step,
        &--checkout-payment-step,
        &--checkout-login-step {
            #{$name}__actions {
                padding-top: rem(29);
                display: flex;
                flex-direction: column-reverse;
                align-items: flex-end;
            }
        }

        &--checkout-address-step,
        &--checkout-payment-step {
            .col {
                @include helper-breakpoint-media-max($sm-max) {
                    width: 100%;
                }
            }
        }

        &--checkout-login-step {
            #{$name}__title {
                width: 100%;
                font: 700 rem(32) $setting-font-family-additional;
                letter-spacing: rem(-0.5);
                line-height: 1;
                margin-bottom: rem(32);
                padding-bottom: rem(10);
                border-bottom: dotted rem(1) $setting-color-lightest;

                @include helper-breakpoint-media-min($md-min) {
                    font-size: rem(47);
                    margin-bottom: rem(58);
                }
            }
        }

        &--checkout-grid-indent {
            .grid {
                margin: 0 rem(-16);
                max-width: none;
            }
        }

        &__shipment-item {
            &:nth-of-type(1n + 2) {
                margin-top: rem(50);

                @include helper-breakpoint-media-min($md-min) {
                    margin-top: rem(40);
                }
            }
        }

        .label {
            display: inline-block;
            font: normal rem(15) $setting-font-family-additional;
            margin-bottom: rem(6);

            &--required {
                &::after {
                    content: '*';
                    margin-left: 3px;
                    color: $setting-color-main;
                }
            }
        }

        .select__select {
            padding-top: rem(10);
            padding-bottom: rem(10);
            padding-left: rem(8);
            border-right-width: rem(16);
        }

        .select__caret {
            right: rem(8);
        }

        @content;
    }
}

@include shop-ui-form();
