{% extends view('switcher', '@SprykerShop:StoreWidget') %}

{% define data = {
    additionalModifiers: ['hollow', 'header'],
    additionalClassName: '',
} %}

{% block body %}
    <form method="GET" action="/">
        {% set options = [] %}

        {% for storeName in data.storeNames %}
            {% set options = options | merge([{
                label: 'store_widget.switcher.store' | trans ~ ' ' ~ storeName,
                value: storeName,
                selected: storeName == data.currentStoreName,
            }]) %}
        {% endfor %}

        {% include molecule('custom-select') with {
            modifiers: data.additionalModifiers,
            data: {
                options: options,
            },
            attributes: {
                name: '_store',
                'config-theme': 'secondary',
                'additional-class-name': data.additionalClassName,
                'data-form-submitter': true,
            },
        } only %}
    </form>
{% endblock %}
