@mixin shop-ui-shopping-cart($name: '.shopping-cart') {
    #{$name} {
        margin-bottom: 40px;
        &__item {
            & + & {
                border-top: 1px solid #a5a8a8;
                padding-top: 1.5rem;
                margin-top: 1.5rem;
            }
            @include helper-breakpoint-media-min($xl-min) {
                margin-right: 2rem;
            }
        }
        &__sidebar {
            border-top: 1px solid #a5a8a8;
            margin-top: 1.5rem;
            padding-top: 1.5rem;
            @include helper-breakpoint-media-min($xl-min) {
                margin-top: 0;
                margin-left: 1rem;
                padding-top: 0;
                border-top: none;
            }
            .form__field {
                padding: 0 !important;
            }
            .form__fields.grid {
                max-width: none;
            }
            .form__action {
                margin-left: 0;
            }
        }
        .cart-image {
            position: relative;
            padding: 8px 0;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                background: rgba(0, 0, 0, 0.05);
                z-index: 350;
            }
        }
        hr {
            margin: 1rem 0;
        }
        label {
            font-size: 15px;
        }
        .textarea {
            font: 13px $setting-font-family-additional;
        }
        .promotion-item {
            border-top: 1px solid #a5a8a8;
            border-bottom: 1px solid #a5a8a8;
            margin-top: 2rem;
            padding: 1rem 0;
            @include helper-breakpoint-media-min($xl-min) {
                margin-right: 2rem;
            }
        }
        .product-card {
            margin-bottom: 2rem;
            padding-right: 10px;
            &:nth-child(2n) {
                padding: 0 0 0 10px;
            }
            &__thumbnail {
                margin: 15px 0;
            }
            .price {
                margin-bottom: 0;
            }
        }
        .input--expand {
            border-right: none;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        @content;
    }
}

@include shop-ui-shopping-cart();