
$setting-mobile-shadow-width: 12%;

@mixin shop-ui-navigation-header($name: '.navigation-header') {
    #{$name} {
        height: 50px;
        .menu {
             a {
                text-transform: capitalize;
                white-space: nowrap;
                color: $setting-color-text;
                font: normal 16px $setting-font-family;
                letter-spacing: .2px;
                line-height: 1.5;
                &:hover {
                    text-decoration: underline;
                    color: map-get($setting-color-actions, alert)

                }

            }
            &__item {
                &--has-children-dropdown {
                    & > .menu {
                        box-shadow: 0 12px 10px 0 rgba(12, 16, 31, 0.07);
                    }
                }
            }
            &--top-level {

                &>li, &>li>a {
                    text-transform: uppercase;
                    font: 500 13px $setting-font-family-additional;
                    letter-spacing: 2.2px;
                    white-space: nowrap;
                    &:hover{
                        color: rgba(0,0,0,.5);
                        text-decoration: none;
                    }
                }
                &>li {
                    margin: 0 .6rem;
                    cursor: default;
                }
                &>li>a {
                    cursor: pointer;
                }

            }

            li .menu .menu__item--has-children-list {
                &:hover {
                    text-decoration: none;
                    color: $setting-color-text;
                    cursor: default;
                    &>a {
                        color: $setting-color-text;
                        text-decoration: none;
                        cursor: default;
                    }

                }
            }
        }

    }
}

@include shop-ui-navigation-header();
