@include shop-ui-link {
    &--darkest {
        @include helper-effect-transition(all);
        color: $setting-color-darkest;
    }

    &--checkout-success {
        text-decoration: none;
    }

    &--login-forgot-password {
        margin-top: rem(20);

        @include helper-breakpoint-media-min($md-min) {
            margin-top: rem(16);
        }
    }

    &--edit {
        font: 300 rem(13) $setting-font-family-additional;
        opacity: 0.4;
        margin-top: rem(16);

        &:hover {
            text-decoration: none;
            color: inherit;
            opacity: 1;
        }
    }

    &--custom-underline {
        @include helper-effect-transition(opacity);
        font: bold rem(11)/normal $setting-font-family-additional;
        letter-spacing: rem(2.7);
        text-transform: uppercase;
        position: relative;
        cursor: pointer;
        color: $setting-color-text;
        padding: rem(9) 0;

        &:hover {
            text-decoration: none;
            color: $setting-color-text;
            opacity: 0.5;
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            height: rem(1);
            width: 100%;
            background: $setting-color-text;
            bottom: 0;
        }
    }
}
