@mixin shop-ui-jumbotron($name: '.jumbotron') {
    #{$name} {
        &__container {
            height: rem(256);
            background: linear-gradient(to left top, helper-color-dark($setting-color-main), helper-color-light($setting-color-main)) no-repeat center / cover;
            text-align: center;
            position: relative;

            @include helper-breakpoint(md) {
                height: rem(416);
            }

            @include helper-breakpoint(xl) {
                height: rem(608);
            }
        }

        &__link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 100;
        }

        &__headline,
        &__sub-headline {
            color: $setting-color-white;
        }

        &__headline {
            font: bold rem(70) $setting-font-family-additional;
            line-height: 1.5;

            @include helper-breakpoint-media-max($lg-max) {
                font-size: rem(48);
            }

            @include helper-breakpoint-media-max($md-max) {
                font-size: rem(32);
            }
        }

        &__sub-headline {
            font: 300 rem(32) $setting-font-family;
            letter-spacing: rem(0.2);

            @include helper-breakpoint-media-max($lg-max) {
                font-size: rem(24);
            }

            @include helper-breakpoint-media-max($md-max) {
                font-size: rem(16);
            }
        }

        &--category {
            #{$name}__container {
                background-color: $setting-color-white;
                background-image: none;
                height: auto;
            }

            #{$name}__sub-headline {
                font: 500 rem(13) $setting-font-family;
                text-transform: uppercase;
                letter-spacing: rem(2.6);
                color: $setting-color-darker;
            }

            #{$name}__headline {
                font-size: rem(59);
                font-weight: 500;

                @include helper-breakpoint-media-max($lg-max) {
                    font-size: rem(32);
                }

                @include helper-breakpoint-media-max($md-max) {
                    font-size: rem(24);
                }
            }

            #{$name}__grid {
                flex-direction: column;
                margin: 0 rem(16);
                padding: rem(20) 0;
                min-height: rem(144);

                @include helper-breakpoint(md) {
                    min-height: rem(256);
                }

                @include helper-breakpoint(xl) {
                    min-height: rem(290);
                }
            }
        }

        &--category-no-img {
            #{$name}__grid {
                border-bottom: solid rem(1) $setting-color-lightest;
                min-height: rem(121);

                @include helper-breakpoint(md) {
                    min-height: rem(176);
                }

                @include helper-breakpoint(xl) {
                    min-height: rem(240);
                }
            }

            #{$name}__headline,
            #{$name}__sub-headline {
                color: $setting-color-darker;
            }
        }

        @content;
    }
}

@include shop-ui-jumbotron();
