@mixin shop-ui-jumbotron($name: '.jumbotron') {
    #{$name} {
        height: rem(256);
        background: linear-gradient(to left top, $setting-color-gray-3, $setting-color-gray-4) no-repeat center;
        text-align: center;
        position: relative;

        @include helper-breakpoint(md) {
            height: rem(416);
        }

        @include helper-breakpoint(xl) {
            height: rem(608);
        }

        &--category {
            background: $setting-color-white;
            height: auto;
        }

        &__inner {
            position: relative;

            &--category {
                flex-direction: column;
                margin: 0 rem(16);
                padding: rem(20) 0;
                min-height: rem(144);

                @include helper-breakpoint(md) {
                    min-height: rem(256);
                }

                @include helper-breakpoint(xl) {
                    min-height: rem(290);
                }
            }

            &--category-no-img {
                border-bottom: rem(1) solid $setting-color-gray-3;
                min-height: rem(121);

                @include helper-breakpoint(md) {
                    min-height: rem(176);
                }

                @include helper-breakpoint(xl) {
                    min-height: rem(240);
                }
            }
        }

        &__link {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: $setting-zi-element;
        }

        &__headline,
        &__sub-headline {
            color: $setting-color-white;

            &--category-no-img {
                color: $setting-color-gray-6;
            }
        }

        &__headline {
            font: fw(bold) rem(32)/1.5 $setting-font-family-additional;

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(48);
            }

            @include helper-breakpoint-media-min($xl-min) {
                font-size: rem(70);
            }

            &--category {
                font-size: rem(24);
                font-weight: fw(medium);

                @include helper-breakpoint-media-min($lg-min) {
                    font-size: rem(32);
                }

                @include helper-breakpoint-media-min($xl-min) {
                    font-size: rem(59);
                }
            }
        }

        &__sub-headline {
            font: fw(light) rem(16) $setting-font-family;
            letter-spacing: rem(0.2);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(24);
            }

            @include helper-breakpoint-media-min($xl-min) {
                font-size: rem(32);
            }

            &--category {
                font: fw(medium) rem(13) $setting-font-family;
                text-transform: uppercase;
                letter-spacing: rem(2.6);
                color: $setting-color-gray-6;
            }
        }

        @content;
    }
}

@include shop-ui-jumbotron();
