{% extends template('page-layout-customer', 'CustomerPage') %}

{% define data = {
    form: _view.form,
    
    title: 'customer.account.newsletter' | trans,
    activePage: 'newsletter'
} %}

{% block customerContent %}
    <div class="box">
        <div class="customer-account__box grid grid--justify grid--middle">
            <h5 class="customer-account__subtitle col">{{ 'customer.newsletter.subscription' | trans }}</h5>
        </div>

        <p>{{ 'account.newsletter.text' | trans }}</p>

    </div>
    <div class="box">
        {% include molecule('customer-form', 'CustomerPage') with {
            data: {
                form: data.form,
                submit: {
                    enable: true
                }
            }
        } only %}
    </div>
{% endblock %}
