.page-layout-customer {
    &__box {
        border-bottom: rem(1) dotted $setting-color-lightest;
        padding: rem(15) 0;
        margin: rem(15) 0;
    }

    &__form-wrap {
        padding-left: rem(16);
        padding-right: rem(16);
        max-width: rem(570);
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;

        @include helper-breakpoint-media-min($md-min) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--login-wrap {
        margin-top: rem(40);
    }
}
