@mixin shop-ui-quantity-counter($name: '.quantity-counter') {
    #{$name} {
        &__container {
            padding: 0 rem(10);

            &--no-spacing {
                padding: 0;
            }
        }

        &__input {
            margin: 0;
            padding: 0;
            display: block;
            font: fw(light) rem(13)/rem(31) $setting-font-family-additional;
            width: rem(30);
            height: rem(30);
            text-align: center;
            border: none;

            /* stylelint-disable property-no-vendor-prefix */
            -moz-appearance: textfield;
            /* stylelint-enable */

            &::-webkit-inner-spin-button {
                appearance: none;
            }

            &--quantity-large {
                font-size: rem(15);
            }

            &--transparent {
                background: $setting-color-transparent;
            }
        }

        @content;
    }
}

@include shop-ui-quantity-counter();
