{% extends model('component') %}

{% define config = {
    name: 'flag',
    tag: 'span'
} %}

{% define data = {
    text: ''
} %}

{% block body %}
    <span class="{{config.name}}__text">
        {#{% include atom('icon') with {#}
            {#modifiers: ['small'],#}
            {#class: config.name ~ '__icon',#}
            {#data: {#}
                {#name: 'bookmark'#}
            {#}#}
        {#} only %}#}
        {{data.text}}
    </span>
{% endblock %}
