@mixin product-label-widget-flag($name: '.flag') {
    #{$name} {
        display: inline-block;
        padding: rem(1) rem(7);
        background: rgba($setting-color-light-1, 0.5);
        border-radius: rem(2);

        @include helper-breakpoint-media-max($sm-max) {
            padding: rem(3) rem(8);
            font-size: rem(11);
        }

        &__icon {
            color: $setting-color-main;
        }

        &--highlight {
            background: transparent;
            border: solid rem(1) $setting-color-main;
            color: $setting-color-main;
        }

        @content;
    }
}

@include product-label-widget-flag();
