@mixin shop-ui-checkout-layout ($name: '.checkout-layout'){
    #{$name} {

        h5 {
            font: 500 20px $setting-font-family-additional;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
        &__half-left {
            padding-right: 20px;
        }
        &__half-right {
            padding-left: 20px;
        }
    }
}

@include shop-ui-checkout-layout();
