@mixin shop-ui-checkout-layout ($name: '.checkout-layout') {
    #{$name} {

        max-width: rem(570);
        margin: 0 auto;
        padding-bottom: rem(60);
        font-size: rem(16);
        overflow: hidden;

        &--full-width {
            max-width: 100%;
        }

        .checkout-form-heading {
            margin-bottom: rem(32);
            padding-bottom: rem(10);
            border-bottom: dotted rem(1) $setting-color-lightest;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(58);
            }

            &--row {
                display: flex;
            }

            &__img {
                width: rem(93);
                height: rem(36);
                border-radius: rem(2);
                border: solid rem(1) $setting-color-input-border;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                &--indent {
                    margin: 0 rem(8) rem(10) 0;
                }

                img {
                    flex-shrink: 0;
                    max-width: 70%;
                    max-height: 90%;
                }
            }

            h5 {
                margin: 0 rem(10) 0 0;
                border: none;
                padding: 0;
            }
        }

        h5 {
            font: 700 rem(32) $setting-font-family-additional;
            letter-spacing: rem(-0.5);
            line-height: 1;
            margin-bottom: rem(32);
            padding-bottom: rem(10);
            border-bottom: dotted rem(1) $setting-color-lightest;
            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(47);
                margin-bottom: rem(58);
            }
        }

        label,
        .label {
            display: block;
            color: $setting-color-dark;
        }

        .grid {
            margin: 0;
            display: block;
            .grid {
                display: flex;
                margin: 0 rem(-16);
                max-width: none;
            }
        }

        .col:not(.cart-item__image) {
            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
            }
        }

        .form__actions {
            padding-top: rem(29);
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        .form__action {
            margin: 0;
        }

        .button--secondary {
            margin-top: rem(30);
        }

        .forgot-password-link {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: rem(16);
            }
            margin-top: rem(20);
        }

        .checkbox__box,
        .toggler-checkbox__box {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: rem(4);
            }
        }

        .checkbox__check {
            @include helper-breakpoint-media-min($md-min) {
                top: rem(7) !important;
            }
        }

        .checkout-product-img {
            width: rem(48);
            .thumbnail {
                height: rem(56);
                width: rem(56);
                &::after {
                    content: '';
                    position: absolute;
                    top: rem(-4);
                    left: rem(-4);
                    right: rem(-4);
                    bottom: rem(-4);
                    border-radius: rem(4);
                    background: rgba(0, 0, 0, 0.05);
                    z-index: 350;
                }
            }
        }

        .login-form {
            .grid {
                display: flex;
                margin: 0 rem(-16);
                max-width: none;
            }
        }

        .address-form {
            & + h5,
            &__billing {
                margin-top: rem(42);
            }
        }

        .checkout__address-list {
            & > label,
            .label {
                display: none;
            }
            .radio {
                margin-bottom: rem(16);
            }
        }

        &--address-step {
            .radio__container {
                overflow: hidden;
                cursor: pointer;
                .radio__box {
                    float: left;
                    margin-top: rem(1);
                }
                .radio__label {
                    display: block;
                    overflow: hidden;
                }
            }
        }

        .shipping-form-item + .shipping-form-item {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: rem(40);
            }
            margin-top: rem(50);
        }

        &--summary-step {
            .grid {
                display: flex;
                margin: 0 rem(-16);
                max-width: none;
            }
            .col {
                padding: 0 1em;
            }
            .cart-item__image {
                box-sizing: content-box;
            }
            .cart-item__title {
                cursor: default;
            }
        }
        .summary-right {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 0;
            }
            margin-top: rem(60);
        }

        .summary-item-wrap {
            & + .summary-item-wrap {
                @include helper-breakpoint-media-min($md-min) {
                    margin-top: rem(70);
                }
                margin-top: rem(60);
            }
            .grid {
                margin: 0;
                max-width: 100%;
                display: flex;
            }
        }

        .summary-item-edit {
            display: inline-block;
            font: 300 rem(13) $setting-font-family-additional;
            opacity: 0.4;
            margin-top: rem(16);
            &:hover {
                text-decoration: none;
                color: inherit;
                opacity: 1;
            }
        }

        .summary-product-list__item {
            &:first-child {
                .shopping-cart__box {
                    padding-top: 0;
                }
            }
            .grid {
                margin: 0;
                max-width: 100%;
                display: flex;
            }
            .col {
                padding: 0;
            }
            .cart-item__content {
                padding: 0 0 rem(5) rem(24);
                align-self: center;
                width: calc(100% - #{rem(120)});

                .cart-item__price,
                .text-right {
                    @include helper-breakpoint-media-max($sm-max) {
                        text-align: left;
                    }
                }
            }
        }

        .summary-address {
            .grid {
                display: flex;
                margin: 0 rem(-16);
                max-width: none;
            }
            .col + .col {
                @include helper-breakpoint-media-max($sm-max) {
                    margin-top: rem(33);
                }
            }
        }

        .summary-voucher {
            padding: rem(18) 0;
            border-top: dotted rem(1) $setting-color-lightest;
            border-bottom: dotted rem(1) $setting-color-lightest;
            .form__actions {
                padding-top: 0;
            }
        }

        .summary-overview {
            margin: rem(56) 0 rem(50);
            border-top: dotted rem(1) $setting-color-lightest;
            border-bottom: dotted rem(1) $setting-color-lightest;
        }

        .cart-summary__total {
            font-size: rem(17);
        }

        &.success-page {
            @include helper-breakpoint-media-min($md-min) {
                padding-left: 0;
                padding-right: 0;
            }
            padding-left: rem(16);
            padding-right: rem(16);
        }

        .success-page__title {
            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(47);
                letter-spacing: rem(-0.5);
                margin-bottom: rem(48);
            }
            font: 500 rem(36) $setting-font-family-additional;
            letter-spacing: rem(-0.3);
            border-bottom: dotted rem(1) #d3d3d3;
            margin-bottom: rem(40);
            padding-bottom: rem(8);
        }

        .success-page__text {
            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(21);
                line-height: 1.29;
            }
            font: 300 rem(17)/1.41 $setting-font-family;
            margin-bottom: rem(40);
        }

        .success-page__link {
            text-decoration: none;
            .icon {
                height: rem(13);
            }
        }
    }
    .header.header-checkout {
        @include helper-breakpoint-media-max($sm-max) {
            padding-top: 0;
        }
    }

    .header__navigation-top {
        position: relative;
        .logo {
            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(22) rem(13);
            }
        }
    }

    .header__back-link {
        @include helper-breakpoint-media-min($md-min) {
            font-size: rem(19);
            top: 0;
            margin-top: 0;
            padding: 0;
            transform: translateY(0);
        }
        position: absolute;
        top: 50%;
        left: rem(16);
        color: $setting-color-tundora;
        font-size: 0;
        line-height: rem(19);
        font-weight: 500;
        transform: translateY(-50%);
        padding: rem(5) rem(5) rem(5) 0;
        z-index: 100;
        &:hover {
            text-decoration: none;
        }
        .icon {
            margin-top: rem(-1);
            width: rem(18);
            height: rem(18);
        }
    }

    .register-type {
        padding: 0 0 rem(20);
        max-width: rem(570);
        margin: 0 auto rem(30);
    }

    .checkout-content-wrap {
        @include helper-breakpoint-media-min($md-min) {
            padding-top: rem(80);
        }
    }

    .list-switches {
        @include helper-breakpoint-media-min($md-min) {
            display: flex;
            justify-content: space-between;
        }

        &__img-wrap {
            position: absolute;
            right: rem(20);
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;

            img {
                width: rem(40);
                margin-left: rem(5);
                display: block;
                flex-shrink: 0;
            }
        }
    }

    .list-switches__item {
        @include helper-breakpoint-media-min($md-min) {
            flex-grow: 1;
            min-width: rem(100);
            margin: 0 rem(30) 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
        @include helper-breakpoint-media-min($lg-min) {
            min-width: rem(170);
        }
        display: block;
        position: relative;
        margin-bottom: rem(8);
    }

    .list-switches--two-colums {
        @include helper-breakpoint-media-min($md-min) {
            flex-wrap: wrap;
        }
    }

    .list-switches__item--half-width {
        @include helper-breakpoint-media-min($md-min) {
            min-width: calc(50% - #{rem(15)});
            flex-grow: 0;
            margin: 0 0 rem(30);
        }
    }
}

@include shop-ui-checkout-layout();
