@mixin shop-ui-checkout-layout ($name: '.checkout-layout') {
    #{$name} {

        max-width: 570px;
        margin: 0 auto;
        padding-bottom: 60px;
        font-size: 16px;
        overflow: hidden;

        &--full-width {
            max-width: 100%;
        }

        .checkout-form-heading {
            margin-bottom: 2rem;
            padding-bottom: 10px;
            border-bottom: dotted 1px $setting-color-lightest;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: 3.6rem;
            }

            &--row {
                display: flex;
            }

            &__img {
                width: 93px;
                height: 36px;
                border-radius: 2px;
                border: solid 1px $setting-color-input-border;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                &--indent {
                    margin: 0 8px 10px 0;
                }

                img {
                    flex-shrink: 0;
                    max-width: 70%;
                    max-height: 90%;
                }
            }

            h5 {
                margin: 0 10px 0 0;
                border: none;
                padding: 0;
            }
        }

        h5 {
            font: 700 32px $setting-font-family-additional;
            letter-spacing: -0.5px;
            line-height: 1;
            margin-bottom: 2rem;
            padding-bottom: 10px;
            border-bottom: dotted 1px $setting-color-lightest;
            @include helper-breakpoint-media-min($md-min) {
                font-size: 47px;
                margin-bottom: 3.6rem;
            }
        }

        label,
        .label {
            display: block;
            color: #333;
        }

        .grid {
            margin: 0;
            display: block;
            .grid {
                display: flex;
                margin: 0 -1rem;
                max-width: none;
            }
        }

        .col:not(.cart-item__image) {
            @include helper-breakpoint-media-max($sm-max) {
                width: 100%;
            }
        }

        .form__actions {
            padding-top: 29px;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        .form__action {
            margin: 0;
        }

        .button--secondary {
            margin-top: 30px;
        }

        .forgot-password-link {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 16px;
            }
            margin-top: 20px;
        }

        .checkbox__box,
        .toggler-checkbox__box {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 4px;
            }
        }

        .checkbox__check {
            @include helper-breakpoint-media-min($md-min) {
                top: 7px !important;
            }
        }

        .checkout-product-img {
            width: 3rem;
            .thumbnail {
                height: 3.5rem;
                width: 3.5rem;
                &::after {
                    content: '';
                    position: absolute;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    border-radius: 4px;
                    background: rgba(0, 0, 0, 0.05);
                    z-index: 350;
                }
            }
        }

        .login-form {
            .grid {
                display: flex;
                margin: 0 -1rem;
                max-width: none;
            }
        }

        .address-form {
            & + h5,
            &__billing {
                margin-top: 2.6rem;
            }
        }

        .checkout__address-list {
            & > label,
            .label {
                display: none;
            }
            .radio {
                margin-bottom: 1rem;
            }
        }

        &--address-step {
            .radio__container {
                overflow: hidden;
                cursor: pointer;
                .radio__box {
                    float: left;
                    margin-top: 1px;
                }
                .radio__label {
                    display: block;
                    overflow: hidden;
                }
            }
        }

        .shipping-form-item + .shipping-form-item {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 40px;
            }
            margin-top: 50px;
        }

        &--summary-step {
            .grid {
                display: flex;
                margin: 0 -1rem;
                max-width: none;
            }
            .col {
                padding: 0 1em;
            }
            .cart-item__image {
                box-sizing: content-box;
            }
            .cart-item__title {
                cursor: default;
            }
        }
        .summary-right {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 0;
            }
            margin-top: 60px;
        }

        .summary-item-wrap {
            & + .summary-item-wrap {
                @include helper-breakpoint-media-min($md-min) {
                    margin-top: 70px;
                }
                margin-top: 60px;
            }
            .grid {
                margin: 0;
                max-width: 100%;
                display: flex;
            }
        }

        .summary-item-edit {
            display: inline-block;
            font: 300 13px $setting-font-family-additional;
            opacity: 0.4;
            margin-top: 1rem;
            &:hover {
                text-decoration: none;
                color: inherit;
                opacity: 1;
            }
        }

        .summary-product-list__item {
            &:first-child {
                .shopping-cart__box {
                    padding-top: 0;
                }
            }
            .grid {
                margin: 0;
                max-width: 100%;
                display: flex;
            }
            .col {
                padding: 0;
            }
            .cart-item__content {
                padding: 0 0 5px 24px;
                align-self: center;
                width: calc(100% - 120px);

                .cart-item__price,
                .text-right {
                    @include helper-breakpoint-media-max($sm-max) {
                        text-align: left;
                    }
                }
            }
        }

        .summary-address {
            .grid {
                display: flex;
                margin: 0 -1rem;
                max-width: none;
            }
            .col + .col {
                @include helper-breakpoint-media-max($sm-max) {
                    margin-top: 33px;
                }
            }
        }

        .summary-voucher {
            padding: 1.1rem 0;
            border-top: dotted 1px $setting-color-lightest;
            border-bottom: dotted 1px $setting-color-lightest;
            .form__actions {
                padding-top: 0;
            }
        }

        .summary-overview {
            margin: 3.5rem 0 3.13rem;
            border-top: dotted 1px $setting-color-lightest;
            border-bottom: dotted 1px $setting-color-lightest;
        }

        .cart-summary__total {
            font-size: 17px;
        }

        &.success-page {
            @include helper-breakpoint-media-min($md-min) {
                padding-left: 0;
                padding-right: 0;
            }
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .success-page__title {
            @include helper-breakpoint-media-min($md-min) {
                font-size: 2.937rem;
                letter-spacing: -0.5px;
                margin-bottom: 3rem;
            }
            font: 500 2.25rem $setting-font-family-additional;
            letter-spacing: -0.3px;
            border-bottom: dotted 1px #d3d3d3;
            margin-bottom: 2.5rem;
            padding-bottom: 0.5rem;
        }

        .success-page__text {
            @include helper-breakpoint-media-min($md-min) {
                font-size: 1.312rem;
                line-height: 1.29;
            }
            font: 300 1.062rem/1.41 $setting-font-family;
            margin-bottom: 2.5rem;
        }

        .success-page__link {
            text-decoration: none;
            .icon {
                height: 0.813rem;
            }
        }
    }
    .header.header-checkout {
        @include helper-breakpoint-media-max($sm-max) {
            padding-top: 0;
        }
    }

    .header__navigation-top {
        position: relative;
        .logo {
            @include helper-breakpoint-media-max($sm-max) {
                padding: 1.4rem 0.8rem;
            }
        }
    }

    .header__back-link {
        @include helper-breakpoint-media-min($md-min) {
            font-size: 19px;
            top: 0;
            margin-top: 0;
            padding: 0;
            transform: translateY(0);
        }
        position: absolute;
        top: 50%;
        left: 1rem;
        color: #444;
        font-size: 0;
        line-height: 19px;
        font-weight: 500;
        transform: translateY(-50%);
        padding: 5px 5px 5px 0;
        z-index: 100;
        &:hover {
            text-decoration: none;
        }
        .icon {
            margin-top: -1px;
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    .register-type {
        padding: 0 0 20px;
        max-width: 570px;
        margin: 0 auto 30px;
    }

    .checkout-content-wrap {
        @include helper-breakpoint-media-min($md-min) {
            padding-top: 80px;
        }
    }

    .list-switches {
        @include helper-breakpoint-media-min($md-min) {
            display: flex;
            justify-content: space-between;
        }

        &__img-wrap {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;

            img {
                width: 40px;
                margin-left: 5px;
                display: block;
                flex-shrink: 0;
            }
        }
    }

    .list-switches__item {
        @include helper-breakpoint-media-min($md-min) {
            flex-grow: 1;
            min-width: 100px;
            margin: 0 30px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
        @include helper-breakpoint-media-min($lg-min) {
            min-width: 170px;
        }
        display: block;
        position: relative;
        margin-bottom: 8px;
    }

    .list-switches--two-colums {
        @include helper-breakpoint-media-min($md-min) {
            flex-wrap: wrap;
        }
    }

    .list-switches__item--half-width {
        @include helper-breakpoint-media-min($md-min) {
            min-width: calc(50% - 15px);
            flex-grow: 0;
            margin: 0 0 30px;
        }
    }
}

@include shop-ui-checkout-layout();
