@mixin shop-ui-checkout-layout ($name: '.checkout-layout'){
    #{$name} {

        max-width: 570px;
        margin: 0 auto;
        padding-bottom: 60px;
        font-size: 16px;
        overflow: hidden;

        &--full-width {
            max-width: 100%;
        }

        h5:not(.cart-item__title) {
            @include helper-breakpoint-media-min($md-min) {
                font-size: 47px;
            }
            font: 700 32px $setting-font-family-additional;
            letter-spacing: -0.5px;
            padding-bottom: 10px;
            margin-bottom: 3.6rem;
            border-bottom: dotted 1px $setting-color-lightest;
        }

        label,
        .label {
            display: block;
            color: #333;
        }

        .grid {
            margin: 0;
            display: block;
            .grid {
                display: flex;
                margin: 0 -1rem;
                max-width: none;
            }
        }

        .col {
            @include helper-breakpoint-media-max($md-max) {
                width: 100%;
            }
        }

        .form__actions {
            padding-top: 29px;
            display: flex;
            flex-direction: column-reverse;
            align-items: flex-end;
        }

        .form__action {
            margin: 0;
        }

        .button--secondary {
            margin-top: 30px;
        }

        .forgot-password-link {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 16px;
            }
            margin-top: 20px;
        }

        .checkbox__box,
        .toggler-checkbox__box{
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 4px;
            }
        }

        .checkbox__check {
            @include helper-breakpoint-media-min($md-min) {
                top: 7px !important;
            }
        }

        .summary-address {
            padding-bottom: 30px;
        }

        .summary-product-list {
            border-bottom: dotted 1px $setting-color-lightest;
        }

        .checkout-product-img {
            width: 3rem;
            .thumbnail {
                height: 3.5rem;
                width: 3.5rem;
                &:after {
                    content: '';
                    position: absolute;
                    top: -4px;
                    left: -4px;
                    right: -4px;
                    bottom: -4px;
                    border-radius: 4px;
                    background: rgba(0, 0, 0, 0.05);
                    z-index: 350;
                }
            }
        }

        .summary-right {
            .cart-note {
                border-bottom: dotted 1px $setting-color-lightest;
                padding: 20px 0;
            }
        }

        .summary-voucher {
            padding: 40px 0 0;
            .form__field {
                padding: 0 !important;
                .input {
                    border-radius: 2px 0 0 2px;
                    border-right: 0;
                }
            }
            .form__actions {
                margin: 0;
                padding: 0;
                border: none;
            }
            .form__action {
                margin: 0;
            }
        }

        .summary-overview {
            padding: 40px 0 0;
            table {
                width: 100%;
            }
            td:last-child {
                text-align: right;
            }
            .summary-overview-border {
                border-bottom: dotted 1px $setting-color-lightest;
                td {
                    padding-bottom: 10px;
                }
                + tr td {
                    padding-top: 10px;
                }
            }
        }

        .total td {
            padding-top: 15px;
        }

        .login-form {
            .grid {
                display: flex;
                margin: 0 -1rem;
                max-width: none;
            }
        }

        .address-form {
            &.form {
                margin-bottom: 2.6rem;
            }
            &__billing {
                margin-top: 2.6rem;
            }
        }

        .checkout__address-list {
            & > label,
            .label {
                display: none;
            }
            .radio {
                margin-bottom: 1rem;
            }
        }

        &--address-step {
            .radio__container {
                overflow: hidden;
                cursor: pointer;
                .radio__box {
                    float: left;
                    margin-top: 1px;
                }
                .radio__label {
                    display: block;
                    overflow: hidden;
                }
            }
        }

        .shipping-form-item + .shipping-form-item {
            @include helper-breakpoint-media-min($md-min) {
                margin-top: 40px;
            }
            margin-top: 50px;
        }

        &--summary-step {
            .grid {
                display: flex;
                margin: 0 -1rem;
                max-width: none;
            }
            .col {
                padding: 0 1em;
            }
        }
    }
    .header.header-checkout {
        @include helper-breakpoint-media-max($md-max) {
            padding-top: 0;
        }
    }

    .header__navigation-top {
        position: relative;
        .logo {
            @include helper-breakpoint-media-max($md-max) {
                padding: 1.4rem 0.8rem;
            }
        }
    }

    .header__back-link {
        @include helper-breakpoint-media-min($md-min) {
            font-size: 19px;
            top: 0;
            margin-top: 0;
            padding: 0;
            transform: translateY(0);
        }
        position: absolute;
        top: 50%;
        left: 1rem;
        color: #444;
        font-size: 0;
        line-height: 19px;
        font-weight: 500;
        transform: translateY(-50%);
        padding: 5px 5px 5px 0;
        z-index: 100;
        &:hover {
            text-decoration: none;
        }
        .icon {
            margin-top: -1px;
        }
    }

    .register-type {
        padding: 0 0 20px;
        max-width: 570px;
        margin: 0 auto 30px;
    }

    .checkout-content-wrap {
        @include helper-breakpoint-media-min($md-min) {
            padding-top: 80px;
        }
    }

    .list-switches {
        @include helper-breakpoint-media-min($md-min) {
            display: flex;
            justify-content: space-between;
        }
    }
    .list-switches__item {
        @include helper-breakpoint-media-min($md-min) {
            flex-grow: 1;
            min-width: 100px;
            margin: 0 30px 0 0;
            &:last-child {
                margin-right: 0;
            }
        }
        @include helper-breakpoint-media-min($lg-min) {
            min-width: 170px;
        }
        display: block;
        margin-bottom: 8px;
    }
    .list-switches--two-colums {
        @include helper-breakpoint-media-min($md-min) {
            flex-wrap: wrap;
        }
    }
    .list-switches__item--half-width {
        @include helper-breakpoint-media-min($md-min) {
            min-width: calc(50% - 15px);
            flex-grow: 0;
            margin: 0 0 30px;
        }
    }
}
