@mixin shop-ui-flash-message($name: '.flash-message') {
    #{$name} {
        @include helper-ui-shadow;
        @include helper-visibility-invisible;
        @include helper-effect-transition(max-height opacity visibility, 500ms);
        max-height: 0;
        background-color: rgba(helper-color-light($setting-color-main), 0.97);
        cursor: pointer;
        overflow-y: hidden;

        &__message {
            padding: 1rem 0.5rem;
            color: helper-color-dark($setting-color-main);
        }

        &--show {
            @include helper-visibility-visible;
            max-height: 8rem;
        }

        @each $action, $setting-color-action in $setting-color-actions {
            @include shop-ui-flash-message-action($action, $setting-color-action);
        }

        @content;
    }
}

@mixin shop-ui-flash-message-action($action, $setting-color-action) {
    &--#{$action} {
        background-color: rgba(helper-color-light($setting-color-action), 0.97);
    }

    &--#{$action} &__message {
        color: helper-color-dark($setting-color-action);
    }

    @content;
}
