@mixin product-review-widget-review-summary($name: '.review-summary') {
    #{$name} {
        &__sub-title {
            font: 400 rem(21)/rem(35) $setting-font-family-additional;
            border-bottom: dotted rem(1) $setting-color-lightest;
            padding-bottom: rem(6);
            margin-bottom: rem(29);

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(27);
                padding-bottom: rem(10);
                margin-bottom: rem(50);
            }
        }

        &__add-review-mobile {
            padding-bottom: rem(30);
        }

        &__add-review-mobile-btn {
            width: 100%;
            font: 400 rem(14) $setting-font-family-additional;
            padding: rem(14);
        }

        &__reviews {
            column-count: 1;
            column-gap: rem(30);
            margin: rem(-32) 0 rem(70);

            @include helper-breakpoint-media-min($md-min) {
                column-count: 2;
            }
        }

        @content;
    }
}

@include product-review-widget-review-summary();
