@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {

        ul {
            border-top: dotted rem(1) $setting-color-gray-3;
            border-bottom: dotted rem(1) $setting-color-gray-3;
            margin-bottom: rem(50);
        }

        &__item {
            display: inline-block;

            &:first-child,
            &:last-child {
                flex-grow: 1;
            }
        }

        &__step {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(68);
            height: rem(68);
            font: 400 rem(18)/rem(68) $setting-font-family-additional;
            text-align: center;
            color: $setting-color-black;

            &--previous {
                float: left;
            }

            &--next {
                float: right;
            }

            &:hover {
                text-decoration: none;
                background: $setting-color-gray-1;
            }

            &:not(&--current):hover {
                color: $setting-color-black;
            }

            &--current {
                color: $setting-color-alt;
            }

            &--disabled {
                opacity: 0.15;

                &:hover {
                    background: none;
                }
            }

            @include helper-breakpoint-media-max($lg-max) {
                width: rem(44);
                height: rem(54);
                font-size: rem(15);
                line-height: rem(54);
            }
        }

        &__icon {
            width: rem(12);
            height: rem(12);
            color: $setting-color-black;

            @include helper-breakpoint-media-max($lg-max) {
                width: rem(11);
                height: rem(11);
            }
        }
    }
}

@include shop-ui-pagination();
