@mixin shop-ui-pagination($name: '.pagination') {
    #{$name} {

        ul {
            border-top: dotted rem(1) $setting-color-lightest;
            border-bottom: dotted rem(1) $setting-color-lightest;
            margin-bottom: rem(50);
        }

        &__item {
            display: inline-block;
            &:first-child {
                flex-grow: 1;
            }
            &:last-child {
                flex-grow: 1;
            }
        }

        &__step {
            display: flex;
            align-items: center;
            justify-content: center;
            width: rem(68);
            height: rem(68);
            font: 400 rem(18)/rem(68) $setting-font-family-additional;
            text-align: center;
            color: $setting-color-dark;

            &--previous {
                float: left;
            }

            &--next {
                float: right;
            }

            &:hover {
                text-decoration: none;
                background: $setting-color-black-haze;
            }

            &:not(&--current):hover {
                color: $setting-color-dark;
            }

            &--current {
                color: $setting-color-alt;
            }

            &--disabled {
                opacity: 0.15;
                &:hover {
                    background: none;
                }
            }

            @include helper-breakpoint-media-max($lg-max) {
                width: rem(44);
                height: rem(54);
                font-size: rem(15);
                line-height: rem(54);
            }
        }

        .icon {
            width: rem(12);
            height: rem(12);
            svg {
                fill: $setting-color-dark;
            }
            @include helper-breakpoint-media-max($lg-max) {
                width: rem(11);
                height: rem(11);
            }
        }
    }
}

@include shop-ui-pagination();
