@mixin catalog-page-catalog-cms-block($name: '.catalog-cms-block') {
    #{$name} {
        font-size: rem(14);
        line-height: rem(21);
        color: $setting-color-black;

        p {
            margin: 0 0 rem(11);
        }

        a {
            &:not(.button) {
                @include helper-effect-transition(color);
                text-decoration: underline;
                color: $setting-color-black;

                &:hover {
                    color: $setting-color-alt;
                }
            }
        }

        &--top {
            #{$name}__inner {
                padding-top: rem(10);
                margin-bottom: rem(-11);
            }
        }

        &--middle {
            display: none;

            @include helper-breakpoint-media-min($xl-min) {
                display: block;
            }

            #{$name}__inner {
                padding-top: rem(50);
            }
        }

        &--bottom {
            #{$name}__inner {
                padding-bottom: rem(100);

                @include helper-breakpoint-media-max($lg-max) {
                    padding-bottom: rem(50);
                }
            }
        }
    }
}

@include catalog-page-catalog-cms-block();
