@mixin catalog-page-cms-block ($name: '.catalog-cms-block') {
    #{$name} {
        font-size: 14px;
        line-height: 21px;
        color: $setting-color-dark;
        h5 {
            font: 500 15px/1.33 $setting-font-family-additional;
            margin: 0 0 11px;
        }
        p {
            margin: 0 0 11px;
        }
        a {
            text-decoration: underline;
            color: $setting-color-dark;
            transition: color 0.3s;
            &:hover {
                color: $setting-color-radical-red;
            }
        }
        &--top &__inner {
            padding-top: 40px;
        }
        &--middle {
            display: none;
            @include helper-breakpoint-media-min($xl-min) {
                display: block;
            }
            #{$name}__inner {
                padding-top: 50px;
            }
        }
        &--bottom &__inner {
            padding-bottom: 100px;
            @include helper-breakpoint-media-max($lg-max) {
                padding-bottom: 50px;
            }
        }
    }
}

@include catalog-page-cms-block();

