{% extends model('component') %}

{% define config = {
    name: 'icon-sprite',
    tag: 'svg'
} %}

{% block extraAttributes %}
    xmlns="http://www.w3.org/2000/svg"
    style="display: none;"
{% endblock %}

{% block body %}
    {#
        Font Awesome Free 5.0.4 by @fontawesome - http://fontawesome.com
        License - http://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
    #}
    {% spaceless %}
        {# action icons #}
        <symbol id=":search" viewBox="0 0 16 17">
            <title id=":search-title">Search</title>
            <defs>
                <path id="a" d="M4 3h19v22H4z"/>
                <path id="c" d="M0 0h18v22H0z"/>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(-5 -5)">
                <mask id="b" fill="#fff">
                    <use xlink:href="#a"/>
                </mask>
                <g mask="url(#b)">
                    <g transform="scale(-1 1) rotate(40 -7.995 -18.596)">
                        <mask id="d" fill="#fff">
                            <use xlink:href="#c"/>
                        </mask>
                        <g mask="url(#d)">
                            <g transform="translate(2 2)">
                                <rect width="1" height="5.438" x="5.704" y="13" fill="#111" rx=".5"/>
                                <ellipse cx="6.203" cy="6.438" stroke="#111" rx="6.502" ry="6.5"/>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":wishlist" viewBox="0 0 26 22">
            <title id=":wishlist-title">Wishlist</title>
            <defs>
                <path d="M0 0h44v44H0z"/>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(-9 -11)">
                <mask fill="#fff">
                    <use xlink:href="#a"/>
                </mask>
                <path stroke="#111" d="M22 13.82a7.216 7.216 0 0 1 5.319-2.32c3.964 0 7.181 3.163 7.181 7.069 0 3.37-2.33 6.65-6.187 9.743a37.82 37.82 0 0 1-4.18 2.893c-.5.3-.963.563-1.379.789-.251.136-.432.23-.53.28l-.235.116-.23-.125a22.158 22.158 0 0 1-.528-.303 42.179 42.179 0 0 1-1.376-.847 43.023 43.023 0 0 1-4.173-3.026c-3.856-3.186-6.182-6.403-6.182-9.52 0-3.906 3.217-7.069 7.181-7.069 2.058 0 3.973.859 5.319 2.32z" mask="url(#b)"/>
            </g>
        </symbol>

        <symbol id=":user-account" viewBox="0 0 26 22">
            <title id=":user-account-title">User Account</title>
            <defs>
                <path d="M.5 0h44v44H.5z"/>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(-9.5 -11)">
                <mask fill="#fff">
                    <use xlink:href="#a"/>
                </mask>
                <g stroke="#111" mask="url(#b)">
                    <path d="M10 33c0-4.98 5.807-8.5 12.5-8.5S35 28.02 35 33v.5H10V33zM22.5 11.5c3.584 0 6.5 2.916 6.5 6.5 0 3.585-2.916 6.5-6.5 6.5A6.506 6.506 0 0 1 16 18c0-3.584 2.915-6.5 6.5-6.5z"/>
                </g>
            </g>
        </symbol>

        <symbol id=":cart" viewBox="0 0 26 23">
            <title id=":cart-title">Cart</title>
            <defs>
                <path d="M0 0h44v44H0z"/>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(-9 -10)">
                <mask fill="#fff">
                    <use xlink:href="#a"/>
                </mask>
                <g mask="url(#b)">
                    <path fill="#111" d="M29.83 16h-1.305l-4.3-5.126a.5.5 0 1 1 .765-.643L29.83 16zM15.475 16h-1.306l4.84-5.769a.5.5 0 0 1 .767.643L15.475 16z"/>
                    <path stroke="#111" d="M31.8 30.825c-.185.967-.95 1.675-1.87 1.675H14.07c-.92 0-1.685-.709-1.87-1.674L9.743 18.288a1.5 1.5 0 0 1 1.472-1.788h21.57a1.5 1.5 0 0 1 1.472 1.788l-2.456 12.537z"/>
                    <g fill="#111" transform="translate(18.5 21)">
                        <rect width="1" height="7" rx=".5"/>
                        <rect width="1" height="7" x="6" rx=".5"/>
                        <rect width="1" height="7" x="3" rx=".5"/>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":arrow-left" viewBox="0 0 444.531 444.531">
            <title id=":arrow-left">Arrow Left</title>
            <path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835   l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425   c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564   s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978   L213.13,222.409z" fill="#666666"/>
        </symbol>

        <symbol id=":arrow-right" viewBox="0 0 444.819 444.819">
            <title id=":arrow-left">Arrow Right</title>
            <path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264   c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168   c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413   c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864   c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z" fill="#666666"/>
        </symbol>

        <symbol id=":icon-home" viewBox="0 0 26 21">
            <title id=":icon-home">Icon Home</title>
            <path fill="none" fill-rule="evenodd" stroke="#000" d="M21.506 13.045V19.5c0 .555-.442 1.001-1.004 1.001H15.84a1.006 1.006 0 0 1-1.003-1.008v-4.286c0-.007 0-.008.01-.008h-3.602c.009 0 .01 0 .01.008v4.286a1 1 0 0 1-.995 1.008H5.448a.998.998 0 0 1-.995-1v-6.275H1.25c-.72 0-1.014-.692-.498-1.205L11.917.925A1.514 1.514 0 0 1 14.04.911l11.203 10.93c.522.51.218 1.204-.498 1.204h-3.24z"/>
        </symbol>

    {% endspaceless %}
{% endblock %}
