{% extends model('component') %}

{% define config = {
    name: 'icon-sprite',
    tag: 'svg'
} %}

{% block attributes %}
    xmlns="http://www.w3.org/2000/svg"
    style="height: 0; position: absolute;"
{% endblock %}

{% block body %}
    {#
        Font Awesome Free 5.0.4 by @fontawesome - http://fontawesome.com
        License - http://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
    #}
    {% spaceless %}
        {# action icons #}
        <symbol id=":search" viewBox="0 0 16 17">
            <title id=":search-title">Search</title>
            <g fill="none" fill-rule="evenodd" transform="translate(-5 -5)">
                <g transform="scale(-1 1) rotate(40 -7.995 -18.596)">
                    <g transform="translate(2 2)">
                        <rect width="1" height="5.438" x="5.704" y="13" fill="#111111" rx=".5"/>
                        <ellipse cx="6.203" cy="6.438" stroke="#111111" rx="6.502" ry="6.5"/>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":wishlist" viewBox="0 0 26 22">
            <title id=":wishlist-title">Wishlist</title>
            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g transform="translate(-1183.000000, -33.000000)">
                    <g transform="translate(0.000000, 18.000000)">
                        <g transform="translate(1174.000000, 4.000000)">
                            <path d="M22,13.819541 C23.3458678,12.3587408 25.260547,11.5 27.3186667,11.5 C31.2829679,11.5 34.5,14.6628729 34.5,18.568671 C34.5,21.9394053 32.1701949,25.2187422 28.3128256,28.3123944 C26.9811657,29.3804001 25.5566846,30.3503313 24.1322989,31.205193 C23.6336849,31.5044421 23.170381,31.768112 22.7540465,31.9939695 C22.5028163,32.1302595 22.3220194,32.2241694 22.2233337,32.273437 L21.9892259,32.3903123 L21.7597507,32.2645847 C21.6617238,32.2108766 21.4815949,32.1088417 21.2310461,31.9616017 C20.8155237,31.7174118 20.3530409,31.4343035 19.855262,31.115373 C18.4331447,30.2042121 17.0109145,29.187375 15.6815017,28.0888304 C11.8256034,24.9025544 9.5,21.6857073 9.5,18.568671 C9.5,14.6628729 12.7170321,11.5 16.6813333,11.5 C18.739453,11.5 20.6541322,12.3587408 22,13.819541 Z"
                                  stroke="#111111"></path>
                        </g>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":user-account" viewBox="0 0 78 66">
            <title id=":user-account-title">User Account</title>
            <g>
                <path opacity="1.00" d=" M 38.28 0.00 L 39.27 0.00 C 47.88 0.13 56.06 5.94 58.78 14.15 C 62.36 23.78 57.53 35.41 48.25 39.78 C 57.12 41.37 66.14 44.81 72.28 51.68 C 75.47 55.16 77.41 59.64 78.00 64.31 L 78.00 66.00 L 75.14 66.00 C 74.83 59.05 70.64 52.82 64.82 49.20 C 52.90 41.69 37.67 40.27 24.26 44.18 C 17.07 46.39 9.78 50.10 5.70 56.68 C 3.87 59.45 3.28 62.77 2.85 66.00 L 0.00 66.00 L 0.00 64.73 C 0.45 59.91 2.43 55.28 5.70 51.71 C 11.84 44.82 20.89 41.35 29.79 39.78 C 21.00 35.67 16.10 25.01 18.75 15.66 C 20.92 6.87 29.28 0.33 38.28 0.00 M 35.33 3.43 C 26.86 5.04 20.39 13.43 21.09 22.05 C 21.39 31.62 30.48 39.73 40.03 38.91 C 49.62 38.62 57.75 29.50 56.91 19.93 C 56.62 9.38 45.61 0.94 35.33 3.43 Z" />
            </g>
        </symbol>

        <symbol id=":cart" viewBox="0 0 78 69">
            <title id=":cart-title">Cart</title>
            <g>
                <path opacity="1.00" d=" M 31.34 0.00 L 40.91 0.00 L 31.52 0.01 L 32.77 1.06 C 32.12 3.40 30.27 5.04 28.78 6.84 C 25.67 10.56 22.54 14.27 19.44 17.99 C 32.48 18.00 45.52 18.00 58.56 18.00 C 54.12 12.58 49.47 7.35 45.15 1.84 C 45.46 1.38 46.07 0.46 46.37 0.00 L 47.61 0.00 C 52.26 6.19 57.58 11.90 62.42 17.96 C 65.65 18.05 68.89 17.87 72.11 18.10 C 75.28 18.41 77.89 21.75 77.23 24.91 C 74.92 37.30 72.44 49.66 70.00 62.02 C 69.57 65.27 67.28 67.96 64.18 69.00 L 14.08 69.00 C 10.80 68.17 8.44 65.32 8.00 62.01 C 5.60 50.00 3.28 37.97 0.92 25.95 C -0.21 22.50 2.26 18.48 5.91 18.11 C 9.13 17.84 12.37 18.07 15.59 17.96 C 19.82 12.74 24.25 7.69 28.48 2.48 C 29.27 1.47 30.22 0.64 31.34 0.00 M 5.33 21.42 C 3.30 21.81 3.68 24.49 3.98 26.00 C 6.37 38.01 8.64 50.04 11.08 62.04 C 11.39 64.39 13.53 66.31 15.96 65.99 C 31.32 66.01 46.68 66.01 62.04 65.99 C 64.47 66.31 66.62 64.38 66.93 62.03 C 69.37 50.03 71.62 38.00 74.03 25.99 C 74.41 24.59 74.32 23.22 73.75 21.89 C 71.71 20.66 69.27 21.04 67.01 20.99 C 48.01 21.00 29.01 21.02 10.01 20.98 C 8.46 21.09 6.77 20.72 5.33 21.42 Z" />
                <path opacity="1.00" d=" M 29.02 33.15 C 30.52 32.66 31.67 33.43 31.50 35.02 C 31.51 40.67 31.51 46.32 31.50 51.97 C 31.67 53.55 30.53 54.34 29.03 53.85 C 28.30 52.70 28.52 51.30 28.47 50.01 C 28.58 44.80 28.38 39.59 28.56 34.39 C 28.67 34.08 28.90 33.46 29.02 33.15 Z" />
                <path opacity="1.00" d=" M 38.03 33.15 C 39.52 32.66 40.67 33.45 40.50 35.02 C 40.51 40.67 40.51 46.33 40.50 51.98 C 40.67 53.56 39.52 54.34 38.02 53.85 C 37.31 52.69 37.51 51.30 37.47 50.01 C 37.58 44.80 37.38 39.59 37.56 34.38 C 37.68 34.07 37.91 33.46 38.03 33.15 Z" />
                <path opacity="1.00" d=" M 47.02 33.15 C 48.53 32.66 49.67 33.45 49.50 35.03 C 49.51 40.68 49.51 46.33 49.50 51.98 C 49.67 53.56 48.53 54.33 47.03 53.85 C 46.30 52.70 46.52 51.30 46.47 50.01 C 46.58 44.80 46.38 39.59 46.56 34.38 C 46.67 34.08 46.91 33.46 47.02 33.15 Z" />
            </g>
        </symbol>

        <symbol id=":arrow-left" viewBox="0 0 444.531 444.531">
            <title id=":arrow-left">Arrow Left</title>
            <path d="M213.13,222.409L351.88,83.653c7.05-7.043,10.567-15.657,10.567-25.841c0-10.183-3.518-18.793-10.567-25.835   l-21.409-21.416C323.432,3.521,314.817,0,304.637,0s-18.791,3.521-25.841,10.561L92.649,196.425   c-7.044,7.043-10.566,15.656-10.566,25.841s3.521,18.791,10.566,25.837l186.146,185.864c7.05,7.043,15.66,10.564,25.841,10.564   s18.795-3.521,25.834-10.564l21.409-21.412c7.05-7.039,10.567-15.604,10.567-25.697c0-10.085-3.518-18.746-10.567-25.978   L213.13,222.409z"/>
        </symbol>

        <symbol id=":arrow-right" viewBox="0 0 444.819 444.819">
            <title id=":arrow-right">Arrow Right</title>
            <path d="M352.025,196.712L165.884,10.848C159.029,3.615,150.469,0,140.187,0c-10.282,0-18.842,3.619-25.697,10.848L92.792,32.264   c-7.044,7.043-10.566,15.604-10.566,25.692c0,9.897,3.521,18.56,10.566,25.981l138.753,138.473L92.786,361.168   c-7.042,7.043-10.564,15.604-10.564,25.693c0,9.896,3.521,18.562,10.564,25.98l21.7,21.413   c7.043,7.043,15.612,10.564,25.697,10.564c10.089,0,18.656-3.521,25.697-10.564l186.145-185.864   c7.046-7.423,10.571-16.084,10.571-25.981C362.597,212.321,359.071,203.755,352.025,196.712z"/>
        </symbol>

        <symbol id=":arrow-right-thin" viewBox="0 0 6 11">
            <title id=":arrow-right-thin">Arrow Right Thin</title>
            <path d="M5.836 5.112L.951.17a.546.546 0 0 0-.777 0 .558.558 0 0 0 0 .784l4.498 4.55-4.498 4.549a.559.559 0 0 0 0 .785.546.546 0 0 0 .777 0l4.886-4.942a.565.565 0 0 0 0-.784z"/>
        </symbol>

        <symbol id=":icon-home" viewBox="0 0 26 21">
            <title id=":icon-home">Icon Home</title>
            <path fill="none" fill-rule="evenodd" stroke="#000" d="M21.506 13.045V19.5c0 .555-.442 1.001-1.004 1.001H15.84a1.006 1.006 0 0 1-1.003-1.008v-4.286c0-.007 0-.008.01-.008h-3.602c.009 0 .01 0 .01.008v4.286a1 1 0 0 1-.995 1.008H5.448a.998.998 0 0 1-.995-1v-6.275H1.25c-.72 0-1.014-.692-.498-1.205L11.917.925A1.514 1.514 0 0 1 14.04.911l11.203 10.93c.522.51.218 1.204-.498 1.204h-3.24z"/>
        </symbol>

        <symbol id=":icon-home" viewBox="0 0 26 21">
            <title id=":icon-home">Icon Home</title>
            <path fill="none" fill-rule="evenodd" stroke="#000" d="M21.506 13.045V19.5c0 .555-.442 1.001-1.004 1.001H15.84a1.006 1.006 0 0 1-1.003-1.008v-4.286c0-.007 0-.008.01-.008h-3.602c.009 0 .01 0 .01.008v4.286a1 1 0 0 1-.995 1.008H5.448a.998.998 0 0 1-.995-1v-6.275H1.25c-.72 0-1.014-.692-.498-1.205L11.917.925A1.514 1.514 0 0 1 14.04.911l11.203 10.93c.522.51.218 1.204-.498 1.204h-3.24z"/>
        </symbol>

        <symbol id=":icon-hamburger" viewBox="0 0 24 19">
            <title id=":icon-hamburger">Menu</title>
            <rect width="23.559" height="1" x=".126" rx=".5"/>
            <rect width="23.559" height="1" x=".126" y="9" rx=".5"/>
            <rect width="23.559" height="1" x=".126" y="18" rx=".5"/>
        </symbol>

        <symbol id=":arrow" viewBox="0 0 6 9">
            <title id=":arrow-title">Arrow</title>
            <path d="M.317 1.708a.957.957 0 0 1 0-1.423C.528.092.805 0 1.08 0s.551.092.763.285l3.84 3.503a.957.957 0 0 1 .001 1.422L1.86 8.715c-.22.201-.496.285-.78.285-.274 0-.55-.092-.762-.285a.957.957 0 0 1-.001-1.422L3.364 4.5.317 1.708z"/>
        </symbol>

        <symbol id=":arrow-down" viewBox="0 0 8 5">
            <title id=":caret-down-title">Caret Down</title>
            <path d="M6.482.264A.877.877 0 0 1 7.114 0c.23 0 .46.086.633.264A.906.906 0 0 1 8 .9c0 .229-.082.46-.253.636l-3.114 3.2A.877.877 0 0 1 4 5a.876.876 0 0 1-.631-.263L.253 1.549A.907.907 0 0 1 0 .9C0 .672.082.44.253.265A.877.877 0 0 1 .886 0c.229 0 .459.086.63.263L4 2.803 6.482.264z"/>
        </symbol>

        <symbol id=":close" viewBox="0 0 19 19">
            <title id=":close-title">Close</title>
            <rect transform="translate(9.181724, 9.320401) rotate(-45.000000) translate(-9.181724, -9.320401) " x="8.6817245" y="-3.02959926" width="1" height="24.7000008" rx="0.5"></rect>
            <rect transform="translate(9.181724, 9.320401) rotate(45.000000) translate(-9.181724, -9.320401) " x="8.6817245" y="-3.02959926" width="1" height="24.7000008" rx="0.5"></rect>
        </symbol>

        <symbol id=":close-filter" viewBox="0 0 10 10">
            <title id=":close-filter">Reset</title>
            <rect width="2" height="10" x="4" rx="1" transform="scale(-1 1) rotate(45 0 -7.071)"/>
            <rect width="2" height="10" x="4" rx="1" transform="rotate(45 5 5)"/>
        </symbol>

        <symbol id=":visa" viewBox="0 0 33 10">
            <title id=":visa-title">VISA</title>
            <path d="M13.021.081h2.627l-1.644 9.707h-2.61L13.02.081zm10.491.31l-.354 2.1-.226-.113.032.016a5.562 5.562 0 0 0-.91-.285 4.472 4.472 0 0 0-.975-.106h-.113c-.505 0-.88.09-1.128.269-.247.18-.37.366-.37.562 0 .228.131.431.394.61.263.18.62.378 1.072.595.763.348 1.321.738 1.676 1.173.354.434.532.923.532 1.466-.011.51-.124.969-.339 1.376a3.019 3.019 0 0 1-.918 1.042 4.51 4.51 0 0 1-1.435.668 6.886 6.886 0 0 1-1.869.236h-.08c-.505 0-.997-.043-1.475-.13a7.316 7.316 0 0 1-1.346-.375l.371-2.166.322.147-.032-.017a5.292 5.292 0 0 0 2.337.538h.16c.377 0 .734-.076 1.073-.228.338-.152.507-.391.507-.717 0-.217-.102-.415-.306-.594-.204-.18-.559-.383-1.064-.611a7.83 7.83 0 0 1-1.53-.977c-.516-.413-.774-.967-.774-1.662 0-.477.11-.912.33-1.302.22-.391.527-.728.919-1.01a4.559 4.559 0 0 1 1.394-.66A6.348 6.348 0 0 1 21.176 0h-.016.08a6.827 6.827 0 0 1 2.272.39zm6.72-.228L32.36 9.87h-2.434l-.129-.603c-.086-.402-.15-.684-.193-.847h-3.352c-.054.12-.158.391-.314.815l-.234.635h-2.756l3.9-8.893c.13-.315.31-.53.54-.643.231-.114.502-.171.814-.171h2.03zM27.01 6.417v.016h2.192l-.612-2.817-.178-.831c-.064.185-.14.385-.225.603l-.13.325-.442 1.149c-.296.765-.497 1.283-.605 1.555zM9.202.163h2.772L7.848 9.87H5.076L2.74 1.384c.408.207.805.462 1.192.766.387.304.741.635 1.064.993.322.359.601.736.838 1.132.236.397.413.79.532 1.181l.274 1.336L9.202.162zm-4.94 0h-.008c.29.01.543.073.758.187.215.114.36.323.435.627l.919 4.463a7.32 7.32 0 0 0-.91-1.67 7.667 7.667 0 0 0-1.37-1.441 9.533 9.533 0 0 0-1.822-1.156A11.264 11.264 0 0 0 0 .358L.048.163h4.215zm0 0h.009-.008zm-1.41 1.58a.649.649 0 0 0-.12-.277.493.493 0 0 0-.218-.163v-.016l.79.374-.452.082z"/>
        </symbol>

        <symbol id=":mastercard" viewBox="0 0 27 21">
            <title id=":mastercard-title">matercard</title>
            <path d="M12.995 1.767l.004-.003.02.02a7.94 7.94 0 0 0-.024-.017zm0 0l-.199.16A9.007 9.007 0 0 0 11.58 3.25a8.202 8.202 0 0 0-.924 1.56 9.422 9.422 0 0 0-.588 1.742 8.317 8.317 0 0 0-.213 1.897c0 .656.07 1.289.213 1.897.142.609.338 1.19.588 1.743.25.554.558 1.074.924 1.559.365.485.77.926 1.217 1.323v.02l.203.144a7.932 7.932 0 0 1-2.05.994 7.642 7.642 0 0 1-2.353.36 7.555 7.555 0 0 1-3.085-.636 8.233 8.233 0 0 1-2.526-1.723 7.943 7.943 0 0 1-1.705-2.553 7.96 7.96 0 0 1-.618-3.128c0-1.107.206-2.15.618-3.127a7.943 7.943 0 0 1 1.705-2.553 8.233 8.233 0 0 1 2.526-1.723A7.555 7.555 0 0 1 8.596.41c.825 0 1.61.12 2.354.359a7.894 7.894 0 0 1 2.045.998zm1.023 0a7.353 7.353 0 0 0-.024.017l.02-.02.004.003zm0 0A7.672 7.672 0 0 1 18.397.41h.02c1.11 0 2.144.212 3.105.636.96.424 1.803.998 2.526 1.723a7.943 7.943 0 0 1 1.705 2.553 7.96 7.96 0 0 1 .619 3.127 7.96 7.96 0 0 1-.62 3.128 7.943 7.943 0 0 1-1.704 2.553 8.233 8.233 0 0 1-2.526 1.723 7.604 7.604 0 0 1-3.105.635c-.811 0-1.593-.12-2.344-.359a7.892 7.892 0 0 1-2.06-.994l.204-.144v-.02a9.007 9.007 0 0 0 1.217-1.323 8.518 8.518 0 0 0 1.522-3.302 8.715 8.715 0 0 0-.01-3.784 9.355 9.355 0 0 0-.588-1.753 8.202 8.202 0 0 0-.924-1.559 9.007 9.007 0 0 0-1.217-1.322l-.199-.16zm-.512.366c.109.082.21.17.305.266a8.133 8.133 0 0 1 1.999 2.677c.236.512.419 1.052.548 1.62.128.567.192 1.152.192 1.753a8.093 8.093 0 0 1-.74 3.394 8.133 8.133 0 0 1-1.999 2.676 6.004 6.004 0 0 1-.305.247 6.004 6.004 0 0 1-.304-.246v-.021a8.396 8.396 0 0 1-1.136-1.22 7.674 7.674 0 0 1-.863-1.436 8.093 8.093 0 0 1-.74-3.394c0-.601.064-1.186.192-1.753a7.984 7.984 0 0 1 1.41-3.066 8.133 8.133 0 0 1 1.137-1.23c.095-.096.196-.185.304-.267zM9.448 19.236c.23.041.41.11.538.205.128.096.193.246.193.452 0 .191-.085.355-.254.492-.17.136-.403.205-.7.205h-.04c-.177 0-.336-.027-.478-.082a1.976 1.976 0 0 1-.395-.205l.203-.37c.094.083.2.14.314.175.115.034.24.051.376.051h.04c.162 0 .284-.027.365-.082.082-.055.122-.11.122-.164 0-.068-.03-.12-.091-.154a.799.799 0 0 0-.294-.072l-.203-.04c-.244-.028-.426-.096-.548-.206a.528.528 0 0 1-.183-.41c0-.219.078-.39.234-.512.155-.123.368-.185.639-.185h.06c.15 0 .291.02.427.062.135.04.264.095.385.164l-.203.369v.02a.88.88 0 0 0-.314-.143 2.963 2.963 0 0 0-.355-.062.537.537 0 0 0-.295.072.221.221 0 0 0-.111.195c0 .068.034.116.101.143.068.028.15.048.244.062l.223.02zm2.252.903c.068 0 .136-.01.203-.031a.89.89 0 0 0 .203-.092l.122.39a.932.932 0 0 1-.264.122 1.093 1.093 0 0 1-.304.041c-.27 0-.46-.068-.568-.205-.109-.136-.163-.328-.163-.574v-.984h-.426v-.41h.426v-.657h.467v.657h.75v.43h-.75v.964c0 .096.02.178.061.246.04.068.122.103.243.103zm-7.244-1.805h-.02.06c.217 0 .403.079.559.236a.774.774 0 0 1 .233.564v.03c0 .007-.007.018-.02.031v1.333H4.82v-1.19c0-.177-.037-.314-.111-.41-.075-.095-.193-.143-.355-.143h.02-.04a.501.501 0 0 0-.356.144.461.461 0 0 0-.152.348c0 .014.003.028.01.041l.01.02v1.19h-.466v-1.19c0-.177-.04-.314-.122-.41a.427.427 0 0 0-.345-.143h-.02a.501.501 0 0 0-.355.144.461.461 0 0 0-.153.348v.041c0 .014.007.02.02.02v1.19H1.94v-2.132h.446v.266a.841.841 0 0 1 .254-.236.634.634 0 0 1 .335-.092h.06a.76.76 0 0 1 .396.103.742.742 0 0 1 .274.287.875.875 0 0 1 .305-.287.776.776 0 0 1 .385-.103h.061zm2.943.328v-.266h.466v2.132H7.4v-.266a.804.804 0 0 1-.264.236.726.726 0 0 1-.366.092h-.04a1.134 1.134 0 0 1-.73-.359 1.071 1.071 0 0 1-.305-.77c0-.3.101-.556.304-.768.203-.212.454-.332.751-.359h.02c.136 0 .258.03.366.092.108.062.196.14.264.236zM6.81 20.16a.604.604 0 0 0 .446-.184.617.617 0 0 0 .183-.452v-.04a.675.675 0 0 0-.203-.493.66.66 0 0 0-.954 0 .675.675 0 0 0-.202.492c0 .192.067.352.202.482.136.13.291.195.467.195h.061zm15.077-1.507v-.01a.652.652 0 0 1 .528-.288h.02a1.294 1.294 0 0 1 .325.042l-.142.43a3.163 3.163 0 0 0-.132-.04.546.546 0 0 0-.152-.021c-.15 0-.26.047-.335.143-.075.096-.112.233-.112.41v1.21h-.467v-2.132h.467v.256zm0 0v.01-.01zm-8.32-.318c.284.014.521.12.71.318a.99.99 0 0 1 .285.707v.287h-1.563a.563.563 0 0 0 .568.513h.061c.122 0 .234-.02.335-.061a1.01 1.01 0 0 0 .274-.164l.223.348c-.108.096-.233.171-.375.226a1.205 1.205 0 0 1-.436.082h-.041a1.089 1.089 0 0 1-.761-.349 1.088 1.088 0 0 1-.315-.78c0-.3.102-.556.305-.768.203-.212.446-.332.73-.359zm-.568.943h1.096c0-.15-.05-.273-.152-.369a.526.526 0 0 0-.376-.143h-.02a.526.526 0 0 0-.375.143.557.557 0 0 0-.173.37zm7.366-.615v-.266h.447v2.132h-.447v-.266a1.05 1.05 0 0 1-.284.236.687.687 0 0 1-.345.092h-.04a1.113 1.113 0 0 1-.741-.359 1.092 1.092 0 0 1-.294-.77c0-.3.098-.556.294-.768.196-.212.443-.332.74-.359h.041c.122 0 .237.03.345.092.108.062.203.14.284.236zm-.629 1.497a.638.638 0 0 0 .457-.184.6.6 0 0 0 .193-.452v-.04a.675.675 0 0 0-.203-.493.66.66 0 0 0-.487-.205.628.628 0 0 0-.477.205.693.693 0 0 0-.193.492.658.658 0 0 0 .67.677h.04zm4.89-1.497v-1.128h.467v2.994h-.466v-.266a1.05 1.05 0 0 1-.284.236.687.687 0 0 1-.345.092h-.041a1.113 1.113 0 0 1-.74-.359 1.092 1.092 0 0 1-.295-.77c0-.3.102-.556.304-.768.203-.212.447-.332.731-.359h.04c.122 0 .237.03.346.092.108.062.202.14.284.236zm-.608 1.497a.604.604 0 0 0 .446-.184.617.617 0 0 0 .183-.452v-.04a.675.675 0 0 0-.203-.493.66.66 0 0 0-.954 0 .675.675 0 0 0-.203.492c0 .192.068.352.203.482.136.13.298.195.487.195h.04zm-8.523-1.507v-.01a.652.652 0 0 1 .548-.288 1.468 1.468 0 0 1 .345.042l-.142.43a3.163 3.163 0 0 0-.132-.04.546.546 0 0 0-.152-.021h-.02c-.15 0-.26.047-.335.143-.075.096-.112.233-.112.41v1.21h-.446v-2.132h.446v.256zm0 0v.01-.01zm2.149.133A.663.663 0 0 0 17.2 19a.652.652 0 0 0-.183.462c0 .178.06.331.183.461.121.13.27.202.446.216a.89.89 0 0 0 .548-.185l.223.37a1.113 1.113 0 0 1-.324.194c-.122.048-.25.072-.386.072h-.122c-.297 0-.554-.11-.77-.328a1.094 1.094 0 0 1-.326-.8c0-.315.109-.581.325-.8.217-.219.474-.328.771-.328h.122c.135 0 .26.024.375.072.115.048.22.113.315.195l-.203.369c-.081-.055-.17-.1-.264-.134a.884.884 0 0 0-.286-.05z"/>
        </symbol>

        <symbol id=":paypal" viewBox="0 0 41 11">
            <title id=":paypal-title">paypal</title>
            <path d="M22.528 2.967c.066 0 .126.027.18.08.053.055.08.115.08.182a.335.335 0 0 1-.01.081.128.128 0 0 1-.03.06l-5.093 7.448a.444.444 0 0 1-.16.132.44.44 0 0 1-.2.05h-1.538a.247.247 0 0 1-.18-.08.252.252 0 0 1-.08-.182c0-.027.004-.054.01-.081a.128.128 0 0 1 .03-.06l1.598-2.261-1.677-5.006c-.014-.013-.02-.027-.02-.04v-.04c0-.081.026-.145.08-.192a.382.382 0 0 1 .18-.091h1.517c.093.013.18.047.26.1.08.055.133.129.16.223l.878 3.048 2.117-3.17c.04-.053.094-.1.16-.14a.382.382 0 0 1 .2-.061h1.538zM12.302 5.954v.02c.014-.054.02-.1.02-.141v-.141c0-.162-.023-.31-.07-.444a1.354 1.354 0 0 0-.21-.384 1.43 1.43 0 0 0-.419-.292 1.22 1.22 0 0 0-.519-.111h-.1a1.6 1.6 0 0 0-1.108.423 1.746 1.746 0 0 0-.57 1.05.746.746 0 0 0-.03.141c-.006.054-.01.108-.01.162 0 .336.117.622.35.857.233.236.51.354.829.354a.22.22 0 0 0 .07-.01.163.163 0 0 1 .05-.01h.04a1.6 1.6 0 0 0 1.108-.424c.313-.283.503-.633.57-1.05zm2.117-2.987c.067 0 .127.027.18.08.053.055.08.115.08.182v.04l-.819 5.269a.416.416 0 0 1-.15.272.435.435 0 0 1-.29.111h-1.357a.27.27 0 0 1-.2-.08.252.252 0 0 1-.08-.182v-.04l.08-.425c-.266.27-.576.482-.929.636a2.827 2.827 0 0 1-1.148.232h-.04a.325.325 0 0 0-.08.01.325.325 0 0 1-.08.01c-.346 0-.672-.07-.978-.211a2.314 2.314 0 0 1-.78-.576 2.637 2.637 0 0 1-.459-.827c-.106-.31-.16-.64-.16-.99 0-.093.004-.187.01-.282a1.4 1.4 0 0 1 .05-.282 3.399 3.399 0 0 1 1.109-2.19 3.331 3.331 0 0 1 2.287-.918c.36 0 .705.047 1.038.14.333.095.586.263.76.505l.099.142.06-.404a.259.259 0 0 1 .1-.161.29.29 0 0 1 .18-.061h1.517zm-9.147.06a.757.757 0 0 0 .03-.13 1.155 1.155 0 0 0-.04-.494.82.82 0 0 0-.15-.284c-.132-.161-.326-.255-.579-.282a7.558 7.558 0 0 0-.798-.04h-.24a.23.23 0 0 0-.17.07.33.33 0 0 0-.09.172l-.34 2.139h.5c.413 0 .809-.047 1.188-.141.38-.094.61-.43.69-1.01zM4.912 0v.02c.52 0 .98.07 1.379.212.4.141.712.347.939.616l-.02-.02c.16.215.283.447.37.696a2.41 2.41 0 0 1 .109 1.09 2.07 2.07 0 0 1-.06.292c-.16 1.01-.54 1.77-1.138 2.281-.6.511-1.425.767-2.477.767H2.996a.433.433 0 0 0-.42.383l-.36 2.22a.433.433 0 0 1-.439.384H.26a.247.247 0 0 1-.18-.08.275.275 0 0 1-.08-.202v-.04L1.298.382A.433.433 0 0 1 1.718 0h3.195zm33.992.222a.328.328 0 0 1 .09-.151.23.23 0 0 1 .17-.071h1.478a.275.275 0 0 1 .26.283v.04l-1.299 8.235a.433.433 0 0 1-.42.383h-1.317a.238.238 0 0 1-.19-.08.297.297 0 0 1-.07-.202v-.04L38.904.221zM34.99 5.974c0-.04.003-.084.01-.13a.941.941 0 0 0 .01-.132c0-.162-.024-.313-.07-.454a1.081 1.081 0 0 0-.21-.374 1.6 1.6 0 0 0-.42-.302 1.135 1.135 0 0 0-.519-.121.088.088 0 0 0-.04.01.088.088 0 0 1-.04.01h-.02c-.425 0-.798.141-1.118.424-.32.282-.506.632-.559 1.05v-.021a1.375 1.375 0 0 0-.04.323c0 .336.113.619.34.848.226.228.505.343.838.343h.16a1.6 1.6 0 0 0 1.109-.424c.312-.283.502-.633.569-1.05zm2.117-3.007v-.02a.275.275 0 0 1 .26.283v.04l-.82 5.268a.416.416 0 0 1-.15.272.435.435 0 0 1-.289.111H34.73a.247.247 0 0 1-.18-.08.275.275 0 0 1-.08-.202v-.04l.08-.405a2.943 2.943 0 0 1-2.077.868h-.04a.325.325 0 0 0-.08.01.325.325 0 0 1-.08.01c-.346 0-.672-.07-.978-.211a2.314 2.314 0 0 1-.779-.576 2.637 2.637 0 0 1-.46-.827c-.106-.31-.159-.64-.159-.99 0-.093.003-.187.01-.282a1.4 1.4 0 0 1 .05-.282 3.465 3.465 0 0 1 1.118-2.18 3.398 3.398 0 0 1 2.277-.928c.373 0 .726.047 1.059.14.332.095.579.263.738.505l.1.162.08-.404a.22.22 0 0 1 .08-.171.264.264 0 0 1 .18-.071h1.518zm-9.147.06a.941.941 0 0 0 .04-.262 1.069 1.069 0 0 0-.2-.646.905.905 0 0 0-.6-.282 7.558 7.558 0 0 0-.798-.04h-.22a.23.23 0 0 0-.17.07.33.33 0 0 0-.09.172l-.319 2.139h.48c.412 0 .808-.047 1.188-.141.38-.094.609-.43.689-1.01zM27.6.02c.533 0 .996.07 1.388.212.393.141.703.347.929.616v-.02c.146.215.263.447.35.696a2.41 2.41 0 0 1 .11 1.09 2.07 2.07 0 0 1-.06.292c-.147 1.01-.523 1.77-1.129 2.281-.606.511-1.435.767-2.486.767h-.999a.433.433 0 0 0-.44.383l-.359 2.322v.02a.329.329 0 0 1-.11.182.304.304 0 0 1-.21.08h-1.617a.275.275 0 0 1-.28-.283v-.04L23.986.404a.433.433 0 0 1 .439-.384H27.6z"/>
        </symbol>

        <symbol id=":dhl" viewBox="0 0 64 8">
            <title id=":dhl-title">DHL</title>
            <path d="M20.45 3.023c-.282.315-.707.945-.99 1.26-.141.19-.425.505.425.505h4.529s.707-.883 1.344-1.638c.85-1.009.07-3.086-2.901-3.086H11.181L9.129 2.52h11.039c.566 0 .566.188.283.503zm-3.325 2.332c-.849 0-.566-.315-.424-.505.282-.315.778-.945 1.061-1.26.283-.315.283-.504-.283-.504h-5.024L8.35 8h9.907c3.255 0 5.095-2.016 5.662-2.645h-6.794zM23.565 8h5.802l2.194-2.645h-5.803c.07 0-2.193 2.645-2.193 2.645zM38.637.064L36.373 2.77h-2.619L36.02.064h-5.803l-3.892 4.724h14.223L44.439.064h-5.802zM31.985 8h5.804l2.193-2.645H34.18c.07 0-2.195 2.645-2.195 2.645zM0 6.425v.567h8.138l.496-.567H0zm9.483-1.07H0v.566h8.987l.496-.566zM0 8h7.219l.495-.566H0V8zm54.912-1.008h8.563v-.567h-8.138l-.425.567zM54.064 8h9.411v-.566h-8.987L54.064 8zm2.193-2.645l-.496.566h7.643v-.566h-7.147zm-7.642-.631L52.507 0H46.35l-3.892 4.724h6.157zm-6.653.63l-.635.756c-.708.882-.072 1.89 2.335 1.89h9.34l2.195-2.645H41.962z"/>
        </symbol>

        <symbol id=":hermes" viewBox="0 0 68 10">
            <title id=":hermes-title">Hermes</title>
            <path d="M13.92 3.123L14.69.5H0l2.54 2.623h11.38zM0 1.176l2.34 1.947h.2L0 .5v.676zM6.19 6.2L3.701 3.633h10.04l-.74 2.566H6.188zm-.179 0l-2.31-1.922v-.644L6.19 6.2h-.178zm4.31 3.223L7.803 6.844h5.006l-.77 2.578H10.32zM7.803 7.487l2.37 1.936h.148l-2.518-2.58v.644zm4.744 1.935h1.424l.754-2.573h-1.424l-.754 2.573zm.963-3.247h1.403l.754-2.53h-1.424l-.733 2.53zm.922-3.064h1.434l.733-2.597h-1.434l-.733 2.597zm45.847 6.224c-.086-.115-.078-.168.156-.96.19-.646.268-.841.345-.853.062-.011.124.031.165.111.102.196.294.275.803.335.647.076 2.24.033 2.51-.068.251-.094.428-.3.503-.586.065-.25.01-.412-.177-.518-.073-.04-.645-.199-1.27-.35-1.257-.303-1.583-.44-1.793-.752-.12-.18-.13-.242-.107-.695.053-1.05.629-2.067 1.353-2.387.453-.202.761-.226 2.798-.226H67.5l-.144.46c-.17.546-.259.71-.431.795-.09.045-.533.071-1.474.089-1.158.02-1.368.037-1.5.113a.693.693 0 0 0-.357.49c-.067.322.076.4 1.316.722 1.537.397 1.831.548 1.973 1.014.14.46-.09 1.645-.45 2.3-.247.451-.522.706-.967.896l-.382.164-2.357.015-2.356.013-.092-.122zm-20.436-.098c0-.032.414-1.47.92-3.194.507-1.725.923-3.19.923-3.257 0-.066-.054-.16-.121-.207-.25-.177-.16-.194.99-.194 1.388 0 1.415.014 1.199.643-.048.145-.078.271-.067.283.014.01.11-.086.217-.214.595-.723.689-.76 1.974-.76.952-.002.984.001 1.285.136.323.141.496.356.607.746l.047.162.315-.41c.475-.617.523-.633 1.829-.634.992 0 1.075.007 1.344.117.156.063.329.16.383.212.163.16.275.449.275.712 0 .155-.296 1.281-.775 2.95-.44 1.533-.76 2.75-.743 2.813a.31.31 0 0 0 .146.164c.264.123.085.148-1.018.148-1.203 0-1.269-.013-1.269-.24 0-.065.31-1.177.686-2.47.377-1.294.685-2.428.685-2.521 0-.363-.359-.531-.996-.469-.609.061-.872.23-1.085.698-.093.207-1.31 4.191-1.377 4.516-.034.157-.017.202.108.303.081.065.132.134.11.152-.02.017-.529.032-1.13.032-1.166 0-1.231-.013-1.231-.243 0-.068.308-1.172.686-2.452.377-1.281.686-2.42.686-2.531 0-.393-.422-.564-1.112-.452-.458.073-.662.19-.84.48-.161.263-1.478 4.542-1.478 4.803 0 .092.043.169.114.208.063.034.114.09.114.125 0 .048-.255.062-1.11.062-.935-.001-1.126-.014-1.201-.08-.05-.042-.09-.104-.09-.137zm-5.832-.005c0-.036.425-1.505.943-3.267.877-2.98.937-3.209.856-3.316-.047-.063-.112-.114-.143-.114-.03 0-.056-.034-.056-.075 0-.063.162-.074 1.107-.074 1.446 0 1.394-.038 1.143.846-.023.08.072.001.267-.224.165-.191.367-.41.447-.485l.146-.137h1.018c.561 0 1.02.014 1.02.033 0 .11-.318 1.055-.385 1.144-.128.172-.337.21-1.246.227-.734.013-.89.03-1.085.119-.411.186-.481.35-1.193 2.732-.359 1.205-.669 2.25-.688 2.324-.025.099.002.17.108.281a.72.72 0 0 1 .143.178c0 .015-.5.03-1.11.03-.934-.001-1.126-.014-1.201-.08-.049-.042-.09-.107-.09-.142zm-17.21-.791c.852-2.812 2.131-7.21 2.135-7.344.005-.117-.03-.195-.119-.257-.07-.05-.127-.125-.127-.168 0-.069.144-.079 1.226-.079 1.07 0 1.237.011 1.321.084.132.115.105.25-.363 1.817-.219.731-.384 1.341-.366 1.356.018.016.696.028 1.51.028h1.479l.054-.112c.072-.146.73-2.364.775-2.61.029-.162.012-.208-.112-.31-.297-.242-.252-.253 1.098-.253 1.348 0 1.382.007 1.382.266 0 .119-.704 2.578-1.4 4.885-.814 2.7-.95 3.223-.885 3.361.037.077.103.153.147.167.044.015.081.062.081.103 0 .066-.165.076-1.246.076-1.345 0-1.384-.006-1.384-.262 0-.08.245-.963.543-1.964.299-1.002.543-1.85.543-1.887 0-.054-.288-.067-1.53-.067h-1.529l-.531 1.83c-.292 1.006-.53 1.87-.528 1.918 0 .05.06.14.133.204.072.063.12.14.11.172-.031.084-2.421.081-2.517-.001-.108-.095-.08-.355.1-.953zm41.327-3.65c.206-.892-.15-1.24-1.224-1.194-.84.037-1.249.34-1.575 1.168-.06.15-.109.282-.109.291 0 .01.641.017 1.423.017h1.42l.065-.282zm-5.366 3.843l-.2-.341v-.751c0-.606.026-.853.135-1.274.34-1.328.916-2.469 1.532-3.037.708-.654 1.552-.902 3.078-.907 1.512-.006 2.194.255 2.527.964.153.325.137 1.313-.031 1.904-.16.563-.306.85-.476.935-.102.05-.643.072-2.306.091l-2.173.024-.102.348c-.137.462-.146.855-.025 1.053.059.096.2.201.37.274.25.108.342.116 1.158.116 1.214-.001 1.76-.127 2.249-.52.224-.18.38-.25.38-.173 0 .096-.471 1.545-.54 1.661-.231.388-.846.502-2.68.499-1.116-.002-1.39-.018-1.744-.098-.591-.135-.9-.342-1.152-.768zM32.003 4.886c.161-.56.122-.846-.149-1.068-.406-.334-1.464-.316-1.988.032-.233.156-.455.471-.637.906l-.131.316h2.851l.054-.186zm-5.405 3.647c-.152-.283-.16-.335-.155-.971.003-.492.039-.812.13-1.195.297-1.21.934-2.548 1.462-3.07.592-.585 1.378-.88 2.57-.964 1.153-.081 2.117.048 2.59.345.482.305.644.66.644 1.411 0 .548-.162 1.356-.35 1.737-.196.394-.173.391-2.614.391h-2.12l-.057.187c-.266.876-.22 1.248.18 1.476.291.164 1.314.226 2.137.126.615-.075 1.027-.221 1.34-.476.443-.36.47-.314.25.41-.359 1.185-.425 1.28-1.012 1.446-.407.116-3.142.149-3.676.045-.678-.133-1.041-.38-1.319-.898z"/>
        </symbol>

        <symbol id=":check" viewBox="0 0 9 10">
            <title id=":check-title">Check</title>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="ico-chosen-white-small" fill="#FFFFFF">
                    <g id="ico-chosen-white" transform="translate(0.000000, 0.500000)">
                        <rect id="Rectangle" transform="translate(1.996256, 6.403729) rotate(-35.000000) translate(-1.996256, -6.403729) " x="1.24625612" y="3.99447343" width="1.5" height="4.81851067" rx="0.75"></rect>
                        <rect id="Rectangle" transform="translate(5.400675, 4.536329) rotate(36.000000) translate(-5.400675, -4.536329) " x="4.65067495" y="-0.216958166" width="1.5" height="9.5065747" rx="0.75"></rect>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":check-additional" viewBox="0 0 12 9">
            <title id=":check-additional-title">Check-additional</title>
            <path d="M11.865.157a.453.453 0 0 0-.653 0L3.731 7.838.788 4.817a.453.453 0 0 0-.653 0 .483.483 0 0 0 0 .67l3.27 3.356c.18.185.472.185.652 0L11.865.827a.483.483 0 0 0 0-.67z"/>
        </symbol>

        <symbol id=":star" viewBox="0 0 12 13">
            <title id="star-title">Star</title>
            <polygon points="6 10.25 1.7380268 12.4871101 3.14683045 8.00430523 0.121751609 4.59831238 4.23664424 4.37069477 5.99999982 0.333932433 7.76335576 4.37069477 11.9800623 4.59831238 8.85316955 8.00430523 10.2901724 12.4871101"></polygon>
        </symbol>

        <symbol id=":star-half" viewBox="0 0 12 13">
            <title id="star-half-title">Half Star</title>
            <polygon points="6 10.25 1.7380268 12.4871101 3.14683045 8.00430523 0.121751609 4.59831238 4.23664424 4.37069477 5.99999982 0.333932433 7.76335576 4.37069477 11.9800623 4.59831238 8.85316955 8.00430523 10.2901724 12.4871101"></polygon>
        </symbol>

        <symbol id=":cart-plus" viewBox="0 0 26 23">
            <title id=":cart-plus-title">Add to Shopping Cart</title>
            <g transform="translate(-228.000000, -369.000000)" fill-rule="nonzero">
                <path d="M243.08,369.12 C243.290439,368.945078 243.602399,368.971817 243.78,369.18 L243.78,369.18 L248.607613,374.947717 L251.59,374.94 C252.060735,374.941985 252.513689,375.109853 252.87075,375.41092 L253,375.53 C253.383271,375.921279 253.589302,376.452622 253.57,377 L253.57,377 L251.08,389.87 C250.975751,390.42949 250.695454,390.941032 250.28,391.33 C249.856685,391.725828 249.299541,391.947257 248.72,391.95 L248.72,391.95 L232.85,391.95 C232.270649,391.946275 231.713851,391.724983 231.29,391.33 C230.875104,390.9406 230.594914,390.429253 230.49,389.87 L230.49,389.87 L228,377.33 C227.91707,376.814403 228.039096,376.286819 228.34,375.86 C228.648387,375.400226 229.133557,375.088849 229.68,375 L229.68,375 L247.937613,374.949717 L247.31,374.95 L243,369.82 C242.845583,369.634609 242.845583,369.365391 243,369.18 L243,369.18 Z M251.57,376 L229.76,376 C229.245248,376.119503 228.912329,376.618882 229,377.14 L229,377.14 L231.51,389.67 C231.570994,390.021091 231.742694,390.343467 232,390.59 C232.231763,390.813016 232.538478,390.941408 232.86,390.95 L232.86,390.95 L248.72,390.95 C249.047099,390.949122 249.361649,390.824016 249.6,390.6 C249.860419,390.354429 250.035597,390.032101 250.1,389.68 L250.1,389.68 L252.57,377 C252.57,376.447715 252.122285,376 251.57,376 L251.57,376 Z M240.29,378.95 C240.566142,378.95 240.79,379.173858 240.79,379.45 L240.79,379.45 L240.79,382.95 L244.29,382.95 C244.566142,382.95 244.79,383.173858 244.79,383.45 C244.79,383.726142 244.566142,383.95 244.29,383.95 L244.29,383.95 L240.79,383.95 L240.79,387.45 C240.79,387.726142 240.566142,387.95 240.29,387.95 C240.013858,387.95 239.79,387.726142 239.79,387.45 L239.79,387.45 L239.79,383.95 L236.29,383.95 C236.013858,383.95 235.79,383.726142 235.79,383.45 C235.79,383.173858 236.013858,382.95 236.29,382.95 L236.29,382.95 L239.79,382.95 L239.79,379.45 C239.79,379.173858 240.013858,378.95 240.29,378.95 Z M238.190795,368.957371 L238.285467,368.961518 C238.475832,368.988054 238.634135,369.121361 238.692679,369.304433 C238.751224,369.487506 238.699645,369.687931 238.56,369.82 L238.56,369.82 L234.3,374.95 L233,374.95 L237.8,369.18 C237.906378,369.019917 238.095102,368.934982 238.285467,368.961518 Z"></path>
            </g>
        </symbol>

        <symbol id=":chevron-left" viewBox="0 0 320 512">
            <title id=":chevron-left-title">chevron-left</title>
            <path d="M34.52 239.03L228.87 44.69c9.37-9.37 24.57-9.37 33.94 0l22.67 22.67c9.36 9.36 9.37 24.52.04 33.9L131.49 256l154.02 154.75c9.34 9.38 9.32 24.54-.04 33.9l-22.67 22.67c-9.37 9.37-24.57 9.37-33.94 0L34.52 272.97c-9.37-9.37-9.37-24.57 0-33.94z"></path>
        </symbol>

        <symbol id=":chevron-right" viewBox="0 0 320 512">
            <title id=":chevron-right-title">chevron-right</title>
            <path d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z"></path>
        </symbol>

        <symbol id=":spinner" viewBox="0 0 512 512">
            <title id=":spinner-title">Spinner</title>
            <path d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z"></path>
        </symbol>

        <symbol id=":heart" viewBox="0 0 512 512">
            <title id="heart-title">Heart</title>
            <path d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path>
        </symbol>

        <symbol id=":sync" viewBox="0 0 512 512">
            <title id=":sync-title">Sync</title>
            <path d="M440.935 12.574l3.966 82.766C399.416 41.904 331.674 8 256 8 134.813 8 33.933 94.924 12.296 209.824 10.908 217.193 16.604 224 24.103 224h49.084c5.57 0 10.377-3.842 11.676-9.259C103.407 137.408 172.931 80 256 80c60.893 0 114.512 30.856 146.104 77.801l-101.53-4.865c-6.845-.328-12.574 5.133-12.574 11.986v47.411c0 6.627 5.373 12 12 12h200.333c6.627 0 12-5.373 12-12V12c0-6.627-5.373-12-12-12h-47.411c-6.853 0-12.315 5.729-11.987 12.574zM256 432c-60.895 0-114.517-30.858-146.109-77.805l101.868 4.871c6.845.327 12.573-5.134 12.573-11.986v-47.412c0-6.627-5.373-12-12-12H12c-6.627 0-12 5.373-12 12V500c0 6.627 5.373 12 12 12h47.385c6.863 0 12.328-5.745 11.985-12.599l-4.129-82.575C112.725 470.166 180.405 504 256 504c121.187 0 222.067-86.924 243.704-201.824 1.388-7.369-4.308-14.176-11.807-14.176h-49.084c-5.57 0-10.377 3.842-11.676 9.259C408.593 374.592 339.069 432 256 432z"></path>
        </symbol>


        <symbol id=":gift" viewBox="0 0 512 512">
            <title id=":gift-title">Gift</title>
            <path d="M32 448c0 17.7 14.3 32 32 32h160V320H32v128zm448-288h-42.1c6.2-12.1 10.1-25.5 10.1-40 0-48.5-39.5-88-88-88-41.6 0-68.5 21.3-103 68.3-34.5-47-61.4-68.3-103-68.3-48.5 0-88 39.5-88 88 0 14.5 3.8 27.9 10.1 40H32c-17.7 0-32 14.3-32 32v80c0 8.8 7.2 16 16 16h480c8.8 0 16-7.2 16-16v-80c0-17.7-14.3-32-32-32zm-326.1 0c-22.1 0-40-17.9-40-40s17.9-40 40-40c19.9 0 34.6 3.3 86.1 80h-86.1zm206.1 0h-86.1c51.4-76.5 65.7-80 86.1-80 22.1 0 40 17.9 40 40s-17.9 40-40 40zm-72 320h160c17.7 0 32-14.3 32-32V320H288v160z"></path>
        </symbol>

        <symbol id=":chevron-up" viewBox="0 0 404.258 404.258">
            <title id=":chevron-up-title">chevron-up</title>
            <polygon points="202.129,114.331 0,265.927 18,289.927 202.129,151.831 386.258,289.927 404.258,265.927 "/>
        </symbol>

        <symbol id=":klarna" viewBox="0 0 452.9 101.1">
            <title id=":gift-title">Klarna</title>
            <path d="M79.7,0H57.4c0,18.3-8.4,35-23,46l-8.8,6.6l34.2,46.6h28.1L56.4,56.3C71.3,41.5,79.7,21.5,79.7,0z"/>
            <rect width="22.8" height="99.2"/>
            <rect x="94.5" width="21.5" height="99.2"/>
            <path d="M304.6,28.7c-8.2,0-16,2.5-21.2,9.6v-7.7H263v68.6h20.7v-36c0-10.4,7-15.5,15.4-15.5c9,0,14.2,5.4,14.2,15.4v36.2h20.5V55.6
C333.8,39.6,321.1,28.7,304.6,28.7z"/>
            <path d="M181,30.6V35c-5.8-4-12.8-6.3-20.4-6.3c-20,0-36.2,16.2-36.2,36.2s16.2,36.2,36.2,36.2c7.6,0,14.6-2.3,20.4-6.3v4.4h20.5
	V30.6H181z M162.3,82.5c-10.3,0-18.6-7.9-18.6-17.6s8.3-17.6,18.6-17.6c10.3,0,18.6,7.9,18.6,17.6S172.6,82.5,162.3,82.5z"/>
            <path d="M233.3,39.5v-8.9h-21v68.6h21.1v-32c0-10.8,11.7-16.6,19.8-16.6c0.1,0,0.2,0,0.2,0v-20C245.1,30.6,237.4,34.2,233.3,39.5z" />
            <path d="M397.6,30.6V35c-5.8-4-12.8-6.3-20.4-6.3c-20,0-36.2,16.2-36.2,36.2s16.2,36.2,36.2,36.2c7.6,0,14.6-2.3,20.4-6.3v4.4h20.5
	V30.6H397.6z M378.9,82.5c-10.3,0-18.6-7.9-18.6-17.6s8.3-17.6,18.6-17.6c10.3,0,18.6,7.9,18.6,17.6
	C397.6,74.6,389.2,82.5,378.9,82.5z"/>
            <g>
                <path d="M434,32.6c0-1-0.7-1.6-1.8-1.6h-1.9v5.2h0.9v-1.9h1l0.8,1.9h1l-0.9-2.1C433.7,33.8,434,33.3,434,32.6z M432.2,33.4h-1v-1.6
		h1c0.6,0,0.9,0.3,0.9,0.8S432.9,33.4,432.2,33.4z"/>
                <path d="M431.9,28.8c-2.7,0-4.9,2.2-4.9,4.9c0.1,2.7,2.2,4.9,4.9,4.9s4.9-2.2,4.9-4.9C436.8,31,434.6,28.8,431.9,28.8z M431.9,37.7
		c-2.2,0-3.9-1.8-3.9-4c0-2.2,1.8-4,3.9-4c2.2,0,3.9,1.8,3.9,4C435.8,35.9,434,37.7,431.9,37.7z"/>
            </g>
            <path d="M440,74.9c-7.1,0-12.9,5.8-12.9,12.9c0,7.1,5.8,12.9,12.9,12.9c7.1,0,12.9-5.8,12.9-12.9C452.9,80.6,447.1,74.9,440,74.9z" />
        </symbol>

        <symbol id=":grid" viewBox="0 0 17 17">
            <title id=":grid-title">Grid</title>
            <g fill="none" fill-rule="evenodd" stroke-width="1.05">
                <rect width="6.416" height="6.416" x=".525" y=".525" rx="1.313"/>
                <rect width="6.416" height="6.416" x=".525" y="10.058" rx="1.313"/>
                <rect width="6.416" height="6.416" x="10.058" y=".525" rx="1.313"/>
                <rect width="6.416" height="6.416" x="10.058" y="10.058" rx="1.313"/>
            </g>
        </symbol>

        <symbol id=":list" viewBox="0 0 18 16">
            <title id=":list-title">List</title>
            <g>
                <rect width="2" height="2" rx="1"/>
                <rect width="12.665" height="1.5" x="5" rx=".75"/>
                <rect width="12.665" height="1.5" x="5" y="7" rx=".75"/>
                <rect width="12.665" height="1.5" x="5" y="14" rx=".75"/>
                <rect width="2" height="2" y="7" rx="1"/>
                <rect width="2" height="2" y="14" rx="1"/>
            </g>
        </symbol>

        <symbol id=":filters" viewBox="0 0 25 21">
            <title id=":filters-title">Filters</title>
            <g fill-rule="evenodd">
                <path fill-rule="nonzero" d="M7.101 0c-.946 0-1.8.567-2.162 1.436-.362.87-.162 1.87.508 2.535a2.35 2.35 0 0 0 2.55.504A2.326 2.326 0 0 0 9.44 2.326 2.333 2.333 0 0 0 7.101 0zm0 3.667c-.745 0-1.348-.6-1.348-1.34 0-.741.603-1.342 1.348-1.342.745 0 1.349.6 1.349 1.341 0 .356-.142.697-.395.948a1.353 1.353 0 0 1-.954.393zM16.851 7.835c-.946 0-1.8.566-2.162 1.436-.362.869-.162 1.87.508 2.535a2.35 2.35 0 0 0 2.55.504 2.326 2.326 0 0 0 1.444-2.15 2.333 2.333 0 0 0-2.34-2.325zm0 3.667c-.745 0-1.348-.6-1.348-1.341 0-.74.603-1.341 1.348-1.341.745 0 1.349.6 1.349 1.34 0 .356-.142.697-.395.949a1.353 1.353 0 0 1-.954.393z"/>
                <path d="M4.761 2.326c0-.241.039-.481.114-.71H.65c-.359 0-.65.289-.65.646 0 .356.291.646.65.646h4.225a2.282 2.282 0 0 1-.114-.582zM23.676 1.615H9.344c.063.21.096.428.097.647a2.281 2.281 0 0 1-.097.646h14.332c.36 0 .65-.29.65-.646a.648.648 0 0 0-.65-.647zM14.511 10.16c.007-.219.045-.437.114-.645H.65a.65.65 0 0 0-.563.323.643.643 0 0 0 0 .646c.116.2.33.323.563.323h13.975a2.282 2.282 0 0 1-.114-.646zM23.676 9.515h-4.582c.138.42.138.872 0 1.292h4.582c.36 0 .65-.29.65-.646a.648.648 0 0 0-.65-.646z"/>
                <path fill-rule="nonzero" d="M12.171 15.685a2.333 2.333 0 0 0-2.34 2.327 2.333 2.333 0 0 0 2.34 2.326 2.333 2.333 0 0 0 2.34-2.326 2.333 2.333 0 0 0-2.34-2.327zm0 3.667c-.745 0-1.348-.6-1.348-1.34 0-.74.603-1.341 1.348-1.341.745 0 1.349.6 1.349 1.34.009.362-.13.711-.383.97a1.353 1.353 0 0 1-.966.404v-.033z"/>
                <path d="M9.955 18.012c.001-.22.034-.437.097-.647H.83c-.36 0-.65.29-.65.647 0 .356.29.646.65.646h9.305a2.283 2.283 0 0 1-.18-.646zM23.855 17.365h-9.457c.137.42.137.873 0 1.293h9.457c.359 0 .65-.29.65-.646a.648.648 0 0 0-.65-.647z"/>
            </g>
        </symbol>

        <symbol id=":default-image" viewBox="0 0 50 37">
            <path d="M42.691411,0.0743657331 L2.3392638,0.0743657331 C1.04732408,0.0743657331 1.58216985e-16,1.11496071 0,2.39859967 L0,31.0318451 C-2.28012231e-15,31.6482703 0.246457443,32.2394483 0.685154505,32.6753267 C1.12385157,33.1112051 1.71885247,33.3560791 2.3392638,33.3560791 L42.691411,33.3560791 C43.3118224,33.3560791 43.9068233,33.1112051 44.3455203,32.6753267 C44.7842174,32.2394483 45.0306748,31.6482703 45.0306748,31.0318451 L45.0306748,2.39859967 C45.0306748,1.11496071 43.9833508,0.0743657331 42.691411,0.0743657331 Z M43.5582822,31.3567381 C43.5582822,31.6024911 43.3577717,31.8017133 43.1104294,31.8017133 L1.9190184,31.8017133 C1.67167615,31.8017133 1.47116564,31.6024911 1.47116564,31.3567381 L1.47116564,2.07248764 C1.47116564,1.82673458 1.67167615,1.62751236 1.9190184,1.62751236 L43.1116564,1.62751236 C43.3585194,1.62818435 43.5582831,1.82720988 43.5582822,2.07248764 L43.5582822,31.3567381 Z" id="Shape" fill-rule="nonzero"/>
            <path d="M17.0631902,4.37172982 C14.6111936,4.37206646 12.6237005,6.34724457 12.6239264,8.78348704 C12.6241523,11.2197295 14.6120115,13.1945438 17.0640082,13.1944316 C19.5160048,13.1943194 21.503681,11.2193232 21.503681,8.78308072 C21.503681,7.6130121 21.0358253,6.49087535 20.2030541,5.66356905 C19.3702829,4.83626276 18.2408251,4.37156814 17.0631902,4.37172982 Z M17.0631902,11.818056 C15.3751453,11.8167097 14.0076862,10.4562177 14.0085894,8.77901833 C14.0094926,7.10181892 15.3784162,5.74278166 17.0664615,5.74323008 C18.7545069,5.7436785 20.1226988,7.10344286 20.1226994,8.7806425 C20.1226994,10.4579216 18.7543831,11.8177194 17.0662577,11.818056 L17.0631902,11.818056 Z" id="Shape" fill-rule="nonzero"/>
            <polygon id="Path" points="36.2582822 8.80624382 21.4730061 21.9726359 11.2276074 17.0961944 1.16625767 21.9726359 0.491411043 31.2988303 0.619018405 31.4890115 1.16625767 23.9232125 11.2276074 19.046771 21.4730061 23.9232125 36.2582822 10.7568204 44.0496933 18.1324382 44.0496933 16.1818616"/>
            <path d="M0.490797546,32.4240692 L0.490797546,0.991136738 C0.22613131,1.32723278 0.0640947196,1.73173133 0.0239263804,2.15660626 L0.13803681,30.4777595 C0.0521472393,31.2488468 0.0429447853,31.9193575 0.490797546,32.4240692 Z" id="Path"/>
            <path d="M47.7380368,3.84934102 C49.090184,3.9761285 50.0871166,5.11477759 49.9631902,6.39240527 L47.2552147,34.8994728 C47.1337423,36.1771005 45.9374233,37.1103295 44.5877301,36.983542 L2.08343558,33.1884514 C1.57546012,33.0811697 1.18957055,32.9373147 0.900613497,32.7617628 L13.7226994,32.7617628 L45.1766871,35.4773311 C45.4289167,35.5070339 45.6576615,35.3280514 45.6877301,35.0774629 L48.4662577,5.85660626 C48.47467,5.73529371 48.4340929,5.61564966 48.3535008,5.52413623 C48.2729088,5.43262279 48.158943,5.37678119 48.0368098,5.36896211 L44.6693252,5.05321252 L44.0490798,4.99835255 L44.0490798,3.51042834 L44.695092,3.56406919 L47.7380368,3.84934102 Z M13.1650307,0.942981878 L0.530674847,0.942981878 C1.0609496,0.314963413 1.87004481,-0.011070253 2.69079755,0.0725370675 L13.1650307,0.942981878 Z" id="Path-2"/>
        </symbol>

        {# file icons #}
        <symbol id=":file" viewBox="0 0 384 512">
            <title id=":file-title">File</title>
            <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm160-14.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"/>
        </symbol>

        <symbol id=":file-image" viewBox="0 0 384 512">
            <title id=":file-image-title">Image</title>
            <path d="M384 121.941V128H256V0h6.059a24 24 0 0 1 16.97 7.029l97.941 97.941a24.002 24.002 0 0 1 7.03 16.971zM248 160c-13.2 0-24-10.8-24-24V0H24C10.745 0 0 10.745 0 24v464c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24V160H248zm-135.455 16c26.51 0 48 21.49 48 48s-21.49 48-48 48-48-21.49-48-48 21.491-48 48-48zm208 240h-256l.485-48.485L104.545 328c4.686-4.686 11.799-4.201 16.485.485L160.545 368 264.06 264.485c4.686-4.686 12.284-4.686 16.971 0L320.545 304v112z"/>
        </symbol>

        <symbol id=":file-pdf" viewBox="0 0 384 512">
            <title id=":file-pdf-title">Pdf</title>
            <path d="M181.9 256.1c-5-16-4.9-46.9-2-46.9 8.4 0 7.6 36.9 2 46.9zm-1.7 47.2c-7.7 20.2-17.3 43.3-28.4 62.7 18.3-7 39-17.2 62.9-21.9-12.7-9.6-24.9-23.4-34.5-40.8zM86.1 428.1c0 .8 13.2-5.4 34.9-40.2-6.7 6.3-29.1 24.5-34.9 40.2zM248 160h136v328c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V24C0 10.7 10.7 0 24 0h200v136c0 13.2 10.8 24 24 24zm-8 171.8c-20-12.2-33.3-29-42.7-53.8 4.5-18.5 11.6-46.6 6.2-64.2-4.7-29.4-42.4-26.5-47.8-6.8-5 18.3-.4 44.1 8.1 77-11.6 27.6-28.7 64.6-40.8 85.8-.1 0-.1.1-.2.1-27.1 13.9-73.6 44.5-54.5 68 5.6 6.9 16 10 21.5 10 17.9 0 35.7-18 61.1-61.8 25.8-8.5 54.1-19.1 79-23.2 21.7 11.8 47.1 19.5 64 19.5 29.2 0 31.2-32 19.7-43.4-13.9-13.6-54.3-9.7-73.6-7.2zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-74.1 255.3c4.1-2.7-2.5-11.9-42.8-9 37.1 15.8 42.8 9 42.8 9z"/>
        </symbol>

        <symbol id=":file-word" viewBox="0 0 384 512">
            <title id=":file-word-title">Word</title>
            <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm57.1 120H305c7.7 0 13.4 7.1 11.7 14.7l-38 168c-1.2 5.5-6.1 9.3-11.7 9.3h-38c-5.5 0-10.3-3.8-11.6-9.1-25.8-103.5-20.8-81.2-25.6-110.5h-.5c-1.1 14.3-2.4 17.4-25.6 110.5-1.3 5.3-6.1 9.1-11.6 9.1H117c-5.6 0-10.5-3.9-11.7-9.4l-37.8-168c-1.7-7.5 4-14.6 11.7-14.6h24.5c5.7 0 10.7 4 11.8 9.7 15.6 78 20.1 109.5 21 122.2 1.6-10.2 7.3-32.7 29.4-122.7 1.3-5.4 6.1-9.1 11.7-9.1h29.1c5.6 0 10.4 3.8 11.7 9.2 24 100.4 28.8 124 29.6 129.4-.2-11.2-2.6-17.8 21.6-129.2 1-5.6 5.9-9.5 11.5-9.5zM384 121.9v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"/>
        </symbol>

        <symbol id=":file-text" viewBox="0 0 384 512">
            <title id=":file-text-title">Text</title>
            <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm64 236c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-64c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12v8zm0-72v8c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-8c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm96-114.1v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"/>
        </symbol>

        <symbol id=":file-excel" viewBox="0 0 384 512">
            <title id=":file-excel-title">Excel</title>
            <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm60.1 106.5L224 336l60.1 93.5c5.1 8-.6 18.5-10.1 18.5h-34.9c-4.4 0-8.5-2.4-10.6-6.3C208.9 405.5 192 373 192 373c-6.4 14.8-10 20-36.6 68.8-2.1 3.9-6.1 6.3-10.5 6.3H110c-9.5 0-15.2-10.5-10.1-18.5l60.3-93.5-60.3-93.5c-5.2-8 .6-18.5 10.1-18.5h34.8c4.4 0 8.5 2.4 10.6 6.3 26.1 48.8 20 33.6 36.6 68.5 0 0 6.1-11.7 36.6-68.5 2.1-3.9 6.2-6.3 10.6-6.3H274c9.5-.1 15.2 10.4 10.1 18.4zM384 121.9v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"/>
        </symbol>

        <symbol id=":file-powerpoint" viewBox="0 0 384 512">
            <title id=":file-powerpoint-title">Powerpoint</title>
            <path d="M193.7 271.2c8.8 0 15.5 2.7 20.3 8.1 9.6 10.9 9.8 32.7-.2 44.1-4.9 5.6-11.9 8.5-21.1 8.5h-26.9v-60.7h27.9zM377 105L279 7c-4.5-4.5-10.6-7-17-7h-6v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zm-153 31V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm53 165.2c0 90.3-88.8 77.6-111.1 77.6V436c0 6.6-5.4 12-12 12h-30.8c-6.6 0-12-5.4-12-12V236.2c0-6.6 5.4-12 12-12h81c44.5 0 72.9 32.8 72.9 77z"/>
        </symbol>

        <symbol id=":file-archive" viewBox="0 0 384 512">
            <title id=":file-archive-title">Archive</title>
            <path d="M377 105L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9zM128.4 336c-17.9 0-32.4 12.1-32.4 27 0 15 14.6 27 32.5 27s32.4-12.1 32.4-27-14.6-27-32.5-27zM224 136V0h-63.6v32h-32V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zM95.9 32h32v32h-32zm32.3 384c-33.2 0-58-30.4-51.4-62.9L96.4 256v-32h32v-32h-32v-32h32v-32h-32V96h32V64h32v32h-32v32h32v32h-32v32h32v32h-32v32h22.1c5.7 0 10.7 4.1 11.8 9.7l17.3 87.7c6.4 32.4-18.4 62.6-51.4 62.6z"/>
        </symbol>

        <symbol id=":file-csv" viewBox="0 0 384 512">
            <title id=":file-csv-title">Csv</title>
            <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm-96 144c0 4.42-3.58 8-8 8h-8c-8.84 0-16 7.16-16 16v32c0 8.84 7.16 16 16 16h8c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8h-8c-26.51 0-48-21.49-48-48v-32c0-26.51 21.49-48 48-48h8c4.42 0 8 3.58 8 8v16zm44.27 104H160c-4.42 0-8-3.58-8-8v-16c0-4.42 3.58-8 8-8h12.27c5.95 0 10.41-3.5 10.41-6.62 0-1.3-.75-2.66-2.12-3.84l-21.89-18.77c-8.47-7.22-13.33-17.48-13.33-28.14 0-21.3 19.02-38.62 42.41-38.62H200c4.42 0 8 3.58 8 8v16c0 4.42-3.58 8-8 8h-12.27c-5.95 0-10.41 3.5-10.41 6.62 0 1.3.75 2.66 2.12 3.84l21.89 18.77c8.47 7.22 13.33 17.48 13.33 28.14.01 21.29-19 38.62-42.39 38.62zM256 264v20.8c0 20.27 5.7 40.17 16 56.88 10.3-16.7 16-36.61 16-56.88V264c0-4.42 3.58-8 8-8h16c4.42 0 8 3.58 8 8v20.8c0 35.48-12.88 68.89-36.28 94.09-3.02 3.25-7.27 5.11-11.72 5.11s-8.7-1.86-11.72-5.11c-23.4-25.2-36.28-58.61-36.28-94.09V264c0-4.42 3.58-8 8-8h16c4.42 0 8 3.58 8 8zm121-159L279.1 7c-4.5-4.5-10.6-7-17-7H256v128h128v-6.1c0-6.3-2.5-12.4-7-16.9z"/>
        </symbol>

        <symbol id=":file-audio" viewBox="0 0 384 512">
            <title id=":file-audio-title">Audio</title>
            <path d="M224 136V0H24C10.7 0 0 10.7 0 24v464c0 13.3 10.7 24 24 24h336c13.3 0 24-10.7 24-24V160H248c-13.2 0-24-10.8-24-24zm-64 268c0 10.7-12.9 16-20.5 8.5L104 376H76c-6.6 0-12-5.4-12-12v-56c0-6.6 5.4-12 12-12h28l35.5-36.5c7.6-7.6 20.5-2.2 20.5 8.5v136zm33.2-47.6c9.1-9.3 9.1-24.1 0-33.4-22.1-22.8 12.2-56.2 34.4-33.5 27.2 27.9 27.2 72.4 0 100.4-21.8 22.3-56.9-10.4-34.4-33.5zm86-117.1c54.4 55.9 54.4 144.8 0 200.8-21.8 22.4-57-10.3-34.4-33.5 36.2-37.2 36.3-96.5 0-133.8-22.1-22.8 12.3-56.3 34.4-33.5zM384 121.9v6.1H256V0h6.1c6.4 0 12.5 2.5 17 7l97.9 98c4.5 4.5 7 10.6 7 16.9z"/>
        </symbol>

        <symbol id=":file-video" viewBox="0 0 384 512">
            <title id=":file-video-title">Video</title>
            <path d="M384 121.941V128H256V0h6.059c6.365 0 12.47 2.529 16.971 7.029l97.941 97.941A24.005 24.005 0 0 1 384 121.941zM224 136V0H24C10.745 0 0 10.745 0 24v464c0 13.255 10.745 24 24 24h336c13.255 0 24-10.745 24-24V160H248c-13.2 0-24-10.8-24-24zm96 144.016v111.963c0 21.445-25.943 31.998-40.971 16.971L224 353.941V392c0 13.255-10.745 24-24 24H88c-13.255 0-24-10.745-24-24V280c0-13.255 10.745-24 24-24h112c13.255 0 24 10.745 24 24v38.059l55.029-55.013c15.011-15.01 40.971-4.491 40.971 16.97z"/>
        </symbol>

        <symbol id=":calendar" viewBox="0 0 18 16">
            <title id=":calendar-title">Calendar</title>
            <g>
                <path d="M.63 15.896h16.6a.637.637 0 0 0 .449-.176.59.59 0 0 0 .183-.431V1.733a.59.59 0 0 0-.183-.43.637.637 0 0 0-.448-.177h-3.123V.607A.62.62 0 0 0 13.477 0a.62.62 0 0 0-.63.607v.519H5.122V.607a.604.604 0 0 0-.315-.526.652.652 0 0 0-.631 0 .604.604 0 0 0-.315.526v.519H.63a.637.637 0 0 0-.448.176.59.59 0 0 0-.183.431v13.57a.62.62 0 0 0 .63.593zm.632-13.555h2.6v.326c0 .217.12.417.315.526a.652.652 0 0 0 .63 0 .604.604 0 0 0 .316-.526V2.34h7.723v.326a.62.62 0 0 0 .63.607.62.62 0 0 0 .632-.607V2.34h2.507v1.57H1.262v-1.57zm0 2.785H16.6v9.57H1.262v-9.57z"/>
                <path d="M13.477 7.911H4.4a.636.636 0 0 0-.546.304.588.588 0 0 0 0 .607c.112.188.32.304.546.304h9.077a.62.62 0 0 0 .63-.607.62.62 0 0 0-.63-.608z"/>
                <rect width="10.338" height="1.215" x="3.769" y="10.923" rx=".607"/>
            </g>
        </symbol>

        <symbol id=":minus" viewBox="0 -192 469.33333 469">
            <title id=":minus-title">Minus</title>
            <path xmlns="http://www.w3.org/2000/svg" d="m437.332031.167969h-405.332031c-17.664062 0-32 14.335937-32 32v21.332031c0 17.664062 14.335938 32 32 32h405.332031c17.664063 0 32-14.335938 32-32v-21.332031c0-17.664063-14.335937-32-32-32zm0 0"/>
        </symbol>
    {% endspaceless %}
{% endblock %}
