{% extends model('component') %}

{% define config = {
    name: 'icon-sprite',
    tag: 'svg'
} %}

{% block extraAttributes %}
    xmlns="http://www.w3.org/2000/svg"
    style="display: none;"
{% endblock %}

{% block body %}
    {#
        Font Awesome Free 5.0.4 by @fontawesome - http://fontawesome.com
        License - http://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
    #}
    {% spaceless %}
        {# action icons #}
        <symbol id=":search" viewBox="0 0 451 451">
            <title id=":search-title">Search</title>
            <path d="M447.05,428l-109.6-109.6c29.4-33.8,47.2-77.9,47.2-126.1C384.65,86.2,298.35,0,192.35,0C86.25,0,0.05,86.3,0.05,192.3
                                s86.3,192.3,192.3,192.3c48.2,0,92.3-17.8,126.1-47.2L428.05,447c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4
                                C452.25,441.8,452.25,433.2,447.05,428z M26.95,192.3c0-91.2,74.2-165.3,165.3-165.3c91.2,0,165.3,74.2,165.3,165.3
                                s-74.1,165.4-165.3,165.4C101.15,357.7,26.95,283.5,26.95,192.3z"/>
        </symbol>

        <symbol id=":wishlist" viewBox="0 0 26 22">
            <title id=":wishlist-title">Wishlist</title>
            <defs>
                <path d="M0 0h44v44H0z"/>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(-9 -11)">
                <mask fill="#fff">
                    <use xlink:href="#a"/>
                </mask>
                <path stroke="#111" d="M22 13.82a7.216 7.216 0 0 1 5.319-2.32c3.964 0 7.181 3.163 7.181 7.069 0 3.37-2.33 6.65-6.187 9.743a37.82 37.82 0 0 1-4.18 2.893c-.5.3-.963.563-1.379.789-.251.136-.432.23-.53.28l-.235.116-.23-.125a22.158 22.158 0 0 1-.528-.303 42.179 42.179 0 0 1-1.376-.847 43.023 43.023 0 0 1-4.173-3.026c-3.856-3.186-6.182-6.403-6.182-9.52 0-3.906 3.217-7.069 7.181-7.069 2.058 0 3.973.859 5.319 2.32z" mask="url(#b)"/>
            </g>
        </symbol>

        <symbol id=":user-account" viewBox="0 0 26 22">
            <title id=":user-account-title">User Account</title>
            <defs>
                <path d="M.5 0h44v44H.5z"/>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(-9.5 -11)">
                <mask fill="#fff">
                    <use xlink:href="#a"/>
                </mask>
                <g stroke="#111" mask="url(#b)">
                    <path d="M10 33c0-4.98 5.807-8.5 12.5-8.5S35 28.02 35 33v.5H10V33zM22.5 11.5c3.584 0 6.5 2.916 6.5 6.5 0 3.585-2.916 6.5-6.5 6.5A6.506 6.506 0 0 1 16 18c0-3.584 2.915-6.5 6.5-6.5z"/>
                </g>
            </g>
        </symbol>

        <symbol id=":cart" viewBox="0 0 26 23">
            <title id=":cart-title">Cart</title>
            <defs>
                <path d="M0 0h44v44H0z"/>
            </defs>
            <g fill="none" fill-rule="evenodd" transform="translate(-9 -10)">
                <mask fill="#fff">
                    <use xlink:href="#a"/>
                </mask>
                <g mask="url(#b)">
                    <path fill="#111" d="M29.83 16h-1.305l-4.3-5.126a.5.5 0 1 1 .765-.643L29.83 16zM15.475 16h-1.306l4.84-5.769a.5.5 0 0 1 .767.643L15.475 16z"/>
                    <path stroke="#111" d="M31.8 30.825c-.185.967-.95 1.675-1.87 1.675H14.07c-.92 0-1.685-.709-1.87-1.674L9.743 18.288a1.5 1.5 0 0 1 1.472-1.788h21.57a1.5 1.5 0 0 1 1.472 1.788l-2.456 12.537z"/>
                    <g fill="#111" transform="translate(18.5 21)">
                        <rect width="1" height="7" rx=".5"/>
                        <rect width="1" height="7" x="6" rx=".5"/>
                        <rect width="1" height="7" x="3" rx=".5"/>
                    </g>
                </g>
            </g>
        </symbol>

        <symbol id=":arrow" viewBox="0 0 6 9">
            <title id=":arrow-title">Arrow</title>
            <path d="M.317 1.708a.957.957 0 0 1 0-1.423C.528.092.805 0 1.08 0s.551.092.763.285l3.84 3.503a.957.957 0 0 1 .001 1.422L1.86 8.715c-.22.201-.496.285-.78.285-.274 0-.55-.092-.762-.285a.957.957 0 0 1-.001-1.422L3.364 4.5.317 1.708z"/>
        </symbol>

    {% endspaceless %}
{% endblock %}
