@mixin shop-ui-product-slider-title ($name: '.product-slider-title') {
    #{$name} {
        margin:45px 0 90px 0;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
        @include helper-breakpoint-media-max($md-max) {
            margin: 30px 0 30px 0;
        }
        &__text {
            font: normal 34px $setting-font-family-additional;
            letter-spacing: -0.9px;
            @include helper-breakpoint-media-max($md-max) {
                font: normal 24px $setting-font-family;
            }
        }
        &__line {
            height: 1px;
            background-color: $setting-color-lightest-1;
            flex: 1;
            margin: 0 50px;
            &--expand {
                margin: 0 0 0 50px;
            }
            @include helper-breakpoint-media-max($md-max) {
                margin: 0 0 0 50px;
            }
        }
        &__link {
            font: normal 11px $setting-font-family-additional;
            letter-spacing: 2.7px;
            text-transform: uppercase;
            font-weight: bold;
            position: relative;
            line-height: normal;
            cursor: pointer;
            &:hover {
                text-decoration: none;
                color: $setting-color-text;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                height: 1px;
                width: 100%;
                background: $setting-color-text;
                bottom: -9.5px;
            }
        }
        &__link-mobile {
            font: bold 12px $setting-font-family-additional;
            letter-spacing: 2.1px;
            border-radius: 2px;
            border: 1px solid $setting-color-darker;
            text-transform: uppercase;
            display: block;
            padding: 16px;
            text-align: center;
            color: $setting-color-darker;
            @include helper-link-hover-reset;
            &:hover {
                background: $setting-color-black;
                color: $setting-color-white;
            }
        }
    }
}
