{% extends model('component') %}

{% define config = {
    name: 'product-slider-title'
} %}

{% define data = {
    title: required,
    subText: '',
} %}

{% block body %}
    <h3 class="title title--slider">{{ data.title }}</h3>
    {% block subContent %}
        {% if data.subText is not empty %}
            <div class="{{ config.name }}__sub-col">{{ data.subText }}</div>
        {% endif %}
    {% endblock %}
{% endblock %}
