@mixin shop-ui-product-slider-title ($name: '.product-slider-title') {
    #{$name} {
        margin: rem(45) 0 rem(90);
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 rem(16);

        @include helper-breakpoint-media-max($md-max) {
            margin: rem(30) 0;
        }

        &::after {
            content: '';
            order: 2;
            border-top: rem(1) solid $setting-color-lightest-1;
            flex: 1;
            margin-left: rem(50);
        }

        &__sub-col {
            order: 3;
            margin-left: rem(50);
        }
    }
}

@include shop-ui-product-slider-title();
