{% extends model('component') %}

{% define config = {
    name: 'suggestion-product'
} %}

{% define data = {
    product: required,
    price: required,
    url: '',
    image: null,
    alt: '',
    title: '',
    originalPrice: required
} %}

{% block body %}
    <a class="container grid grid--middle link link--without-underline link--darkest js-suggest-search__item--navigable js-suggest-search__product-item--navigable"  href="{{ data.url }}">
        <span class="col">
            {% if data.image %}
                {% include atom('thumbnail') with {
                    modifiers: ['catalog'],
                    attributes: {
                        alt: data.alt,
                        src: data.image.external_url_small,
                        title: data.title
                    },
                } only %}
            {% endif %}
       </span>

        <span class="col col--lg-9 title title--medium">
            {{- data.title -}}
            {% if can('SeePricePermissionPlugin') %}
                {% include molecule('price') with {
                    modifiers: ['suggestion-product'],
                    data: {
                        amount: data.price | money,
                        originalAmount: data.originalPrice is empty ? null : (data.originalPrice | money)
                    }
                } only %}
            {% else %}
                {{ 'customer.access.cannot_see_price' | trans }}
            {% endif %}
       </span>
    </a>
{% endblock %}
