@mixin cart-bubble ($size, $position) {
    top: $position;
    right: $position;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: $size * 0.66;
    position: absolute;
    display: block;
    text-align: center;
    border-radius: 50%;
}

@mixin shop-ui-cart-icon ($name: '.cart-link') {

    #{$name} {
        position: relative;

        &__quantity {
            @include cart-bubble(18px, 0);
            background: $setting-color-alt;
            color: $setting-color-white;
        }
    }
}

@include shop-ui-cart-icon();
