@mixin cart-bubble ($size, $position){
    top: $position;
    right: $position;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: $size * .66;
    position: absolute;
    display: block;
    text-align: center;
    border-radius: 50%;
}

@mixin shop-ui-cart-icon ($name: '.cart-link'){

    #{$name} {
      position: relative;
      width: 24px;
      height: 24px;
      background: url("/assets/images/menu-basket-default.png") center no-repeat;
      background-size: contain;
      &.is-active {
        background: url("/assets/images/menu-basket-active.png") center no-repeat;
        background-size: contain;
      }
        @include helper-breakpoint-media-max($md-max) {
          background: none;
          width: unset;
          height: unset;
        }

        &__quantity {
            @include cart-bubble(18px, -12px);
            background: $setting-color-alt;
            color: $setting-color-white;
        }
    }

}

@include shop-ui-cart-icon();