@mixin shop-ui-cart-bubble ($size, $position) {
    top: $position;
    right: $position;
    width: $size;
    height: $size;
    line-height: $size;
    font-size: rem(12);
    position: absolute;
    display: block;
    text-align: center;
    border-radius: 50%;
}

@mixin shop-ui-cart-link ($name: '.cart-link') {
    #{$name} {
        position: relative;

        &__quantity {
            @include shop-ui-cart-bubble(rem(18), rem(-12));
            background-color: $setting-color-alt;
            color: $setting-color-white;

            @include helper-breakpoint-media-min($lg-min) {
                @include shop-ui-cart-bubble(rem(18), 0);
            }
        }
    }
}

@include shop-ui-cart-link();
