@include shop-ui-thumbnail {
    &--no-margin {
        margin: 0;
    }

    &--catalog {
        margin: 0 rem(15) 0 0;
        border-radius: rem(3);
        width: rem(41);
        height: rem(41);
        overflow: hidden;
        position: relative;

        &::after {
            content: '';
            display: block;
            position: absolute;
            background-color: $setting-color-alpha-1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }

    &--cart-bundle {
        width: rem(120);
        height: rem(44);
        margin: 0;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: rem(4);
            background: $setting-color-alpha-1;
        }
    }

    &__image {
        &--cart-bundle {
            max-height: calc(100% - #{rem(10)});
            max-width: calc(100% - #{rem(10)});
        }
    }

    &--product-set {
        height: rem(208);
        margin-left: 0;
        margin-right: 0;
    }

    &--wishlist {
        display: inline-block;
        margin-right: rem(10);

        @include helper-breakpoint-media-max($sm-max) {
            height: rem(32);
        }
    }
}
