@mixin set-list ($name: '.set-list'){
    #{$name} {

        margin-bottom: 3rem;

        &__item {
            text-align: center;

            strong {
                font-weight: 500;
            }
        }

        .thumbnail {
            height: 13rem;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@include set-list();
