@mixin set-list ($name: '.set-list') {
    #{$name} {

        margin-bottom: rem(48);

        &__item {
            text-align: center;

            strong {
                font-weight: 500;
            }
        }

        .thumbnail {
            height: rem(208);
            margin-left: 0;
            margin-right: 0;
        }
    }
}

@include set-list();
