@mixin shop-ui-promotion-block ($name: '.promotion-block') {
    #{$name} {
        margin-bottom: 36px;
        &__title {
            font: 500 23px $setting-font-family-additional;
            line-height: 1.57;
            letter-spacing: -0.3px;
        }
    }
}

@include shop-ui-promotion-block();
