@mixin shop-ui-promotion-block ($name: '.promotion-block') {
    #{$name} {
        margin-bottom: rem(36);
        &__title {
            font: 500 rem(23) $setting-font-family-additional;
            line-height: 1.57;
            letter-spacing: rem(-0.3);
        }
    }
}

@include shop-ui-promotion-block();
