@mixin helper-font-size($size) {
    font-size: map-get($setting-font-size, $size);
}

@mixin helper-font-weight($weight) {
    font-weight: map-get($setting-font-weight, $weight);
}

@mixin helper-font-line-height($height) {
    line-height: map-get($setting-font-line-height, $height);
}
