@function fw($weight) {
    @return map-get($setting-font-weight, $weight);
}

@mixin helper-font-letter-spacing($spacing) {
    letter-spacing: map-get($setting-font-letter-spacing, $spacing);
}

@mixin helper-font-reduced-letter-spacing($spacing) {
    letter-spacing: map-get($setting-font-letter-spacing, $spacing) / 1.3;
}

@mixin helper-reduced-font-size($size) {
    font-size: map-get($setting-font-size, $size) / 1.3;
}

@mixin helper-heading($size) {
    @include helper-reduced-font-size($size);
    @include helper-font-reduced-letter-spacing($size);
    @include helper-font-line-height($size);
    font-family: $setting-font-family-additional;
    font-weight: fw(bold);
    display: block;

    @include helper-breakpoint-media-min($lg-min) {
        @include helper-font-size($size);
        @include helper-font-letter-spacing($size);
    }
}
