@mixin helper-reset {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-tap-highlight-color: $setting-color-transparent;
    -webkit-font-smoothing: antialiased;
}
