@mixin helper-ui-clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin helper-ui-shadow() {
    box-shadow: 0 2px 5px 1px $setting-color-shadow;
}
