@mixin helper-visibility-visible {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
}

@mixin helper-visibility-invisible {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
}
