{% extends template('widget') %}

{% define data = {
    productAbstractViewCollection: productAbstractViewCollection,
} %}

{% block body %}
    <div class="grid grid--stretch product-list">
        {% for productAbstractView in data.productAbstractViewCollection %}
            {% include molecule('product-item') with {
                class: 'col col--sm-6 col--lg-3',
                data: {
                    product: productAbstractView,
                },
            } only %}
        {% endfor %}
    </div>
{% endblock %}
