{% extends template('widget') %}

{% define data = {
    productViews: productViews,
    productSet: productSet,
} %}

{% block body %}
    {% embed organism('product-set-cms-content', 'ProductSetWidget') ignore missing with {
        data: {
            products: data.productViews,
            name: data.productSet.name,
            description: data.productSet.description,
            images: data.productSet.imageSets.0.images | default([]),
        },
    } only %}
        {% block header %}
            {% block title %}
                {{ parent() }}
            {% endblock %}

            {% block description %}
                {% if data.description %}
                    <p>{{ data.description }}</p>
                {% endif %}
            {% endblock %}
        {% endblock %}

        {% block productSet %}
            <form method="GET">
                {% embed molecule('slick-carousel') with {
                    data: {
                        slides: data.products,
                    },
                    attributes: {
                        'data-json': data.sliderConfig,
                        'custom-select-class-name': 'custom-select',
                    },
                    modifiers: ['product-set', 'product-set-secondary'],
                    embed: {
                        jsName: config.jsName,
                    },
                } only %}
                    {% block slides %}
                        {% for product in data.slides %}
                            {% embed molecule('product-item') with {
                                modifiers: ['stretch', 'product-set', 'widget'],
                                class: embed.jsName ~ '__product-item',
                                data: {
                                    product: product,
                                },
                            } only %}
                                {% block content %}
                                    {{ parent() }}
                                    {% set isNotAvailable = data.product.idProductConcrete and not data.product.available %}

                                    {% embed molecule('variant-configurator', 'ProductDetailPage') with {
                                        data: {
                                            superAttributes: data.product.attributeMap.superAttributes,
                                            selectedAttributes: data.product.selectedAttributes,
                                            availableAttributes: data.product.availableAttributes,
                                            useExternalForm: true,
                                        },
                                        embed: {
                                            idProductAbstract: data.idProductAbstract,
                                        },
                                    } only %}
                                        {% block variant %}
                                            {% include molecule('variant', 'ProductDetailPage') with {
                                                data: {
                                                    name: name,
                                                    formName: 'attributes[' ~ embed.idProductAbstract ~ '][' ~ name ~ ']',
                                                    values: values,
                                                    selectedValue: selectedValue,
                                                    label: ('product.attribute.' ~ name) | trans,
                                                    isAvailable: isAvailable,
                                                    autoInitSelect: true,
                                                },
                                            } only %}
                                        {% endblock %}
                                    {% endembed %}
                                {% endblock %}
                            {% endembed %}
                        {% endfor %}
                    {% endblock %}
                {% endembed %}
            </form>
            {% set generalAddToCartButtonClass = 'button--expand' %}

            {{ block('generalAddToCart') }}
            <hr>
        {% endblock %}
    {% endembed %}
{% endblock %}
