@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        padding: rem(27) 0;

        &__results {
            font-size: rem(16);
            font-weight: fw(regular);
            line-height: rem(24);
            color: $setting-color-lighter;

            @include helper-breakpoint-media-max($lg-max) {
                display: none;
            }
        }

        &__trigger-filter {
            display: flex;
            align-items: center;

            @include helper-breakpoint-media-min($xl-min) {
                display: none;
            }
        }

        &__caret {
            width: rem(8);
            height: rem(5);
            margin-left: rem(10);
        }

        @content;
    }
}

@include catalog-page-sort();
