@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        padding: 24px 0;
        .num-results {
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: $setting-color-lighter;
        }

        .select--sort {
            border: none;
        }
        .select__select {
            font-size: 16px;
            border-top: 0;
            border-bottom: 0;
        }

        @content;
    }
}
