@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        padding: rem(27) 0;

        &__results {
            font-size: rem(16);
            font-weight: fw(regular);
            line-height: rem(24);
            color: $setting-color-gray-6;
        }

        @content;
    }
}

@include catalog-page-sort();
