@mixin catalog-page-sort($name: '.sort') {
    #{$name} {
        @include helper-breakpoint-media-min($xl-min) {
            padding: rem(20) 0 rem(27);
        }

        &__results {
            font-size: rem(16);
            font-weight: fw(regular);
            line-height: rem(24);
            color: $setting-color-gray-4;
        }

        &__label {
            vertical-align: middle;
        }

        @content;
    }
}

@include catalog-page-sort();
