@mixin shop-ui-footer-logo ($name: '.footer-logo') {
    #{$name} {
        &__link {
            padding: 0;
            display: block;
            border: none;
            transform: translate(0, rem(-5));
        }

        &__image {
            width: rem(90);
            height: rem(36);

            @include helper-breakpoint-media-min($md-min) {
                width: rem(102);
                height: rem(42);
            }
        }
        @content;
    }
}

@include shop-ui-footer-logo();
