{% extends model('component') %}

{% define config = {
    name: 'footer-logo',
    tag: 'span'
} %}

{% define attributes = {
    src: null,
    alt: 'Logo'
} %}

{% block body %}
    <a href="{{ 'footer.logo.url' | trans }}" class="{{ config.name }}__link">
        <span class="grid grid--middle">
            {% if attributes.src is empty %}
                <svg xmlns="http://www.w3.org/2000/svg" width="260" height="106" viewBox="0 0 260 106" class="{{ config.name }}__image">
                    <g id="#ffffffff">
                        <path d=" M 43.32 0.63 C 49.77 19.79 51.38 40.49 47.99 60.43 C 43.62 63.64 38.14 65.28 33.35 67.87 C 35.45 61.57 39.90 56.43 42.17 50.21 C 46.13 39.97 45.65 28.79 45.25 18.02 C 45.06 12.18 44.04 6.41 43.32 0.63 Z" />
                        <path d=" M 1.49 15.16 C 1.84 18.42 2.01 21.72 2.66 24.94 C 5.48 37.18 8.88 49.35 13.84 60.92 C 12.70 60.79 11.55 60.66 10.40 60.53 C 6.70 48.99 3.96 37.14 2.05 25.17 C 1.42 21.87 1.60 18.50 1.49 15.16 Z" />
                        <path d=" M 91.96 49.01 C 94.99 46.42 99.21 45.88 103.06 45.85 C 107.04 46.04 111.57 46.92 114.07 50.34 C 115.47 52.14 115.68 54.46 115.99 56.63 C 113.75 56.77 111.50 56.78 109.26 56.76 C 108.93 51.37 102.37 51.12 98.39 52.36 C 95.38 52.92 95.34 57.66 98.12 58.59 C 103.08 60.68 109.08 59.85 113.52 63.30 C 118.12 66.44 118.66 73.80 114.73 77.68 C 111.71 80.72 107.18 81.48 103.07 81.50 C 98.72 81.52 93.86 80.54 90.95 77.02 C 89.14 75.02 88.80 72.24 88.47 69.68 C 90.71 69.60 92.96 69.59 95.21 69.58 C 95.83 71.36 96.00 73.81 98.05 74.58 C 101.33 75.89 105.35 76.03 108.56 74.45 C 111.36 72.89 110.94 68.09 107.84 67.13 C 102.87 65.23 96.98 65.94 92.57 62.60 C 88.27 59.57 87.91 52.40 91.96 49.01 Z" />
                        <path d=" M 192.41 80.89 C 192.33 69.41 192.34 57.93 192.41 46.45 C 194.69 46.41 196.98 46.41 199.27 46.45 C 199.36 53.29 199.25 60.14 199.33 66.99 C 202.80 63.82 205.92 60.30 209.37 57.11 C 210.60 55.82 212.55 56.45 214.12 56.30 C 214.14 58.08 214.16 59.86 214.18 61.65 C 212.13 63.75 210.05 65.81 207.99 67.90 C 210.23 70.44 212.41 73.02 214.63 75.58 C 214.61 77.39 214.58 79.19 214.52 81.00 C 213.16 80.90 211.79 81.00 210.47 80.66 C 207.81 78.22 205.51 75.42 202.98 72.85 C 200.45 74.88 198.55 77.49 199.20 80.90 C 196.94 80.92 194.67 80.92 192.41 80.89 Z" />
                        <path d=" M 52.30 49.11 C 57.17 47.92 62.20 47.21 67.20 47.99 C 61.13 50.90 55.51 54.74 51.00 59.78 C 51.37 56.21 51.64 52.63 52.30 49.11 Z" />
                        <path d=" M 120.30 56.33 C 122.77 56.58 126.26 55.15 127.52 58.09 C 130.74 55.63 135.25 54.92 138.87 56.95 C 146.38 61.19 146.93 73.09 140.96 78.87 C 137.16 82.44 131.11 82.16 127.17 78.97 C 127.25 82.91 127.25 86.85 127.19 90.80 C 124.89 90.84 122.60 90.85 120.32 90.80 C 120.25 79.31 120.27 67.82 120.30 56.33 M 130.21 62.23 C 124.84 65.17 126.50 77.14 133.87 75.44 C 138.14 74.58 138.36 69.38 137.74 65.94 C 137.34 62.51 133.18 60.65 130.21 62.23 Z" />
                        <path d=" M 147.89 56.37 C 149.96 56.29 152.04 56.28 154.11 56.28 C 154.29 56.76 154.65 57.71 154.83 58.19 C 157.54 56.11 160.98 56.15 164.22 56.30 C 164.25 58.25 164.25 60.21 164.23 62.17 C 161.23 62.40 156.63 61.37 155.36 65.07 C 154.21 70.24 155.10 75.62 154.80 80.88 C 152.49 80.92 150.19 80.91 147.88 80.86 C 147.86 72.69 147.85 64.53 147.89 56.37 Z" />
                        <path d=" M 166.67 56.33 C 168.44 56.29 170.21 56.30 171.98 56.32 C 174.08 62.21 176.10 68.14 178.24 74.02 C 180.60 68.18 182.44 62.15 184.69 56.27 C 186.42 56.28 188.16 56.31 189.89 56.37 C 190.78 62.45 187.25 67.70 185.32 73.21 C 183.35 77.59 182.22 82.44 179.37 86.37 C 176.66 89.63 172.06 89.48 168.22 89.37 C 168.19 87.45 168.18 85.52 168.16 83.59 C 170.34 83.25 173.09 84.06 174.62 82.04 C 172.91 75.67 169.72 69.75 167.42 63.55 C 166.29 61.31 166.73 58.74 166.67 56.33 Z" />
                        <path d=" M 220.39 58.29 C 225.36 54.22 233.87 55.03 237.51 60.51 C 239.72 63.58 239.90 67.49 239.74 71.12 C 234.17 71.33 228.57 70.79 223.03 71.47 C 224.26 75.76 229.86 76.92 232.71 73.55 C 234.86 73.56 237.01 73.59 239.16 73.70 C 237.14 83.65 221.72 84.01 217.63 75.50 C 214.98 70.02 215.52 62.39 220.39 58.29 M 223.22 66.11 C 226.36 66.22 229.50 66.22 232.65 66.12 C 232.08 63.90 230.63 61.42 227.97 61.71 C 225.29 61.39 223.76 63.87 223.22 66.11 Z" />
                        <path d=" M 243.28 56.33 C 245.71 56.59 249.14 55.17 250.45 58.00 C 253.21 56.06 256.64 56.09 259.86 56.44 C 259.87 58.33 259.84 60.23 259.77 62.12 C 256.63 62.42 251.60 61.30 250.54 65.42 C 249.78 70.52 250.42 75.73 250.17 80.87 C 247.88 80.92 245.59 80.92 243.30 80.89 C 243.23 72.71 243.25 64.52 243.28 56.33 Z" />
                        <path d=" M 3.89 68.01 C 5.25 65.80 7.23 64.15 9.44 62.83 C 10.54 65.68 11.50 68.58 12.57 71.43 C 10.04 69.48 7.15 68.03 3.89 68.01 Z" />
                        <path d=" M 10.98 62.61 C 15.40 63.80 18.11 67.63 20.28 71.37 C 18.13 71.36 15.98 71.34 13.83 71.31 C 12.83 68.43 11.82 65.54 10.98 62.61 Z" />
                        <path d=" M 32.15 71.84 C 37.29 69.32 42.43 66.80 47.52 64.17 C 40.90 73.74 37.26 85.26 37.08 96.89 C 31.67 89.85 30.11 80.40 32.15 71.84 Z" />
                        <path d=" M 14.77 73.79 C 16.99 73.92 19.21 74.08 21.44 74.21 C 23.84 80.86 25.19 87.97 24.63 95.05 C 22.75 87.41 19.53 80.08 14.77 73.79 Z" />
                        <path d=" M 34.66 100.06 C 35.34 99.71 36.68 99.02 37.36 98.67 C 37.34 101.74 36.42 104.80 33.23 105.99 L 34.16 106.00 L 32.35 106.00 C 29.11 104.90 26.56 102.51 25.32 99.32 C 27.57 101.33 29.47 103.87 32.51 104.74 C 32.98 104.27 33.91 103.34 34.38 102.87 C 34.45 102.17 34.59 100.76 34.66 100.06 Z" />
                    </g>
                </svg>
            {% else %}
                <img {{block('attributes')}}>
            {% endif %}
        </span>
    </a>
{% endblock %}
