@mixin product-review-widget-review($name: '.review') {
    #{$name} {
        border-bottom: rem(1) dotted $setting-color-gray-3;
        padding: rem(20) 0;
        break-inside: avoid;

        @include helper-breakpoint-media-min($md-min) {
            padding: rem(32) 0;
        }

        &__author-date {
            font: fw(regular) rem(13)/rem(23) $setting-font-family-additional;
            margin: 0 0 rem(16);
            color: $setting-color-black;

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(14);
                margin: 0 0 rem(12);
            }
        }

        &__description {
            font: fw(light) rem(15)/rem(22) $setting-font-family;

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(16);
            }
        }

        @content;
    }
}

@include product-review-widget-review();
