{% extends template('page-layout-main') %}

{% define data = {
    form: _view.form,
    
    title: 'customer.forgotten-password.title' | trans
} %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
    <div class="page-layout-customer">
        <div class="page-layout-customer__form-wrap">
            <p>{{ 'customer.forgotten-password.description' | trans }}</p>

            {% include molecule('form') with {
                data: {
                    form: data.form,
                    submit: {
                        enable: true,
                        class: 'button button--large button--expand spacing spacing--reset'
                    },
                    cancel: {
                        enable: true,
                        url: url('login'),
                        text: 'general.back.button' | trans,
                        class: 'button button--hollow button--expand spacing spacing--reset spacing-top spacing-top--big'
                    }
                },
                modifiers: ['grid-indent', 'reverse-actions']
            } only %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% embed organism('footer') only %}
        {% block footerTop %}{% endblock %}
    {% endembed %}
{% endblock %}

