{% extends template('widget') %}

{% define data = {
    product: product | default,
    products: products | default([]),
    isUnavailableProductsDisplayed: isUnavailableProductsDisplayed | default(false),
} %}

{% block body %}
    <div class="grid grid--stretch product-list">
        {% for product in data.products %}
            {% if data.isUnavailableProductsDisplayed or product.available  %}
                {% widget 'CmsProductWidget' args [product] use '@ProductWidget/views/cms-product-slider/cms-product-slider.twig' only %}{% endwidget %}
            {% endif %}
        {% endfor %}
    </div>

    {% if data.product is not empty %}
        <div class="grid grid--stretch product-list">
            {% widget 'CmsProductWidget' args [data.product] only %}{% endwidget %}
        </div>
    {% endif %}
{% endblock %}
