@mixin shop-ui-customer-navigation($name: '.customer-navigation') {
  #{$name} {
    .menu__link {
      &--active {
        color: $setting-color-alt;
      }
    }
  }
}
@include shop-ui-customer-navigation();