$review-rating-field-width: rem(154);
$review-button-min-width: rem(177);

@mixin product-review-widget-new-review-form($name: '.new-review-form') {
    #{$name} {
        &__field {
            padding: 0 0 rem(25);

            @include helper-breakpoint-media-min($md-min) {
                padding: 0 0 rem(28);
            }
        }

        &__field-summary {
            @include helper-breakpoint-media-min($md-min) {
                min-width: 0;
                width: calc(100% - #{$review-rating-field-width});
            }
        }

        &__field-rating {
            @include helper-breakpoint-media-min($md-min) {
                min-width: 0;
                width: auto;
                margin: rem(20) 0 0 auto;
            }
        }

        &__send-review {
            font: fw(medium) rem(13)/rem(16) $setting-font-family;
            padding: rem(12) rem(30);
            position: absolute;
            top: rem(20);
            right: rem(24);

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(14);
                padding: rem(15) rem(20);
                min-width: $review-button-min-width;
                margin-top: rem(20);
                position: relative;
                top: 0;
                right: 0;
            }
        }

        @content;
    }
}

@include product-review-widget-new-review-form();
