@mixin product-review-widget-new-review-form($name: '.new-review-form') {
    #{$name} {
        &__field {
            padding: 0 0 rem(25);

            @include helper-breakpoint-media-min($md-min) {
                padding: 0 0 rem(28);
            }

            .label {
                color: $setting-color-dark;

                &::after {
                    display: none;
                }
            }

            input[type='text'],
            textarea {
                @include helper-effect-transition(all 0.4s ease);
                font: 400 rem(17)/rem(22) $setting-font-family;
                color: $setting-color-dark;
                padding: rem(10) rem(15);

                &:focus {
                    border-color: $setting-color-tundora;
                }

                &:hover {
                    background-color: $setting-color-alabaster;
                }
            }
        }

        &__field-summary {
            @include helper-breakpoint-media-min($md-min) {
                min-width: 0;
                width: calc(100% - #{rem(154)});
            }
        }

        &__field-rating {
            @include helper-breakpoint-media-min($md-min) {
                min-width: 0;
                width: auto;
                margin: rem(20) 0 0 auto;
            }
        }

        &__send-review {
            font: 500 rem(13)/rem(16) $setting-font-family;
            padding: rem(12) rem(30);
            position: absolute;
            top: rem(20);
            right: rem(24);

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(14);
                padding: rem(15) rem(20);
                min-width: rem(177);
                margin-top: rem(20);
                position: relative;
                top: 0;
                right: 0;
            }
        }

        @content;
    }
}

@include product-review-widget-new-review-form();
