{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <div class="quote-teaser">
        <video class="quote-teaser__video" preload="none" autoplay="autoplay" loop="loop" muted="muted">
            <source src="/assets/images/viden-lnfra_s.mp4" type="video/mp4">
        </video>
        <div class="quote-teaser__container grid grid--middle grid--center">
            <div class="quote-teaser__content">
                <div class="quote-teaser__text">{{ spyCmsBlockPlaceholder('title') | raw }}</div>
                <div class="quote-teaser__auth">{{ spyCmsBlockPlaceholder('description') | raw }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
