{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->

    <div class="quote-teaser__container grid grid--middle grid--center grid--column">
        <div class="quote-teaser__content">
            <h2 class="quote-teaser__text">{{ spyCmsBlockPlaceholder('title') | raw }}</h2>
            <div class="quote-teaser__auth">{{ spyCmsBlockPlaceholder('description') | raw }}
            </div>
        </div>
    </div>


{% endblock %}
