{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <div class="grid grid--center grid--middle image-banner js-image-banner">
        <div class="image-banner__bg-wrap">
            <video class="image-banner__video" autoplay="autoplay" loop="loop" muted="muted">
                <source src="{{ publicPath('images/spryker-video.mp4') }}" type="video/mp4">
            </video>
        </div>
        <div class="image-banner__text image-banner__text--parallax-to-top js-image-banner__text">
            <div class="image-banner__title">
                {{ spyCmsBlockPlaceholder('title') | raw }}
            </div>
            {{ spyCmsBlockPlaceholder('description') | raw }}
        </div>
    </div>

    {% include molecule('scroll-parallax') with {
        attributes: {
            'wrapper-class-name': 'js-image-banner',
            'target-class-name': 'js-image-banner__text',
            'motion-ratio': '2.8',
        },
    } only %}

{% endblock %}
