{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    {#<div style="background-image: url('/assets/images/section-slider-item-10@2x.png')"></div>#}
    {{ spyCmsBlockPlaceholder('title') | raw }}

    <p>Image</p>

    {{ spyCmsBlockPlaceholder('description') | raw }}

{% endblock %}
