{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <h3>{{ spyCmsBlockPlaceholder('title') | raw }}</h3>

    {{ spyCmsBlockPlaceholder('description') | raw }}

{% endblock %}

