{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "content" -->
    <h3>{{ spyCmsBlockPlaceholder('title') | raw }}</h3>

    {{ spyCmsBlockPlaceholder('content') | raw }}

{% endblock %}

