{% block content %}
    <!-- CMS_BLOCK_PLACEHOLDER : "title" -->
    <!-- CMS_BLOCK_PLACEHOLDER : "description" -->
    <div class="container">
        <div class="grid grid--justify grid--spaced-lg multi-inspirational-wrap multi-inspirational-wrap--left js-multi-inspirational-wrap--1">
            <div class="col col--lg-6 col--md-12 col--sm-12">
                {{ spyCmsBlockPlaceholder('description') | raw }}
            </div>
            <div class="col col--lg-6 col--md-12 col--sm-12 multi-inspirational-wrap__holder multi-inspirational-wrap__holder--parallax-to-bottom">
                <div class="multi-inspirational-block multi-inspirational-block--lg js-multi-inspirational-wrap__target--1">
                    {{ spyCmsBlockPlaceholder('title') | raw }}
                </div>
            </div>
        </div>

        {% include molecule('scroll-parallax') with {
            attributes: {
                'wrapper-class-name': 'js-multi-inspirational-wrap--1',
                'target-class-name': 'js-multi-inspirational-wrap__target--1',
                'motion-direction': 'top',
                'motion-ratio': '8',
                'breakpoint-min': '769',
            },
        } only %}
    </div>
{% endblock %}

