@mixin product-detail-page-product-detail-option($name: '.product-detail-option') {
    #{$name} {
        margin-bottom: rem(-20);

        &__detail {
            padding-right: rem(10);
            padding-bottom: rem(20);
            font: fw(light) rem(16)/rem(22) $setting-font-family;
        }
    }
}

@include product-detail-page-product-detail-option();
