@mixin product-detail-page-product-detail-option($name: '.product-detail-option') {
    #{$name} {
        margin-bottom: rem(-20);

        &__item {
            padding-right: rem(6);
            padding-bottom: rem(20);
            font: fw(regular) rem(16)/rem(22) $setting-font-family;

            &:nth-child(2n) {
                padding-right: 0;
                padding-left: rem(6);
            }
        }

        &__name {
            font-weight: fw(medium);
            line-height: 1.2;
            margin-bottom: rem(8);
        }
    }
}

@include product-detail-page-product-detail-option();
