{% extends model('component') %}

{% define config = {
    name: 'product-set-slider',
} %}

{% define data = {
    products: required,
    sliderConfig: '',
} %}

{% block body %}
    {% embed molecule('slick-carousel') with {
        data: {
            slides: data.products,
        },
        attributes: {
            'data-json': data.sliderConfig,
            'custom-select-selector': '.custom-select',
        },
        modifiers: ['product-set', 'product-set-secondary'],
    } only %}
        {% block slides %}
            {% for product in data.slides %}
                {% embed molecule('product-card') with {
                    modifiers: ['stretch', 'product-set', 'widget'],
                    data: {
                        name: product.name,
                        abstractId: product.idProductAbstract,
                        url: product.url,
                        imageUrl: product.images.0.externalUrlSmall | default,
                        price: product.price,
                        originalPrice: product.prices['ORIGINAL'] | default,
                    },
                    embed: {
                        product: product,
                    },
                } only %}
                    {% block content %}
                        {{parent()}}
                        {% set isNotAvailable = embed.product.idProductConcrete and not embed.product.available %}

                        {% embed molecule('variant-configurator', 'ProductDetailPage') with {
                            data: {
                                superAttributes: embed.product.attributeMap.superAttributes,
                                selectedAttributes: embed.product.selectedAttributes,
                                availableAttributes: embed.product.availableAttributes,
                                useExternalForm: true,
                            },
                            embed: embed,
                        } only %}
                            {% block variant %}
                                {% include molecule('variant', 'ProductDetailPage') with {
                                    data: {
                                        name: name,
                                        formName: 'attributes[' ~ embed.product.idProductAbstract ~ '][' ~ name ~ ']',
                                        values: values,
                                        selectedValue: selectedValue,
                                        label: ('product.attribute.' ~ name) | trans,
                                        isAvailable: isAvailable,
                                        autoInitSelect: true,
                                    },
                                } only %}
                            {% endblock %}
                        {% endembed %}

                        {% set isDisabled = not embed.product.idProductConcrete or not embed.product.available %}

                        {% if isDisabled %}
                            <button type="button" class="button button--expand" disabled>
                                {{ 'page.detail.add-to-cart' | trans }}
                            </button>
                        {% else %}
                            <a href="{{ path('cart/add', {sku: embed.product.sku}) }}" class="button button--expand" data-init-single-click>
                                {{ 'page.detail.add-to-cart' | trans }}
                            </a>
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
