{% extends model('component') %}

{% define config = {
    name: 'product-set-slider',
} %}

{% define data = {
    products: required,
    sliderConfig: '',
} %}

{% block body %}
    {% embed molecule('slick-carousel') with {
        data: {
            slides: data.products,
        },
        attributes: {
            'data-json': data.sliderConfig,
            'custom-select-class-name': 'custom-select',
        },
        modifiers: ['product-set', 'product-set-secondary'],
    } only %}
        {% block slides %}
            {% for product in data.slides %}
                {% embed molecule('product-item') with {
                    modifiers: ['stretch', 'product-set', 'widget'],
                    data: {
                        product: product,
                    },
                } only %}
                    {% block content %}
                        {{ parent() }}
                        {% set isNotAvailable = data.product.idProductConcrete and not data.product.available %}

                        {% embed molecule('variant-configurator', 'ProductDetailPage') with {
                            data: {
                                superAttributes: data.product.attributeMap.superAttributes,
                                selectedAttributes: data.product.selectedAttributes,
                                availableAttributes: data.product.availableAttributes,
                                useExternalForm: true,
                            },
                            embed: {
                                product: data.product,
                            },
                        } only %}
                            {% block variant %}
                                {% include molecule('variant', 'ProductDetailPage') with {
                                    data: {
                                        name: name,
                                        formName: 'attributes[' ~ embed.product.idProductAbstract ~ '][' ~ name ~ ']',
                                        values: values,
                                        selectedValue: selectedValue,
                                        label: ('product.attribute.' ~ name) | trans,
                                        isAvailable: isAvailable,
                                        autoInitSelect: true,
                                    },
                                } only %}
                            {% endblock %}
                        {% endembed %}

                        {% set isDisabled = not data.product.idProductConcrete or not data.product.available %}

                        {% if isDisabled %}
                            <button class="button button--expand" disabled>
                                {{ 'page.detail.add-to-cart' | trans }}
                            </button>
                        {% else %}
                            {% widget 'AddToCartFormWidget' args [config, data.product, isDisabled] only %}
                                {% block body %}
                                    {% set productSku = data.product.sku %}
                                    {% set formAction = path('cart/add', {'sku': productSku}) %}
                                    {% set tokenField = data.form._token.vars %}

                                    {% include molecule('remote-form-submit') with {
                                        data: {
                                            label: 'page.detail.add-to-cart' | trans,
                                            buttonClass: 'button button--expand ' ~ data.config.jsName ~ '__button-add-to-cart',
                                            buttonExtraAttributes: {
                                                'data-form-action': formAction,
                                                'data-init-single-click': true,
                                                'data-qa': 'add-to-cart-button',
                                            },
                                        },
                                        attributes: {
                                            'form-name': 'addToCartForm_' ~ productSku,
                                            'form-action': formAction,
                                            'field-name': tokenField.full_name,
                                            'field-value': tokenField.value,
                                        },
                                    } only %}
                                {% endblock %}
                            {% endwidget %}
                        {% endif %}
                    {% endblock %}
                {% endembed %}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
