@include shop-ui-textarea {
    font: fw(regular) rem(16) $setting-font-family;
    color: $setting-color-black;
    padding: rem(8);
    border: rem(1) solid $setting-color-input-border;
    border-radius: rem(2);
}
