@mixin shop-ui-autocomplete-form($name: '.autocomplete-form') {
    #{$name} {
        position: relative;
        margin-right: 20px;

        &__field {
            position: relative;
        }

        &__input {
            border: none;
            background-color: #f2f2f2;
            font-weight: 500;
            font-size: 18px;
            padding: 13px 40px 14px 18px;

            &::placeholder {
                opacity: 0.3;
            }
        }

        &__suggestion {
            margin: 0;
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: #fff;
            border-radius: 3px;
            padding: 12px 18px;
            font-size: 19px;
            line-height: 1.79;
            color: #333;
        }

        &__item {
            cursor: pointer;
            padding: 0;

            &:hover {
                color: $setting-color-alt;
                text-decoration: underline;
            }
        }

        &__clean-button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
        }

        @content;
    }
}

@include shop-ui-autocomplete-form();
