{% extends template('page-layout-main') %}

{% define data = {
    products: required,
    facets: required,
    category: null,
    categories: [],
    categoryId: null,
    filterPath: null,
    viewMode: null,

    pagination: {
        currentPage: required,
        maxPage: required,
        parameters: app.request.query.all(),
        paginationPath: app.request.getPathInfo(),
        showAlwaysFirstAndLast: true
    }
} %}

{% block container %}

    {% block breadcrumbs %}
        {% set breadcrumbSteps = _self.renderBreadcrumbSteps(data.category, false, data.filterPath) %}
        <div class="container">
            <div class="container__inner">
                {% embed molecule('breadcrumb') with {
                    modifiers: ['no-border'],
                    embed: {
                        breadcrumbs: breadcrumbSteps
                    }
                } only %}
                    {% block breadcrumbs %}
                        {{ embed.breadcrumbs }}
                    {% endblock %}
                {% endembed %}
            </div>
        </div>
    {% endblock %}

    {% block title %}
        {% if data.category.image is defined %}
            {% include molecule('jumbotron') with {
                modifiers: ['category'],
                data: {
                    imageUrl: data.category.image,
                    headline: data.title,
                    subHeadline: null
                }
            } only %}
        {% else %}
            {% include molecule('jumbotron') with {
                modifiers: ['category', 'category-no-img'],
                data: {
                    headline: data.title,
                    subHeadline: null
                }
            } only %}
        {% endif %}
    {% endblock %}

    <div class="container">
        <main class="container__inner">
            {% block content %}
                <form method="GET" class="grid js-catalog-filter-target js-form-input-default-value-disabler__catalog-form">
                    {% block form %}
                        <div class="col col--sm-12 col--xl-3 catalog-left-side">
                            {% include molecule('view-mode-switch', 'CatalogPage') with {
                                data: {
                                    viewMode: data.viewMode,
                                }
                            } only %}

                            {% block filterSection %}
                                {% include organism('filter-section', 'CatalogPage') with {
                                    data: {
                                        facets: data.facets,
                                        filterPath: data.filterPath,
                                        categories: data.categories,
                                        togglerClass: 'js-catalog-toggler-click__trigger'
                                    }
                                } only %}
                            {% endblock %}
                        </div>

                        <div class="col col--sm-12 col--xl-9 catalog-right-side">
                            <button type="button" class="button button--hollow button--expand spacing-y spacing-y--big is-hidden-lg-xl js-catalog-toggler-click__trigger">
                                {{- 'catalog.filter.filter' | trans -}}
                                {%- include atom('icon') with {
                                    modifiers: ['small'],
                                    data: {
                                        name: 'arrow-down'
                                    }
                                } only -%}
                            </button>
                            {% block catalogContent %}
                                <div class="grid grid--column-mob-reverse">
                                    <div class="col col--sm-12 is-hidden-sm-md">
                                        {% include molecule('sort', 'CatalogPage') only %}
                                    </div>
                                    <div class="col col--sm-12">
                                        {% include organism('active-filter-section', 'CatalogPage') with {
                                            data: {
                                                facets: data.facets
                                            }
                                        } only %}
                                    </div>
                                    <div class="col col--sm-12">
                                        {% include molecule('view-mode-switch', 'CatalogPage') with {
                                            class: 'is-hidden-lg-xl',
                                            data: {
                                                viewMode: data.viewMode
                                            }
                                        } only %}
                                    </div>
                                </div>

                                <div class="grid {% if data.viewMode != 'list' %}grid--stretch product-list{% endif %}">
                                    {% for product in data.products %}
                                        {% widget 'CatalogPageProductWidget' args [product, data.viewMode] only %}{% endwidget %}
                                    {% endfor %}
                                </div>

                                {% include molecule('pagination') with {
                                    data: data.pagination
                                } only %}
                            {% endblock %}
                        </div>

                        <div class="overlay"></div>

                        {% include molecule('toggler-click') with {
                            attributes: {
                                'trigger-selector': '.js-catalog-toggler-click__trigger',
                                'target-selector': '.js-catalog-filter-target',
                                'class-to-toggle': 'show-filter'
                            }
                        } only %}

                        {% include molecule('form-input-default-value-disabler') with {
                            attributes: {
                                'form-selector': '.js-form-input-default-value-disabler__catalog-form',
                                'input-selector': '.js-form-input-default-value-disabler__catalog-input'
                            }
                        } only %}
                    {% endblock %}
                </form>

            {% endblock %}

            {% macro renderBreadcrumbSteps(categoryNode, isLastLeaf, filterPath) %}
                {% import _self as self %}
                {% set categoryUrl = categoryNode.url | default %}
                {% set categoryUrl = filterPath is not empty ? url(filterPath, {categoryPath: categoryUrl}) : categoryUrl %}
                {% set categoryLabel = categoryNode.name | default %}
                {% set categoryPatrentNodes = categoryNode.parents | default(null) %}

                {% if categoryPatrentNodes is not empty %}
                    {{ self.renderBreadcrumbSteps(categoryPatrentNodes | first, false, filterPath) }}

                    {% if not isLastLeaf %}
                        {% include molecule('breadcrumb-step') with {
                            data: {
                                url: categoryUrl,
                                label: categoryLabel
                            }
                        } only %}
                    {% endif %}
                {% endif %}
            {% endmacro %}

        </main>
    </div>
{% endblock %}
