@mixin util-text() {
    @font-face {
        font-family: 'Calibre';
        src: url('/assets/fonts/Calibre-Regular.woff2') format('woff2'),
        url('/assets/fonts/Calibre-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: 'Circular';
        src: url('/assets/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('/assets/fonts/CircularStd-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }
    @font-face {
        font-family: 'Circular';
        src: url('/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
        url('/assets/fonts/CircularStd-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    .text-small {
        @include helper-font-size(small);
    }

    .text-big {
        @include helper-font-size(big);
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-alt {
        color: $setting-color-alt;
    }

    .text-secondary {
        color: $setting-color-dark;
    }

    @each $action, $setting-color-action in $setting-color-actions {
        @include util-text-action($action, $setting-color-action);
    }
}

@mixin util-text-action($action, $setting-color-action) {
    .text-#{$action} {
        color: $setting-color-action;
    }

    @content;
}


