@mixin shop-ui-menu($name: '.menu') {
    @include shop-ui-list($name) {
        &__item {
            @include helper-font-weight(regular);
            margin: rem(8) 0;

            &--active {
                @include helper-font-weight(bold);
            }

            &--has-children-list {
                margin-bottom: rem(16);

                &:last-child {
                    margin-bottom: 0;
                }

                & #{$name}__item {
                    @include helper-font-size(small);
                    margin: rem(8);
                }
            }

            &--has-children-dropdown {
                position: relative;
                z-index: $setting-zi-element + 1;

                & > #{$name} {
                    @include helper-visibility-invisible;
                    @include helper-effect-transition;
                    position: absolute;
                    left: 0;
                    margin-left: - rem(8);
                    border: none;
                    padding: rem(8);
                    background-color: $setting-color-white;
                }

                &:hover > #{$name} {
                    @include helper-visibility-visible;
                }

                & > #{$name} > #{$name}__item {
                    margin-left: rem(8);
                    margin-right: rem(8);
                }
            }
        }

        &__separator {
            &:not(&--horizontal-line) {
                display: inline-block;
                margin: 0 rem(8);

                &::after {
                    content: '|';
                    color: $setting-color-gray-6;
                }
            }

            &--horizontal-line {
                display: block;
                border-top: rem(1) solid $setting-color-gray-6;
            }
        }

        &--customer-navigation {
            margin-top: rem(30);

            #{$name}__item {
                &--active {
                    #{$name}__link {
                        font-weight: fw(regular);
                        color: $setting-color-alt;
                    }
                }
            }
        }

        &--customer-account {
            #{$name}__item,
            #{$name}__link {
                letter-spacing: rem(0.2);
            }

            #{$name}__link {
                font-weight: fw(light);
            }
        }

        &--order-summary {
            #{$name}__item {
                font: fw(light) rem(16) $setting-font-family-additional;
                margin: rem(10) 0;
            }
        }

        &--actions {
            #{$name}__item {
                white-space: nowrap;
                margin: 0;

                @include helper-breakpoint-media-min($md-min) {
                    margin: 0 0.5rem;
                }
            }
        }

        &--middle {
            vertical-align: middle;
        }

        @content;
    }
}

@include shop-ui-menu();
