@mixin shop-ui-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: flex;
        font-size: 13px;

        a {
            color: $setting-color-dark;
            &:hover {
                text-decoration: none;
                color: $setting-color-alt;
            }
        }

        &__separator {
            width: 37px;
            color: $setting-color-light;
            position: relative;
        }

        &:not(:last-child) &__separator:before,
        &:not(:last-child) &__separator:after {
            position: absolute;
            top: 50%;
            left: 50%;
            content: '';
            width: 1px;
            height: 9px;
            transform: translate(-50%, -50%) rotate(-38deg);
            border-radius: 0.5px;
            background-color: #d1d1d1;
            margin-top: -2px;
        }
        &:not(:last-child) &__separator:after {
            transform: translate(-50%, -50%) rotate(38deg);
            margin-top: 4px;
        }

        &--active {
            @include helper-font-weight(bold);
            color: $setting-color-main;
        }

        &--disabled:not(&--active) {
            opacity: 0.4;
            color: $setting-color-dark;
        }

        &--progress {
            @include helper-breakpoint-media-min($md-min) {
                display: flex;
            }
            padding: 15px 25px 0;
            text-align: center;
            position: relative;
            font-size: 15px;
            font-weight: 700;
            display: none;
            &:last-child:not(#{$name}--disabled) {
                &::before {
                    opacity: 0.4;
                }
                &::after {
                    display: none;
                }
            }
            &::before,
            &::after {
                @include helper-breakpoint-media-min($md-min) {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    height: 1px;
                    background-color: #111;
                }
            }
            a {
                color: #111;
            }
        }

        &--progress#{&} {
            &--disabled:not(&--active) {
                font-weight: 500;
                &::after {
                    display: none;
                }
            }
            &--active {
                color: #111;
                display: flex;
            }
            &--active {
                &#{$name}--disabled,
                &:last-child {
                    &::before {
                        opacity: 0.4;
                    }
                    &::after {
                        display: block;
                        width: 50%;
                    }
                }
            }
        }
    }
}
