@mixin shop-ui-breadcrumb-step($name: '.breadcrumb-step') {
    #{$name} {
        display: flex;
        font-size: rem(13);

        &__link {
            color: $setting-color-dark;

            &:hover {
                text-decoration: none;
                color: $setting-color-alt;
            }
        }

        &__separator {
            width: rem(37);
            color: $setting-color-light;
            position: relative;
        }

        &:not(:last-child) &__separator {
            &::before,
            &::after {
                position: absolute;
                top: 50%;
                left: 50%;
                content: '';
                width: rem(1);
                height: rem(9);
                transform: translate(-50%, -50%) rotate(-38deg);
                border-radius: rem(0.5);
                background-color: $setting-color-iron;
                margin-top: rem(-2);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(38deg);
                margin-top: rem(4);
            }
        }

        &--active {
            @include helper-font-weight(bold);
            color: $setting-color-main;
        }

        &--disabled:not(&--active) {
            opacity: 0.4;
            color: $setting-color-dark;
        }

        &--progress {
            padding: rem(15) rem(25) 0;
            text-align: center;
            position: relative;
            font: 500 rem(15) $setting-font-family-additional;
            display: none;

            @include helper-breakpoint-media-min($md-min) {
                display: flex;
            }

            &:last-child:not(#{$name}--disabled) {
                &::before {
                    opacity: 0.4;
                }

                &::after {
                    display: none;
                }
            }

            &::before,
            &::after {
                @include helper-breakpoint-media-min($md-min) {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    height: rem(1);
                    background-color: $setting-color-darkest;
                }
            }

            #{$name}__link {
                color: $setting-color-darkest;
            }
        }

        &--progress#{&} {
            &--disabled:not(&--active) {
                &::after {
                    display: none;
                }
            }

            &--active {
                color: $setting-color-darkest;
                display: flex;

                &#{$name}--disabled,
                &:last-child {
                    &::before {
                        opacity: 0.4;
                    }

                    &::after {
                        display: block;
                        width: 50%;
                    }
                }
            }
        }
    }
}

@include shop-ui-breadcrumb-step();
