@mixin shop-ui-variant($name: '.variant') {
    #{$name} {
        .select {
            border: none;
            select {
                border: none;
                padding:  0 20px;
                font: normal 13px $setting-font-family-additional;
                line-height: 2.08;
            }
        }
        &__title {
            font: normal 13px $setting-font-family-additional;
            line-height: 1.31;
        }
    }

    .promotion-item {

    }
}
