@mixin shop-ui-variant($name: '.variant') {
    #{$name} {
        .select {
            border: none;
            select {
                border: none;
                padding: 0 rem(20);
                font: normal rem(13) $setting-font-family-additional;
                line-height: 2.08;
            }
        }
        &__title {
            font: normal rem(13) $setting-font-family-additional;
            line-height: 1.31;
        }
    }
}

@include shop-ui-variant();
