@mixin shop-ui-badge($name: '.badge') {
    #{$name} {
        @include helper-font-size(small);
        display: inline-block;
        padding: rem(1.6) rem(8) 0;
        color: $setting-color-light;
        border: solid rem(1) $setting-color-light;
        border-radius: rem(4);

        @content;
    }
}

@mixin shop-ui-badge-action($action, $setting-color-action) {
    @content;
}

@include shop-ui-badge();
