@mixin shop-ui-badge($name: '.badge') {
    #{$name} {
        @include helper-font-size(small);
        display: inline-block;
        padding: rem(2) rem(8) 0;
        color: $setting-color-black;
        border: rem(1) solid $setting-color-gray-4;
        border-radius: rem(4);

        @content;
    }
}

@include shop-ui-badge();
