@import '../../atoms/select/select';

@mixin shop-ui-custom-select($name: '.custom-select') {

    @include shop-ui-select($name) {
        .select2-container {
            width: auto;
        }

        .select2-selection--single {
            padding: rem(4) rem(5);
            border: none;
            background: none;
            border-radius: 0;
            height: auto;

            .select2-selection__rendered {
                color: $setting-color-darkest-1;
                line-height: rem(16);
            }

            .select2-selection__arrow {
                display: none;
            }
        }
    }

    .select2-container--default {
        .select2-results {
            padding: rem(12) 0;
            border-radius: rem(4);
            background-color: $setting-color-bg;
            box-shadow: rem(10) rem(10) rem(26) 0 $setting-color-alpha-1, 0 0 rem(30) 0 $setting-color-alpha-1;
            width: calc(100% + #{rem(48)});
            transform: translateX(rem(-48));
            position: relative;

            &::before {
                content: '';
                position: absolute;
                bottom: 100%;
                right: rem(23);
                border: rem(6) solid transparent;
                border-bottom-color: $setting-color-bg;
            }

            & > .select2-results__options {
                max-height: rem(250);
            }
        }

        .select2-results__option[aria-selected='true'],
        .select2-results__option--highlighted[aria-selected] {
            background: none;
            color: $setting-color-bondi-blue;
        }

        .select2-results__option[aria-selected='true'] {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: rem(23);
                width: rem(12);
                height: rem(12);
                margin-top: rem(-6);
                background: url('/assets/images/icon-chosen.svg') no-repeat 0 0;
            }
        }
    }

    .select2-container--open {
        body > & {
            z-index: 1000;

            &::before {
                content: '';
                position: fixed;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: $setting-color-black;
                opacity: 0.4;
            }
        }

        .select2-dropdown {
            border: none;
            border-radius: 0;
            background: none;
            margin: rem(12) 0;
            text-align: left;
        }

        .select2-dropdown--below {
            margin-top: rem(12);
        }

        .select2-dropdown--above {
            margin-top: rem(-12);

            .select2-results {
                &::before {
                    bottom: auto;
                    top: 100%;
                    border-bottom-color: transparent;
                    border-top-color: $setting-color-bg;
                }
            }
        }
    }

    .select2-results__option {
        color: $setting-color-darker-1;
        font-size: rem(17);
        font-weight: fw(light);
        line-height: rem(26);
        padding: rem(6) rem(24);
        white-space: nowrap;
    }

    .select2-selection {
        text-align: right;
    }
}

@include shop-ui-custom-select();
