@import '../../atoms/select/select';

@mixin shop-ui-custom-select($name: '.custom-select') {
    @include shop-ui-select($name) {
        line-height: 0;

        &__select--hollow {
            @include helper-breakpoint-media-min($xl-min) {
                padding-bottom: 0;
                padding-top: 0;
            }
        }

        &__select--header {
            color: $setting-color-gray-3;
            padding-bottom: 0;
            padding-top: 0;
            border-top: rem(3);
            border-bottom: rem(3);
        }

        &__select--side-drawer {
            color: $setting-color-black;
        }

        .select2-container {
            width: auto;
        }

        .select2-selection--single {
            padding: rem(14) rem(10);
            border: none;
            background: none;
            border-radius: 0;
            height: auto;

            .select2-selection__rendered {
                color: $setting-color-black;
                line-height: rem(16);
                min-height: rem(16);
                padding-left: 0;
            }

            .select2-selection__arrow {
                display: none;
            }
        }

        &--hollow {
            .select2-selection {
                text-align: right;
            }

            .select2-selection--single {
                padding: rem(0) rem(10);
            }
        }

        &--header {
            .select2-selection--single .select2-selection__rendered {
                color: $setting-color-gray-3;
            }

            .custom-select__caret {
                color: $setting-color-gray-3;
            }
        }

        &--side-drawer {
            .select2-selection--single .select2-selection__rendered {
                color: $setting-color-black;
            }

            .custom-select__caret {
                color: $setting-color-black;
            }
        }
    }

    .select2-results__option {
        color: $setting-color-gray-6;
        font-size: rem(16);
        font-weight: fw(regular);
        line-height: rem(26);
        min-height: rem(38);
        padding: rem(6) rem(20) rem(6) rem(10);
    }

    .select2-container {
        .select2-results {
            border-radius: rem(4);
            background-color: $setting-color-white;
            box-shadow: rem(10) rem(10) rem(26) 0 $setting-color-alpha-1, 0 0 rem(30) 0 $setting-color-alpha-1;
            position: relative;
            border: rem(1) solid $setting-color-alpha-7;
        }

        .select2-results__options {
            max-height: rem(250);
            overflow-y: auto;
        }

        .select2-results__option--highlighted[aria-selected] {
            background: $setting-color-gray-1;
            color: $setting-color-gray-6;
        }

        .select2-results__option--highlighted[aria-selected='true'] {
            color: $setting-color-main;
        }

        .select2-results__option[aria-selected='true'] {
            background: none;
            color: $setting-color-main;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: rem(10);
                width: rem(12);
                height: rem(12);
                margin-top: rem(-6);
                background: url('../images/icon-chosen.svg') no-repeat 0 0;
            }
        }

        &--secondary {
            .select2-results {
                padding: rem(12) 0;
                width: calc(100% + #{rem(48)});
                transform: translateX(rem(-32));
                border: none;

                &__option[aria-selected='true']::before {
                    right: rem(23);
                }
            }

            .select2-dropdown--below {
                box-shadow: rem(10) rem(10) rem(26) 0 $setting-color-alpha-1, 0 0 rem(30) 0 $setting-color-alpha-1, 0 rem(-10) rem(30) 0 $setting-color-alpha-1;
            }
        }

        &--small {
            .select2-results__option {
                padding: rem(4) rem(10);
            }

            .select2-results__option[aria-selected='true'] {
                &::before {
                    right: rem(10);
                }
            }
        }

        &--open {
            .select2-dropdown {
                border: none;
                border-radius: 0;
                background: none;
                margin: rem(12) 0;
                text-align: left;
                z-index: $setting-zi-select;

                &::before {
                    content: '';
                    position: absolute;
                    bottom: 100%;
                    right: rem(8);
                    border: rem(6) solid $setting-color-transparent;
                    border-bottom-color: $setting-color-white;
                    z-index: $setting-zi-element + 1;
                }

                &--header {
                    z-index: $setting-zi-header + 2;
                }
            }

            .select2-dropdown--below {
                margin-top: rem(6);
            }

            .select2-dropdown--above {
                margin-top: rem(-6);

                &::before {
                    bottom: auto;
                    top: 100%;
                    border-bottom-color: $setting-color-transparent;
                    border-top-color: $setting-color-white;
                }
            }
        }
    }
}

@include shop-ui-custom-select();
