@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        &__container {
            margin: 0;
            padding: 0;
            width: 100%;
            & > div:first-of-type {
                margin-top: rem(50);
            }
            h6 {
                font: bold rem(20) $setting-font-family-additional;
                padding: rem(12) 0;
                margin: 0;
                border-bottom: rem(1) dotted $setting-color-lightest;
            }
            .grid--no-wrap {
                @include helper-breakpoint-media-max($lg-max) {
                    flex-wrap: wrap;
                }
                & > .col {
                    flex: 1;
                    min-width: rem(300);
                    @include helper-breakpoint-media-max($lg-max) {
                        min-width: 100%;
                    }
                }
            }
        }

        &__input {
            position: relative;
            z-index: $setting-zi-search-suggestions + 2;
            border: none;
            padding: 0;
            font: 500 rem(20) $setting-font-family-additional;
            &::placeholder {
                color: $setting-color-text;
                opacity: 0.25;
            }
            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(24);
            }
            &--transparent {
                background-color: $setting-color-transparent;
            }
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        &__hint {
            position: absolute;
            top: 0;
            padding: 0;
            border: none;
            font: 500 rem(20) $setting-font-family-additional;
            z-index: $setting-zi-search-suggestions + 1;
            color: $setting-color-light;
            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(24);
            }
        }
        .suggestion-block {
            margin: rem(32) rem(16) rem(16);
            .list__item {
                margin: rem(10) 0;
            }
            ul {
                margin: rem(6) 0;
            }

            a {
                font: normal rem(17) $setting-font-family;
                line-height: 2;
                color: $setting-color-dark;
                text-transform: capitalize;
                &:hover {
                    color: $setting-color-alt;
                }
            }
            &--top {
                h6 {
                    font: normal rem(12) $setting-font-family;
                    text-transform: uppercase;
                    color: $setting-color-gray;
                    letter-spacing: rem(1.2);
                }
            }
            &--products {
                .list__item {
                    margin-bottom: rem(24);
                }
                a:hover {
                    .price__amount {
                        color: $setting-color-text;
                        &--original {
                            color: $setting-color-text;
                            opacity: 0.25;
                        }
                    }
                }
            }
            .link--show-more {

                &:hover {
                    button,
                    .icon {
                        color: $setting-color-alt;
                    }
                    button {
                        text-decoration: underline;
                    }
                }
                .icon {
                    transform: rotate(90deg);
                }
                button {
                    font: normal rem(16) $setting-font-family;
                    color: $setting-color-text;
                    line-height: 1.8;
                    background: none;
                }
            }
        }

        .content-expander {
            margin-left: rem(-15);
            margin-right: rem(-15);
        }

        @content;
    }
}

@include shop-ui-suggest-search();
