@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        &__container {
            margin: 0;
            padding: 0;
        }

        &__input {
            position: relative;
            z-index: $setting-zi-search-suggestions + 2;
            border: none;
            padding: 0;
            font: fw(medium) rem(24) $setting-font-family-additional;

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(20);
            }

            @include helper-input-placeholder() {
                color: $setting-color-text;
                opacity: 0.25;
            }

            &::-ms-clear {
                display: none;
            }

            &--transparent {
                background-color: $setting-color-transparent;
            }
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        &__hint {
            position: absolute;
            top: 0;
            padding: 0;
            border: none;
            font: 500 20px $setting-font-family-additional;
            z-index: $setting-zi-search-suggestions + 1;
            color: $setting-color-gray-3;

            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(24);
            }
        }

        @content;
    }
}

@include shop-ui-suggest-search();
