@mixin shop-ui-suggest-search($name: '.suggest-search') {
    #{$name} {
        &__container {
            margin: 0;
            padding: 0;
            width: 100%;

            & > div:first-of-type {
                margin-top: 50px;
            }

            h6 {
                font: bold 20px $setting-font-family-additional;
                padding: 12px 0;
                margin: 0;
                border-bottom: 1px dotted $setting-color-lightest;
            }

            .grid--no-wrap {
                @include helper-breakpoint-media-max($lg-max) {
                    flex-wrap: wrap;
                }

                & > .col {
                    flex: 1;
                    min-width: 300px;

                    @include helper-breakpoint-media-max($lg-max) {
                        min-width: 100%;
                    }
                }
            }
        }

        &__input {
            position: relative;
            z-index: $setting-zi-search-suggestions + 2;
            border: none;
            padding: 0;
            font: 500 20px $setting-font-family-additional;

            @include helper-breakpoint-media-max($sm-max) {
                font-size: 24px;
            }

            &::placeholder {
                color: $setting-color-text;
                opacity: 0.25;
            }

            &--transparent {
                background-color: $setting-color-transparent;
            }
        }

        &__item {
            &--active {
                text-decoration: underline;
            }
        }

        &__hint {
            position: absolute;
            top: 0;
            padding: 0;
            border: none;
            font: 500 20px $setting-font-family-additional;
            z-index: $setting-zi-search-suggestions + 1;
            color: $setting-color-light;

            @include helper-breakpoint-media-max($sm-max) {
                font-size: 24px;
            }
        }

        .suggestion-block {
            margin: 2rem 1rem 1rem 1rem;

            .list__item {
                margin: 10px 0;
            }

            .link--show-more {
                &:hover {
                    button,
                    .icon {
                        color: $setting-color-alt;
                    }

                    button {
                        text-decoration: underline;
                    }
                }

                .icon {
                    transform: rotate(90deg);
                }

                button {
                    font: normal 16px $setting-font-family;
                    color: $setting-color-text;
                    line-height: 1.8;
                    background: none;
                }
            }

            ul {
                margin: 6px 0;
            }

            a {
                font: normal 17px $setting-font-family;
                line-height: 2;
                color: $setting-color-dark;
                text-transform: capitalize;

                &:hover {
                    color: $setting-color-alt;
                }
            }

            &--top {
                h6 {
                    font: normal 12px $setting-font-family;
                    text-transform: uppercase;
                    color: #888;
                    letter-spacing: 1.2px;
                }
            }

            &--products {
                .list__item {
                    margin-bottom: 24px;
                }

                a:hover {
                    .price__amount {
                        color: $setting-color-text;

                        &--original {
                          color: $setting-color-text;
                          opacity: 0.25;
                        }
                    }
                }
            }
        }

        .content-expander {
            margin-left: -15px;
            margin-right: -15px;
        }

        @content;
    }
}

@include shop-ui-suggest-search();
