@mixin basic-grid() {
    .icon-sprite {
        display: none;
    }
    .container {
        display: block;
        width: 100%;
        max-width: $setting-grid-max-width;
        margin: auto;
        &__inner {
            margin: 0 1rem;
        }
    }

    .grid {
        @include helper-ui-clearfix;
        clear: both;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;

        &--top {
            align-items: flex-start;
        }

        &--bottom {
            align-items: flex-end;
        }

        &--center {
            justify-content: center;
        }

        &--middle {
            align-items: center;
        }

        &--justify {
            justify-content: space-between;

            & .col {
                margin-left: auto;
                margin-right: auto;

                &:first-child {
                    margin-left: 0;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        &--stretch {
            align-items: stretch;

            & .col {
                margin-top: 0;
                margin-bottom: 0;
            }
        }

        &--left {
            justify-content: flex-start;
            & .col--left {
                margin-right: 0;
                margin-left: 0;
            }
        }

        &--right {
            justify-content: flex-end;
            & .col--right {
                margin-right: 0;
                margin-left: 0;
            }
        }
        
        &--inline {
            display: inline-flex;
        }

        &.container {
            max-width: $setting-grid-max-width;
        }

        &--no-wrap {
            flex-wrap: nowrap;
        }

        &--spaced {
            &-sm {
                padding: 0 .5rem;
            }
            &-md {
                padding: 0 .8rem;
            }
            &-lg {
                padding: 0 1rem;
            }
        }

    }

    .col {
        @include helper-ui-clearfix;
        float: left;
        display: block;
        flex-grow: 0;
        flex-basis: auto;

        @each $breakpoint, $edges in $setting-breakpoints {
            @include helper-breakpoint-media-min(helper-breakpoint-edge-min($edges)) {
                @for $column from 1 through $setting-grid-columns {
                    &--#{$breakpoint}-#{$column} {
                        width: helper-grid-span($column);
                        min-width: helper-grid-span($column);
                    }
                }
            }
        }

        &--expand {
            flex-grow: 1;
        }

        &--top {
            align-self: flex-start;
        }

        &--bottom {
            align-self: flex-end;
        }

        &--left {
            justify-self: flex-start;
        }

        &--right {
            justify-self: flex-end;
        }

        &--center {
            justify-self: center;
        }

        &--middle {
            align-self: center;
        }

        &--spaced {
            &-sm {
                padding: .5rem;
            }
            &-md {
                padding: .8rem;
            }
            &-lg {
                padding: 1rem;
            }
        }

    }

    .main-title {
        padding: 20px 0;
        text-align: center;
        border-bottom: dotted 1px #d3d3d3;
        margin-bottom: 40px;
        font-weight: 500;
    }
}
