@mixin basic-typography() {
    @font-face {
        font-family: 'Calibre';
        src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Light.woff2') format('woff2'),
        url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Calibre';
        src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Regular.woff2') format('woff2'),
        url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Calibre';
        src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Medium.woff2') format('woff2'),
        url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Calibre';
        src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Bold.woff2') format('woff2'),
        url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/calibre/CalibreWeb-Bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    @font-face {
        font-family: 'Circular';
        src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/circular-pro/lineto-circular-pro-book.woff2') format('woff2'),
        url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/circular-pro/lineto-circular-pro-book.woff') format('woff');
        font-weight: 400;
        font-style: normal;
    }

    @font-face {
        font-family: 'Circular';
        src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/circular-pro/lineto-circular-pro-medium.woff2') format('woff2'),
        url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/circular-pro/lineto-circular-pro-medium.woff') format('woff');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Circular';
        src: url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/circular-pro/lineto-circular-pro-bold.woff2') format('woff2'),
        url('https://s3.eu-central-1.amazonaws.com/spryker/fonts/circular-pro/lineto-circular-pro-bold.woff') format('woff');
        font-weight: 700;
        font-style: normal;
    }

    html {
        font-size: $setting-font-size-base;
    }

    body {
        @include helper-font-size(default);
        @include helper-font-weight(regular);
        @include helper-font-line-height(default);
        position: relative;
        background-color: $setting-color-bg;
        color: $setting-color-text;
        font-family: $setting-font-family;
    }

    @each $i in (1, 2, 3, 4, 5, 6) {
        h#{$i} {
            font-family: $setting-font-family-additional;
            @include helper-font-size($i);
            @include helper-font-line-height($i);
            display: block;

            &--margins {
                margin: 2rem 0 1rem 0;
            }
        }
    }

    a {
        color: $setting-color-text;
        text-decoration: none;

        &:hover {
            color: $setting-color-alt;
            text-decoration: underline;
        }
    }

    b,
    strong {
        @include helper-font-weight(bold);
    }

    i,
    em,
    cite {
        font-style: italic;
    }

    hr {
        @include helper-ui-clearfix;
        border-bottom: none;
        margin: .5rem 0;
    }

    small {
        @include helper-font-size(small);
    }

    big {
        @include helper-font-size(big);
    }

    p,
    blockquote,
    iframe {
        margin: .5rem 0;
    }
}
