@mixin product-detail-page-product-carousel($name: '.product-carousel') {
    #{$name} {

        position: relative;

        .simple-carousel__container {
            padding: 0;
        }

        .product-image {
            position: relative;
            padding: 8px 0;
        }

        .pdp-carousel__container {
            height: 650px;
            position: relative;
            background: rgba(0, 0, 0, 0.05);
            & > .pdp-img:not(:first-child) {
                opacity: 0;
            }
            .pdp-img {
                position: absolute;
                left: 0;
                top: 0;
                padding: 100px 70px;
                width: 100%;
                height: 650px;
                display: flex !important;
                align-items: center;
                justify-content: center;
                background: #fff;
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.05);
                    z-index: 350;
                }
                img {
                    max-width: 100%;
                    max-height: 450px;
                }
            }
            .pdp-img-color-active {
                z-index: 100;
                opacity: 1 !important;
            }
            @include helper-breakpoint-media-max($xl-max) {
                .pdp-img {
                    padding: 80px 50px;
                    height: 610px;
                }
            }
            @include helper-breakpoint-media-max($lg-max) {
                .pdp-img {
                    padding: 15px 30px;
                    height: 480px;
                }
            }
            @include helper-breakpoint-media-max($md-max) {
                &.js-product-slider {
                    display: none;
                }
                height: 280px;
                .pdp-img {
                    width: 100%;
                    height: 280px;
                    padding: 15px 16px;
                    img {
                        max-height: 250px;
                    }
                }
            }
        }

        .pdp-carousel__thumbnail {
            position: absolute;
            top: 50%;
            left: 32px;
            z-index: 400;
            transform: translateY(-50%);
            width: 36px;
            max-height: 315px;
            overflow: hidden;
            .thumb-prev,
            .thumb-next {
                text-align: center;
                padding: 0 0 10px;
                cursor: pointer;
                display: block !important;
                svg{
                    display: block;
                    width: 100%;
                    height: 6px;
                    color: $setting-color-dark;
                }
                &[aria-disabled="true"] {
                    cursor: default;
                    pointer-events: none;
                    svg {
                        color: $setting-color-lighter;
                    }
                }
            }
            .thumb-prev {
                padding: 10px 0 0;
                svg {
                    transform: rotate(180deg);
                }
            }
            .slick-slide {
                border: none;
                height: 52px;
            }
            .pdp-img {
                display: flex !important;
                align-items: center;
                justify-content: center;
                width: 36px;
                height: 36px;
                padding: 1px;
                background-color: #fff;
                border: solid 1px #d9d9d7;
                position: relative;
                margin: 8px 0;
                cursor: pointer;
                img {
                    opacity: 0.25;
                }
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0, 0, 0, 0.05);
                    z-index: 350;
                }
            }
            .slick-current .pdp-img {
                padding: 0;
                border: solid 2px #fff;
                img {
                    opacity: 1;
                }
            }

            @include helper-breakpoint-media-max($xl-max) {
                left: 10px;
            }

            @include helper-breakpoint-media-max($md-max) {
                position: relative;
                top: 0;
                left: 0;
                transform: translateY(0);
                width: 100%;
                max-height: none;
                overflow: visible;
                &:not(.slick-initialized) {
                    display: flex !important;
                }
                .slick-slide {
                    border: none;
                    height: auto;
                }
                .pdp-img {
                    width: 100%;
                    height: 280px;
                    padding: 15px 16px !important;
                    background-color: #fff;
                    border: none !important;
                    position: relative;
                    margin: 0;
                    cursor: default;
                    img {
                        max-height: 250px;
                    }
                }
                .slick-dots {
                    position: absolute;
                    bottom: -32px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    li {
                        margin: 0 4px;
                        font: 0/0 $setting-font-family;
                        border: solid 1px transparent;
                        padding: 1px;
                        border-radius: 100%;
                    }
                    button {
                        width: 4px;
                        height: 4px;
                        font: 0/0 $setting-font-family;
                        border-radius: 100%;
                        background: #d3d3d3;
                    }
                    .slick-active {
                        border-color: #ff4859;
                        button {
                            background: transparent;
                        }
                    }
                }
            }
        }

        @content;
    }
}
