@mixin carbon-emission-widget-carbon-emission-modal ($name: '.carbon-emission-modal') {

    #{$name} {
        .modal-button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 12px;
        }
        
        .modal-button:hover {
            background-color: #45a049;
        }

        .modal {
            display: none; // Hidden by default
            position: fixed; // Stay in place
            z-index: 1000; // Sit on top
            left: 0;
            top: 0;
            width: 100%; // Full width
            height: 100%; // Full height
            overflow: auto; // Enable scroll if needed
            background-color: rgb(0,0,0); // Fallback color
            background-color: rgba(0,0,0,0.4); // Black w/ opacity
        
            .modal-content {
                background-color: #fefefe;
                margin: 15% auto; // 15% from the top and centered
                padding: 20px;
                border: 1px solid #888;
                width: 80%; // Could be more or less, depending on screen size
        
                .close {
                    color: #aaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
        
                    &:hover,
                    &:focus {
                        color: black;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }
            }
        }
    }

}

@include carbon-emission-widget-carbon-emission-modal