{% extends model('component') %}

{% define config = {
    name: 'carbon-emission-modal'
} %}

{% block body %}

      <button class="modal-button" id="openModalBtn">Click Me</button>
      <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Modal Title</h2>
            <p>This is a modal!</p>
        </div>
    </div>

{% endblock body %}

