@include shop-ui-lazy-image {
    &__image {
        flex-shrink: 0;
    }

    &--full-height {
        height: 100%;
    }

    &--catalog {
        margin: 0 rem(15) 0 0;
        border-radius: rem(3);
        width: rem(41);
        height: rem(41);
    }

    &--cart-bundle {
        width: rem(120);
        height: rem(44);
        border-radius: rem(3);
        margin: 0;
        flex-shrink: 0;
    }

    &--pdp-bundle {
        width: rem(70);
        height: rem(70);
        border-radius: rem(3);
        padding: rem(5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--product-set {
        height: rem(208);
        margin-left: 0;
        margin-right: 0;
    }

    &--wishlist {
        display: inline-block;
        vertical-align: top;
        margin-right: rem(10);
        height: rem(32);

        @include helper-breakpoint-media-min($lg-min) {
            height: 5rem;
            vertical-align: middle;
        }
    }

    &--product-list-item {
        @include helper-breakpoint-media-min($md-min) {
            height: 5rem;
        }
    }

    &--full-size-background {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &--bundle-item {
        height: 100%;
        margin: 0;
    }

    &__background {
        &--reset-background-position {
            background-position: initial;
        }
    }
}
