$sm-min: 0;
$sm-max: 34.3125rem;
$md-min: 34.375rem;
$md-max: 48.0625rem;
$lg-min: 48.125rem;
$lg-max: 60.5625rem;
$xl-min: 60.625rem;
$xl-max: 75.1875rem;
$xxl-min: 75.25rem;

$setting-breakpoints: (
    sm: (
        $sm-min,
        $sm-max,
    ),
    md: (
        $md-min,
        $md-max,
    ),
    lg: (
        $lg-min,
        $lg-max,
    ),
    xl: (
        $xl-min,
    ),
) !default;
