$sm-min: 0;
$sm-max: rem(549);
$md-min: rem(550);
$md-max: rem(769);
$lg-min: rem(770);
$lg-max: rem(969);
$xl-min: rem(970);
$xl-max: rem(1203);
$xxl-min: rem(1204);

$setting-breakpoints: (
    sm: ($sm-min, $sm-max),
    md: ($md-min, $md-max),
    lg: ($lg-min, $lg-max),
    xl: ($xl-min)
) !default;
