$setting-color-main: #00afb4;
$setting-color-alt: #ff4859;

$setting-color-white: #ffffff;
$setting-color-light: #9c9c9c;
$setting-color-lighter: #a5a8a8;
$setting-color-lightest: #d3d3d3;
$setting-color-lightest-1: #f0f0f0;

$setting-color-black: #000000;
$setting-color-dark: #333333;
$setting-color-darker: #222222;
$setting-color-darkest: #111111;

$setting-color-orange: #ffbb00;
$setting-color-gray: #8d8d8d;

$setting-color-gray-1: #2f2f2f;


$setting-color-transparent: rgba($setting-color-white, 0);

$setting-color-bg: $setting-color-white;
$setting-color-text: $setting-color-darkest;
$setting-color-input-border: #d2d6d6;
$setting-color-input-border-focus: $setting-color-light;
$setting-color-shadow: rgba($setting-color-black, .1);
$setting-color-overlay: rgba($setting-color-black, .3);

$setting-color-actions: (
    success: #1cb696,
    warning: #fdbe36,
    alert: #eb553c
);

