$setting-color-main: #2199e8 !default;
$setting-color-alt: #e2694a !default;

$setting-color-white: #ffffff !default;
$setting-color-light: #dadada !default;
$setting-color-lighter: #f0f0f0 !default;
$setting-color-lightest: #f4f4f4 !default;

$setting-color-black: #000000 !default;
$setting-color-dark: #bbbbbb !default;
$setting-color-darker: #777777 !default;
$setting-color-darkest: #333333 !default;

$setting-color-transparent: rgba($setting-color-white, 0) !default;

$setting-color-bg: $setting-color-white !default;
$setting-color-text: $setting-color-darkest !default;
$setting-color-input-border: $setting-color-light !default;
$setting-color-input-border-focus: $setting-color-dark !default;
$setting-color-shadow: rgba($setting-color-black, .1) !default;
$setting-color-overlay: rgba($setting-color-black, .3) !default;

$setting-color-actions: (
    success: #4FC2A0,
    warning: #F29133,
    alert: #B2171A
) !default;
