$setting-color-red: #ff4859;
$setting-color-green: #00afb4;

$setting-color-yellow: #ffbf1c;
$setting-color-blue: #5e3dff;

$setting-color-white: #ffffff;
$setting-color-gray-lightest: #f5f5f5;
$setting-color-gray-lighter: #ededed;
$setting-color-gray-light: #dedede;
$setting-color-gray-dark: #555555;
$setting-color-gray-darker: #444444;
$setting-color-gray-darkest: #333333;
$setting-color-black: #111111;

$setting-color-alert: #cb3d49;
$setting-color-success: #4ac38e;
$setting-color-warning: #f37849;
$setting-color-info: #f0ede6;

$setting-color-alpha-1: rgba($setting-color-black, 0.05);

$setting-color-main: $setting-color-green;
$setting-color-alt: $setting-color-red;
$setting-color-text: $setting-color-black;
$setting-color-input-border: $setting-color-info;
$setting-color-input-border-focus: $setting-color-gray-light;

$setting-color-actions: (
    warning: $setting-color-warning,
    success: $setting-color-success,
    alert: $setting-color-alert,
    info: $setting-color-info
);
