// color definitions
// TODO: colors should be consolidated

$setting-color-cinnabar:           #eb553c;

$setting-color-radical-red:        #ff4859;

$setting-color-lightning-yellow:   #ffbf1c;
$setting-color-selective-yellow:   #ffbc00;
$setting-color-sunglow:            #fdbe36;

$setting-color-pacific-blue:       #00b2b6;
$setting-color-bondi-blue:         #00afb4;
$setting-color-mountain-meadow:    #1cb696;

$setting-color-white:              #ffffff;

$setting-color-alabaster:          #fafafa;

$setting-color-wild-sand:          #f7f7f7;
$setting-color-black-haze:         #f5f7f7;
$setting-color-black-squeeze:      #f1f7fa;
$setting-color-concrete:           #f2f2f2;
$setting-color-lightest-1:         #f0f0f0;
$setting-color-gallery:            #ebebeb;

$setting-color-aqua-spring:        #e6f7f8;

$setting-color-alto:               #dbdbdb;
$setting-color-iron:               #d2d6d6;
$setting-color-lightest:           #d3d3d3;

$setting-color-botticelli:         #c6e3e3;

$setting-color-silver-chalice:     #ababab;
$setting-color-lighter:            #a5a8a8;

$setting-color-light:              #9c9c9c;
$setting-color-dusty-gray:         #999999;
$setting-color-gray:               #8d8d8d;
$setting-color-gray-1:             #2f2f2f;

$setting-color-light-1:            #828590;

$setting-color-emperor:            #555555;

$setting-color-tundora:            #444444;

$setting-color-dark:               #333333;
$setting-color-mine-shaft:         #2f2f2f;

$setting-color-darker:             #222222;

$setting-color-darkest:            #111111;

$setting-color-black:              #000000;

$setting-color-orange:             #ffbb00;

$setting-color-alpha-1:            rgba($setting-color-black, 0.05);

// color semantics

$setting-color-transparent:        rgba($setting-color-white, 0);
$setting-color-main:               $setting-color-bondi-blue;
$setting-color-alt:                $setting-color-radical-red;
$setting-color-bg:                 $setting-color-white;
$setting-color-text:               $setting-color-darkest;
$setting-color-input-border:       $setting-color-iron;
$setting-color-input-border-focus: $setting-color-light;
$setting-color-shadow:             rgba($setting-color-black, 0.1);
$setting-color-overlay:            rgba($setting-color-black, 0.3);

$setting-color-actions: (
    success:                       $setting-color-mountain-meadow,
    warning:                       $setting-color-sunglow,
    alert:                         $setting-color-cinnabar
);
