$setting-font-family: 'Calibre', sans-serif;
$setting-font-family-additional: 'Circular', sans-serif;
$setting-font-family-code: 'Menlo', monospace;
$setting-font-size-base: 16px;

$setting-font-size: (
    1: 3.125rem,
    2: 2.125rem,
    3: 1.75rem,
    4: 1.375rem,
    5: 0.9375rem,
    6: 0.875rem,
    big: 1.25rem,
    default: 1rem,
    small: 0.875rem,
);

$setting-font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900,
);

$setting-font-line-height: (
    1: 1.1,
    2: 1.2,
    3: 1.4,
    4: 1.4,
    5: 1.4,
    6: 1.4,
    default: 1.5,
    tight: 1.1,
);

$setting-font-letter-spacing: (
    1: -0.05rem,
    2: -0.05rem,
    3: 0.0869rem,
    4: 0.0094rem,
    5: 0.1688rem,
    6: 0.1563rem,
);
