$setting-font-family: 'Arial', sans-serif !default;
$setting-font-family-code: 'Menlo', monospace !default;
$setting-font-size-base: 16px !default;

$setting-font-size: (
    1: 38px,
    2: 34px,
    3: 30px,
    4: 26px,
    5: 22px,
    6: 18px,
    big: 16px,
    default: 14px,
    small: 12px
) !default;

$setting-font-weight: (
    light: 300,
    regular: 400,
    bold: 900
) !default;

$setting-font-line-height: (
    1: 1.1,
    2: 1.2,
    3: 1.4,
    4: 1.4,
    5: 1.4,
    6: 1.4,
    default: 1.5,
    tight: 1.1
) !default;
