$setting-font-family: 'Calibre', sans-serif;
$setting-font-family-additional: 'Circular', sans-serif;
$setting-font-family-code: 'Menlo', monospace;
$setting-font-size-base: 16px;

$setting-font-size: (
    1: 50px,
    2: 34px,
    3: 28px,
    4: 22px,
    5: 15px,
    6: 14px,
    big: 20px,
    default: 16px,
    small: 14px
);

$setting-font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900
);

$setting-font-line-height: (
    1: 1.1,
    2: 1.2,
    3: 1.4,
    4: 1.4,
    5: 1.4,
    6: 1.4,
    big: 2,
    default: 1.5,
    medium: 1.3,
    tight: 1.1
);
