$setting-font-family: 'Calibre', sans-serif;
$setting-font-family-additional: 'Circular', sans-serif;
$setting-font-family-code: 'Menlo', monospace;
$setting-font-size-base: 16px;

$setting-font-size: (
    1: rem(50, number),
    2: rem(34, number),
    3: rem(28, number),
    4: rem(22, number),
    5: rem(15, number),
    6: rem(14, number),
    big: rem(20),
    default: rem(16),
    small: rem(14)
);

$setting-font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900
);

$setting-font-line-height: (
    1: 1.1,
    2: 1.2,
    3: 1.4,
    4: 1.4,
    5: 1.4,
    6: 1.4,
    default: 1.5,
    tight: 1.1
);

$setting-font-letter-spacing: (
    1: rem(-0.8, number),
    2: rem(-0.8, number),
    3: rem(1.39, number),
    4: rem(0.15, number),
    5: rem(2.7, number),
    6: rem(2.5, number)
);
