@font-face {
  font-family: 'Calibre';
  src: url('/assets/fonts/Calibre-Regular.woff2') format('woff2'),
  url('/assets/fonts/Calibre-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/CircularStd-Book.woff2') format('woff2'),
  url('/assets/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/CircularStd-Medium.woff2') format('woff2'),
  url('/assets/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('/assets/fonts/CircularStd-Bold.woff2') format('woff2'),
  url('/assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$setting-font-family: 'Calibre', sans-serif;
$setting-font-family-additional: 'Circular', sans-serif;
$setting-font-family-code: 'Menlo', monospace;
$setting-font-size-base: 16px;

$setting-font-size: (
    1: 50px,
    2: 34px,
    3: 28px,
    4: 22px,
    5: 15px,
    6: 14px,
    big: 16px,
    default: 14px,
    small: 12px
);

$setting-font-weight: (
    light: 300,
    regular: 400,
    medium: 500,
    bold: 700,
    black: 900
);

$setting-font-line-height: (
    1: 1.1,
    2: 1.2,
    3: 1.4,
    4: 1.4,
    5: 1.4,
    6: 1.4,
    default: 1.5,
    tight: 1.1
);
