$setting-zi-underside: -1;
$setting-zi-element: 10;
$setting-zi-element-floating: 350;
$setting-zi-color-selector: 350;
$setting-zi-select: 350;
$setting-zi-header: 400;
$setting-zi-side-drawer: 500;
$setting-zi-notification-area: 600;
$setting-zi-search-suggestions: 700;
$setting-zi-popup: 810;
