@mixin shop-ui-promotion-item($name: '.promotion-item') {
    #{$name} {
        position: relative;

        &__container {
            position: relative;
            color: $setting-color-text;
        }
        &__thumbnail {
            border-radius: rem(4);
            position: relative;
            overflow: hidden;
            width: rem(120);

            .thumbnail {
                margin: 0;
            }
        }
        &__overlay {
            padding: rem(12) rem(15);
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: rem(4);
                background: rgba(0, 0, 0, 0.05);
                z-index: 350;
            }
        }

        &__content {
            padding-left: rem(24);
            position: relative;
            width: calc(100% - #{rem(120)});
        }

        &--stretch {
            height: 100%;
        }

        &__info {
            display: block;
            &:hover {
                color: $setting-color-darkest;
                text-decoration: none;
            }
        }
        &__name {
            display: block;
            font: 500 rem(17) $setting-font-family-additional;
            line-height: 1.29;
        }

        &__button {
            position: absolute;
            right: 0;
            bottom: 0;
            height: rem(32);
            font: normal rem(10) $setting-font-family-additional;
            @include helper-breakpoint-media-max($sm-max) {
                bottom: unset;
                top: 0;
                font-size: 0;
                width: rem(29);
                height: rem(28);
                &::after {
                    content: '+';
                    font-size: rem(28);
                    display: block;
                    width: 100%;
                    height: rem(26);
                    line-height: rem(26);
                    position: absolute;
                    top: rem(-2);
                    left: 0;
                }
            }
            &[disabled] {
                color: $setting-color-white;
            }
        }

        .price {
            position: relative;
            text-align: right;
            @include helper-breakpoint-media-max($sm-max) {
                text-align: left;
            }
            &__amount {
                font: 500 rem(17) $setting-font-family-additional;
                line-height: 1.29;
            }
        }
        .variant-configurator {
            display: flex;
            justify-content: flex-start;
            .list {
                display: flex;
                flex-direction: column;
            }
            .variant {
                display: flex;
                align-items: center;
            }
            .variant__title {
                flex: 1;
            }
        }
    }
}

@include shop-ui-promotion-item();
