@mixin cart-page-promotion-item($name: '.promotion-item') {
    #{$name} {
        position: relative;

        &__container {
            position: relative;
            color: $setting-color-text;
        }

        &__thumbnail {
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            width: 120px;
        }

        &__overlay {
            padding: 12px 15px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                background: rgba($setting-color-black, 0.05);
                z-index: $setting-zi-element-floating;
            }
        }

        &__content {
            padding-left: 24px;
            position: relative;
            width: calc(100% - 120px);
        }

        &--stretch {
            height: 100%;
        }

        &__info {
            display: block;

            &:hover {
                color: $setting-color-darkest;
                text-decoration: none;
            }
        }

        &__name {
            display: block;
            font: map-get($setting-font-weight, regular) 17px $setting-font-family-additional;
            @include helper-font-line-height(medium);
        }

        &__button {
            font-size: 0;
            width: 29px;
            height: 28px;

            &::after {
                content: '+';
                font-size: 28px;
                display: block;
                width: 100%;
                height: 26px;
                line-height: 26px;
                position: absolute;
                top: -2px;
                left: 0;
            }

            @include helper-breakpoint-media-min($lg-min) {
                position: absolute;
                right: 0;
                bottom: 0;
                height: 32px;
                width: auto;
                font: map-get($setting-font-weight, regular) 10px $setting-font-family-additional;

                &::after {
                    display: none;
                }
            }

            &[disabled]{
                color: $setting-color-white;
            }
        }

        &__price {
            font: map-get($setting-font-weight, medium) 17px $setting-font-family-additional;
            @include helper-font-line-height(medium);
            position: relative;
            text-align: left;

            @include helper-breakpoint-media-min($lg-min) {
                text-align: right;
            }
        }
    }
}

@include cart-page-promotion-item();
