{% extends template('page-layout-home','HomePage') %}

{% block pageInfo %}{% endblock %}

{% block content %}

    <div class="box">
        {{ spyCmsBlock({
            name: 'Home Page'
        }) }}
    </div>

    <div class="box">
        {{ spyCmsBlock({
            name: 'Teaser for home page'
        }) }}
    </div>
{% endblock %}
