{% extends template('page-layout-main') %}

{% block pageInfo %}{% endblock %}

{% block container %}
    {% embed organism('jumbotron-slider') only %}
        {% block body %}
            {% embed molecule('slick-carousel') with {
                attributes: {
                    'data-json': attributes['data-json'],
                },
            } only %}
                {% block slides %}
                    {% cms_slot 'slt-2' %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}


    <div class="container container--home-page">
        <main>
            <div class="container">
                <div class="col col--lg-12 col--md-12 col--sm-12">
                    {% include molecule('my-first-component') with {
                        modifiers: ['big'],
                        data: {
                            name: 'Counting a tags...',
                            description: 'How many links are there on this page?'
                        },
                        attributes: {
                            'element-selector': 'div'
                        }
                    } only %}
                </div>
                <div class="col col--lg-12 col--md-12 col--sm-12">
                    {% embed molecule('simple-carousel') with {
                        data: {
                            showDots: false,
                            slides: [{
                                    url: publicPath('images/inspire1-bottom.jpg')
                                },{
                                    url: publicPath('images/inspire1-main.jpg')
                                }, {
                                    url: publicPath('images/inspire1-bottom.jpg')
                                }, {
                                    url: publicPath('images/inspire1-main.jpg')
                                },{
                                    url: publicPath('images/inspire1-bottom.jpg')
                                }, {
                                    url: publicPath('images/inspire1-main.jpg')
                                }]
                        },
                        attributes: {
                            'slides-to-show': 3
                        }
                    } only %}
                    {% block slide %}
                        <div class="text-center">
                            {% include molecule('lazy-image') with {
                                modifiers: ['thumbnail', 'bigger'],
                                data: {
                                    imageSrc: slide.url,
                                    extraAttributes: {
                                        itemprop: 'image',
                                    },
                                },
                            } only %}
                        </div>
                    {% endblock %}
                {% endembed %}
                </div>
            </div>
            {% block content %}

                {% cms_slot 'slt-3' %}

            {% endblock %}
        </main>
    </div>
{% endblock %}
