{% extends template('page-layout-main') %}

{% block header %}
    {% embed organism('header') with {
        modifiers: ['border-less-bottom']
    } only %}
        {% block mobile %}
            <a href="#" class="link link--alt js-page-layout-main__side-drawer-trigger">
                {% include atom('icon') with {
                    modifiers: ['big'],
                    data: {
                        name: 'bars'
                    }
                } only %}
            </a>
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block pageInfo %}{% endblock %}

{% block container %}
    {% embed organism('jumbotron-slider') only %}
        {% block body %}
            {% embed molecule('slick-carousel') with {
                attributes: {
                    'data-json': attributes['data-json'],
                },
            } only %}
                {% block slides %}
                    {% cms_slot 'slt-2' %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}


    <div class="container container--home-page">
        <main>
            {% block content %}

                {% cms_slot 'slt-3' %}

            {% endblock %}
        </main>
    </div>
{% endblock %}
