{% extends template('page-layout-home','HomePage') %}

{% block pageInfo %}{% endblock %}

{% block content %}

    <div class="">
        {{ spyCmsBlock({
            name: 'Home page camcorders'
        }) }}
    </div>
    <div class="container">
        <div class="box">
            {{ spyCmsBlock({
                name: 'Static CMS Block'
            }) }}
        </div>
    </div>

{% endblock %}
