{% extends template('page-layout-home','HomePage') %}

{% block pageInfo %}{% endblock %}

{% block content %}

    {{ spyCmsBlock({
        name: 'Home page camcorders'
    }) }}

    {{ spyCmsBlock({
        name: 'Teaser with img home page'
    }) }}

    {{ spyCmsBlock({
        name: 'Quote home page'
    }) }}

    {#<div class="container">#}
        {#<div class="box">#}
            {#{{ spyCmsBlock({#}
                {#name: 'Static CMS Block'#}
            {#}) }}#}
        {#</div>#}
    {#</div>#}

{% endblock %}
