@mixin shop-ui-simple-carousel-custom ($name: '.simple-carousel-custom') {
    #{$name} {
        .simple-carousel {
            &__container {
                padding-left: 0;
                padding-right: 0;
            }
            &__dots {
                height: 60px;
            }
            &__dot {
                padding: .3rem .5rem;
                &::before {
                    width: 6px;
                    height: 6px;
                    background: $setting-color-lightest;
                }
                &--current {
                    &::before {
                        width: 12px;
                        height: 12px;
                        background: transparent;
                        border: 1px solid map-get($setting-color-actions, alert);
                    }
                }
            }
            &__navigation {
                bottom: 158px;
            }
        }
    }
}

@include shop-ui-simple-carousel-custom();

