@mixin catalog-page-suggestion-links-list($name: '.suggestion-links-list') {
    #{$name} {
        margin: rem(32) rem(16) rem(16);

        &--top {
            #{$name}__title {
                font: normal rem(12) $setting-font-family;
                text-transform: uppercase;
                color: $setting-color-gray-3;
                letter-spacing: rem(1);
            }
        }

        &__holder {
            margin: rem(6) 0;
        }

        &__item {
            margin: rem(10) 0;
        }

        &__item-link {
            font: normal rem(17) $setting-font-family;
            line-height: 2;
            color: $setting-color-black;
            text-transform: capitalize;

            &:hover {
                color: $setting-color-alt;
            }
        }

        @content;
    }
}

@include catalog-page-suggestion-links-list();
