@mixin checkout-page-shipment-block($name: '.shipment-block') {
    #{$name} {
        padding-bottom: rem(15);
        margin-bottom: rem(15);

        @include helper-breakpoint-media-min($lg-min) {
            padding-bottom: rem(20);
            margin-bottom: rem(20);
            border-bottom: rem(1) dotted $setting-color-gray-3;

            &:last-child {
                border-bottom: none;
            }
        }

        @content;
    }
}

@include checkout-page-shipment-block();
