@mixin shop-ui-title($name: '.title') {
    #{$name} {
        &--cart {
            font: 700 rem(26)/1.5 $setting-font-family-additional;
            letter-spacing: rem(-0.3);

            @include helper-breakpoint-media-min($lg-min) {
                font-size: rem(25);
            }
        }

        &--quantity {
            font: rem(16) $setting-font-family;
            color: $setting-color-light;
        }

        &--checkout {
            width: 100%;
            font: 700 rem(32)/1 $setting-font-family-additional;
            letter-spacing: rem(-0.5);
            margin-bottom: rem(32);
            padding-bottom: rem(10);
            border-bottom: dotted rem(1) $setting-color-lightest;

            @include helper-breakpoint-media-min($md-min) {
                font-size: rem(47);
                margin-bottom: rem(58);
            }

            &:not(:first-of-type) {
                margin-top: rem(42);
            }
        }

        &--shipment {
            margin: 0 rem(10) 0 0;
            border: none;
            padding: 0;
        }

        @content;
    }
}

@include shop-ui-title();
