@mixin shop-ui-title($name: '.title') {
    #{$name} {
        &--main {
            padding: rem(20) 0;
            text-align: center;
            margin-bottom: rem(40);
        }

        &--checkout {
            width: 100%;
            margin-bottom: rem(32);
            padding-bottom: rem(10);
            border-bottom: dotted rem(1) $setting-color-gray-3;

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(58);
            }

            &:not(:first-of-type) {
                margin-top: rem(42);
            }
        }

        &--shipment {
            margin: 0 rem(10) 0 0;
            border: none;
            padding: 0;
        }

        &--account-main {
            text-transform: capitalize;
            text-align: center;
            border-bottom: rem(1) dotted $setting-color-gray-3;
            border-top: rem(1) dotted $setting-color-gray-3;
            padding: rem(25) 0;
            margin: rem(25) 0;
        }

        &--product-set-main {
            position: relative;
            margin-bottom: rem(24);

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                height: rem(1);
                background-color: $setting-color-gray-6;
            }
        }

        &--product-set-secondary {
            position: relative;
            display: inline-block;
            background-color: $setting-color-white;
            padding-right: rem(50);
        }

        &--review-summary {
            border-bottom: dotted rem(1) $setting-color-gray-3;
            padding-bottom: rem(6);
            margin-bottom: rem(29);
            letter-spacing: rem(-0.3);

            @include helper-breakpoint-media-min($md-min) {
                padding-bottom: rem(10);
                margin-bottom: rem(50);
            }
        }

        &--footer {
            padding: 0 0 rem(16);
        }

        &--product {
            margin-bottom: rem(12);

            @include helper-breakpoint-media-min($xl-min) {
                margin-bottom: rem(7);
            }
        }

        &--checkout-success {
            margin-bottom: rem(40);
            padding-bottom: rem(8);

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(48);
            }
        }

        &--promotion {
            padding: rem(18) 0;
            margin-bottom: rem(36);
            letter-spacing: rem(-0.3);
        }

        &--mini-cart {
            padding-bottom: rem(10);
        }

        &--form {
            width: 100%;
            margin-bottom: rem(32);
            padding-bottom: rem(10);

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(58);
            }
        }

        &--catalog-cms {
            margin: 0 0 rem(11);
            letter-spacing: normal;
        }

        &--medium {
            font-weight: fw(medium);
        }

        &--regular {
            font-weight: fw(regular);
        }

        &--uppercase {
            text-transform: uppercase;
        }

        &--with-border {
            border-bottom: dotted rem(1) $setting-color-gray-3;
        }

        @content;
    }
}

@include shop-ui-title();
