{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required
} %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    <h1 class="main-title">{{data.title}}</h1>
{% endblock %}

{% block content %}
    <p class="text-center"><big>{{data.message}}</big></p>
    <br><br>
{% endblock %}
