{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required
} %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    <div class="main-title"></div>
{% endblock %}

{% block content %}
    <div class="checkout-layout checkout-layout--success-page">
        <h1 class="checkout-layout__success-page-title">{{data.title}}</h1>
        <p class="checkout-layout__success-page-text">{{data.message}}</p>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="checkout-layout__success-page-link" href="{{ url('customer/overview') }}">{{ 'checkout.step.success.link' | trans }}
                {% include atom('icon') with {
                    modifiers: ['small'],
                    data: {
                        name: 'chevron-right'
                    }
                } only %}
            </a>
        {% endif %}
    </div>
{% endblock %}
