{% extends template('page-layout-main') %}

{% define data = {
    title: required,
    message: required
} %}

{% block breadcrumbs %}{% endblock %}

{% block title %}
    <div class="main-title"></div>
{% endblock %}

{% block content %}
    <div class="checkout-layout success-page">
        <h1 class="success-page__title">{{data.title}}</h1>
        <p class="success-page__text">{{data.message}}</p>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a class="success-page__link" href="{{ url('customer/overview') }}">{{ 'checkout.step.success.link' | trans }}
            {% include atom('icon') with {
                data: {
                    name: 'chevron-right'
                }
            } only %}
        </a>
        {% endif %}
    </div>
{% endblock %}
