
@mixin shop-ui-footer($name: '.navigation-footer') {
    #{$name} {
        font-size: 15px;
        font-weight: normal;
        line-height: 2.13;
        letter-spacing: 0.5px;

        @content;
    }
}

@include shop-ui-footer();

