@mixin shop-ui-jumbotron-slider($name: '.jumbotron-slider') {
    #{$name} {
        min-height: 450px;
        @include helper-breakpoint-media-max($lg-max){
            min-height: 290px;
        }
        @include helper-breakpoint-media-max($sm-max){
            min-height: 212px;
        }
        .slick-slide {
            margin: 0 4px;
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 24px;
            li {
                display: block;
                margin: .3rem .5rem;
                width: 6px;
                height: 6px;
                background: $setting-color-lightest;
                border-radius: 50%;
                &:hover {
                    cursor: pointer;
                }
                &.slick-active {
                    width: 12px;
                    height: 12px;
                    background: transparent;
                    border: 1px solid map-get($setting-color-actions, alert);
                }

                button {
                    font-size: 0;
                }
            }
        }
        .slick-initialized {
            .jumbotron-slider-item__container {
                display: flex !important;
            }
        }
    }
}
