@mixin shop-ui-jumbotron-slider($name: '.jumbotron-slider') {
    #{$name} {
        min-height: rem(450);
        @include helper-breakpoint-media-max($lg-max) {
            min-height: rem(290);
        }
        @include helper-breakpoint-media-max($sm-max) {
            min-height: rem(212);
        }
        .slick-slide {
            margin: 0 rem(4);
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: rem(24);
            li {
                display: block;
                margin: rem(4.8) rem(8);
                width: rem(6);
                height: rem(6);
                background: $setting-color-darkest-1;
                opacity: 0.25;
                border-radius: 50%;
                &:hover {
                    cursor: pointer;
                }
                &.slick-active {
                    width: rem(12);
                    height: rem(12);
                    background: transparent;
                    border: rem(1) solid $setting-color-alt;
                    opacity: 1;
                }

                button {
                    font-size: 0;
                }
            }
        }
        .slick-initialized {
            @include helper-breakpoint-media-max($sm-max) {
                padding: 0;
            }
            .jumbotron-slider-item__container {
                display: flex !important;
            }
        }
    }
}

@include shop-ui-jumbotron-slider();
