@mixin shop-ui-product-card($name: '.product-card') {
    #{$name} {
        position: relative;
        padding: 0 15px 50px;
        @include helper-breakpoint-media-max($sm-max) {
            padding: 0 5px 32px;
        }
        &__container {
            position: relative;
            display: block;
            color: $setting-color-text;
            .no-touch &:hover {
                text-decoration: none;
                color: $setting-color-text;
                #{$name}__thumbnail {
                    box-shadow: 10px 10px 40px 0px rgba(0,0,0,.1);
                    #{$name}__overlay {
                        &:after {
                            opacity: 0.09;
                        }
                    }
                }
                .color-selector {
                    margin-bottom: 0;
                }
            }
        }
        &__thumbnail {
            border-radius: 4px;
            margin-bottom: 15px;
            position: relative;
            overflow: hidden;
            @include helper-effect-transition(box-shadow);
            @include helper-breakpoint-media-max($sm-max) {
                margin-bottom: 9px;
            }
            .thumbnail {
                margin: 0;
            }
        }
        &__overlay {
            display: block;
            padding: 90px 20px 120px 20px;
            @include helper-breakpoint-media-max($sm-max) {
                padding: 45px 10px 70px 10px;
            }
            &::before {
                content:'';
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                background: rgba(0,0,0,.05);
                z-index: $setting-zi-element-floating;
            }
            &:after {
                @include helper-effect-transition(opacity);
                content:'';
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
                opacity: 0;
                z-index: $setting-zi-element-floating;
            }
        }

        .color-selector {
            @include helper-effect-transition(margin-bottom);
            background: #fff;
            position: absolute;
            z-index: 400;
            left: 0;
            bottom: 0;
            width: 100%;
            border-radius: 0 0 4px 4px;
            margin-bottom: -100%;
        }

        &__actions-container {
            position: absolute;
            bottom: .5rem;
            left: .5rem;
            right: .5rem;
            margin: auto;
        }

        &--stretch {
            height: 100%;
        }

        &__info {
            display: block;
            margin: 0 11px;
            font: 500 16px $setting-font-family-additional;
            letter-spacing: .3px;
            color: $setting-color-darkest;

            &:hover {
                color: $setting-color-darkest;
                text-decoration: none;
            }

            @include helper-breakpoint-media-max($sm-max) {
                font-size: 13px;
                margin: 0 10px 3px;
                flex-wrap: wrap;
            }
        }

        .price {
            position: relative;
            font-weight: normal;
            text-align: right;
            @include helper-breakpoint-media-max($sm-max) {
                margin-top: 3px;
                text-align: left;
            }
            &__amount {
                font-size: inherit;
                color: $setting-color-dark;
                &--original {
                    position: absolute;
                    bottom: -20px;
                    right: 0;
                    color: $setting-color-lightest;
                    font-size: 14px;
                    @include helper-breakpoint-media-max($sm-max) {
                        font-size: 11px;
                        left:0;
                        right: unset;
                    }
                }
            }
        }
        .rating-selector {
            margin: 0 3px 0 11px;
            &__step {
                &--half {
                    width: 7px;
                    height: 14px;
                }
            }
            &__star {
                width: 14px;
                height: 14px;
                &--half-left {
                    margin-right: -7px;
                }
            }
        }
        .product-review-count {
            font-size: 15px;
            color: #979797;
            position: relative;
            top: 1px;
        }
    }

}

