@mixin shop-ui-product-card($name: '.product-card') {
    #{$name} {
        position: relative;

        &__container {
            position: relative;
            padding-bottom: .5rem;
            height: 100%;
        }
        &__thumbnail {
            border-radius: 4px;
            margin: 0 15px 15px 15px;
            position: relative;

            &:hover {
                box-shadow: 10px 10px 40px 0px rgba(0,0,0,.1);
                #{$name}__overlay {
                    &:after {
                        content:'';
                        position: absolute;
                        top:0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        border-radius: 4px;
                        background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
                        opacity: 0.09;
                        z-index: $setting-zi-element-floating;
                    }
                }
            }
            .thumbnail {
                margin: 0;
            }
        }
        &__overlay {
            padding: 90px 0 120px 0;
            &::before {
                content:'';
                position: absolute;
                top:0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: 4px;
                background: rgba(0,0,0,.05);
                z-index: $setting-zi-element-floating;
            }
        }

        &__actions-container {
            position: absolute;
            bottom: .5rem;
            left: .5rem;
            right: .5rem;
            margin: auto;
        }

        &--stretch {
            height: 100%;
        }

        &__info {
            margin: 0 25px;
            font-family: $setting-font-family-additional;
            font-weight: 500;
            font-size: 16px;
            letter-spacing: .3px;
        }

        .price {
            position: relative;
            font-weight: normal;
            margin-bottom: 25px;

            &__amount {
                &--original {
                    position: absolute;
                    bottom: -20px;
                    right: 0;
                    color: $setting-color-lightest;
                    font-size: 14px;
                }
            }
            &__tag {
                display: none;
            }
        }
    }

}

