@mixin shop-ui-product-card($name: '.product-card') {
    #{$name} {
        position: relative;
        padding: 0 rem(15) rem(50);

        @include helper-breakpoint-media-max($sm-max) {
            padding: 0 rem(5) rem(32);
        }

        &--stretch {
            height: 100%;
        }

        &__container {
            position: relative;
            display: block;
            color: $setting-color-text;

            .no-touch &:hover {
                text-decoration: none;
                color: $setting-color-text;

                #{$name}__thumbnail {
                    box-shadow: rem(10) rem(10) rem(40) 0 rgba(0, 0, 0, 0.1);
                }

                #{$name}__overlay {
                    &::after {
                        opacity: 0.09;
                    }
                }

                .color-selector {
                    margin-bottom: 0;
                }
            }
        }

        &__thumbnail {
            border-radius: rem(4);
            margin-bottom: rem(24);
            position: relative;
            overflow: hidden;
            @include helper-effect-transition(box-shadow);

            @include helper-breakpoint-media-max($sm-max) {
                margin-bottom: rem(9);
            }
        }

        &__overlay {
            display: block;
            padding: rem(90) rem(20) rem(120);

            @include helper-breakpoint-media-max($sm-max) {
                padding: rem(45) rem(10) rem(70);
            }

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: rem(4);
                background: rgba(0, 0, 0, 0.05);
                z-index: $setting-zi-element-floating;
            }

            &::after {
                @include helper-effect-transition(opacity);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: rem(4);
                background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0));
                opacity: 0;
                z-index: $setting-zi-element-floating;
            }
        }

        .color-selector {
            @include helper-effect-transition(margin-bottom);
            background: $setting-color-white;
            position: absolute;
            z-index: 400;
            left: 0;
            bottom: 0;
            width: 100%;
            border-radius: 0 0 rem(4) rem(4);
            margin-bottom: -100%;
            padding: rem(16) 0;
        }

        &__actions-container {
            position: absolute;
            bottom: rem(8);
            left: rem(8);
            right: rem(8);
            margin: auto;
        }

        &__info {
            display: block;
            margin: 0 rem(11);
            font: 500 rem(16) $setting-font-family-additional;
            letter-spacing: rem(0.3);
            color: $setting-color-darkest;

            &:hover {
                color: $setting-color-darkest;
                text-decoration: none;
            }

            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(13);
                margin: 0 rem(10) rem(3);
                flex-wrap: wrap;
            }
        }

        &__review {
            display: flex;
            margin-top: rem(7);
        }

        &__review-count {
            font-size: rem(15);
            color: $setting-color-dusty-gray;
            position: relative;
            top: rem(1);
        }

        &--product-set {
            @include helper-breakpoint-media-min($md-min) {
                padding: 0;
            }

            #{$name}__overlay {
                @include helper-breakpoint-media-max($md-max) {
                    padding-top: rem(20);
                    padding-bottom: rem(20);
                }
            }

            #{$name}__info {
                min-height: rem(48);
            }

            & + #{$name} {
                display: none;
            }
        }
    }
}

@include shop-ui-product-card();
