@mixin shop-ui-product-card($name: '.product-card') {
    #{$name} {
        position: relative;
        padding: 0 rem(15) rem(50);

        @include helper-breakpoint-media-max($sm-max) {
            padding: 0 rem(5) rem(32);
        }

        &--stretch {
            height: 100%;
        }

        &--slider {
            display: inline-block;
            width: 25%;
        }

        &__image-wrap {
            @include helper-effect-transition(box-shadow);
            border-radius: rem(4);
            margin-bottom: rem(9);
            position: relative;
            overflow: hidden;

            @include helper-breakpoint-media-min($md-min) {
                margin-bottom: rem(24);
            }
        }

        &__overlay {
            display: block;
            padding: rem(45) rem(10) rem(70);

            @include helper-breakpoint-media-min($md-min) {
                padding: rem(90) rem(20) rem(120);
            }

            &::before,
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border-radius: rem(4);
                background: $setting-color-alpha-1;
                z-index: $setting-zi-element-floating;
            }

            &::after {
                @include helper-effect-transition(opacity);
                background: linear-gradient(to bottom, $setting-color-black, $setting-color-alpha-1);
                opacity: 0;
            }
        }

        &__container {
            position: relative;
            display: block;
            color: $setting-color-black;

            &--title-top {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 100%;
            }

            .no-touch &:hover {
                text-decoration: none;
                color: $setting-color-black;

                #{$name}__image-wrap {
                    box-shadow: rem(10) rem(10) rem(40) 0 $setting-color-shadow;
                }

                #{$name}__overlay::after {
                    opacity: 0.09;
                }

                .color-selector {
                    transform: translateY(0);
                }
            }
        }

        &__actions-container {
            position: absolute;
            bottom: rem(8);
            left: rem(8);
            right: rem(8);
            margin: auto;
        }

        &__info {
            display: block;
            margin: 0 rem(11);
            font: 500 rem(16) $setting-font-family-additional;
            letter-spacing: rem(0.3);
            color: $setting-color-black;

            &:hover {
                color: $setting-color-black;
                text-decoration: none;
            }

            @include helper-breakpoint-media-max($sm-max) {
                font-size: rem(13);
                margin: 0 rem(10) rem(3);
                flex-wrap: wrap;
            }
        }

        &__review {
            display: flex;
            margin-top: rem(7);
        }

        &__review-count {
            font-size: rem(15);
            color: $setting-color-gray-3;
        }

        &--product-set {
            #{$name}__overlay {
                @include helper-breakpoint-media-max($md-max) {
                    padding-top: rem(20);
                    padding-bottom: rem(20);
                }
            }

            #{$name}__info {
                min-height: rem(48);
            }
        }

        &--widget {
            @include helper-breakpoint-media-min($md-min) {
                padding: 0;
            }

            &:not(:first-child) {
                display: none;
            }
        }

        &--cms {
            align-self: stretch;
            padding-bottom: rem(64);
            margin-bottom: rem(32);

            #{$name} {
                &__actions-container {
                    padding: 0 rem(7);
                }
            }
        }
    }
}

@include shop-ui-product-card();
