{% extends molecule('card') %}

{% define config = {
    name: 'product-card',
    tag: 'article'
} %}

{% define data = {
    name: required,
    abstractId: required,
    url: required,
    imageUrl: required,
    price: required,
    originalPrice: null
} %}

{% block image %}
    <a href="{{data.url}}">
        {% include atom('thumbnail') with {
            class: 'js-product-color-group__image-' ~ data.abstractId,
            attributes: {
                alt: data.name,
                src: data.imageUrl,
                title: data.name
            }
        } only %}
    </a>
{% endblock %}

{% block content %}
    {% block labels %}
        {% widget 'ProductAbstractLabelWidget' args [data.abstractId] only %}{% endwidget %}
    {% endblock %}

    {% block groups %}
        {% widget 'ExampleProductColorSelectorWidget' args [data.abstractId] use view('product-color-selector', 'ExampleProductColorGroupWidget') only %}{% endwidget %}
    {% endblock %}

    {% block name %}
        <strong>{{data.name}}</strong>
    {% endblock %}

    {% block rating %}
        {% widget 'ProductAbstractReviewWidget' args [data.abstractId] only %}{% endwidget %}
    {% endblock %}

    {% block price %}
        <p>
            {% if can('SeePricePermissionPlugin') %}
                {% include molecule('price') with {
                    data: {
                        amount: data.price | money,
                        originalAmount: data.originalPrice is empty ? null : (data.originalPrice | money)
                    }
                } only %}
            {% else %}
                {{ 'customer.access.cannot_see_price' | trans }}
            {% endif %}
        </p>
    {% endblock %}
{% endblock %}
