{% extends view('template-selection', '@SprykerShop:ConfigurableBundlePage') %}

{% block pageInfo %}
    <div class="container__inner">
        {{ parent() }}
    </div>
{% endblock %}

{% block title %}
    <h1 class="title title--main title--h2 title--medium spacing-y">{{ data.title }}</h1>
{% endblock %}

{% block content %}
    <div class="container__inner">
        {{ parent() }}
    </div>
{% endblock %}
