
@mixin shop-ui-footer($name: '.footer') {
    #{$name} {
        border-top: 1px solid $setting-color-lightest;
        padding: 92px 0 86px;

        &__title {
            font: bold 13px $setting-font-family-additional;
            text-transform: uppercase;
            letter-spacing: 2.6px;
            color: $setting-color-text;
            margin-bottom: 16px;
        }

        .footer-top {
            border-bottom: dotted 1px $setting-color-lightest;
            padding: 0 0 86px;
            margin: 0 1rem 17px;
        }

        .footer-logo-copy {
            display: flex;
            align-items: center;
        }

        .footer-logo {
            padding: 0;
            width: 102px;
            display: block;
            margin-right: 12px;
            svg {
                width: 102px;
            }
        }

        .footer-bottom {
            margin: 0 1rem;
            justify-content: space-between;
            &:after {
                display: none;
            }
        }

        .copyright {
            opacity: 0.4;
            font-size: 14px;
            line-height: normal;
            letter-spacing: normal;
            padding: 2px 0 0 1px;
        }

        .footer-icons {
            display: flex;
            .menu__item {
                margin: 0 5px !important;
            }
        }

        .icon-visa {
            width: 32px;
            height: 10px;
        }

        .icon-mastercard {
            width: 26px;
            height: 20px;
        }

        .icon-paypal {
            width: 41px;
            height: 11px;
        }

        .icon-dhl {
            width: 64px;
            height: 8px;
        }

        .icon-hermes {
            width: 68px;
            height: 9px;
        }

        .footer-currency-lang {
            display: flex;
            .select {
                margin-left: 10px;
            }
            .select__caret {
                pointer-events: none;
            }

        }

        @content;
    }
}

@include shop-ui-footer();

