@mixin shop-ui-cart-item-variant-selector($name: '.cart-item-variant-selector') {
  #{$name} {
    &__label {
      display: block;
    }
    &__title {
      font: normal 13px $setting-font-family-additional;
      line-height: 1.31;
    }
    & label.select {
      display: inline-block;
      border: none;
    }
    & .select__select {
      border: none;
      padding:  0 20px;
      font: normal 13px $setting-font-family-additional;
      line-height: 2.08;
    }
  }
}

@include shop-ui-cart-item-variant-selector();