
@mixin shop-ui-subscription-form($name: '.subscription-form') {
    #{$name} {
        padding-top: 11px;

        &__grid {
            width: 100%;
            max-width: 400px;
            flex-wrap: nowrap;
            @include helper-breakpoint-media-min($xl-min) {
                wmax-width: 200px;
            }
        }
        &__grid [type='email'] {
            width: 100%;
            height: 48px;
            border-radius: 2px 0 0 2px;
            border: solid 1px $setting-color-lightest;
            border-right: 0;
            font-size: 16px;
            color: $setting-color-lighter;
        }
        &__button {
            width: 30px;
            height: 48px;
            border-radius: 0 2px 2px 0;
        }
        &__arrow {
            width: 6px;
            height: 9px;
        }
        & .form-field__error:before {
            display: none;
        }
        & .form-field__error-list,
        &__success,
        &__alert {
            font-size: 12px;
            line-height: 1.2;
        }

        @content;
    }
}

@include shop-ui-subscription-form();

