.page-layout-cart {
    &__empty {
        margin-top: rem(48);
        margin-bottom: rem(100);

        @include helper-breakpoint-media-min($lg-min) {
            margin-bottom: rem(180);
        }
    }

    &__col {
        padding: rem(20) 0 rem(50);

        @include helper-breakpoint-media-min($lg-min) {
            padding: rem(60) 0 rem(180);
        }

        &--content {
            @include helper-breakpoint-media-min($lg-min) {
                padding-right: rem(100);
                border-right: rem(1) dotted $setting-color-gray-3;
            }
        }

        &--sidebar {
            @include helper-breakpoint-media-min($lg-min) {
                padding-left: rem(20);
            }
        }
    }

    &__items-wrap {
        padding-top: rem(20);
        margin-bottom: rem(42);

        @include helper-breakpoint-media-min($lg-min) {
            padding-top: rem(38);
            margin-bottom: rem(80);
        }
    }
}
