@mixin cart-page-layout-cart($name: '.page-layout-cart') {
    #{$name} {
        padding-bottom: rem(50);
        display: block;

        @include helper-breakpoint-media-min($lg-min) {
            padding-bottom: rem(180);
        }

        &__empty {
            margin-top: rem(48);
            margin-bottom: rem(50);

            @include helper-breakpoint-media-min($lg-min) {
                margin-bottom: 0;
            }
        }

        &__col {
            padding: rem(20) 0 0;

            @include helper-breakpoint-media-min($lg-min) {
                padding-top: rem(60);
            }

            &--content {
                @include helper-breakpoint-media-min($lg-min) {
                    padding-right: rem(100);
                }
            }

            &--sidebar {
                @include helper-breakpoint-media-min($lg-min) {
                    padding-left: rem(20);
                    border-left: rem(1) dotted $setting-color-gray-3;
                }
            }
        }

        &__items-wrap {
            padding-top: rem(20);
            margin-bottom: rem(42);

            @include helper-breakpoint-media-min($lg-min) {
                padding-top: rem(38);
                margin-bottom: rem(80);
            }
        }
    }
}

@include cart-page-layout-cart();
