@mixin price($name: '.price') {
    @include shop-ui-price($name);

    #{$name} {
        &--small {
            position: relative;
            font-weight: normal;
            text-align: right;

            @include helper-breakpoint-media-max($sm-max) {
                margin-top: rem(3);
                text-align: left;
            }

            #{$name}__amount {
                font-size: inherit;
                color: $setting-color-black;

                &--original {
                    position: absolute;
                    bottom: rem(-20);
                    right: 0;
                    color: $setting-color-gray-3;
                    font-size: rem(14);

                    @include helper-breakpoint-media-max($sm-max) {
                        font-size: rem(11);
                        left: 0;
                        right: unset;
                    }
                }
            }
        }

        &--suggestion-product {
            font: normal rem(13) $setting-font-family;

            #{$name}__amount {
                display: inline-block;
                font-size: inherit;

                &--original {
                    opacity: 0.25;
                    margin-right: rem(6);
                }
            }
        }

        &--wishlist {
            #{$name}__amount {
                font: fw(medium) rem(16) $setting-font-family-additional;

                &--original {
                    color: $setting-color-dark;
                    font-size: rem(14);
                }
            }
        }
    }
}

@include price;
