/* stylelint-disable */

@include shop-ui-radio {
    $name: '.radio';
    &__container {
        display: flex;
        align-items: center;
    }

    &__box {
        width: rem(16);
        height: rem(16);
        margin-right: rem(7);
    }

    &__label {
        font: fw(regular) rem(15) $setting-font-family;
    }

    &__input:checked + #{$name}__box {
        border: rem(1) solid $setting-color-main;
        background-color: $setting-color-main;
    }

    &--with-bg,
    &--with-bg-wrap & {
        margin-bottom: 0;
        display: block;

        #{$name}__container {
            padding: rem(18) rem(21);
            position: relative;
            cursor: pointer;
            white-space: nowrap;
        }

        #{$name}__box {
            margin-top: rem(4);

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: $setting-zi-underside;
                border: rem(1) solid $setting-color-input-border;
                background-color: $setting-color-white;
                border-radius: rem(3);
            }
        }

        &:hover,
        &:focus {
            #{$name}__box::before {
                border-color: $setting-color-input-border-focus;
                background-color: $setting-color-gray-2;
            }
        }

        &#{$name}--error {
            #{$name}__box::before {
                border-color: map-get($setting-color-actions, alert);
            }
        }

        #{$name}__input:checked {
            & + #{$name}__box {
                border: rem(3) solid $setting-color-white;
                background-color: $setting-color-black;
                box-shadow: 0 0 0 rem(1) $setting-color-input-border;

                &::before {
                    border: none;
                    background-color: $setting-color-alpha-9;
                }
            }

            & ~ #{$name}__check {
                pointer-events: none;
                visibility: hidden;
                opacity: 0;
            }
        }

        #{$name}__label {
            font-weight: fw(medium);
            color: $setting-color-black;
            margin-top: rem(2);
            display: inline-block;
        }
    }
}
