@mixin shop-ui-product-details() {
    .product-details {
        &__price {
            .price__amount {
                font-size: rem(22);

                &--original {
                    font-size: rem(18);
                    color: $setting-color-lightest-1;
                    text-decoration: line-through;
                    order: 2;
                    padding-left: rem(35);
                }
            }

            .price {
                display: flex;
                align-items: center;
            }
        }
    }
}

@include shop-ui-product-details();
