@mixin shop-ui-product-details() {
    .product-details {
        &__price {
            .price__amount {
                font-size: 22px;

                &--original {
                    font-size: 18px;
                    color: $setting-color-lightest;
                    text-decoration: line-through;
                    order: 2;
                    padding-left: 35px;
                }
            }

            .price {
                display: flex;
                align-items: center;
            }
        }
    }
}

@include shop-ui-product-details();
