@mixin catalog-page-active-filter($name: '.active-filter') {
    #{$name} {
        &__item {
            display: inline-block;
            font: 500 rem(11) $setting-font-family;
            letter-spacing: rem(1.2);
            text-transform: uppercase;
            padding: rem(9) rem(33) rem(10) rem(11);
            margin: 0 0 0 rem(8);
            border: rem(1) solid $setting-color-input-border;
            border-radius: rem(2);
            color: $setting-color-gray-4;
            position: relative;

            &:hover {
                color: $setting-color-gray-5;
                text-decoration: none;
                background-color: $setting-color-alpha-1;
            }
        }

        @content;
    }
}

@include catalog-page-active-filter();
