@mixin shop-ui-cart-image($name: '.cart-image') {
    #{$name} {
        position: relative;
        padding: 12px 15px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.05);
            z-index: 350;
        }
    }
}

@include shop-ui-cart-image();
