@mixin cart-page-cart-item-summary($name: '.cart-item-summary') {
    #{$name} {
        &__list {
            width: 100%;
            margin: 0;

            @include helper-breakpoint-media-min($lg-min) {
                width: calc(100% - 120px);
            }
        }

        &__item {
            padding: 20px 0 0 0;
            font: map-get($setting-font-weight, medium) 17px $setting-font-family-additional;
            @include helper-font-line-height(medium);
            border-bottom: 1px dotted $setting-color-lightest;

            &:first-of-type {
                border-top: 1px dotted $setting-color-lightest;
            }

            &::before {
                display: none;
            }

            @include helper-breakpoint-media-min($lg-min) {
                padding: 20px 0 0 24px;
            }
        }
    }
}

@include cart-page-cart-item-summary();
