{% extends model('component') %}

{% define config = {
    name: 'cart-item-summary'
} %}

{% define data = {
    unitPrice: required,
    subtotalPrice: required,
    cartItem: required
} %}

{% block class %}{{parent()}} list{% endblock %}

{% block body %}
    {% if data.cartItem.productOptions is not empty %}
        <ul class="{{ config.name }}__list">
            <li class="{{ config.name }}__item">
                {{ widget('CartItemProductOptionWidgetPlugin', data.cartItem) }}
            </li>
        </ul>
    {% endif %}
{% endblock %}
