{% extends model('component') %}

{% define config = {
    name: 'cart-item-summary',
    tag: 'ul'
} %}

{% define data = {
    unitPrice: required,
    subtotalPrice: required,
    cartItem: required
} %}

{% block class %}{{parent()}} list{% endblock %}

{% block body %}
    {% if data.cartItem.productOptions | length > 0 %}
        <li class="{{ config.name }}__list">
            {{ widget('CartItemProductOptionWidgetPlugin', data.cartItem) }}
        </li>
    {% endif %}
{% endblock %}
