@mixin cart-page-cart-item-summary($name: '.cart-item-summary') {
    #{$name} {
        width: 100%;
        margin: 0;

        @include helper-breakpoint-media-min($lg-min) {
            width: calc(100% - #{rem(144, number)});
            padding-top: rem(20);
        }

        &__item {
            padding-top: rem(20);
            font: map-get($setting-font-weight, medium) rem(17)/1.3 $setting-font-family-additional;
            border-bottom: rem(1) dotted $setting-color-lightest;

            &:first-of-type {
                border-top: rem(1) dotted $setting-color-lightest;
            }

            &::before {
                display: none;
            }
        }
    }
}

@include cart-page-cart-item-summary();
