{% extends model('component') %}

{% define config = {
    name: 'cart-item-summary',
    tag: 'ul'
} %}

{% define data = {
    unitPrice: required,
    subtotalPrice: required,
    cartItem: required
} %}

{% block class %}{{parent()}} list{% endblock %}

{% block body %}
    {% if data.cartItem.productOptions is not empty %}
        <li class="{{ config.name }}__item">
            {% include molecule('product-options', 'ProductOptionWidget') ignore missing with {
                data: {
                    options: data.cartItem.productOptions | default([])
                }
            } only %}
        </li>
    {% endif %}
{% endblock %}
