@mixin cart-page-cart-item($name: '.cart-item') {
    #{$name} {
        &__title {
            font: map-get($setting-font-weight, medium) 17px $setting-font-family-additional;
            @include helper-font-line-height(medium);

            &:hover {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
            }
        }

        &__content {
            padding: 0 0 5px 24px;
            width: calc(100% - 120px);
        }

        &__image {
            width: 120px;
        }

        &__price {
            font: map-get($setting-font-weight, medium) 17px $setting-font-family-additional;
            @include helper-font-line-height(medium);
            text-align: left;

            @include helper-breakpoint-media-min($lg-min) {
                text-align: right;
            }
        }

        &__remove {
            font: map-get($setting-font-weight, light) 13px $setting-font-family-additional;
            @include helper-font-line-height(medium);
            opacity: 0.4;
            text-transform: capitalize;

            &:hover {
                text-decoration: none;
                color: inherit;
                opacity: 1;
            }
        }
    }
}

@include cart-page-cart-item();
