@mixin shop-ui-cart-item($name: '.cart-item') {
    #{$name} {
        &__title {
            font: 500 rem(17) $setting-font-family-additional;
            line-height: 1.29;
            &:hover {
                cursor: pointer;
                text-decoration: none;
                color: inherit;
            }
        }
        &__content {
            padding: 0 0 rem(5) rem(24);
            width: calc(100% - rem(120));
        }
        &__image {
            width: rem(120);
        }
        &__price {
            font: 500 rem(17) $setting-font-family-additional;
            line-height: 1.29;
            text-align: right;
            @include helper-breakpoint-media-max($sm-max) {
                text-align: left;
            }
        }
        &__remove {
            font: 300 rem(13) $setting-font-family-additional;
            line-height: 1.31;
            opacity: 0.4;
            text-transform: capitalize;
            &:hover {
                text-decoration: none;
                color: inherit;
                opacity: 1;
            }
        }
    }
}

@include shop-ui-cart-item();
