@mixin shop-ui-product-image($name: '.product-image') {
    #{$name} {
        position: relative;
        padding: rem(12) rem(15);

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-radius: rem(4);
            background: $setting-color-alpha-1;
            z-index: $setting-zi-element + 1;
        }

        &--no-indent {
            padding: 0;
        }

        &--no-side-indent {
            padding-left: 0;
            padding-right: 0;
        }

        &--mini-cart {
            width: rem(76);
            padding: 0;
        }

        @content;
    }
}

@include shop-ui-product-image();
