{% extends model('component') %}

{% define config = {
    name: 'ajax-loader',
    tag: 'ajax-loader'
} %}

{% define data = {
    label: null,
    showSpinnerOnLoad: false
} %}

{% define attributes = {
    'provider-selector': 'ajax-provider'
} %}

{% block class %}{{parent()}} {% if not data.showSpinnerOnLoad %}is-invisible{% endif %} grid grid--center grid--middle{% endblock %}

{% block body %}
    {% set spinnerModifiers = 'big' in modifiers ? ['big'] : [] %}

    <span class="grid grid--middle">
        {% include atom('icon') with {
            class: config.name ~ '__spinner',
            modifiers: spinnerModifiers,
            data: {
                name: 'spinner'
            }
        } only %}
        {% if data.label is not empty %}
            <span class="{{config.name}}__label">{{data.label}}</span>
        {% endif %}
    </span>
{% endblock %}
